	<div>
		<img src="/upload/CipresNews/29/banniere-challenge.jpg" alt="">
		<div class="row"></div><br>

		<p>Du 1er juillet 2016 au 31 Janvier 2017, embarquez pour la nouvelle édition du CHALLENGE PERFORMANCE organisée par CIPRES.</p>

		<div class="row"></div>

		<div class="titre_vert_fonce">COMMENT Y PARTICIPER ?</div>
		<div class="full_ligne_vert_fonce"></div>

		<p><b>Pour s'inscrire et tenter sa chance suivez les étapes ci-dessous : </p>

		<div>
			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Réception dans votre boîte d’un mail de la part d’info@challenge-cipres.fr indiquant votre login et mot de passe</li>
				<li><i class="fa fa-angle-double-right"></i> Connectez-vous ensuite sur www.challenge-cipres.fr. Pour votre première connexion, munissez-vous de vos identifiants et mot de passe indiqués dans l’email et personnalisez votre mot de passe. N'oubliez pas de cocher la case “acceptation du règlement du jeu”. Si vous n’y parvenez pas, contactez votre inspecteur.</li>
			</ul>
		</div>

		<div class="row"></div>

		<div class="titre_vert_fonce">COMMENT GAGNER ?</div>
		<div class="full_ligne_vert_fonce"></div>

		<p>Un CHALLENGE National ouvert à tous nos courtiers partenaires.</p>

		<div class="col-xs-1"><img style="max-width: 45px;" src="/upload/CipresNews/29/PICTO-ETOILE.png" alt=""></div>
		<div class="col-xs-10" style="line-height: 45px;">Vous cumulez des étoiles chaque mois qu’à partir du moment où vous êtes inscrits.</div>

		<p><b>Atteignez votre objectif de production*</b> et cumulez un maximum d'étoiles au fil des mois pour grimper dans le classement :</p>

		<div>
			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> 1 € de CA généré = une étoile </li>
				<li><i class="fa fa-angle-double-right"></i> 2 € de progression en CA vs l’année précédente = 1 étoile</li>
			</ul>
		</div>

		<p class="bleu" style="text-align: center;">Votre production est comptabilisé du 01 juillet 2016 au 31 janvier 2017  !</p>

		<p style="font-size: 11px;">*retrouvez votre objectif de production sur <a href="http://www.challenge-cipres.fr" target="_blank">www.challenge-cipres.fr</a></p>

		<div class="row"></div>

		<div class="titre_vert_fonce">VOS RÉCOMPENSES :</div>
		<div class="full_ligne_vert_fonce"></div>

		<p><b>Classez-vous parmi les 100 meilleurs courtiers et CIPRÉS vous récompense :</b>
		</p>

		<div class="row">
			<div class="col-xs-1"><img style="max-width: 45px;" src="/upload/CipresNews/29/PICTO-MONDE.png" alt=""></div>
			<div class="col-xs-10" style="line-height: 45px;"><b>Du 1er au 15ème rang,</b> en jeu une destination au bout du monde pour deux personnes.</div>
		</div>


		<div class="row">
			<div class="col-xs-1"><img style="max-width: 45px;" src="/upload/CipresNews/29/PICTO-EUROPE.png" alt=""></div>
			<div class="col-xs-10" style="line-height: 45px;"><b>Du 16ème au 45ème rang,</b> en jeu un séjour découverte en Europe pour une personne

			</div>
		</div>

		<div class="row">
			<div class="col-xs-1"><img style="max-width: 45px;" src="/upload/CipresNews/29/PICTO-CADEAU.png" alt=""></div>
			<div class="col-xs-10" style="line-height: 45px;"><b>Du 46ème au 70ème rang,</b> en jeu de 50 000 à 90 000 points cadeaux crédités à dépenser sur la boutique cadeaux</div>
		</div>

		<div class="row">
			<div class="col-xs-1"><img style="max-width: 45px;" src="/upload/CipresNews/29/PICTO_CHEQUECADEAUX.png" alt=""></div>
			<div class="col-xs-10" style="line-height: 45px;"><b>Du 71ème rang au 100ème rang,</b> en jeu un chèque cadeaux d'une valeur de 150€</div>
		</div>

		<div class="row"></div>

		<div class="cadre_vert_clair">
			<p></p><b><i class="fa fa-plus-circle"></i> Le plus CIPRÉS :</b></p>
			<div>
				Après votre inscription, n’oubliez pas de participer à notre jeu de lancement du 1er juillet au 15 Août 2016, grattez en ligne et remportez 5000 points cadeaux à dépenser dans notre boutique.<br><br>
			</div>
			<div><img width="100%" src="http://www.cipres.fr/upload/CipresNews/29/jeu-a-gratter.jpg" alt=""></div>
		</div>

		<p>A vous de jouer, bonne chance !</p>

		<div><a href="http://www.challenge-cipres.fr" target="_blank" class="btn_bleu_clair button center large waves-effect waves-light"><i class="fa  fa-check"></i> Je m'inscris</a></div>
	</div>

	<style>
		.visuel_article_enews {
			display: none;
		}
	</style>