		<p>CIPRÉS met tout en œuvre pour développer l’inter-professionnalité entre vous et les experts-comptables.<br><br>

			Nous vous mettons à disposition une <b>troisième newsletter</b> livrée clé en main comprenant des <b>informations essentielles sur la Protection Sociale et juridiques</b> qui seront utiles à l’expert-comptable.<br><br>

			Cette newsletter facilitera votre mise en relation avec l’expert-comptable.

		</p>


		<div>
			<div class="titre_vert_fonce">Au sommaire de cette newsletter 3 : </div>
			<div class="full_ligne_vert_fonce"></div>
		</div>

		<div>
			<div class="titre_gris_fonce"><i class="fa fa-angle-right"></i> À la Une :</div>
		</div>

		<div>
			<p><b>CLAUSES DE DESIGNATION : DU PASSE, ENCORE PRESENTES, SANS FUTUR ?</b></p>
		</div>

		<div>
			<div class="titre_gris_fonce"><i class="fa fa-angle-right"></i> Bon à savoir :</div>
		</div>

		<div>
			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Les contrats santé sénior</li>
				<li><i class="fa fa-angle-double-right"></i> 1er juillet : entrée en vigueur des 6 derniers facteurs de pénibilité</li>
				<li><i class="fa fa-angle-double-right"></i> Indemnités journalières du RSI : extension du droit à des catégories jusqu’alors non bénéficiaires</li>
				<li><i class="fa fa-angle-double-right"></i> Pension d’invalidité : publication du décret de coordination inter-régimes</li>
			</ul>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<a href="http://www.cipres.fr/upload/CipresNews/29/Newsletter-3-Clauses-de-designation.pdf" target="_blank" class="btn_bleu_clair button center large waves-effect waves-light"><i class="fa  fa-download"></i> Version PDF</a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="http://www.cipres.fr/upload/CipresNews/29/Newsletter-3-Clauses-de-designation+perso-logo.pdf" target="_blank" class="btn_bleu_clair button center large waves-effect waves-light"><i class="fa  fa-download"></i> Version modifiable</a>
			</div>
		</div>

		<p>Si vous avez manqué la 2ème newsletter sur les mesures phares de la Loi de financement de sécurité sociale 2016, il est encore possible de la télécharger.</p>

		<div>
			<div class="titre_vert_fonce">Au sommaire de cette newsletter 2 : </div>
			<div class="full_ligne_vert_fonce"></div>
		</div>

		<div>
			<div class="titre_gris_fonce"><i class="fa fa-angle-right"></i> À la Une :</div>
		</div>

		<div>
			<p><b>Dossier sur les mesures phares de la Loi de financement de sécurité sociale 2016</b></p>
			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Baisse des cotisations d’allocations familiales au 1er avril 2016</li>
				<li><i class="fa fa-angle-double-right"></i> Baisse des cotisations d’allocations familiales au 1er avril 2016</li>
				<li><i class="fa fa-angle-double-right"></i> Suppression de la cotisation minimale d’assurance maladie due par les travailleurs indépendants</li>
				<li><i class="fa fa-angle-double-right"></i> Rétablissement des cotisations minimales pour les pluriactifs, retraités et invalides</li>
				<li><i class="fa fa-angle-double-right"></i> Revalorisation des prestations sociales</li>
				<li><i class="fa fa-angle-double-right"></i> Les mesures relatives à la retraite</li>
				<li><i class="fa fa-angle-double-right"></i> Professions libérales : recouvrement des cotisations confié aux URSSAF</li>
				<li><i class="fa fa-angle-double-right"></i> La généralisation de la couverture complémentaire santé</li>
				<li><i class="fa fa-angle-double-right"></i> Mesures relatives au contrôle URSSAF</li>
			</ul>
		</div>

		<div>
			<div class="titre_gris_fonce"><i class="fa fa-angle-right"></i> Bon à savoir :</div>
		</div>

		<div>
			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Une mesure fiscale en faveur des artisans et commerçants en cas de longue maladie</li>
				<li><i class="fa fa-angle-double-right"></i> Travailleurs indépendants, de nouvelles assiettes minimales</li>
				<li><i class="fa fa-angle-double-right"></i> Remboursement des cotisations vieillesse pour les très petites retraites</li>
				<li><i class="fa fa-angle-double-right"></i> L’ACOSS publie ses chiffres 2015 sur les auto-entrepreneurs économiquement actifs</li>
				<li><i class="fa fa-angle-double-right"></i> Augmentation du taux de cotisation pour l’assurance vieillesse de base</li>
			</ul>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-6">
				<a href="http://www.cipres.fr/upload/CipresNews/29/Newsletter-2-Mesures_phares_LFSS_2016.pdf" target="_blank" class="btn_bleu_clair button center large waves-effect waves-light"><i class="fa  fa-download"></i> Version PDF</a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<a href="http://www.cipres.fr/upload/CipresNews/29/Newsletter-2-Mesures_phares_LFSS_2016_perso.pdf" target="_blank" class="btn_bleu_clair button center large waves-effect waves-light"><i class="fa  fa-download"></i> Version modifiable</a>
			</div>
		</div>

		<p>Restez connectés !<br><br>

			Bonne lecture.
		</p>

