	<p>Chers abonnés,<br>
	Votre avis compte ! <br><br>

	Dans le souci de mieux répondre à vos attentes nous vous proposons de répondre à ce sondage. Quelques secondes suffisent pour nous indiquer quels sujets vous souhaitez nous voir développer dans les futures newsletters.<br><br>

	Merci pour votre participation.
	</p>


