		<p>Cfdp a pour vocation de rendre le droit accessible en informant et accompagnant ses assurés dans la prévention des litiges.<br><br>

			<b class="titre_vert_fonce">CFDP, EN BREF</b><br><br>

			Cfdp est une société d’assurances spécialisée en protection juridique depuis 70 ans. Elle est sur le marché français le seul acteur non adossé à un groupe d’assurances : cette indépendance est un facteur clé qui lui permet une liberté d’action totale, une parfaite impartialité dans la gestion et prévention des litiges, garant d’une entière satisfaction de ses assurés.<br>
			Avec ses 36 implantations, elle offre sur son marché un maillage inégalé du territoire français garantissant un service de proximité, et une organisation originale facilitant un engagement comportemental et responsable de ses 150 juristes pour nouer une relation personnalisée avec les assurés.<br>
			Son expertise et sa réactivité dans la construction d’offres adaptées aux besoins des univers les plus exigeants et dans l’accompagnement juridique des assurés lui ont permis de gagner la confiance des courtiers.
		</p>

		<div class="titre_vert_fonce">
			L’ESSENTIEL A RETENIR :
		</div>


		<div>
			<div class="titre_gris_fonce">1.	En quoi consiste cette ligne juridique ? </div>
		</div>

		<div>
			<p>Cette ligne dédiée a pour objectif de vous accompagner dans le cadre de votre activité professionnelle pour vous aider à surmonter en toute sérénité vos difficultés juridiques dans les domaines les plus variés, avec par exemple :</p>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-angle-double-right"></i> les ressources humaines (contestation d’un licenciement par un salarié, violation d’une clause de non-concurrence,…) </li>
		        <li><i class="fa fa-angle-double-right"></i> les prestations sociales (contestation du montant des cotisations versées à une caisse de retraite, litige avec l’URSSAF, l’inspection du travail, avec l’expert-comptable,…</li>
				<li><i class="fa fa-angle-double-right"></i> les usages de la profession (non-respect des usages du courtage, violation d’un ordre exclusif de placement,…),</li>
				<li><i class="fa fa-angle-double-right"></i> ou plus généralement face aux problématiques de tous chefs d’entreprises au quotidien (difficultés avec un prestataire ou un fournisseur, avec le propriétaire des locaux, violation de l’intégrité du système informatique,…)</li>
		    </ul>
		</div>

		<div>
			<div class="titre_gris_fonce">2.	Quels sont les avantages et l’apport de cette expertise ? </div>
		</div>

		<div>
			<ul class="liste_dbl_chevrons">
				<li>Forte de son expérience en protection juridique professionnelle et  de sa connaissance du courtage, son unique réseau de distribution, Cfdp maitrise vos problématiques juridiques et votre actualité législative et réglementaire notamment en matière de distribution.
					De plus face à l’inflation des textes et décrets, tout professionnel peut se retrouver « hors-la-loi » sans le savoir et se sentir bien seul …
					Ainsi, des juristes spécialisés et rompus aux risques du professionnel sont à votre écoute !
				</li>
			</ul>
		</div>

		<div>
			<div class="titre_gris_fonce">3.	Concrètement comment fonctionne le service d’assistance juridique téléphonique&nbsp;? </div>
		</div>

		<div>
			<ul class="liste_dbl_chevrons">
				<li>Au numéro qui vous est dédié (<b>04.68.57.42.84</b>) et en fournissant votre code courtier délivré par CIPRÉS, vous pouvez contacter vos juristes spécialisés. Après avoir pris connaissance de votre problématique, ces experts ne se contentent pas de vous apporter des renseignements juridiques, ils vous les explicitent et vous proposent des solutions concrètes.
					Et vous pouvez appeler autant de fois que vous le souhaitez : Il n’y a pas de limitations : ni en nombre, ni en durée d’appel !

				</li>
			</ul>
		</div>

		<div>
			<p style="font-size: 11px;">*Consulter les conditions > extranet CIPRÉS > rubrique profitez d’avantages  </p>
		</div>

		<div class="row">
			<div class="col-xs-12 col-sm-12">
				<p>Pour plus d'informations</p>
				<a href="http://www.cipres.fr/upload/CipresNews/29/Notice_d_informations_CFDP.pdf" target="_blank" class="btn_bleu_clair button center large waves-effect waves-light"><i class="fa  fa-download"></i> Télécharger la notice explicative</a>
			</div>
		</div>



