@media only screen and (max-width: 1280px){
	.cd-slider h2 {
		font-size: 2rem !important;
	}

	.cd-project-content h2 {
		font-size: 2.4rem !important;
	}

	.cd-projects-wrapper.projects-visible .header h1 {
		font-size: 2.6rem !important;
	}

	.chiffres {
		width: 60% !important;
	}
}

@media only screen and (max-width: 1024px){
	
}

@media only screen and (max-width: 768px){
	.cd-projects-wrapper .header h1 {
		padding: 30px 0 !important;
		clear: both;
	}

	.cd-project-content.is-visible {
		height: 100% !important;
	}

	.cd-projects-wrapper.projects-visible .intro {
		width: 100%;
		margin-left: 0;
		top: 0 !important;
		padding: 1.8em !important;
	}

	.cd-slider {
		padding-top: 0 !important;

		li {
			margin: 15% !important;
		}
	}

	.cd-project-content > div {
		width: 100% !important;
	}
}

@media only screen and (max-width: 360px){
	.cd-projects-wrapper.projects-visible .header h1 {
	    font-size: 2.2rem !important;
	    padding-bottom: 30px !important;
	    padding-top: 10px !important;
	}

	.cd-projects-wrapper.projects-visible .intro {
		width: 100% !important;
	}

	.cd-slider {
		overflow-y: visible !important;

		li {
			margin: 5% !important;
		}
	} 

	.cd-project-content h2 {
		line-height: 35px !important;
		font-size: 1.8rem !important;
		margin-bottom: 10px;
	}

	.chiffres {
		width: 100% !important;
	}

	.cd-project-content .logo_titre_left {
		display: block !important;
		float: none !important;
		margin: 0 auto !important;
		max-width: 120px;
		text-align: center;
	}
	
}


@media only screen and (max-height: 800px){
	.cd-project-content.is-visible {
	}
}