{% extends 'base.html.twig' %}

{% block title %}
	{% if actif == 2 %}
		Agenda
	{% elseif actif == 3 %}
		Actualités
	{% elseif actif == 4 %}
		Conseils
	{% endif %}
{% endblock %}

{% block meta_desc %}
	{% if actif == 2 %}
		<meta name="description" content="Agenda" />
	{% elseif actif == 3 %}
		<meta name="description" content="Actualités" />
	{% elseif actif == 4 %}
		<meta name="description" content="Nos conseils" />
	{% endif %}
{% endblock %}

{% block body %}
	<div class="main">
		<div class="cms_slide">
			<img src="{{ asset('bundles/cipres/img/slide_agenda.png') }}" />
		</div>
		<div class="actu_search">
			<div class="content">
				<div class="col-md-9">
					<form action="" method="POST">
						<input type="text" placeholder="Tapez ici votre recherche" />
						<input type="submit" value="Chercher" />
					</form>
				</div>
				<div class="col-md-3">
					
				</div>
			</div>
		</div>
		<div class="actu_content">
			<div class="content">
				{% for actualite in actualites %}
					<div class="col-md-4">
						<div class="box_actu">
							<div class="ba_top">
								<img src="{{ asset(('upload/Actualite/'~ actualite.id ~'/'~ actualite.image) | imagine_filter('list_thumb')) }}" />
							</div>
							<div class="ba_content bac_titre">
								<h3>{{ actualite.titre | truncate(10, true, '...') }}<br/>
								<span>{{ actualite.date|date('d.m.Y') }}</span></h3>
								<div class="ligne"></div>
								<p>{{ actualite.contenu | truncate(150, true, '...') | raw }}</p>
							</div>
							<div class="ba_footer">
								<a href="
								{% if type == 1 %}
									{{ path('actualite_agenda_show', { 'slug': actualite.slug }) }}
								{% elseif type == 2 %}
									{{ path('actualite_show', { 'slug': actualite.slug }) }}
								{% elseif type == 3 %}
									{{ path('actualite_conseil_show', { 'slug': actualite.slug }) }}
								{% endif %}">Lire la suite</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}