{% extends 'base.html.twig' %}

{% block title %}
	Conseils et actualités TNS, TPE, PME | CIPRES ASSURANCES
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="Surveillez nos actualités pour être informé et retrouver tous nos conseils pour les TNS et les dirigeants de TPE et de PME" />
{% endblock %}

{% block body %}
	<div class="main">
		<div class="cms_slide">
			<img src="{{ asset('bundles/cipres/img/slide_actualite.jpg') }}" />
		</div>
		<div class="actu_filtre">
			<div class="content">
				<ul class="nav navbar-nav nav_filtre">
					<li class="af_filtre">FILTRER LES actualités :</li>
					<li class="licat0 active filter" data-filter="all">Tout afficher</li>
					{% if nb1 > 0 %}<li class="licat1 filter" data-filter=".cat1">Agenda</li>{% endif %}
					{% if nb2 > 0 %}<li class="licat2 filter" data-filter=".cat2">Actualités</li>{% endif %}
					{% if nb3 > 0 %}<li class="licat3 filter" data-filter=".cat3">Conseils</li>{% endif %}
				</ul>			
			</div>
		</div>
		<div class="actu_content">
			<div class="content" id="Container">
				{% for actualite in actualites %}
					{% if actualite.enabled %}
					<div class="col-md-4 mix cat{{ actualite.categorie }}" onclick="window.open('{{ path('actualite_show', { 'slug': actualite.slug }) }}', '_self');" style="cursor:pointer;">
						<div class="box_actu">
							<div class="ba_top">
								<img src="{{ asset(('upload/Actualite/'~ actualite.id ~'/'~ actualite.image) | imagine_filter('list_thumb')) }}" />
							</div>
							<div class="ba_content bac_titre">
								<h3>{{ actualite.titre }}<br/>
								<span>{{ actualite.date|date('d.m.Y') }}</span></h3>
								<div class="ligne"></div>
								<p>{{ actualite.contenu | striptags | truncate(150, true, '...') | slice(0, 200)| raw }}</p>
							</div>
							<div class="ba_footer waves-effect waves-light">
								<p>Lire la suite</p>
							</div>
						</div>
					</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
	
	{#<script>#}
		{#function displaySolution(id)#}
		{#{#}
			{#if(id == 0)#}
			{#{#}
				{#$('.cat1').fadeIn( "slow");#}
				{#$('.cat2').fadeIn( "slow");#}
				{#$('.cat3').fadeIn( "slow");#}
				{#$('.cat4').fadeIn( "slow");#}
				{##}
				{#$(".nav_filtre li").removeClass('active');#}
			    {#$(".licat0").addClass('active');#}
			{#}#}
			{#else#}
			{#{#}
				{#$('.cat1').hide();#}
				{#$('.cat2').hide();#}
				{#$('.cat3').hide();#}
				{#$('.cat4').hide();#}
				{#$('.cat'+id).fadeIn( "slow");#}
				{##}
				{#$(".nav_filtre li").removeClass('active');#}
			    {#$(".licat"+id).addClass('active');#}
			{#}#}
		{#}#}
	{#</script>#}
	<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
	<script>
		$('#Container').mixItUp();
	</script>
{% endblock %}