{% extends 'base.html.twig' %}

{% block title %}
	Ciprés News
{% endblock %}

{% block meta %}
	{{ parent() }}
	<meta name="robots" content="noindex">
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="CIPRES News" />
{% endblock %}

{% block body %}
	<div class="main">
		<div class="cms_slide">
			<img src="{{ asset('bundles/cipres/img/cipres_news.jpg') }}" />
		</div>
		<div class="actu_filtre">
			<div class="content">
				<ul class="nav navbar-nav nav_filtre">
					<li class="af_filtre">FILTRER les éditions de la Newsletter CIPRÉS :</li>
					<li class="licat0 filter active" data-filter="all">Tout afficher</li>
					<li class="licat1 filter" data-filter=".cat-Juridique">Juridique</li>
					<li class="licat2 filter" data-filter=".cat-Produit">Produit</li>
					<li class="licat3 filter" data-filter=".cat-Gestion">Gestion</li>
					<li class="licat4 filter" data-filter=".cat-Webconf">Webconf</li>
					<li class="licat5 filter" data-filter=".cat-Nouveaute">Nouveauté</li>
				</ul>
			</div>
		</div>
		<div class="actu_content">
			<div class="content newsletter_wrapper" id="Container">

				{% for article in listArticles %}
					{% if article.enews.publiee == true %}
					<div class="col-md-4 cat-{{ article.categorie }} mix" onclick="window.open('{{ path('newsletter_show', { 'edition_to_show': article.enews.enewsId, 'slug': article.slug}) }}', '_self');" style="cursor:pointer;">
						<div class="box_actu">
							<div class="ba_top">
								 {#<img src="{{ asset(('upload/CipresNews/'~ enews.id ~'/'~ article.visuelArticle) | imagine_filter('list_thumb')) }}" />#}
								<img src="{{ asset(('upload/CipresNews/'~ article.enews.enewsId ~'/'~ article.visuelArticle)) }}" />
							</div>

							<div class="ba_content bac_titre">
								<h3>CIPRÉS News n° {{ article.enews.enewsId }}<br>
								 <span>{{ article.enews.date|date('d.m.Y') }}</span></h3>
								 <div class="ligne"></div>

								<h3 class="titre_article">{{ article.titre | truncate(22, true, '...') }}</h3>

								<p>{{ article.contenu | striptags | truncate(150, true, '...') | slice(0, 200)| raw  }}</p>
							</div>
							<div class="ba_footer waves-effect waves-light">
								 <a href="{{ path('newsletter_show', { 'edition_to_show': article.enews.enewsId, 'slug': article.slug }) }}">Lire la suite</a>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>

	<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
	<script>
		$('#Container').mixItUp();
	</script>


{% endblock %}