{% extends 'base.html.twig' %}

{% block title %}
	{% for article in contenu_article %}
		Cipres-News - {{ article.titre | truncate(120) |striptags }}
	{% endfor %}
{% endblock %}

{% block meta %}
	{{ parent() }}
	<meta name="robots" content="noindex">
{% endblock %}

{% block meta_desc %}
	{# <meta name="description" content="{{ entity.descr }}" /> #}
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('bundles/cipres/css/animate.css') }}">

	<div class="enews_container">
		<div class="main">
		<div class="cms_slide">
			<img src="{{ asset('bundles/cipres/img/cipres_news.jpg') }}" />
		</div>
		<div class="actu_content actu_show_content">
			<div class="content">
				<p class="psc_retour col-xs-12 col-sm-6 nopadding" style="margin-top: 0;"><a href="{{ path('archive_newsletters') }}" class="sc_retour"><i class="fa fa-angle-double-left"></i> VOIR LES éditions précédentes</a>
				</p>

				{% for article in contenu_article %}
					<div class="date_enews col-xs-12 col-sm-6 nopadding">
						<span class="num_edition">CIPRÉS News n° {{ article.enews.enewsId }}</span> -
						<span class="date_edition">{{ article.enews.date | date('d/m/Y', timezone="Europe/Paris") }}</span>
					</div>
				{% endfor %}

				<div class="col-xs-12 col-sm-9 contenu_articles">
					{% for article in contenu_article  %}
						<h4 class="type_actu">{{ article.typeActu }}</h4>
						<h3 class="titre_actu">{{ article.titre | raw }}</h3>
						<div class="ligne"></div>

						<div class="contenu_article">
							<div class="visuel_article_enews">
								<img src="{{ asset(('upload/CipresNews/'~ article.enews.enewsId ~'/'~ article.visuelArticle)) }}" />
							</div>
							{{ article.contenu | raw }}

							{#======== FORMULAIRES AFFICHES SELON L"URL ========#}
							{#{% set slug_sondage = 'enquete' %}#}
							{#{% if article.slug is same as(slug_sondage) %}#}
								{#<form action="" id="formulaire_sondage" method="post" {{ form_enctype(sondage) }} class="form-horizontal nomarginbottom">#}
									{#<div class="col-xs-12">#}
										{#{{ form_label(sondage.tpsLecture) }}<br>#}
										{#{{ form_widget(sondage.tpsLecture) }}#}
									{#</div>#}

									{#<div class="col-xs-12 checkbox">#}
										{#{{ form_label(sondage.interet) }}#}
										{#{{ form_widget(sondage.interet) }}#}
									{#</div>#}

									{#<div class="col-xs-12">#}
										{#{{ form_label(sondage.satisfaction) }}<br>#}
										{#{{ form_widget(sondage.satisfaction) }}#}
									{#</div>#}

									{#<div class="col-xs-12">#}
										{#{{ form_label(sondage.sujetPrefere) }}<br>#}
										{#{{ form_widget(sondage.sujetPrefere) }}#}
									{#</div>#}

									{#<div class="valider_sondage" id="valider_sondage">#}
										{#<div class="col-md-12 nopadding">#}
											{#<input type="submit" value="VALIDER">#}
										{#</div>#}
									{#</div>#}
								{#</form>#}
							{#{% endif %}#}
						</div>
					{% endfor %}
				</div>

				<div class="col-xs-12 col-sm-3">
					<div class="affix-top" id="sommaire_wrapper" data-spy="affix" data-offset-top="400" data-offset-bottom="560">
						<div class="sommaire_container">
							<h3><i class="fa fa-newspaper-o" aria-hidden="true"></i> A lire aussi</h3>
							<ul class="sommaire">
								{% for article in contenu_article  %}
									{% for item in sommaire  %}
										<li>
											<a href="{{ item.slug }}">
												{{ item.typeActu }}<br>
												<b>{{ item.titre | truncate(40, true, '...') | slice(0, 200)| raw }}</b>
											</a>
										</li>
									{% endfor %}

									{#===========================================================================================#}
									{#= Bloc conditionnel sur le numéro de la newsletter pour afficher un sommaire personnalisé =#}
									{#===========================================================================================#}
									{#{% set edition = 27 %}#}
									{#{% if article.enews.id is same as(edition) %}#}
										{#<li>#}
											{#<a href="https://fr.surveymonkey.com/r/YNG5PVZ" target="_blank">#}
												{#Enquête newsletter<br>#}
												{#<b>Faites-nous partager vos remarques</b>#}
											{#</a>#}
										{#</li>#}
									{#{% endif %}#}
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>
	</div>

<script src="{{ asset('bundles/cipres/js/enews.js') }}"></script>
	<script src="{{ asset('bundles/cipres/js/viewportchecker.js') }}"></script>
{% endblock %}

{% block footer %}
	<div class="footer_enews">
	</div>
{% endblock %}