@import 'bourbon/bourbon'; // http://bourbon.io/

@import '../partials/variables'; // colors, fonts etc...

@import '../partials/mixins'; // custom mixins

@import '../partials/layout'; // responsive grid and media queries

@import '../partials/responsive'; // responsive grid and media queries


/* -------------------------------- 

Primary style

-------------------------------- */

*, *::after, *::before {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font: {
		size: 1.6rem;
		family: $primary-font; // variables inside partials > _variables.scss
	}
	color: $color-1;
	background-color: $color-3;
	background-image: url(../img/bg.jpg);
}

a {
	color: $color-2;
	text-decoration: none;
}

img {
	max-width: 100%;
}

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */

.cd-btn {
	display: inline-block;
	border-radius: 50em;
	width: 80px;
	height: 80px;
	line-height: 80px;
	background-color: #3E7DCA;

	color: $color-4;
	font-size: 1.3rem;
	font-weight: bold;
	text-transform: uppercase;
	letter-spacing: 1px;
	transition-duration: 0.3s;

	.no-touch &:hover {
		background-color: #3F4A5A;
		box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);
		transition-duration: 0.3s;
	}
}

.cd-img-replace {
	/* replace text with image */
	color: transparent;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}

/* -------------------------------- 

Intro page

-------------------------------- */

.cd-intro-block {
	position: relative;
	z-index: 2;
	height: 100vh;
	width: 100%;
	background-color: tint($color-1, 10%);
	background-image: url(../img/bg.jpg);
	background-size: cover;
	/* used to vertical align its content */
	display: table;

	@include transition(transform $animation-duration);
	@include transition-timing-function(cubic-bezier(.67,.15,.83,.83));

	&::after {
		/* arrow icon visible when .cd-intro-block slides out */
		content: '';
		position: absolute;
		@include center;
		top: 95%;
		height: 24px;
		width: 24px;
		background: url(../img/cd-arrow-back.svg) no-repeat center center;
		opacity: 0;
		@include transition(opacity .2s);
	}

	.logo-wrapper {
		position: absolute;
		width: 100%;
		background-color: #3E7DCA;
		height: 65px;
		border-bottom: 4px solid #3F4A5A;
		box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);

		img{
			width: 240px;
			position: relative;
			padding-top: 10px;
			margin-left: 9vw;
		}
	}

	.content-wrapper {
		/* vertical align the .cd-intro-block content */
		display: table-cell;
		vertical-align: middle;
		text-align: center;

		img {
			margin-top: 5%;

			@media only screen and (max-height: 800px){
			}
		}
	}

	h1 {
		width: 90%;
		margin: 0 auto .6em;
		font-weight: 500 !important;
		font-size: 2.4rem;
		color: #3F4A5A;
		@include font-smoothing;
	}

	&.projects-visible {
		/* translate the .cd-intro-block element to reveal the projects slider */
		@include transform(translateY(-110%));
		box-shadow: 0 4px 40px rgba(#000, .6);
		cursor: pointer; 
		position: fixed;


		&:after {
			/* show arrow icon */
			opacity: 1;
		}
	}

	@include MQ(M) {

		&::after {
			top: 97.5%;
		}

		h1 {
			font-size: 4.4rem;
			font-weight: 300;
		}

		&.projects-visible {
			@include transform(translateY(-110%));
		}
	}
}

/* -------------------------------- 

Projects Slider

-------------------------------- */

.cd-projects-wrapper {
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color: $color-1;
	background-image: url(../img/bg.jpg);
	@include transition(visibility 0s $animation-duration);

	.intro {
		background-color: #ffffff;
		position: relative;
		top: 7%;
		width: 80%;
		margin-left: 9vw;
		color: #666666;
		padding: 2.5em;
		font-size: 16px;
		line-height: 30px;
		box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);

		.titre {
			font-size: 22px;
			font-weight: 600;
		}

		img {
			float: left;
			width: 100px;
			margin-right: 2.5em;
		}
	}

	.question {
		font-size: 2.2rem;
		text-align: right;
		width: 95%;
		position: relative;
		bottom: 60px;

		a {
			color: #3f4a5a; 
			border: 2px solid #3f4a5a;
			padding: 7px 15px;

			&:hover {
				color: #ffffff;
				border: 2px solid #ffffff;
			}
		}
	}

	&::before {
		/* never visible - this is used in jQuery to check the current MQ */
		content: 'mobile';
		display: none;
	}

	&.projects-visible {
		visibility: visible;
		@include transition(visibility 0s 0s);

		.intro {
			padding: 2.5em;
			top: 7%;
		}
	}

	@include MQ(M) {
		&::before {
			/* never visible - this is used in jQuery to check the current MQ */
			content: 'desktop';
		}
	}

	@media screen and (max-height: 950px){
		// Page de sélection des différents numéros
		&.projects-visible {
			position: absolute;

			.header h1 {
			    font-size: 2.6rem;
			    padding-top: 17px;
			}

			.header img {
				margin-right: 50px;
			}

			.intro {
				padding: 1em;
				top: 4%;
				width: 85%;
			}

			.question {
				bottom: 100px;
				font-size: 1.8rem;
			}
		}
	}

	@media screen and (max-height: 650px){
		// Page de sélection des différents numéros
		&.projects-visible {

			.question {
				margin-top: 30px;
				bottom: 30px;
			}
		}
	}

	@include MQ(L) {
		.header {

			img {
				margin-right: 100px !important;
			}

			h1 {
				font-size: 3rem !important;
				padding-top: 12px;
				color: #ffffff;
			}
		}
	}

	.header {
		width: 100%;
		background-color: #3E7DCA;
		color: #ffffff;
		padding-left: 9vw;
		min-height: 65px;
		border-bottom: 4px solid #3F4A5A;
		box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);

		img {
			float: left;
			width: 240px;
			margin-right: 180px;
			padding-top: 10px;
		}

		h1 {
			font-size: 1.4rem;
			padding-top: 12px;
			color: #ffffff;
		}
	}
}

.cd-slider {
	padding-top: 10vh;
	height: 75%;
	overflow-y: auto;

	.projects-visible & {
		/* smooth scrolling on iOS */
		-webkit-overflow-scrolling: touch;
	}

	li {
		margin: 4%;
		opacity: 0;
		border-radius: .40em;
		box-shadow: 0 0 20px rgba(#000, .2);
		background-color: #3E7DCA;
		@include transition(opacity 0s $animation-duration);

		/* Force hardware acceleration */
		@include transform(translateZ(0));
		@include backface-visibility(hidden); 

		&.slides-in {
			@include transition(opacity 0s 0s);
			opacity: 1;
			@include animation(cd-translate 0.5s);
		}
	}

	a {
		display: block;
		height: 100%;
		width: 100%;
	}

	img {
		display: block;
		border-radius: .25em .25em 0 0;
		width: 100%;
	}

	.project-info {
		padding: 1em;
		background-color: $color-3;
		border-radius: 0 0 .25em .25em;
	}

	h2 {
		font-size: 2.2rem;
		line-height: 1.2;
		color: #ffffff;
	}

	p {
		font-size: 1.4rem;
		opacity: .6;
		padding: .4em 0;

		/* truncate text with ellipsis if too long */
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	h2, p {
		line-height: 1.2;
		color: #ffffff;
	}

	@include MQ(M) {
		padding: 0;
		overflow: hidden;
		@include transition(transform .5s);

		/* Force hardware acceleration */
		@include transform(translateZ(0));
		@include backface-visibility(hidden); 

		@include clearfix;



		li {
			position: relative;
			float: left;
			width: 26vw;
			margin: 0 0 0 2vw;
			border-bottom: 4px solid #3f4a5a;
			top: 50%;
			@include transform( translateX(400%) translateY(-50%) rotate(-10deg));
			@include transition(opacity 0s 0.3s, transform 0s 0.3s);

			&:first-of-type {
				margin-left: 9vw;
			}

			&.slides-in {
				/* this class is used to trigger the entrance animation */
				@include animation(none);
				@include transform(translateY(-50%));

				&:first-of-type {
					/* change transition duration/delay for the entrance animation */
					@include transition(transform 0.55s 0s);
				}

				&:nth-of-type(2) {
					@include transition(transform 0.53s 0.05s);
				}

				&:nth-of-type(3) {
					@include transition(transform 0.50s 0.1s);
				}

				&:nth-of-type(4) {
					@include transition(transform 0.48s 0.15s);
				}
			}
		}

		&.next li.current {
			/* next slide animation */
			@include animation(cd-slide-1 0.5s);
		}

		&.next li.current + li {
			@include animation(cd-slide-2 0.5s);
		}

		&.next li.current + li + li {
			@include animation(cd-slide-3 0.5s);
		}

		&.next li.current + li + li + li +li{
			@include animation(cd-slide-4 0.5s);
		}

		&.next li.current + li + li + li +li + li {
			@include animation(cd-slide-5 0.5s);
		}

		&.next li.current + li + li + li +li + li ~ li {
			@include animation(cd-slide-6 0.5s);
		} 

		&.prev li {
			/* previous slide animation */
			@include animation(cd-slide-7 0.5s);
		}

		&.prev li.previous  {
			/* previous slide animation - the previous class is used to target the slide which was visible right before the current one */
			@include animation(cd-slide-1 0.5s);
		}

		&.prev li.previous + li  {
			@include animation(cd-slide-2 0.5s);
		}

		&.prev li.previous + li + li {
			@include animation(cd-slide-3 0.5s);
		}

		&.prev li.current + li {
			@include animation(cd-slide-4 0.5s);
		}

		&.prev li.current + li + li {
			@include animation(cd-slide-5 0.5s);
		}

		&.prev li.current, &.prev li.current + li + li ~ li {
			@include animation(none);
		}
	}
}

//different animation for each slide - mixin inside partials > _mixins.scss
@include squeezebox(cd-slide-1, -85%);
@include squeezebox(cd-slide-2, -55%);
@include squeezebox(cd-slide-3, -23%);
@include squeezebox(cd-slide-4, 23%);
@include squeezebox(cd-slide-5, 55%);
@include squeezebox(cd-slide-6, 65%);
@include squeezebox(cd-slide-7, -95%);

/* -------------------------------- 

Project slider navigation

-------------------------------- */

.cd-slider-navigation {
	display: none;

	a {
		position: absolute;
		@include center(y);
		left: 0;
		height: 60px;
		width: 4%;
		background: url(../img/cd-arrow.svg) no-repeat center center;
		@include transition(opacity 0.2s 0s, visibility 0s 0s);

		&.next {
			right: 0;
			left: auto;
			@include transform(translateY(100%));
		}

		&.prev {
			@include transform(translateY(100%) rotate(180deg));
		}

		&.inactive {
			visibility: hidden;
			opacity: 0;
			@include transition(opacity 0.2s 0s, visibility 0s 0.2s);
		}
	}

	@include MQ(M) {
		display: block;
	}
}

/* -------------------------------- 

Project content panel 

-------------------------------- */

.cd-project-content {
	position: fixed;
	z-index: 3;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	background-color: #f1f1f1;
	
	/* Force Hardware Acceleration */
	@include transform(translateZ(0));
	@include backface-visibility(hidden);
	
	@include transform(translateY(100%)); 
	@include transition(transform 0.4s 0s, visibility 0s 0.4s);
	@include transition-timing-function(cubic-bezier(.67,.15,.83,.83));

	> div {
		overflow-y: auto;
		padding: 2em;
		background-color: #ffffff;
		width: 65%;
		margin: 0 auto;
		
		> * {
			margin-left: auto;
			margin-right: auto;
		}
	}

	ul {
		margin-left: 3rem;
		margin-top: 20px;

		li {
			color: #666666;
			line-height: 1.6;
			font-size: 1.6rem;
			margin-bottom: 20px;
			
			i {
				margin-right: 10px;
				font-size: 2.2rem;
				color: #3E7DCA;
			}
		}
	}

	&.is-visible {
		visibility: visible;
		position: absolute;
		height: 150vh;
		@include transform(translateY(0));
		@include transition(transform 0.4s 0s, visibility 0s 0s);
		@include transition-timing-function(cubic-bezier(.67,.15,.83,.83));

		> div {
			/* smooth scrolling on iOS */
			-webkit-overflow-scrolling: touch;
		}
	}

	.logo-wrapper {
		position: absolute;
		width: 100%;
		background-color: #3E7DCA;
		height: 65px;
		border-bottom: 4px solid #3F4A5A;
		box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);
		padding: 0;

		img{
			width: 240px;
			position: relative;
			padding-top: 10px;
			margin-left: 9vw;
		}
	}

	h2 {
		font-size: 3.2rem;
		font-weight: bold;
		text-transform: uppercase;
		line-height: 45px;
	}

	em {
		display: block;
		font-size: 1.8rem;
		font-style: italic;
		margin: 1em auto;
	}

	p {
		margin-bottom: 1em;
		font-size: 1.4rem;
		color: #666666;
	}

	em , p {
		line-height: 1.6;
	}

	strong {
		font-weight: bold;
	}

	.logo_titre_left {
		max-width: 120px;
		float: left;
		margin-right: 40px;
	}

	.conseil {
		padding: 10px 30px 5px 30px;
		border-left: 4px solid #fdc00f;
		margin-top: 30px;
		margin-bottom: 20px;
		background-color: #f5f5f5;

		h3 {
			color: #fdc00f;
		}
	}

	.bordure_bleue {
		border: 2px solid;
		padding: 0 20px;
		margin-top: 30px;
	}

	.chiffres {
		background: #f5f5f5 none repeat scroll 0 0;
		box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);
		font-size: 2.4rem;
		font-weight: bold;
		line-height: 1.4;
		margin-bottom: 3.4rem;
		padding: 20px 0;
		text-align: center;
		width: 50%;

		span {
			font-size: 5.5rem;
			margin-right: 5px;
			color: #FDC00F;
		}
	}

	.asavoir {

	}

	.close {
		display: block;
		height: 32px;
		width: 32px;
		position: absolute;
		top: 10px;
		right: 10px;
		background: url(../img/cd-close-dark.svg) no-repeat center center;
	}

	@include MQ(M) {
		&.is-visible {
			height: 220vh;
		}

		h2 {
			font-size: 3rem;
			margin-bottom: 50px;
		}

		h3 {
			font-size: 2.4rem;
			color: #3E7DCA;
			font-weight: bold;
			margin-top: 10px;
			margin-bottom: 10px;
		}

		em {
			font-size: 2.4rem;
		}

		p {
			font-size: 1.6rem;
		}

		.close {
			top: 15px;
			right: 5%;
		}
	}

	@media screen and (max-height: 800px){
		div {
			width: 90%;
		}
	}

	.banner-top {
		height: auto;
		width: 100%;
		overflow-y: visible;
		padding: 0;
		margin-top: 60px;

		img {
			width: 100%;
			max-width: unset;
		}
	}
}

/* -------------------------------- 

Keyframes

-------------------------------- */

@include keyframes(cd-translate) {
	0% {
		opacity: 0;
		@include transform(translateY(100px));
	}

	100% {
		@include transform(translateY(0));
		opacity: 1;
	}
}