<!doctype html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="noindex">

    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,400italic' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ asset('bundles/le_saviez_vous/css/reset.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/le_saviez_vous/css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/le_saviez_vous/js/modernizr.js') }}">

    <title>Le Saviez-vous ?</title>
</head>
<body>
<div class="cd-intro-block">
    <div class="logo-wrapper">
        <a href=""><img src="{{ asset('bundles/le_saviez_vous/img/logo-bloc-cipres.png') }}" alt=""></a>
    </div>
    <div class="content-wrapper">
        <img src="{{ asset('bundles/le_saviez_vous/img/logo.png') }}" alt="">
        <h1>Les réponses à toutes vos questions</h1>
        <a href="#0" class='cd-btn' data-action="show-projects">Entrer</a>
    </div>
</div> <!-- .cd-intro-block -->

<div class="cd-projects-wrapper">
    <div class="header">
        <a href=""><img src="{{ asset('bundles/le_saviez_vous/img/logo-bloc-cipres.png') }}" alt=""></a>
        <h1>Le saviez-vous, votre rendez-vous d'informations CIPRÉS</h1>
    </div>

    <div class="intro">
        <img src="{{ asset('bundles/le_saviez_vous/img/logo.png') }}" alt="">
        <p><span class="titre">Un format court aux contenus inédits qui fera de vous un expert en protection sociale…</span><br>
            L’objet de ce rendez-vous est de créer une occasion d’aborder des sujets variés, répondre à des questions que vous vous posez,  partager des infos ou des bonnes pratiques pour mieux comprendre et mieux vendre en protection sociale…
        </p>
    </div>

    <ul class="cd-slider">
        <li class="current">
            <a href="#1">
                <img src="{{ asset('bundles/le_saviez_vous/img/save_the_date_vol1.jpg') }}" alt="project image">
                <div class="project-info">
                    <h2>Connaissez-vous les différents types d’indemnisation d’un contrat prévoyance TNS ?</h2>
                </div>
            </a>
        </li>

        <li>
            <a href="#2">
                <img src="{{ asset('bundles/le_saviez_vous/img/img.png') }}" alt="project image">
                <div class="project-info">
                    <h2>Le Saviez-vous n°2</h2>
                    <p>A venir</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#3">
                <img src="{{ asset('bundles/le_saviez_vous/img/img.png') }}" alt="project image">
                <div class="project-info">
                    <h2>Le Saviez-vous n°3</h2>
                    <p>A venir</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#4">
                <img src="{{ asset('bundles/le_saviez_vous/img/img.png') }}" alt="project image">
                <div class="project-info">
                    <h2>Le Saviez-vous n°4</h2>
                    <p>A venir</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#5">
                <img src="{{ asset('bundles/le_saviez_vous/img/img.png') }}" alt="project image">
                <div class="project-info">
                    <h2>Le Saviez-vous n°5</h2>
                    <p>A venir</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#6">
                <img src="{{ asset('bundles/le_saviez_vous/img/img.png') }}" alt="project image">
                <div class="project-info">
                    <h2>Le Saviez-vous n°6</h2>
                    <p>A venir</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#7">
                <img src="{{ asset('bundles/le_saviez_vous/img/img.png') }}" alt="project image">
                <div class="project-info">
                    <h2>Le Saviez-vous n°7</h2>
                    <p>A venir</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#8">
                <img src="{{ asset('bundles/le_saviez_vous/img/img.png') }}" alt="project image">
                <div class="project-info">
                    <h2>Le Saviez-vous n°8</h2>
                    <p>A venir</p>
                </div>
            </a>
        </li>

        <li>
            <a href="#9">
                <img src="{{ asset('bundles/le_saviez_vous/img/img.png') }}" alt="project image">
                <div class="project-info">
                    <h2>Le Saviez-vous n°9</h2>
                    <p>A venir</p>
                </div>
            </a>
        </li>
    </ul>

    <div class="question">
        <a href="http://www.cipres.fr/questionnaires/index.php/survey/index/sid/696263/newtest/Y/lang/fr" target="_blank"><i class="fa fa-pencil-square-o"></i> Vous avez une question ? Posez-là à nos experts !</a>
    </div>

    <ul class="cd-slider-navigation cd-img-replace">
        <li><a href="#0" class="prev inactive">Prev</a></li>
        <li><a href="#0" class="next">Next</a></li>
    </ul> <!-- .cd-slider-navigation -->
</div> <!-- .cd-projects-wrapper -->

<div class="cd-project-content" id="p1">
    <div class="logo-wrapper">
        <a href=""><img src="{{ asset('bundles/le_saviez_vous/img/logo-bloc-cipres.png') }}" alt=""></a>
    </div>

    <div class="banner-top">
        <img src="{{ asset('bundles/le_saviez_vous/img/banner_save_the_date_vol1.jpg') }}" alt="">
    </div>
    <div>
        <img class="logo_titre_left" src="{{ asset('bundles/le_saviez_vous/img/logo.png') }}" alt="CIPRÉS">
        <h2>Connaissez-vous les différents types d’indemnisation d’un contrat prévoyance TNS ?</h2>
        <p class="chiffres"><span><i class="fa fa-line-chart"></i> <strong>60% des TNS</strong></span><br> ne sont pas couverts en cas d’arrêt de travail</p>

        <p>
            Un <strong>contrat de prévoyance TNS dit forfaitaire</strong>, permettra au TNS d’être indemnisé au forfait, c’est-à-dire sur la base des garanties que celui-ci a souscrite sans prise en compte des revenus. Ainsi au moment de l’invalidité ou de l’arrêt de travail, l’assureur ne va pas vérifier les derniers revenus déclarés (et donc les revenus réels) et ne déduira pas non plus (selon les contrats) les indemnités journalières ou rentes  que peut verser le régime obligatoire du TNS (comme le RSI pour les artisans-commerçants).<br>
        </p>

        <div class="asavoir">
            <h3><i class="fa  fa-lightbulb-o"></i> A savoir !</h3>
            <ul>
                <li><i class="fa  fa-angle-double-right"></i> <strong>Pour l’ensemble de nos PPE sauf exception du PPE Mandataires sociaux :</strong> <br>L’indemnisation est forfaitaire jusqu’à 1,5 PASS inclus, <strong>les prestations en cas d’arrêt de travail (incapacité temporaire, invalidité permanente partielle) seront déterminées forfaitairement sous déduction des prestations versées par le régime obligatoire</strong> et sans prise en compte du revenu de l’assuré au jour du sinistre.</li>

                <li><i class="fa  fa-angle-double-right"></i> <strong>Pour le PPE Mandataires Sociaux et l’ACCESS PRO :</strong> <strong><br>L’indemnisation est « 100% forfaitaire ».</strong> Les prestations en cas d’arrêt de travail (incapacité temporaire, invalidité permanente totale, invalidité permanente partielle) seront déterminées forfaitairement <strong>sans prise en compte des revenus de l’assuré et sans déduction des éventuelles prestations versées par le régime obligatoire.</strong></li>
            </ul>
        </div>

        <div class="conseil">
            <h3><i class="fa fa-pencil-square-o"></i> Notre conseil :</h3>
            <p>Un indépendant débutant son activité à tout intérêt à choisir un contrat forfaitaire en raison de l’instabilité de ses revenus les premières années, ou l’insuffisance de revenu  en N-1.</p>
        </div>

        <p>
            <strong>Sachez qu’il existe également des contrats indemnitaires :</strong><br>

            <b><strong>Les contrats dits indemnitaires</strong></b> ont pour objectif de compenser le préjudice éprouvé par l’assuré du fait de la perte de revenus.<br>
            Sur le PPE au-delà de 1.5 PASS choisi en traitement de base, l’indemnisation devient indemnitaire en cas d’incapacité temporaire ou d’invalidité permanente partielle. Les prestations versées en arrêt de travail seront versées sous déduction des prestations versées par le régime obligatoire et en prenant en compte les revenus perçus par l’assuré en N-1.
        </p>

        <div class="bordure_bleue">
            <h3><i class="fa  fa-bell-o"></i> Pour rappel :</h3>
             <p>Le traitement de base correspondant au revenu déclaré à l’administration fiscale en N-1 peut être majoré de 80%.Ce type de contrat indemnitaire, chez CIPRES, le PPE avec un traitement de base supérieur à 1.5 PASS, nécessite donc de faire un point tous les ans sur la cohérence du traitement de base choisi avec le revenu perçu en N-1 et la majoration possible de 80% des revenus.</p>
        </div>
    </div>

    <a href="#0" class="close cd-img-replace">Close</a>
</div> <!-- .cd-project-content -->

<div class="cd-project-content" id="p2222">
    <div class="logo-wrapper">
        <a href=""><img src="{{ asset('bundles/le_saviez_vous/img/logo-bloc-cipres.png') }}" alt=""></a>
    </div>
    <div>
        <p>Contenu LSV 2</p>
    </div>
    <a href="#0" class="close cd-img-replace">Close</a>
</div>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-3558789-1', 'auto');
    ga('send', 'pageview');
</script>

<script src="{{ asset('bundles/le_saviez_vous/js/jquery-2.1.4.js') }}"></script>
<script src="{{ asset('bundles/le_saviez_vous/js/jquery.mobile.custom.min.js') }}"></script>
<script src="{{ asset('bundles/le_saviez_vous/js/main.js') }}"></script>
<script src="https://use.fontawesome.com/618ee5e216.js"></script> <!-- Resource jQuery -->
</body>
</html>