{% extends 'base_admin_actualite.html.twig' %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('bundles/cipres/css/bootstrap-datetimepicker.min.css') }}">

<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Actualite</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                	<a href="{{ path('admin_actualite') }}">
                    	Actualite
                	</a>
                </li>
                <li class="active">
                    Modification
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Formulaire <strong>ajout actualité</strong>
                        </div>
                    </div>
                    <div class="panel-body">
			            <form action="{{ path('admin_actualite_update', {'id': entity.id}) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
			            	<div class="form-group">
			            		{{ form_label(edit_form.titre, 'Titre', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.titre, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.title, 'Balise Title', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.title, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.descr, 'Meta Description', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.descr, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.slug, 'Permaliens', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.slug, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.categorie, 'Catégorie', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.categorie, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.date, 'Date (format dd/mm/yyyy)', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.date, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.contenu, 'Contenu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.contenu) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.image, 'Image', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.image) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.url, 'URL', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.url, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
								{{ form_label(edit_form.enabled, 'Publication', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.enabled, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
								{{ form_label(edit_form.debut_publication, 'Début de publication', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.debut_publication) }}
								</div>
							</div>
							<div class="form-group">
								{{ form_label(edit_form.fin_publication, 'Fin de publication', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.fin_publication) }}
								</div>
							</div>
							{{ form_widget(edit_form) }}
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-7">
									<button type="submit" class="btn btn-theme">Enregistrer</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	{{ parent() }}

	<script type="text/javascript">
		$(function () {
			$('.datetimepicker').datetimepicker({
				locale: 'fr'
			});
		});
	</script>


	<script type="text/javascript">
	    $(document).ready(function() {
			$('#appbundle_actualitetype_contenu').summernote(); 
	    });
    </script>
{% endblock %}
