	<div>
		<p>Cher Partenaire,<br><br>

			Depuis 16 ans, CIPRÉS s’efforce de vous accompagner au mieux auprès de vos clients TNS et entreprises.
			Chaque année, nous mettons tout en œuvre pour vous proposer des solutions innovantes et pertinentes sur le marché de la protection sociale.<br><br>

			Pour la deuxième année consécutive, nous avons le plaisir de vous annoncer, pour le 1er janvier 2017, une politique de renouvellement Frais de santé avantageuse :
		</p>

		<div class="titre_bleu_fonce">Affaires nouvelles :</div>
		<div class="full_ligne_bleu_fonce"></div>

		<p>Maintien des tarifs sur l’ensemble de la gamme TNS et salariés !</p>

		<div class="titre_bleu_fonce">Portefeuille :</div>
		<div class="full_ligne_bleu_fonce"></div>

		<p>Grâce à la bonne maîtrise de nos résultats techniques et afin de vous accompagner dans la fidélisation de vos clients, nous avons le plaisir de maintenir les taux 2016 en 2017 pour plus de deux tiers de vos affaires.<br><br>

			<b>Ainsi, pour la seconde année consécutive, plus de 65 % des contrats ne sera pas indexé et une indexation variable sera appliquée sur le reste du portefeuille.</b><br><br>

			Par exception,  toute affaire ayant pris effet en 2015 sera indexée de 2,5 %.
		</p>

		<div class="titre_bleu_fonce">Un renouvellement anticipé et inédit autour de 3 engagements</div>
		<div class="full_ligne_bleu_fonce"></div>

		<p><img class="puce_num_rond" width="26" src="/upload/CipresNews/32/puce1.png" alt="1">Nous allons adresser, dès la mi-octobre, à vos clients leur <b>carte de tiers-payant valable du 1<sup>er</sup> novembre 2016 au 31 décembre 2017.</b> Cette carte annule et remplace la précédente.<br><br>
			Dans ce même pli, vos clients reçoivent :
		</p>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-angle-double-right"></i> leur courrier d’indexation, </li>
			<li><i class="fa fa-angle-double-right"></i> une brochure présentant nos nouveaux services mis à leur disposition,</li>
			<li><i class="fa fa-angle-double-right"></i> <b>la carte contact</b> avec numéro d’adhérent et <b>identifiant extranet</b> afin qu’ils puissent se connecter facilement en toute circonstance.</li>
		</ul>

		<div class="row">
			<div class="col-xs-12 col-sm-6"><a href="/upload/CipresNews/32/lettre_adherent_avec_carte_emplacement.pdf" target="_blank" class="btn_bleu_clair button center waves-effect waves-light" style="width: 330px; font-size: 16px;"><i class="fa  fa-eye"></i> Voir le Courrier d’accompagnement</a></div>

			<div class="col-xs-12 col-sm-6"><a href="/upload/CipresNews/32/brochure_adherent.pdf" target="_blank" class="btn_bleu_clair button center waves-effect waves-light" style="width: 330px; font-size: 16px;"><i class="fa   fa-file-pdf-o"></i> Télécharger la Brochure Assuré</a></div>
		</div>

		<div class="row"></div><br>

		<p><img class="puce_num_rond" width="26" src="/upload/CipresNews/32/puce2.png" alt="2">Nous proposons également à vos clients <b>un nouveau réseau de soins avec notre partenaire Carte Blanche</b>, accessible facilement sur l’ensemble du territoire. Ils bénéficient ainsi de tarifs négociés notamment en optique et accèdent à des services privilégiés.

			<a href="http://www.cipres.fr/Cipres-News/32/reseau-carte-blanche" target="_blank" class="btn_bleu_clair center waves-effect waves-light" style="font-size: 16px;"><i class="fa fa-angle-double-right"></i> En savoir plus</a>
		</p>

		<p><img class="puce_num_rond" width="26" src="/upload/CipresNews/32/puce3.png" alt="3">Nous <b>renforçons notablement nos garanties Assistance</b> notamment si votre client est hospitalisé ou immobilisé.

			<a href="http://www.cipres.fr/Cipres-News/32/nouvelles-garanties-assistance" target="_blank" class="btn_bleu_clair center waves-effect waves-light" style="font-size: 16px;"><i class="fa fa-angle-double-right"></i> En savoir plus</a>
		</p>

		<div class="row"></div><br>

		<p>En menant cette politique de renouvellement Frais de santé avantageuse et inédite, nous nous efforçons de vous accompagner au mieux dans votre relation client.<br><br>

			Notre souhait est de garantir votre tranquillité d’esprit et la sérénité de votre portefeuille.<br><br>

			Nous restons à votre disposition pour toute information complémentaire.
		</p>

		<div class="row"></div>
</div>