	<div>
		<p>Conçues avec Europ Assistance, ces nouvelles garanties d’assistances proposées par CIPRÉS aident vos clients à faire face aux aléas de la vie
		</p>

		<div class="titre_bleu_fonce">Une gamme complète de services pour gérer les imprévus</div>
		<div class="full_ligne_bleu_fonce"></div>

		<p><b>De nouveaux services :</b> en cas d’hospitalisation, même ambulatoire, de traitement de longue durée, de maternité, et d'immobilisation… :</p>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-angle-double-right"></i> Aide à domicile ( aide ménagère, livraison de courses et de médicaments)</li>
			<li><i class="fa fa-angle-double-right"></i> Garde des personnes à charge, garde d’enfants malades, </li>
			<li><i class="fa fa-angle-double-right"></i> Garde d’enfants, </li>
			<li><i class="fa fa-angle-double-right"></i> Conduite à l’école et retour au domicile,</li>
			<li><i class="fa fa-angle-double-right"></i> Soutien scolaire pour un enfant immobilisé ou hospitalisé,</li>
			<li><i class="fa fa-angle-double-right"></i> Conseils médicaux, </li>
			<li><i class="fa fa-angle-double-right"></i> Garde et transfert d’animaux domestiques…</li>
		</ul>

		<p><b>De nouveaux services d’information pour aider vos clients à trouver la solution la plus adaptées à ses besoins : </b></p>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-angle-double-right"></i> Assistance téléphonique,</li>
			<li><i class="fa fa-angle-double-right"></i> Plate-forme de services à la personne, </li>
			<li><i class="fa fa-angle-double-right"></i> Aide juridique en cas d’erreur médicale, </li>
			<li><i class="fa fa-angle-double-right"></i> Assistance à la reconversion (accompagnement budgétaire et conseil social),</li>
			<li><i class="fa fa-angle-double-right"></i> Aide et formalités « obsèques »…</li>
		</ul>

		<p><b>De nouveaux services « plus » </b></p>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-angle-double-right"></i> Assistance à la reconversion</li>
			<li><i class="fa fa-angle-double-right"></i> Accompagnement budgétaire et conseil social</li>
		</ul>

		<div class="row"></div>
</div>