	<div>
		<p>En s’associant à « Carte Blanche », CIPRES met à disposition de vos adhérents un réseau de soins de professionnels de santé, sélectionnés suivant des critères de qualité et de proximité. En sollicitant ce réseau, ils auront accès à des services privilégiés ainsi qu’à des tarifs préférentiels.
		</p>

		<div class="titre_bleu_fonce">Les avantages du réseau de soins « Carte Blanche »</div>
		<div class="full_ligne_bleu_fonce"></div>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-check"></i> <b>Avec le tiers payant, vos clients n’avancent</b> pas les frais de santé.</li>
			<li><i class="fa fa-check"></i> <b>Des tarifs plafonnés</b> sur les verres optiques, les prothèses dentaires et les prothèses auditives.</li>
			<li><i class="fa fa-check"></i> <b>Un outil de géolocalisation des professionnels</b> via un site internet.</li>
		</ul>

		<div class="titre_bleu_fonce">Tout un réseau national de professionnel de santé au service de vos clients</div>
		<div class="full_ligne_bleu_fonce"></div>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-check"></i> <b>« Carte Blanche » rassemble plus de 7 750 opticiens,</b> aussi bien des enseignes que des indépendants : Afflelou, Krys, Atol, Optic 2000, Optical Center, Générale d’Optique, Lissac... avec un large choix de verres et des tarifs de 35 à 40 % inférieurs aux prix de marché.</li>
			<li><i class="fa fa-check"></i> <b>Plus une garantie casse pour les verres et montures</b> (franchise limitée à 40 %) de deux ans et une garantie de six mois permettant de changer les verres ou trois mois pour les lentilles en cas d’inadaptation.
				<a style="margin-top: 0;" href="/upload/CipresNews/32/2016-08-kit-optique-CBP.pdf" target="_blank" class="btn_bleu_clair center waves-effect waves-light" style="font-size: 16px;"><i class="fa fa-angle-double-right"></i> En savoir plus</a>
			</li>
			<li><i class="fa fa-check"></i> <b>« Carte Blanche » donne accès à un réseau dentaire de plus de 5 450 chirurgiens-dentistes</b> qui vous proposeront des tarifs sur les prothèses dentaires 12 à 15 % inférieurs aux prix de marché.</li>
			<li><i class="fa fa-check"></i> <b>Le réseau de soins « Carte Blanche » comprend également un réseau de 3 370 audioprothésistes.</b><br>
				Ce réseau ainsi que le réseau dentaire seront disponibles dès avril 2017.
			</li>
		</ul>

		<div class="row"></div>
</div>