{% extends 'base_admin_newsletter.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Newsletter</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    Newsletter
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
            
<div id="container-messages" class="container-messages">
    <div class="page-alert alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Hello {{ user.username }}!</strong> Bienvenue sur le panel Newsletter. Vous pouvez voir ici tout les inscrits depuis le site à la newsletter.
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Table <strong>Newsletter</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="datatables-example" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Email</th>
                                    <th>Date</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for entity in entities %}
                            		<tr>
                            			<td>{{ entity.id }}</td>
                            			<td>{{ entity.email }}</td>
                            			<td>{{ entity.date|date('d/m/Y H:i') }}</td>
                            		</tr>
                            	{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
        </div>
	</div>
</div>
{% endblock %}
