{% extends 'base.html.twig' %}

{% block title %}
	Offres d'emplois assurance | CIPRES ASSURANCES
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="Retrouvez nos offres d'emplois dans le domaine de l'Assurance : Gestionnaire Production, Gestionnaire Adhésion, Responsable Service Client" />
{% endblock %}

{% block body %}
	<div class="main">
		<div class="cms_slide recrutement_slide">
			<img src="{{ asset('bundles/cipres/img/slide_recrutement.jpg') }}" />
		</div>
		<div class="offre_list">
			<div class="content">
				{% for flashMessage in app.session.flashbag.get('success') %}
					<div class="flash-success">
						{{ flashMessage }}
					</div>
				{% endfor %}
				{% for offre in offres %}
					<div class="col-md-4">
						<div class="box_offre">
							<div class="bo_content">
								<h3>{{ offre.titre }}<br/>
								{{ offre.sstitre }}</h3>
								<h4>{{ offre.dateAjout | date('d/m/Y') }}</h4>
								<div class="ligne_offre"></div>
								<p>{{ offre.resume | truncate(150, true, '...')}}</p>
								<div class="col-md-12 partage_offre nopadding">
									<div class="col-md-6 npaddingleft">
										<p>Partagez sur :</p>
									</div>
									<div class="col-md-6 nopaddingright">
										<a href="http://www.viadeo.com/shareit/share/?url={{ app.request.schemeAndHttpHost }}{{ path('offre_index') }}" rel="nofollow" target="_blank"><img src="{{ asset('bundles/cipres/img/viadeo_offre.png') }}" /></a>
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost }}{{ path('offre_index') }}" rel="nofollow" target="_blank"><img src="{{ asset('bundles/cipres/img/facebook_offre.png') }}" /></a>
										<a href="https://twitter.com/intent/tweet?url={{ app.request.schemeAndHttpHost }}{{ path('offre_index') }}" rel="nofollow" target="_blank"><img src="{{ asset('bundles/cipres/img/twitter_offre.png') }}" /></a>
										<a href="mailto:?subject=Offres d'emplois assurance&amp;body={{ app.request.schemeAndHttpHost }}{{ path('offre_index') }}" rel="nofollow"><img src="{{ asset('bundles/cipres/img/mail_offre.jpg') }}" /></a>
									</div>
								</div>
							</div>
							<div class="bs_footer waves-effect waves-light">
								<a data-toggle="modal" data-target="#offre{{ offre.id }}">Lire la suite</a>
							</div>
						</div>
						<div id="offre{{ offre.id }}" class="modal modal_offre fade" role="dialog">
  							<div class="modal-dialog modal-dialog_offre">
    							<div class="modal-content modal-content_offre">
      								<div class="modal-header modal-header_offre">
      									<label>Fermer</label>
        								<button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/cipres/img/close_modal.png') }}" /></button>
      								</div>
      								<div class="modal-body modal-body_offre">
        								<div class="col-md-9">
        									<div class="mbo_header">
        										<div class="col-md-10">
        											<p class="mboh_titre">{{ offre.titre }}</p>
        											<p class="mboh_sstitre">{% if offre.date %}{{ offre.date }} - {% endif %}{% if offre.sstitre %}({{ offre.sstitre }}) {% endif %}{% if offre.reference %}({{ offre.reference }}){% endif %}</p>
        										</div>
        										<div class="col-md-2">
        										</div>
        									</div>
        									{% if offre.contrat or offre.salaire or offre.date or offre.lieu %}
	        									<div class="mbo_footer1">
	        										{% if offre.contrat %}
		        										<div class="col-md-3">
		        											<p><span>Type de contrat :</span><br/>
		        											{{ offre.contrat }}</p>
		        										</div>
	        										{% endif %}
	        										{% if offre.salaire %}
		        										<div class="col-md-3">
		        											<p><span>Salaire brut annuel :</span><br/>
		        											{{ offre.salaire }}</p>
		        										</div>
	        										{% endif %}
	        										{% if offre.date %}
		        										<div class="col-md-3">
		        											<p><span>Date de démarrage :</span><br/>
		        											{{ offre.date }}</p>
		        										</div>
	        										{% endif %}
	        										{% if offre.lieu %}
		        										<div class="col-md-3">
		        											<p><span>Lieu :</span><br/>
		        											{{ offre.lieu }}</p>
		        										</div>
	        										{% endif %}
	        									</div>
        									{% endif %}
        									{% if offre.contenu %}
	        									<div class="mbo_content">
	        										{{ offre.contenu|raw }}
	        									</div>
        									{% endif %}
        									{% if offre.fichier %}
	        									<div class="mbo_footer2">
	        										<div class="col-md-12 mbof_right" align="center">
	        											<p class="mbofr_p"><a href="{{ asset('upload/Offre/'~ offre.id ~'/'~ offre.fichier) }}" target="_blank"><span>Télécharger l'annonce de recrutement <i class="fa  fa-download"></i></a></p>
	        										</div>
	        									</div>
        									{% endif %}
        								</div>
        								<div class="col-md-3">
        									<form method="POST" onsubmit="return checkRegistration({{ offre.id }})" id="form{{ offre.id }}" action="{{ path('contact_create') }}" name="form_offre" enctype="multipart/form-data">
        										<p class="mbf_title">POSTULER</p>
        										<p class="mbf_ref">ref : {{ offre.reference }}</p>
        										<input type="hidden" name="form_offre[id]" id="form_offre_id" value="{{ offre.id }}" />
        										<label for="form_offre_nom_{{ offre.id }}">Nom <sup>*</sup></label>
        										<input type="text" name="form_offre[nom]" id="form_offre_nom_{{ offre.id }}" required/>
        										<label for="form_offre_prenom_{{ offre.id }}">Prénom <sup>*</sup></label>
        										<input type="text" name="form_offre[prenom]" id="form_offre_prenom_{{ offre.id }}" required/>
        										<label for="form_offre_mail_{{ offre.id }}">E-mail <sup>*</sup></label>
        										<input type="email" name="form_offre[mail]" id="form_offre_mail_{{ offre.id }}" required/>
        										<label for="form_offre_tel_{{ offre.id }}">Téléphone <sup>*</sup></label>
        										<input type="text" name="form_offre[tel]" id="form_offre_tel_{{ offre.id }}" required minlength="10"/>
        										<label for="form_offre_message_{{ offre.id }}">Message</label>
        										<textarea name="form_offre[message]" id="form_offre_message_{{ offre.id }}"></textarea>
        										<label for="form_offre_cv_{{ offre.id }}">CV</label>
        										<input type="file" name="cv" id="form_offre_cv_{{ offre.id }}" required/>
        										<label for="form_offre_lettre_{{ offre.id }}">Lettre de motivation</label>
        										<input type="file" name="lettre" id="form_offre_lettre_{{ offre.id }}" />
												<button type="submit" class="btn btn-primary submit_with_chevrons">
													Valider <i class="fa fa-angle-double-right chevrons_submit"></i>
												</button>
        									</form>
        									
        								</div>
      								</div>
    							</div>
  							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<script>
		function checkRegistration(id){
		    if($('#form_offre_tel_'+id).val().length != 10)
		    {
		    	alert('Le champ Téléphone doit comporter 10 caractères');
		        return false;
	        }
		}
	</script>
{% endblock %}