{% extends 'base.html.twig' %}

{% block navigation %}
	<div class="collapse navbar-collapse nopadding" id="bs-example-navbar-collapse-1">
		<ul class="nav navbar-nav navbar-left">
			<li class="dropdown"><a href="#" class="nomarginleft" data-toggle="dropdown" class="dropdown-toggle">Qui sommes nous ?</a>
				<ul role="menu" class="dropdown-menu">
					<div class="content ssmenu1">
						<li><a href="{{ path('page_show', {'id':2}) }}">En résumé</a></li>
						<li><a href="{{ path('page_show', {'id':3}) }}">La gouvernance</a></li>
						<li><a href="{{ path('page_show', {'id':4}) }}">Nos métiers</a></li>
					</div>
				</ul>
			</li>
			<li><a href="{{ path('page_show', {'id':5}) }}">Devenir Courtier Partenaire</a></li>
			<li><a href="{{ path('solution_index') }}">Solutions TNS et Entreprises</a></li>
			<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Conseils & actualités</a>
				<ul role="menu" class=" dropdown-menu">
					<div class="content ssmenu2">
						<li><a href="{{ path('actualite_categorie', {'type':1}) }}">Agenda</a></li>
						<li><a href="{{ path('actualite_categorie', {'type':2}) }}">Actualités</a></li>
						<li><a href="{{ path('actualite_categorie', {'type':3}) }}">Conseils</a></li>
					</div>
				</ul>
			</li>
			<li class="dropdown active"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Recrutement</a>
				<ul role="menu" class="active dropdown-menu">
					<div class="content ssmenu4">
						<li class="active"><a href="{{ path('offre_index') }}">Offres d'emplois</a></li>
						<li><a href="{{ path('page_show', {'id':6}) }}">Nous rejoindre</a></li>
					</div>
				</ul>
			</li>
			<li class="dropdown"><a href="#" data-toggle="dropdown" class="dropdown-toggle">Espace Presse</a>
				<ul role="menu" class="dropdown-menu">
					<div class="content ssmenu3">
						<li><a href="{{ path('page_show', {'id':7}) }}">Contact</a></li>
						<li><a href="{{ path('media_index') }}">Médiathèque</a></li>
						<li><a href="{{ path('presse_categorie', {'type':1}) }}">Dossier de Presse</a></li>
						<li><a href="{{ path('presse_categorie', {'type':2}) }}">Communiqué de Presse</a></li>
					</div>
				</ul>
			</li>
			<li><a href="{{ path('contact_index') }}" class="nomarginright">Contact</a></li>
		</ul>
	</div>
{% endblock %}

{% block body %}
	<div class="main">
		<p>A venir</p>
	</div>
{% endblock %}