@media only screen and (max-width: 1370px) {
  header {
    .content {
      width:95% !important;
    }
  }
  #wrapper.stick {
    .solution_bloc_droit {
      p {
        display: none;
      }

      &:last-child {
        top: 380px !important;
      }
    }
  }
}

@media only screen and (max-width: 1280px) {
  header {
    .content {
    }
  }
}

@media only screen and (max-width: 1200px) {
  .navigation {
    border-top: 0;
  }
}

@media only screen and (max-width: 1179px) {
  header {
    .content {
      width: 100% !important;

      .hc_top {
        .ht_titre {
          font-size: 25px !important;
        }

        .ht_sstitre {
          font-size: 19px !important;
        }
      }

      .dropdown {

        .dropdown-menu {
          margin-left: 0 !important;
          left: 0 !important;

          .content {
            padding-left: 0 !important;
          }

          li {
            display: inline-block;
          }
        }
      }
    }
  }

  .solution_content {
    .col-md-9 {
      width: 100%;
    }
  }

  #blocs_dte {
    width: 100%;
  }

  #wrapper {
    width: 100% !important;
    margin-bottom: 120px;

    &.affix {
      position: relative;
      width: 100%;
      top: 0 !important;
    }

    .solution_bloc_droit {
      max-width: 40% !important;
      float: left;
      margin-left: 60px;
      min-height: 450px;

      &:last-child {
        margin-left: 30px;

        .sbd_2 {
          margin-top: 70px;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}

@media (max-width: 768px) {
  .navbar-collapse.collapse {
    display: none !important;
  }
  .navbar-collapse.collapse.in {
    display: block !important;
  }
  .navbar-header .collapse, .navbar-toggle {
    display:block !important;
  }
  .navbar-header {
    float:none;
  }

  .espace_perso {
    width: 210px;
  }

  .espace_assure {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .solution_content .col-md-4 {
    float: left;
    width: 35%;
  }

  .solution_content .col-md-8 {
    float: left;
    width: 65%;
  }


  .affix {
    .hc_logo_affix {
      text-align: left;

      .logo_desktop {
        display: none;
      }

      .logo_mobile {
        display: block !important;

        img {
          width: 70%;
        }
      }

      .bloc_titre {
        text-align: left;
        display: block;

        .ht_titre {
          margin-top: 30px;
          font-size: 30px;
        }

        .ht_sstitre {
          font-size: 20px;
        }

        p {
          text-align: left;
        }
      }
    }
  }

  .navbar-nav {
    li {
      width: 100%;
    }
  }

  .navbar {
    .container-fluid {
      padding: 0;
    }
  }

  #wrapper {
    width: 100% !important;
    margin-bottom: 120px;

    &.affix {
      position: relative;
      width: 100%;
      top: 0 !important;
    }

    .solution_bloc_droit {
      max-width: 40% !important;
      float: left;
      margin-left: 60px;
      min-height: 420px;

      &:last-child {
        margin-left: 30px;

        .sbd_2 {
          margin-top: 70px;
        }
      }

      img {
        width: 100%;
      }
    }
  }
}

@media only screen and (max-width: 768px) {

  .hc_logo_mobile{
    display: block;

    img {
      width: 85%;
    }
  }

  .hct1 {
    display: block;
  }

  .hc_logo_affix {
    display: none;
  }

  header .content .open > .dropdown-menu {
    position: static;
    border: 0;
    box-shadow: none;
  }

  header .ssmenu3, header .ssmenu4 {
    padding-left: 0 !important;
  }

  header.affix .ssmenu1 {
    padding-left: 0 !important;
  }

  .navbar-header{
    background-color: $gris;
    padding-left: 20px;
  }

  .nav {
    padding-left: 25px;
  }

  .presentation_accueil {
    min-height: 170px;

    .content {
      min-height: 170px;

      h1.pa_titre {
        font-size: 26px;
        padding-top: 10px;
      }
    }
  }

  .acteur_accueil {
    .box {
      img {
        width:60px !important;
      }
    }
  }

  .parallax1 {
    background-position: center center;
  }

  .self-hosted-video-bg {
    width: 100% !important;
    height: 100% !important;
  }
}

@media only screen and (max-width: 640px) {

  #backVideo {
    display: none !important;
  }

  .ht_titre, .ht_sstitre {
    display: none;
  }

  .bloc_titre {
    .ht_titre, .ht_sstitre {
      display: block;
    }

    .ht_titre {
      font-size: 24px !important;
    }

    .ht_sstitre {
      font-size:16px !important;
    }
  }

  .hc_logo_mobile {
    img {
      width: 60%;
    }
  }

  .hc_top {
    .espace_assure {
      width: 180px !important;
      height: 35px;
      margin-bottom: 5px;

      p {
        font-size: 16px !important;
        padding-top: 6px;
      }
    }

    .espace_perso {
      width: 180px !important;
      height: 35px;
      p {
        font-size: 16px !important;
        padding-top: 6px;
      }
    }
  }

  .solution_content .col-md-8 {
    width: 100% !important;
  }

  .solution_bleu_droite {
    width: 100% !important;
  }
}

@media only screen and (max-width: 414px) {
  header {
    min-height: unset !important;

    .navbar-header {
      border-top: 1px solid #e7e7e7;
    }

    .navbar-toggle {
      &:focus {
        background-color: $gris !important;
      }
    }
  }

  .hc_logo_mobile {
    img {
      width: 70%;
    }
  }

  .affix {
    .hc_logo_affix {

      .logo_mobile {

        img {
          width: 120%;
        }
      }
    }

    .bloc_titre {
      .ht_titre {
        font-size: 20px !important;
      }

      .ht_sstitre {
        font-size: 14px !important;
      }
    }
  }

  #wrapper {
    width: 100% !important;
    margin-bottom: 120px;

    &.affix {
      position: relative;
      width: 100%;
      top: 0 !important;
    }

    .solution_bloc_droit {
      max-width: 80% !important;
      margin-left: 30px;
      min-height: unset !important;

      &:last-child {
        .sbd_2 {
          margin-top: 0;
        }
      }

      img {
        width: 100%;
      }
    }
  }

  //.slide_accueil {
  //  height: auto !important;
  //  margin-bottom: -5px;
  //}

  .presentation_accueil {
    .col-md-2 {
      display: none;
    }

    .col-md-10 {
      width: 100%;
    }
  }

  .acteur_accueil {
    .col-md-4 {
      width: 100% !important;
    }

    .box {
      min-height: unset !important;
    }
  }

  .content_parallax {
    .p1_1, .p1_2 {
      display: none;
    }

    .p2_1 {
      margin-top: 0;
    }

    .p2_2 {
      width: 100%;
      max-width: 100% !important;
      margin-top: 140px;
    }

    #vousetes {
      max-width: 105px !important;
    }

    .submit_with_chevrons {
      margin-top: 195px;
    }
  }

  #flexiselDemo2{
    left: 0 !important;

    .nbs-flexisel-item {
      width: 60px !important;
      margin-left: 50px;

      &:nth-child(4n) {
        clear: left;
      }

      &:nth-child(1n+6) {
        display: none;;
      }
    }
  }


  .cmcc_c6 {
    padding: 20px !important;
  }

  //===============================
  // ====    Pages solutions   ====
  //===============================
  .bs_content {
    min-height: unset !important;
    padding-bottom: 22px;

    h3, p {
      min-height: unset !important;
    }
  }

  .psc_retour {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-top: 50px;
  }

  .cc_titre {
    line-height: 1.2;
  }

  .cms_slide img {
    height: 100%;
    max-height: 140px;
    width: auto;
  }


  //===============================
  // ====    Pages actus   ====
  //===============================
  .ba_content {
    min-height: unset !important;
    padding-bottom: 22px;

    h3, p {
      min-height: unset !important;
    }
  }
}

@media only screen and (max-width: 360px) {
  .affix {
    .hc_logo_affix {

      .logo_mobile {

        img {
          width: 150%;
        }
      }
    }
  }

  .content_parallax .p2_2 {
    margin-top: 115px;
    max-width: 70% !important;
    width: 100%;
  }

  #flexiselDemo2 {

    .nbs-flexisel-item {

      &:nth-child(1) {
        margin-left: 30px !important;
      }
    }
  }
}

@media only screen and (max-width: 320px) {
  .affix {
    .hc_logo_affix {

      .logo_mobile {

        img {
          width: 150%;
        }
      }
    }

    .bloc_titre {
      .ht_titre {
        font-size: 20px !important;
        margin-top: 20px !important;
      }

      .ht_sstitre {
        font-size: 14px !important;
      }
    }
  }

  .slide_accueil {
    //height: auto;
    //margin-bottom: 10px;
  }
}