{% extends 'base_admin_contact.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Contact</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                	<a href="{{ path('admin_contact') }}">
                    	Contact
                	</a>
                </li>
                <li class="active">
                    Visualisation
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Formulaire <strong> de contact</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                    	{% if entity.type == 1 or entity.type == 2 %}
                    		<p>Nom : {{ entity.nom }}</p>
                    		<p>Prénom : {{ entity.prenom }}</p>
                    		<p>Mail : {{ entity.email }}</p>
                    		<p>Téléphone : {{ entity.telephone }}</p>
                    		<p>Code Postal : {{ entity.codePostal }}</p>
                    		{% if entity.fichier %}
                    			<p>Fichier : <a href="{{ asset('upload/Contact/'~ entity.id ~'/'~ entity.fichier) }}" target="_blank">ICI</a></p>
                			{% endif %}
                    		<p>Message :<br/>{{ entity.message }}</p>
                    	{% else %}
				            <p>Source : {% if entity.source == 1 %}Courtier{% elseif entity.source == 2 %}Choix2{% endif %}</p>
				            <p>Nom : {{ entity.nom }}</p>
				            <p>Adresse : {{ entity.adresse }}</p>
				            <p>Ville : {{ entity.ville }}</p>
				            <p>Code Postal : {{ entity.codePostal }}</p>
				            <p>Téléphone : {{ entity.telephone }}</p>
				            <p>Email : {{ entity.email }}</p>
				            <p>Numéro Orias : {{ entity.orias }}</p>
				            <p>Nom du dirigeant : {{ entity.nomDirigeant }}</p>
				            <p>Optin : {% if entity.optin == 1 %}Oui{% else %}Non{% endif %}</p>
				            <p>Message : <br/><br/>{{ entity.message }}</p>
			            {% endif %}
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}
