{% extends 'base.html.twig' %}

{% block title %}
    Page non trouvée | CIPRES ASSURANCES
{% endblock %}


{% block body %}
    <div class="main">

        <div class="erreur404 col-xs-12">
            <h3>EXTRANET COURTIER EN COURS DE MAINTENANCE.</h3><br><br>
            Afin d’améliorer la qualité de nos services, nous effectuons des opérations de maintenance.<br>
            Le site sera de nouveau opérationnel dès 20h30.<br>
            Merci de bien vouloir nous excuser de la gêne occasionnée.
        </div>
    </div>

{% endblock %}