<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Cipres{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <!-- Fonts -->
		<link href='//fonts.googleapis.com/css?family=Raleway:300,400,600,700,800' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
		<!-- / Fonts -->
		
		<!-- Style Sheets -->
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/pace-theme-minimal.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/metisMenu.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/animate.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/toastr.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/style.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/themes/theme-all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/demo.min.css') }}">
		<!-- / Style Sheets -->
		
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/login.min.css') }}">
    </head>
    <body data-theme="default">
    	 <div class="single-container login-screen animated fadeInDown">
	        <section class="sign-widget-title">
	            <h1>Ciprès <b>Admin</b></h1>
	            <h4>Accès au Dashboard</h4>
	        </section>
        	<section class="sign-widget">
            	<header>
                	<h4>Connectez-vous à votre compte <b>Ciprès</b></h4>
            	</header>
            	<div class="body">
		        	{% block body %}{% endblock %}
			        {% block javascripts %}{% endblock %}
		        </div>
	        </div>	
        </div>
        
        <!-- Scripts -->
		<!-- Post Scripts -->
		<script src="{{ asset('bundles/cipres/js/vendor/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/bootstrap.min.js') }}"></script>
		
		<script src="{{ asset('bundles/cipres/js/main.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/loremizer.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/panels.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/deepassword.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/demo/demo.min.js') }}"></script>
		
		<script src="{{ asset('bundles/cipres/js/vendor/toastr.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/pace.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/metisMenu.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/jquery.slimscroll.min.js') }}"></script>
		
		<script src="{{ asset('bundles/cipres/js/vendor/lodash.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/moment.min.js') }}"></script>
		<!-- / Post Scripts -->

	    <script src="{{ asset('bundles/cipres/js/vendor/jquery.peity.min.js') }}"></script>
	    <script src="{{ asset('bundles/cipres/js/vendor/index.js') }}"></script>
	    <script src="{{ asset('bundles/cipres/js/vendor/Chart.min.js') }}"></script>
	                
	    
	
	    <script src="{{ asset('bundles/cipres/js/vendor/holder.min.js') }}"></script>
    </body>
</html>
