<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr-FR">
    <head>
		{% block meta %}
			<meta charset="UTF-8" />
			<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
			<meta name="apple-mobile-web-app-capable" content="yes">
			<meta name="apple-mobile-web-app-status-bar-style" content="black">
			<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
			<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
			<meta http-equiv="content-language" content="fr-FR" />
			<meta name="language" content="fr-FR" />

			<meta name="robots" content="noindex">
		{% endblock %}

		{% block meta_desc %}{% endblock %}

		<title>{% block title %}{% endblock %}</title>

		{% block stylesheets %}{% endblock %}

		<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
		<link href="{{ asset('bundles/cipres/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
		{#<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">#}
		<link href="{{ asset('bundles/cipres/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/cipres/css/style.css') }}" rel="stylesheet" type="text/css" />
		<link href="{{ asset('bundles/cipres/css/ajouts.css') }}" rel="stylesheet" type="text/css" />

		<script src="{{ asset('bundles/cipres/js/jquery-1.11.3.min.js') }}"></script>
		{#<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>#}
		<script src="{{ asset('bundles/cipres/js/bootstrap.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/jquery.inview.min.js') }}"></script>
	</head>
	<body id="wrap">
	{% block header %}
		<header data-spy="affix" data-offset-top="98" data-offset-bottom="200">
			<div class="content">
				<div class="hc_logo">
					<a href="{{ path('homepage') }}"><img src="{{ asset('bundles/cipres/img/logo.jpg') }}" title="Cipres" /></a>
				</div>
				<div class="hc_logo_affix">
					<a class="logo_desktop" href="{{ path('homepage') }}"><img src="{{ asset('bundles/cipres/img/logo_affix.png') }}" title="Cipres" /></a>
					<a class="logo_mobile col-xs-3" href="{{ path('homepage') }}"><img src="{{ asset('bundles/cipres/img/logo_default.png') }}" title="Cipres" /></a>
					<div class="bloc_titre col-xs-9">
						<p class="ht_titre">LE SPéCIALISTE ASSURANCE</p>
						<p class="ht_sstitre">EN PRéVOYANCE ET SANTé TNS, TPE, PME</p>
					</div>
				</div>
				<div class="hc_top">
					<div class="col-md-12 nopadding overflow hct1">
						<div class="col-md-6 nopadding">
							<div class="hc_logo_mobile">
								<a href="{{ path('homepage') }}"><img src="{{ asset('bundles/cipres/img/logo_default.png') }}" title="Cipres" /></a>
							</div>
							<p class="ht_titre">LE SPéCIALISTE ASSURANCE</p>
							<p class="ht_sstitre">EN PRéVOYANCE ET SANTé TNS, TPE, PME</p>
						</div>
						<div class="col-md-6 nopadding">
							<div class="espace_assure waves-effect waves-light" onclick="javascript:window.open('https://www.monsiteassure.fr/login', '_blank');">
								<p>Espace assuré/DRH <i class="fa fa-lock"></i></p>
							</div>
							{# <div class="espace_perso waves-effect waves-light" onclick="javascript:window.open('http://www.courtier.cipres.fr/Connexion-a-lExtranet', '_blank');">
								<p>Espace courtier <i class="fa fa-lock"></i></p>
							</div> #}

							{% if ("now"|date('Y-m-d H:i:s') > "2016-10-7 18:25:00"|date('Y-m-d H:i:s')) and ("now"|date('Y-m-d H:i:s') < "2016-10-7 20:30:00"|date('Y-m-d H:i:s')) %}
								<div class="espace_perso waves-effect waves-light" onclick="javascript:window.open('http://www.cipres.fr/404', '_blank');">
									<p>Espace courtier <i class="fa fa-lock"></i></p>
								</div>
							{% else %}

								<div class="espace_perso waves-effect waves-light" onclick="javascript:window.open('http://www.courtier.cipres.fr/Connexion-a-lExtranet', '_blank');">
									<p>Espace courtier <i class="fa fa-lock"></i></p>
								</div>
							{% endif %}
						</div>
					</div>
					<div class="col-md-12 navigation nopadding">
						<nav class="navbar navbar-default">
							<div class="container-fluid nopadding">
								<div class="navbar-header">
									<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
										<span class="sr-only">Toggle navigation</span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
										<span class="icon-bar"></span>
									</button>
									<button class="menubuttonmobile" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">Menu</button>
								</div>
								<div class="collapse navbar-collapse nopadding" id="bs-example-navbar-collapse-1">
									<ul class="nav navbar-nav navbar-left">
										<li class="dropdown {% if actif is not defined and entity is defined and (entity.id == 2 or entity.id == 3 or entity.id == 4) %}active{% endif %}"><a class="nomarginleft" data-toggle="dropdown" class="dropdown-toggle">Qui sommes nous ?</a>
											<ul role="menu" class="{% if actif is not defined and entity is defined and (entity.id == 2 or entity.id == 3 or entity.id == 4) %}active{% endif %} dropdown-menu">
												<div class="content ssmenu1">
													<li {% if actif is not defined and entity is defined and entity.id == 2 %}class="active"{% endif %}><a href="{{ path('page_show', {'slug':'qui-sommes-nous'}) }}">En résumé</a></li>
													<li {% if actif is not defined and entity is defined and entity.id == 3 %}class="active"{% endif %}><a href="{{ path('page_show', {'slug':'gouvernance'}) }}">La gouvernance</a></li>
													<li {% if actif is not defined and entity is defined and entity.id == 4 %}class="active"{% endif %}><a href="{{ path('page_show', {'slug':'metiers'}) }}">Nos métiers</a></li>
												</div>
											</ul>
										</li>
										<li {% if (actif is not defined) and entity is defined and entity.id == 5 %}class="active"{% endif %}><a href="{{ path('page_show', {'slug':'courtier-partenaire'}) }}">Devenir Courtier Partenaire</a></li>
										<li {% if actif is defined and actif == 1 %}class="active"{% endif %}><a href="{{ path('solution_index') }}">Solutions TNS et Entreprises</a></li>
										<li {% if actif is defined and actif == 2 %}class="active"{% endif %}><a href="{{ path('actualite_agenda') }}">Conseils & actualités</a></li>
										<li class="dropdown {% if (actif is defined and actif == 5) or (actif is not defined and entity is defined and entity.id == 6) %}active{% endif %}"><a data-toggle="dropdown" class="dropdown-toggle">Recrutement</a>
											<ul role="menu" id="ul4" class="{% if (actif is defined and actif == 5) or (entity is defined and entity.id == 6) %}active{% endif %} dropdown-menu">
												<div class="content ssmenu4">
													<li {% if entity is defined and entity.id == 6 %}class="active"{% endif %}><a href="{{ path('page_show', {'slug':'recrutement'}) }}">Nous rejoindre</a></li>
													<li {% if actif is defined and actif == 5 %}class="active"{% endif %}><a href="{{ path('offre_index') }}">Offres d'emplois</a></li>
												</div>
											</ul>
										</li>
										<li class="dropdown {% if (actif is defined and (actif == 6 or actif == 7 or actif == 8)) or (medias is defined) %}active{% endif %}"><a data-toggle="dropdown" class="dropdown-toggle">Espace Presse</a>
											<ul role="menu" id="ul3" class="{% if (actif is defined and (actif == 6 or actif == 7 or actif == 8)) or (medias is defined) %}active{% endif %} dropdown-menu">
												<div class="content ssmenu3">
													<li {% if actif is defined and actif == 8 %}class="active"{% endif %}><a href="{{ path('presse_communique_categorie') }}">Communiqué de Presse</a></li>
													<li {% if medias is defined %}class="active"{% endif %}><a href="{{ path('media_index') }}">Médiathèque</a></li>
													<li {% if actif is defined and actif == 6 %}class="active"{% endif %}><a href="{{ path('presse_contact') }}">Contact</a></li>
												</div>
											</ul>
										</li>
										<li {% if actif is defined and actif == 9 %}class="active"{% endif %}><a href="{{ path('contact_index') }}" class="nomarginright">Contact</a></li>
									</ul>
								</div>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</header>
	{% endblock %}
	{% block body %}{% endblock %}
	{% block javascripts %}{% endblock %}
	{% block footer %}
		<footer>
			<div class="footer_top">
				<div class="content">
					<div class="col-md-3 ft1 nopaddingleft">
						<img src="{{ asset('bundles/cipres/img/logo_footer.png') }}" />
						<p>
							Depuis maintenant plus de 15 ans, CIPRÉS ASSURANCES, courtier grossiste souscripteur, se positionne en véritable acteur de l'innovation en Protection sociale complémentaire.
						</p>
						<p class="newsletter">Inscrivez-vous à notre Newsletter :</p>
						<form method='POST' action='{{ path('newsletter_create') }}'>
							<input type="text" placeholder="Votre eMail" name="appbundle_newslettertype[email]" id="appbundle_newslettertype_email"/>
							<input type="submit" value="OK"/>
						</form>
					</div>
					<div class="col-md-3 ft2">
						<h2>MENU</h2>
						<ul>
							<li><a href="{{ path('page_show', {'slug':'qui-sommes-nous'}) }}">Qui sommes nous ?</a></li>
							<li><a href="{{ path('page_show', {'slug':'courtier-partenaire'}) }}">Devenir Courtier Partenaire</a></li>
							<li><a href="{{ path('solution_index') }}">Solutions TNS et Entreprises</a></li>
							<li><a href="{{ path('actualite_agenda') }}">Conseils & actualités</a></li>
							<li><a href="{{ path('offre_index') }}">Recrutement</a></li>
							<li><a href="{{ path('presse_communique_categorie') }}">Espace Presse</a></li>
							<li><a href="{{ path('contact_index') }}">Contact</a></li>
						</ul>
					</div>
					<div class="col-md-3 ft3">
						<h2>NOS OFFRES</h2>
						<ul>
							<li><a href="{{ path('solution_show', {'slug': 'prevoyance-sante-tns'} ) }}">Prévoyance et Santé TNS</a></li>
							<li><a href="{{ path('solution_show', {'slug': 'mutuelle-obligatoire'} ) }}">Mutuelle obligatoire</a></li>
							<li><a href="{{ path('solution_show', {'slug': 'surcomplementaire-sante'} ) }}">Surcomplémentaire santé</a></li>
							<li><a href="{{ path('solution_show', {'slug': 'assurance-auto-entrepreneur'} ) }}">Assurance auto entrepreneur</a></li>
							<li><a href="{{ path('solution_show', {'slug': 'assurance-sante-tns'} ) }}">Assurance santé TNS</a></li>
							<li><a href="{{ path('solution_show', {'slug': 'assurance-homme-cle'} ) }}">Assurance homme clé</a></li>
							<li><a href="{{ path('solution_show', {'slug': 'assurance-frais-generaux'} ) }}">Assurance frais généraux</a></li>
						</ul>
					</div>
					<div class="col-md-3 ft4 nopaddingright">
						<h2>CONTACT</h2>
						<p>
							CIPRÉS ASSURANCES<br/>
							37, rue Anatole France<br/>
							92532 Levallois-Perret Cedex<br/><br/>

							<b>Centre de la relation client</b><br>
							Tél : 0 177 680 190<br><br>

							<b>Standard</b> <br>
							Tel : 0 177 685 685<br/>

						</p>
						<div class="espace_assure_footer waves-effect waves-light" onclick="javascript:window.open('https://www.monsiteassure.fr/login', '_blank');">
							<p>Espace assuré/DRH <i class="fa fa-lock"></i></p>
						</div>
						{# <div class="espace_perso_footer waves-effect waves-light" onclick="javascript:window.open('http://www.courtier.cipres.fr/Connexion-a-lExtranet', '_blank');">
							<p>Espace courtier <i class="fa fa-lock"></i></p>
						</div> #}

						{% if ("now"|date('Y-m-d H:i:s') > "2016-10-7 18:25:00"|date('Y-m-d H:i:s')) and ("now"|date('Y-m-d H:i:s') < "2016-10-7 20:30:00"|date('Y-m-d H:i:s')) %}
							<div class="espace_perso_footer waves-effect waves-light" onclick="javascript:window.open('http://www.cipres.fr/404', '_blank');">
								<p>Espace courtier <i class="fa fa-lock"></i></p>
							</div>
						{% else %}

							<div class="espace_perso_footer waves-effect waves-light" onclick="javascript:window.open('http://www.courtier.cipres.fr/Connexion-a-lExtranet', '_blank');">
								<p>Espace courtier <i class="fa fa-lock"></i></p>
							</div>
						{% endif %}
					</div>
				</div>
			</div>
			<div class="footer_bottom">
				<div class="content">
					<div class="col-md-8 fb2">
						<p>Copyright - CIPRES assurances tous droits réservés - <a href="{{ path('page_show', {'slug':'mentions-legales'}) }}">Mentions légales</a> - Site réalisé par l'Agence <a href="http://www.kwan.fr/" target="_blank">Kwan</a></p>
					</div>
					<div class="col-md-4 fb3">
						<a href="http://fr.viadeo.com/fr/company/cipres-vie" target="_blank"><img src="{{ asset('bundles/cipres/img/viadeo.png') }}" /></a>
						<!--<a href="http://www.facebook.com" target="_blank"><img src="{{ asset('bundles/cipres/img/facebook.png') }}" /></a>-->
						<a href="https://twitter.com/cipresassurance" target="_blank"><img src="{{ asset('bundles/cipres/img/twitter.png') }}" /></a>
						<a href="https://www.linkedin.com/company/cipres-vie" target="_blank"><img src="{{ asset('bundles/cipres/img/linkedin.png') }}" height='29'/></a>
					</div>
				</div>
			</div>
			<a href="#" class="scrollToTop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
		</footer>
	{% endblock %}

	<script src="{{ asset('bundles/cipres/js/smoothscroll.js') }}"></script>
	<script src="{{ asset('bundles/cipres/sass/materialize/js/waves.js')}}"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
	<script>
		(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
					(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
				m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		ga('create', 'UA-3558789-1', 'auto');
		ga('send', 'pageview');

	</script>
	<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
	<script type="text/javascript">
		window.cookieconsent_options = {"message":"En poursuivant votre navigation sur notre site cipres.fr, vous acceptez l'utilisation de cookies destinés à améliorer la performance de ce site et la qualité de nos services, à en adapter les fonctionnalités et à vous proposer des publicités adaptées à vos centres d'intérêt.","dismiss":"OK","learnMore":"En savoir plus","link":"http://www.cipres.fr/mentions-legales#cookies","theme":"light-bottom"};
	</script>
	<!-- End Cookie Consent plugin -->
	<script >
		//          var smoothScroll = {
		//              speed: 0,
		//              delay: 10, // en ms
		//              timer: null,
		//              scrollSpeed: 8,
		//              inertia: 0.93,
		//              init: function(){
		//                  this.setEventsListeners();
		//              },
		//              setEventsListeners: function(){
		//                  var me = this;
		//                  $(document).bind('DOMMouseScroll mousewheel', function(e){
		//                      me.setSpeed(e.originalEvent);
		//                  });
		//              },
		//              setSpeed: function(e){
		//                  var direction = e.detail ? -e.detail : e.wheelDelta;
		//                  this.speed += direction < 0 ? -this.scrollSpeed : this.scrollSpeed;
		//                  if(this.timer == null){
		//                      this.timer = setTimeout(this.smoothScroll, this.delay, this);
		//                  }
		//                  e.preventDefault();
		//              },
		//              smoothScroll: function(scope){
		//                  var self = scope;
		//                  self.speed *= self.inertia;

		//                  var currScrollTop = $(window).scrollTop();
		//                  $(window).scrollTop(currScrollTop-self.speed);

		//                  if(self.speed < self.inertia && self.speed > -self.inertia){
		//                      self.speed = 0;
		//                      clearTimeout(self.timer);
		//                      self.timer = null;
		//                  }else{
		//                      self.timer = setTimeout(self.smoothScroll, self.delay, self);
		//                  }
		//              }
		//          }

		// smoothScroll.init();

		// $('.bs_footer a').click(function() {
		// 	$(document).unbind('DOMMouseScroll mousewheel');
		// 	console.log("unbind");

		// 	$('.close').click(function(){
		// 		smoothScroll.init();
		// 		console.log('rebind');
		// 	})

		// })
	</script>

	<script>
		var item_menu = $('.nav li');

		$( ".dropdown" ).click(function(event) {
			event.stopPropagation();
			$(".dropdown-menu").removeClass('active');
			$(".dropdown").removeClass('open');
			$( this ).parents(".dropdown-menu").addClass('open');
			$( this ).toggleClass('open');


			if (item_menu.hasClass('active') && $( this ).hasClass('open')){
				$('.nav li.open a').css('border-top', '5px solid transparent');
			}

			if ($(this).children('a').attr('style')){
				$('.dropdown a').removeAttr('style');
				$(this).children('a').css('border-top', '5px solid transparent');
			}
		});

		$('body').click(function(){
			$('.dropdown a').removeAttr("style");
		});

		// function resize(){
		// var wrap = $("#wrap");
		// var menu = $("#dd1");


		//   if (this.scrollTop > 10) {
		//     menu.addClass("dd2");
		//   }

		// }

		$( document ).ready(function() {
			var marge = -($( window ).width() - 1040) / 2;
			$(".dropdown-menu").css("right", marge);

			$(window).scroll(function(){
				if ($(this).scrollTop() > 100) {
					$('.scrollToTop').fadeIn();
				} else {
					$('.scrollToTop').fadeOut();
				}
			});
			$('.scrollToTop').click(function(){
				$('html, body').animate({scrollTop : 0},800);
				return false;
			});
		});

		$(".decouvrir").click(function() {
			$('html,body').animate({
				scrollTop: $(".acteur_accueil").offset().top -20}, 850);
		});
	</script>

	<!-- Hotjar Tracking Code for http://www.cipres.fr -->
	<script>
		(function(h,o,t,j,a,r){
			h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
			h._hjSettings={hjid:231155,hjsv:5};
			a=o.getElementsByTagName('head')[0];
			r=o.createElement('script');r.async=1;
			r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
			a.appendChild(r);
		})(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
	</script>

	</body>
</html>