{% extends 'base_admin.html.twig' %}
	{% block navigation %}
		<ul id="side-nav" class="side-nav nav">
			<li class="side-nav-group">
				<span class="name">Options</span>
			</li>
			<li class="">
				<a href="{{ path('admin') }}">
					<i class="fa fa-tachometer"></i> <span class="name">Dashboard</span>
				</a>
			</li>
			<li class="@@activate-ui-elements">
				<a href="{{ path('admin_slide') }}">
					<i class="fa fa-desktop"></i>
					<span class="name">Slide</span>
				</a>
			</li>
			<li class="@@activate-extra-pages active">
				<a href="{{ path('admin_page') }}">
					<i class="fa fa-file"></i>
					<span class="name">Page</span>
				</a>
			</li>
			<li class="@@activate-app-pages">
				<a href="{{ path('admin_solution') }}">
					<i class="fa fa-newspaper-o"></i>
					<span class="name">Solution</span>
				</a>
			</li>
			<li class="@@activate-calendar">
				<a href="{{ path('admin_actualite') }}">
					<i class="fa fa-newspaper-o"></i>
					<span class="name">Actualite</span>
				</a>
			</li>
			<li class="@@activate-calendar">
				<a href="{{ path('admin_enews_step1') }}">
					<i class="fa fa-newspaper-o"></i>
					<span class="name">Cipres News</span>
				</a>
			</li>
			<li class="@@activate-forms">
				<a href="{{ path('admin_partenaire') }}">
					<i class="fa fa-picture-o"></i>
					<span class="name">Partenaire</span>
				</a>
			</li>
			<li class="@@activate-forms">
				<a href="{{ path('admin_offre') }}">
					<i class="fa fa-briefcase"></i>
					<span class="name">Offre d'emploi</span>
				</a>
			</li>
			<li class="@@activate-forms">
				<a href="{{ path('admin_media') }}">
					<i class="fa fa-video-camera"></i>
					<span class="name">Médiathèque</span>
				</a>
			</li>
			<li class="@@activate-forms">
				<a href="{{ path('admin_presse') }}">
					<i class="fa fa-newspaper-o"></i>
					<span class="name">Presse</span>
				</a>
			</li>
			<li class="@@activate-forms">
				<a href="{{ path('admin_contact') }}">
					<i class="fa fa-check-square-o"></i>
					<span class="name">Contact</span>
				</a>
			</li>
			<li class="@@activate-forms">
				<a href="{{ path('admin_user') }}">
					<i class="fa fa-user"></i>
					<span class="name">Utilisateur</span>
				</a>
			</li>
			<li class="@@activate-forms">
				<a href="{{ path('admin_newsletter') }}">
					<i class="fa fa-user"></i>
					<span class="name">Newsletter</span>
				</a>
			</li>
		</ul>
	{% endblock %}

{% block body %}{% endblock %}

{% block javascripts %}{% endblock %}


