<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Ciprés{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        
        <!-- Styles -->
	    <link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/dataTables.bootstrap.css') }}">
	    <link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/dataTables.fontAwesome.css') }}">
	    <link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/dataTables.colReorder.css') }}">
	    <link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/dataTables.colVis.css') }}">
	    <link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/dataTables.responsive.css') }}">
	    <link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/bootstrap-editable.css') }}">
        
        <!-- Fonts -->
		<link href='//fonts.googleapis.com/css?family=Raleway:300,400,600,700,800' rel='stylesheet' type='text/css'>
		<link href='//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800' rel='stylesheet' type='text/css'>
		<!-- / Fonts -->
		
		<!-- Style Sheets -->
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/pace-theme-minimal.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/metisMenu.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/animate.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/toastr.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/vendor/font-awesome.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/style.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/themes/theme-all.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/styles/demo.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/js/plugins/datepicker/css/bootstrap-datepicker.min.css') }}">
		<link rel="stylesheet" href="{{ asset('bundles/cipres/css/bootstrap-datetimepicker.min.css') }}">
		<!-- / Style Sheets -->

		<script src="{{ asset('bundles/cipres/js/vendor/jquery.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/jquery-ui.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/bootstrap.min.js') }}"></script>
    </head>
    <body data-theme="default">
    	<div id="wrapper">
    		<nav id="sidebar-nav" class="sidebar-nav">
    			<div id="sidebar-wrapper" class="sidebar-wrapper" data-background="default">
    				<component>sidebar-nav</component>
    				<ul class="side-nav-top nav">
			            <li class="sidebar-nav-logo">
			                <component>sidebar-nav-logo</component>
			                <img src="{{ asset('bundles/cipres/img/sidebar-logo.png') }}" alt="Ciprès Admin">
			                <span class="logo-text">
			                    <b>Ciprés</b> Admin
			                </span>
			            </li>
			            <li class="sidebar-nav-profile">
			                <component>sidebar-nav-profile</component>
			                <div class="profile-right">
			                    <span class="name">
			                        {{ user.username }}<i id="user-profile-settings-toggler" class="fa fa-caret-down l-pad-5"></i>
			                    </span>
			                </div>
			            </li>
			            <!-- Profile settings -->
			            <li class="side-nav-profile-settings" style="display: none;">
			                <ul class="inline-list">
			                    <li>
			                        <a class="btn btn-white-hover mb-5" data-placement="top" data-toggle="tooltip" data-original-title="Profile" href="#">
			                            <i class="fa fa-user"></i>
			                        </a>
			                    </li>
			                    <li>
			                        <a class="btn btn-white-hover mb-5" data-placement="top"  data-toggle="tooltip" data-original-title="Log out" href="{{ path('admin_logout') }}">
			                            <i class="fa fa-sign-out l-pad-5"></i>
			                        </a>
			                    </li>
			                </ul>
			            </li>
			            <!-- / Profile settings -->
			        </ul>
					{% block navigation %}
			        	<ul id="side-nav" class="side-nav nav">
			            <li class="side-nav-group">
			                <span class="name">Options</span>
			            </li>
			            <li class="active">
			                <a href="{{ path('admin') }}">
			                	<i class="fa fa-tachometer"></i> <span class="name">Dashboard</span>
			                </a>
			            </li>
			            <li class="@@activate-ui-elements">
			                <a href="{{ path('admin_slide') }}">
			                    <i class="fa fa-desktop"></i> 
			                    <span class="name">Slide</span>
			                </a>
			            </li>
			            <li class="@@activate-extra-pages">
			                <a href="{{ path('admin_page') }}">
			                    <i class="fa fa-file"></i> 
			                    <span class="name">Page</span>
			                </a>
			            </li>
			            <li class="@@activate-app-pages">
			                <a href="{{ path('admin_solution') }}">
			                    <i class="fa fa-newspaper-o"></i> 
			                    <span class="name">Solution</span>
			                </a>
			            </li>
			            <li class="@@activate-calendar">
			                <a href="{{ path('admin_actualite') }}">
			                    <i class="fa fa-newspaper-o"></i> 
			                    <span class="name">Actualite</span>
			                </a>
			            </li>
						<li class="@@activate-calendar">
							<a href="{{ path('admin_enews_step1') }}">
								<i class="fa fa-newspaper-o"></i>
								<span class="name">Cipres News</span>
							</a>
						</li>
			            <li class="@@activate-forms">
			                <a href="{{ path('admin_partenaire') }}">
			                    <i class="fa fa-picture-o"></i> 
			                    <span class="name">Partenaire</span>
			                </a>
			            </li>
			            <li class="@@activate-forms">
			                <a href="{{ path('admin_offre') }}">
			                    <i class="fa fa-briefcase"></i> 
			                    <span class="name">Offre d'emploi</span>
			                </a>
			            </li>
			            <li class="@@activate-forms">
			                <a href="{{ path('admin_media') }}">
			                    <i class="fa fa-video-camera"></i> 
			                    <span class="name">Médiathèque</span>
			                </a>
			            </li>
			            <li class="@@activate-forms">
			                <a href="{{ path('admin_presse') }}">
			                    <i class="fa fa-newspaper-o"></i> 
			                    <span class="name">Presse</span>
			                </a>
			            </li>
			            <li class="@@activate-forms">
			                <a href="{{ path('admin_contact') }}">
			                    <i class="fa fa-check-square-o"></i> 
			                    <span class="name">Contact</span>
			                </a>
			            </li>
			            <li class="@@activate-forms">
			                <a href="{{ path('admin_user') }}">
			                    <i class="fa fa-user"></i> 
			                    <span class="name">Utilisateur</span>
			                </a>
			            </li>
			            <li class="@@activate-forms">
			                <a href="{{ path('admin_newsletter') }}">
			                    <i class="fa fa-user"></i> 
			                    <span class="name">Newsletter</span>
			                </a>
			            </li>
			        </ul>
					{% endblock %}
    			</div>
    		</nav>

    		<div id="container-wrapper" class="container-wrapper">
    			<!-- Include the container navbar -->
            	<div id="container-navbar" class="container-navbar navbar">
            		<div id="container-navbar" class="container-navbar navbar">
            			<component>container-navbar</component>
            			<div class="l-container-navbar">
					        <a href="#" class="sidebar-minimalizer btn btn-theme">
					            <i class="fa"></i> 
					        </a>
					        <span id="navbar-search" class="navbar-search-input-icon l-mar-10">
					            <i class="fa fa-search navbar-search-icon"></i>
					            <input class="navbar-search" type="text" placeholder="Recherche ...">
					        </span>
					    </div>
					    <div class="r-container-navbar">
					        <!-- User information -->
        					<span class="dropdown" id="profile-toggler">
            					<a class="btn btn-default btn-bordered dropdown-toggle" data-toggle="dropdown">
                					<span class="fa fa-magic"></span>
            					</a>
            					<!-- Include the theme selector component -->
            					<ul class="dropdown-menu dropdown-arrowed dropdown-menu-center w250" style="margin-right: -119px">
    								<li>
								        <div>
								            <ul class="nav nav-tabs">
								                <li>
								                    <a href="#tab-top-2" data-toggle="tab-hover" aria-expanded="false">
								                        <i class="fa fa-user"></i>
								                    </a>
								                </li>
								            </ul>
								        </div>
								        <div class="tab-content">
								            <div class="tab-pane" id="tab-top-2">
								                <div class="tab-pane-title">
								                    <h3><strong>Profile</strong></h3>
								                </div>
								                <div>
								                    {{ user.username }}
								                </div>
								            </div>
								        </div>
    								</li>
    								<li>
								        <a id="right-notifier-toggler-2">
								            <i class="fa fa-bullhorn r-pad-15"></i>Messages
								        </a>
    								</li>
								    <li>
								        <a href="{{ path('admin_logout') }}">
								            <i class="fa fa-power-off r-pad-15"></i>Se déconnecter
								        </a>
								    </li>
								</ul>
        					</span>
        					<!-- Fullscreen toggler -->
					        <a id="fullscreen-toggler" class="btn btn-default btn-bordered">
					            <span class="fa fa-arrows-alt"></span>
					        </a>
					        <!-- Log out -->
					        <a class="btn btn-default btn-bordered" href="login.html">
					            <span class="fa fa-sign-out"></span>
					        </a>
				        </div>
            		</div>
	        	</div>
	        	{% block body %}{% endblock %}
		        {% block javascripts %}{% endblock %}
		        <div id="container-footer" class="container-footer">
				    <div class="container-fluid">
				      <div class="row">
				          <component>container-footer</component>
				          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
				              Ciprès © 2016				          </div>
				          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 to-right">
				              <i class="fa fa-code"></i>
				              <span>Version 1.0</span>
				          </div>
				      </div>
				    </div>
				</div>
	        </div>	
        </div>
        
        <!-- Scripts -->
		<!-- Post Scripts -->
		<script src="{{ asset('bundles/cipres/js/main.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/loremizer.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/panels.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/deepassword.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/demo/demo.min.js') }}"></script>
		
		<script src="{{ asset('bundles/cipres/js/vendor/toastr.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/pace.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/metisMenu.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/jquery.slimscroll.min.js') }}"></script>
		
		<script src="{{ asset('bundles/cipres/js/vendor/lodash.min.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/vendor/moment.min.js') }}"></script>
		<!-- / Post Scripts -->

	    <script src="{{ asset('bundles/cipres/js/vendor/jquery.peity.min.js') }}"></script>
	    <script src="{{ asset('bundles/cipres/js/vendor/index.js') }}"></script>
	    <script src="{{ asset('bundles/cipres/js/vendor/Chart.min.js') }}"></script>
	
	    <script src="{{ asset('bundles/cipres/js/vendor/holder.min.js') }}"></script>
	    
	    <script src="{{ asset('bundles/cipres/js/vendor/jquery.dataTables.min.js') }}"></script>
	    <script src="{{ asset('bundles/cipres/js/vendor/dataTables.bootstrap.min.js') }}"></script>
	    <script src="{{ asset('bundles/cipres/js/vendor/dataTables.colReorder.js') }}"></script>
	    <script src="{{ asset('bundles/cipres/js/vendor/dataTables.colVis.js') }}"></script>
	    <script src="{{ asset('bundles/cipres/js/vendor/bootstrap-editable.min.js') }}"></script>
	    
	    <script src="{{ asset('bundles/cipres/js/demo/demo-datatables.js') }}"></script>

    </body>
</html>