<div>
	<p>Avec le Pack pro Entreprise Mandataires sociaux, CIPRÉS vous offre la solution pour couvrir ces entrepreneurs sous-équipés en Prévoyance et Santé et vous accompagne dans la sensibilisation des experts-comptables à la protection sociale grâce à nos différents supports :
	</p>

	<div class="row"></div><br>

	<p><strong>Une Présentation : protection sociale des Mandataires Sociaux : quels enjeux pour les experts-comptables ?</strong>

		<a href="http://www.cipres.fr/upload/CipresNews/35.1/Presentation_PPE_ms_nov2016-courtiers_EC.pdf" target="_blank" class="btn_bleu_clair large center waves-effect waves-light" style="font-size: 16px;"><i class="fa fa-file-pdf-o"></i> Télécharger la présentation</a>
	</p>

	<p><strong>Une note juridique</strong>

		<a href="http://www.cipres.fr/upload/CipresNews/35.1/Note_juridique-22novembre2016.pdf" target="_blank" class="btn_bleu_clair large center waves-effect waves-light" style="font-size: 16px;"><i class="fa   fa-file-pdf-o"></i> Télécharger la note</a>
	</p>

	<p><strong>La Web Conf’ CIPRÉS du 16 novembre 2016</strong> animée par Frédéric LOYER et Laurent DELACOURT

		<a href="https://vimeo.com/192642578/b0e9295d31" target="_blank" class="btn_bleu_clair large center waves-effect waves-light" style="font-size: 16px;"><i class="fa fa-play-circle-o" style="font-size: 22px; padding-right:5px;"></i> Voir la vidéo</a>
	</p>

	<p><strong>Vos Questions/ nos réponses sur ce contrat</strong>

		<a href="http://www.cipres.fr/upload/CipresNews/35.1/WebConf_CIPRES_PPE_MS_QR_22112016.pdf" target="_blank" class="btn_bleu_clair large center waves-effect waves-light" style="font-size: 16px;"><i class="fa   fa-file-pdf-o"></i> Télécharger la FAQ</a>
	</p>

	<div class="row"></div>
</div>