	<div>
		<p>Parce que nous comptons parmi vos partenaires incontournables en protection sociale des TNS et TPE/PME, il est fondamental pour nous de vous écouter et vous offrir des solutions compétitives répondant parfaitement aux besoins de vos clients.<br><br>

			Aussi, comme chaque année, nous allons lancer dans quelques jours <strong>notre enquête de satisfaction.</strong> C’est une étape essentielle dans l’amélioration de nos solutions pour vous et vos clients !<br><br>

			Nous avons mandaté <strong>un institut d’études indépendant, SKY CONSULTING</strong>, dans le but d’enrichir nos réflexions sur tous les sujets touchant notre partenariat avec vous, de près ou de loin : notre contact, notre relation commerciale, les différents services de gestion, les opérations commerciales qui vous sont proposées, la communication… Vous recevrez un email de leur part vous invitant à répondre à cette enquête, merci de bien vouloir prendre quelques minutes pour y répondre.


		</p>
		<div class="row"></div>
	</div>