<div>
	<p>Trois mois après son lancement, des cabinets se sont lancés dans l’aventure et témoignent…</p>

	<div class="titre_vert_fonce">Un prestataire disponible et à l’écoute</div>
	<div class="full_ligne_vert_fonce"></div>

	<blockquote style="line-height: 24px !important; font-style: italic;">
		<p>« Ne connaissant que très peu de chose à la conception d’un site Internet, Julien Lamouret a été un interlocuteur disponible, attentif et professionnel. L’agence partenaire de CIPRÉS a su répondre à toutes nos attentes : la solution globale comprenant le graphisme, la conception et l’hébergement nous a permis de réaliser un site internet harmonieux et complet répondant parfaitement à notre demande. Une prestation professionnelle avec l’envie de toujours valoriser notre métier et un coût minime pour un site performant et responsive, l’objectif est atteint… »
		<p style="text-align: right; font-style: normal;">Cabinet Charbonnel, Toulouse</p>
		</p>
	</blockquote>

	<div class="titre_vert_fonce">Compétence, réactivité et respects des engagements</div>
	<div class="full_ligne_vert_fonce"></div>

	<blockquote style="line-height: 24px !important; font-style: italic;">
		<p>« Nous voulions  un site moderne, lisible sur tablette et smartphone et que l’on puisse faire évoluer par nous-mêmes, l’agence partenaire de CIPRES a su répondre rapidement à nos besoins. L’agence a parfaitement respecté notre cahier des charges, le délai et le tarif. »
		<p style="text-align: right; font-style: normal;">Cabinet AVEP courtage, Paris</p>
		</p>
	</blockquote>


	<div><a href="http://www.courtier-proximite.com/avep-paris-1" target="_blank" class="btn_bleu_clair large center waves-effect waves-light"><i class="fa fa-desktop"></i> Voir un exemple de site</a></div>

	<div class="titre_vert_fonce">VOUS ÊTES CONVAINCU, POURQUOI PAS VOUS ?</div>
	<div class="full_ligne_vert_fonce"></div>

	<div>
		<p>En partenariat avec une agence experte dans le domaine, nous vous proposons de créer votre site internet entièrement personnalisable à moindres coûts :</p>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-angle-double-right"></i> Vous choisissez votre nom de domaine</li>
			<li><i class="fa fa-angle-double-right"></i> Vous adaptez le contenu comme vous le souhaitez dans le respect du zoning imposé</li>
			<li><i class="fa fa-angle-double-right"></i> Vous choisissez la couleur et les visuels de votre site</li>
		</ul>

		<p>Pour gagner en visibilité et en efficacité, notre agence vous propose un site internet qui plaît à google pour un meilleur référencement :</p>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-angle-double-right"></i> Votre site sera adapté sur mobile </li>
			<li><i class="fa fa-angle-double-right"></i> Votre site sera techniquement optimisé pour google</li>
			<li><i class="fa fa-angle-double-right"></i> Votre site intégrera les meilleurs mots clés pour développer le référencement dans votre la zone géographique </li>
		</ul>
	</div>

	<p>Notre agence vous assure des tarifs préférentiels : 1 000 € la 1ère année puis 400 € par an de maintenance. Il est utile de préciser que la création d’un site internet coûte en moyenne entre 3 000 et 5 000 € !</p>

	<div><a href="http://www.cipres.fr/upload/CipresNews/35.1/Depliant_Mini_Site_VP.pdf" target="_blank" class="btn_bleu_clair large center waves-effect waves-light"><i class="fa fa-file-pdf-o"></i> Télécharger la plaquette</a></div>

	<div class="cadre_vert_clair">
		<b>
			Le <i style="display: inline; float: none; margin-right: 0;" class="fa fa-plus"></i> CIPRÉS :
		</b><br>
		Si vous faites appel à ce service, vous serez privilégié par CIPRÉS sur votre zone géographique lorsque CIPRÉS affectera les leads captés dans son environnement web.
	</div>

	<div class="titre_vert_fonce">L’OFFRE VOUS INTÉRESSE !</div>
	<div class="full_ligne_vert_fonce"></div>

	<div><a href="http://www.cipres.fr/site-courtier" target="_blank" class="btn_bleu_clair center waves-effect waves-light"><i class="fa  fa-pencil"> </i> Inscrivez-vous</a></div>

	<p>N’hésitez pas à vous rapprocher de votre inspecteur pour en savoir plus.</p>

	<div class="row"></div>
</div>