{% extends 'base.html.twig' %}

{% block title %}
	{{ page.title }}
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="{{ page.descr }}" />
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="{{ asset('bundles/cipres/css/multiple-select.css') }}" />
	<div class="main">
		{% for flashMessage in app.session.flashbag.get('success_news') %}
			<div class="flash-success flashHome">
				{{ flashMessage }}
			</div>
		{% endfor %}
		{% for flashMessage in app.session.flashbag.get('error_news') %}
			<div class="flash-error flashHome">
				{{ flashMessage }}
			</div>
		{% endfor %}
		<div class="slide_accueil">
			{#<div class="background self-hosted-video-bg" data-imgwidth="" style="width:100%;height:520px;">#}
				{#<video width="1800" height="700" preload="auto" loop="" autoplay="" poster="{{ asset('bundles/cipres/img/back_video.jpg') }}" muted="" style="width: 100%; left: 0px;">#}
					{#<source type="video/mp4" src="{{ asset('upload/Slide/'~ slide.id ~'/'~ slide.image) }}"></source>#}
				{#</video>#}
			{#</div>#}
			{#<img src="{{ asset('bundles/cipres/img/back_video.png') }}" id="backVideo"/>#}
			{#<a href="{{ path('page_show', {'slug':'qui-sommes-nous'}) }}"><img src="{{ asset('bundles/cipres/img/back_video_tel.jpg') }}" id="backVideoTel"/></a>#}
			{#{% if slide and slide.code %}#}
				{#{{ slide.code|raw }}#}
			{#{% endif %}#}



			<div class="background self-hosted-video-bg"  data-vide-bg="{{ asset('upload/Slide/'~ slide.id ~'/'~ slide.image) }}" data-vide-options="autoplay: true" data-imgwidth="" style="width:100%;height:520px;">
			</div>

		</div>
		{{ page.contenu|raw }}
		<div class="solution_accueil">
			<div class="content">
				<h2>Nos solutions & services</h2>
				{% for solution in solutions %}
					<div class="col-md-4">
						<div class="box_solution" onclick="window.open('{% if solution.url %}{{ solution.url }}{% else %}{{ path('solution_show', {'slug': solution.slug} ) }}{% endif %}', '_self');" style="cursor:pointer;">
							<div class="bs_top">
								<img src="{{ asset(('upload/Solution/'~ solution.id ~'/'~ solution.image) | imagine_filter('list_thumb')) }}" />
								{% if solution.categorie %}
									<p class="bt_type">
										{% if solution.categorie == 1 %}
											PRO
										{% elseif solution.categorie == 2 %}
											TPE/PME
										{% elseif solution.categorie == 3 %}
											Salariés
										{% elseif solution.categorie == 4 %}
											Services assurés
										{% elseif solution.categorie == 5 %}
											Courtiers
										{% endif %}
									</p>
								{% endif %}
							</div>
							<div class="bs_content">
								<h3>{{ solution.titre }}</h3>
								<div class="ligne"></div>
								<p>{{ solution.resume }}</p>
							</div>
							<div class="bs_footer waves-effect waves-light">
								<a href="#">En savoir plus</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="parallax parallax2">
			<div class="content_parallax">
				<p class="p2_1">TNS TPE PME : Découvrez nos produits</p>
				<form action="{{ path('solution_index') }}" method="GET">
					<div class="p2_2">
						<select name="vousetes" id="vousetes">
							<option value="0">Vous êtes</option>
							<option value="1">Un TNS</option>
							<option value="2">Une entreprise</option>
							<option value="3">Un salarié</option>
						</select>
						<select id="ms" multiple="multiple" name="assurances[]" id="assurances">
							<option value="0" disabled selected class="va0">Assurance(s) souhaitée(s)</option>
							<option value="1" class="va1">Prévoyance</option>
							<option value="2" class="va2">Santé</option>
							<option value="3" class="va3">Prévoyance et/ou santé</option>
							<option value="4" class="va4">Frais Généraux Permanents</option>
							<option value="5" class="va5">Homme clé</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary submit_with_chevrons">
						Valider <i class="fa fa-angle-double-right chevrons_submit"></i>
					</button>
				</form>
			</div>
		</div>
		<div class="actualite_accueil">
			<div class="content">
				<h2>Actualités</h2>
				{% for actualite in actualites %}
				{% if actualite.enabled %}
					<div class="col-md-4">
						<div class="box_actu" onclick="window.open('{{ path('actualite_show', {'slug': actualite.slug} ) }}', '_self');" style="cursor:pointer;">
							<div class="ba_top">
								<img src="{{ asset(('upload/Actualite/'~ actualite.id ~'/'~ actualite.image) | imagine_filter('list_thumb')) }}" />
							</div>
							<div class="ba_content">
								<h3>{{ actualite.titre }}</h3>
								<div class="ligne"></div>
								<p>{{ actualite.contenu | striptags | truncate(150, true, '...') | slice(0, 200)| raw }}</p>
							</div>
							<div class="ba_footer waves-effect waves-light">
								<a href="#">Lire la suite</a>
							</div>
						</div>
					</div>
				{% endif %}
				{% endfor %}
			</div>
		</div>
		<div class="partenaire_accueil">
			<div class="content">
				<h2>Ils nous font confiance</h2>
				{% if partenaires|length < 6 %}
					<style>
						.nbs-flexisel-nav-left, .nbs-flexisel-nav-right{
							display:none;
						}
					</style>
				{% endif %}
				<ul id="flexiselDemo2"> 
					{% for partenaire in partenaires %}
				    	<li><img src="{{ asset(('upload/Partenaire/'~ partenaire.id ~'/'~ partenaire.image) | imagine_filter('partenaire_thumb')) }}" /></li>   
				    {% endfor %}                                                                          
				</ul>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
<script src="{{ asset('bundles/cipres/js/multiple-select.js') }}"></script>
	<script src="{{ asset('bundles/cipres/js/plugins/jquery.vide.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('bundles/cipres/js/jquery.flexisel.js') }}"></script>

<script type="text/javascript">
	$(window).load(function() {
	    $("#flexiselDemo2").flexisel({
	    	visibleItems: 5,
	        enableResponsiveBreakpoints: true,
	        responsiveBreakpoints: { 
	            portrait: { 
	                changePoint:480,
	                visibleItems: 1
	            }, 
	            landscape: { 
	                changePoint:640,
	                visibleItems: 2
	            },
	            tablet: { 
	                changePoint:768,
	                visibleItems: 3
	            }
	        }
	    });
	});

	$('.parallax1 .content_parallax').bind('inview',function(event, isInView, visiblePartX, visiblePartY){
		if (isInView) {
			$('.parallax1 .content_parallax').addClass('inview');
		}
	});
	
    $(function() {
        $('#ms').change(function() {}).multipleSelect();
    });
	
	$(document).ready(function(){
	     $('a.scroll').on('click', function(evt){
			evt.preventDefault(); 
			var target = $(this).attr('href'); 
			$('html, body').stop().animate({scrollTop: $(target).offset().top}, 1000 );
	    });
	});
	
	$("#vousetes").change(function() {
		if($("#vousetes").val() == 1)
		{
			$(".va0").hide();
			$(".va1").show();
			$(".va2").show();
			$(".va3").hide();
			$(".va4").show();
			$(".va5").show();
		}
		else if($("#vousetes").val() == 2)
		{
			$(".va0").hide();
			$(".va1").hide();
			$(".va2").hide();
			$(".va3").show();
			$(".va4").show();
			$(".va5").show();
		}
		else if($("#vousetes").val() == 3)
		{
			$(".va0").hide();
			$(".va1").hide();
			$(".va2").show();
			$(".va3").hide();
			$(".va4").hide();
			$(".va5").hide();
		}
		else
		{
			$(".va0").show();
			$(".va1").show();
			$(".va2").show();
			$(".va3").show();
			$(".va4").show();
			$(".va5").show();
		}
	});
	
</script>
{% endblock %}