{% extends 'base.html.twig' %}

{% block title %}
	{{ page.title }}
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="{{ page.descr }}" />
{% endblock %}

{% block body %}
	<div class="main mainLanding">
		<div class="content">
			<div id="myCarousel" class="carousel slide" data-ride="carousel">
				<ol class="carousel-indicators">
					{% for slide in slides %}
						<li data-target="#myCarousel" data-slide-to="{{ loop.index -1 }}" {% if loop.index == 1 %}class="active"{% endif %}></li>
					{% endfor %}
				</ol>
				<div class="carousel-inner" role="listbox">
					{% for slide in slides %}
    					<div class="item {% if loop.index == 1 %}active{% endif %}">
      						<img src="{{ asset('upload/Slide/'~ slide.id ~'/'~ slide.image) }}"/>
      						<div class="carousel-caption">
        						{{ slide.code|raw }}
      						</div>
  						</div>
					{% endfor %}
    			</div>
			</div>
		<div class="solution_accueil tns_sa">
			<div class="content">
				<h2>Vos besoins nos solutions :</h2>
				<h3>simples, complètes et innovantes</h3>
				<ul class="nav navbar-nav nav_filtre nav_filtre_tns">
					<li class="licat1 active"><a onclick="displaySolution(1)">Pour vous et vos proches</a></li>
					<li class="licat2"><a onclick="displaySolution(2)">Pour vos salariés et leur famille</a></li>
					<li class="licat3"><a onclick="displaySolution(3)">Pour votre entreprise</a></li>
				</ul>	
				<div class="tns_list">
					{% for solution in solutions %}
						<div class="col-md-4 cat{{ solution.categorie }} sol{{ solution.id }}" onclick="window.open('{% if solution.url %}{{ solution.url }}{% else %}{{ path('solution_show', {'slug': solution.slug} ) }}{% endif %}', '_self');" style="cursor:pointer;">
							<div class="box_solution" onclick="window.open('{% if solution.url %}{{ solution.url }}{% else %}{{ path('solution_show', {'slug': solution.slug} ) }}{% endif %}', '_self');" style="cursor:pointer;">
								<div class="bs_top">
									<img src="{{ asset(('upload/Solution/'~ solution.id ~'/'~ solution.image) | imagine_filter('list_thumb')) }}" />
								</div>
								<div class="bs_content">
									<h3>{{ solution.titre }}<br/>
									<span>{{ solution.sstitre }}</span></h3>
									<div class="ligne"></div>
									<p>{{ solution.resume }}</p>
									<p class="resumetns">{{ solution.resumetns|raw }}</p>
								</div>
								<div class="bs_footer bs_footer_tns">
									<a href="" class="bsf_left">plus de détails</a> | <a href="" class="sf_right">Obtenir un devis</a>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		</div>
		{{ page.contenu|raw }}
	</div>
	
	<script>
		function displaySolution(id)
		{
			$('.cat1').hide();
			$('.cat2').hide();
			$('.cat3').hide();
			$('.cat4').hide();
			
			if(id == 1)
			{
				$('.sol9').fadeIn( "slow");
				$('.sol5').fadeIn( "slow");
				$('.sol4').fadeIn( "slow");
			}
			else if(id == 2)
			{
				$('.sol8').fadeIn( "slow");
				$('.sol6').fadeIn( "slow");
				$('.sol1').fadeIn( "slow");
			}
			else if(id == 3)
			{
				$('.sol3').fadeIn( "slow");
				$('.sol2').fadeIn( "slow");
			}
			
			$(".nav_filtre li").removeClass('active');
		    $(".licat"+id).addClass('active');
		}
		
		$( document ).ready(function() {
			$('.cat1').hide();
			$('.cat2').hide();
			$('.cat3').hide();
			$('.cat4').hide();
			$('.sol9').fadeIn( "slow");
			$('.sol5').fadeIn( "slow");
			$('.sol4').fadeIn( "slow");
		});
	</script>
{% endblock %}