{% extends 'base.html.twig' %}

{% block title %}
	{{ page.title }}
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="{{ page.descr }}" />
{% endblock %}

{% block body %}
	<div class="main mainLanding">
		<div class="cms_slide_landing">
			{% if slide and slide.code %}
				<div class="cms_slide_landing_div">
					{{ slide.code|raw }}
				</div>
			{% endif %}
			<img src="{{ asset('upload/Slide/'~ slide.id ~'/'~ slide.image) }}" />
		</div>
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="content" style="padding-top:50px;">
				<div class="flash-success">
					{{ flashMessage }}
				</div>
			</div>
		{% endfor %}
		{{ page.contenu|raw }}
		<div class="solution_accueil">
			<div class="content">
				<h2>Nos solutions :</h2>
				<h3>simples, complètes et innovantes</h3>
				{% for solution in solutions %}
					<div class="col-md-4">
						<div class="box_solution" onclick="window.open('{% if solution.url %}{{ solution.url }}{% else %}{{ path('solution_show', {'slug': solution.slug} ) }}{% endif %}', '_self');" style="cursor:pointer;">
							<div class="bs_top">
								<img src="{{ asset(('upload/Solution/'~ solution.id ~'/'~ solution.image) | imagine_filter('list_thumb')) }}" />
								{% if solution.categorie %}
									<p class="bt_type">
										{% if solution.categorie == 1 %}
											PRO
										{% elseif solution.categorie == 2 %}
											TPE/PME
										{% elseif solution.categorie == 3 %}
											Salariés
										{% elseif solution.categorie == 4 %}
											Services assurés
										{% elseif solution.categorie == 5 %}
											Courtiers
										{% endif %}
									</p>
								{% endif %}
							</div>
							<div class="bs_content">
								<h3>{{ solution.titre }}<br/>
								<span>{{ solution.sstitre }}</span></h3>
								<div class="ligne"></div>
								<p>{{ solution.resume }}</p>
							</div>
							<div class="bs_footer">
								<a href="">Obtenir un devis</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="actualite_accueil">
			<div class="content">
				<h2>Nos services :</h2>
				<h3>un accompagnement au quotidien, des démarches facilitées</h3>
				{% for actualite in actualites %}
					<div class="col-md-4">
						<div class="box_actu" onclick="window.open('{% if actualite.url %}{{ actualite.url }}{% else %}{{ path('actualite_show', {'id': actualite.id} ) }}{% endif %}', '_blank');" style="cursor:pointer;">
							<div class="ba_top">
								<img src="{{ asset(('upload/Actualite/'~ actualite.id ~'/'~ actualite.image) | imagine_filter('list_thumb')) }}" />
							</div>
							<div class="ba_content">
								<h3>{{ actualite.titre }}</h3>
								<div class="ligne"></div>
								<p>{{ actualite.contenu | truncate(150, true, '...') | raw }}</p>
							</div>
							<div class="ba_footer">
								<a href="">En savoir plus</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	
	<div id="contact" class="modal modal_contact fade" role="dialog">
		<div class="modal-dialog modal-dialog_contact">
			<div class="modal-content modal-content_contact">
				<div class="modal-header modal-header_offre">
					<label>Fermer</label>
					<button type="button" class="close" data-dismiss="modal">×</button>
				</div>
				<div class="modal-body modal-body_contact">
					<div class="col-md-12">
						<form method="POST" action="/Cipres2/web/app_dev.php/contact/create" name="form_courtier" enctype="multipart/form-data" onsubmit="return checkContactForm()">
							<p class="mbf_title">Demande d'ouverture de code courtier</p>
							<div class="col-md-12 nopadding">
								<label class="to-right required mb10"><b>Votre cabinet</b></label>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<input id="form_courtier_nomCabinet" type="text" placeholder="Nom du cabinet *" name="form_courtier[nomCabinet]" required="required">
								</div>
								<div class="col-md-6 nopaddingright">
									<input id="form_courtier_adresse" type="text" placeholder="Adresse *" name="form_courtier[adresse]" required="required">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<input id="form_courtier_codePostal" type="text" placeholder="Code Postal *" name="form_courtier[codePostal]" required="required">
								</div>
								<div class="col-md-6 nopaddingright">
									<input id="form_courtier_ville" type="text" placeholder="Ville *" name="form_courtier[ville]" required="required">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<input id="form_courtier_emailCabinet" type="email" placeholder="Email du cabinet *" name="form_courtier[emailCabinet]" required="required">
								</div>
								<div class="col-md-6 nopaddingright">
									<input id="form_courtier_telephoneCabinet" type="text" placeholder="N° téléphone du cabinet *" name="form_courtier[telephoneCabinet]" required="required">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<label class="to-right required mb10"><b>Forme juridique</b></label>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<input id="form_courtier_siret" type="text" placeholder="N° SIRET *" name="form_courtier[siret]" required="required">
								</div>
								<div class="col-md-6 nopaddingright">
									<input id="form_courtier_orias" type="text" placeholder="N° ORIAS *" name="form_courtier[orias]" required="required">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<label class="to-right">Catégorie ORIAS *</label>
								<div id="form_courtier_catOrias">
									<input id="form_courtier_catOrias_0" type="radio" value="0" name="form_courtier[catOrias]" required="required">
									<label for="form_courtier_catOrias_0">Principale</label>
									<input id="form_courtier_catOrias_1" type="radio" value="1" name="form_courtier[catOrias]">
									<label for="form_courtier_catOrias_1">Accessoire</label>
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<label class="to-right">Statut *</label>
								<div id="form_courtier_statut">
									<input id="form_courtier_statut_0" type="radio" value="0" name="form_courtier[statut]" required="required">
									<label for="form_courtier_statut_0">Courtier</label>
									<input id="form_courtier_statut_1" type="radio" value="1" name="form_courtier[statut]">
									<label for="form_courtier_statut_1">Agent</label>
									<input id="form_courtier_statut_2" type="radio" value="2" name="form_courtier[statut]">
									<label for="form_courtier_statut_2">Autre</label>
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<label class="to-right required mb10 mt10"><b>Représentant légal du cabinet</b></label>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<input id="form_courtier_nom" type="text" placeholder="Nom *" name="form_courtier[nom]" required="required">
								</div>
								<div class="col-md-6 nopaddingright">
									<input id="form_courtier_prenom" type="text" placeholder="Prénom *" name="form_courtier[prenom]" required="required">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<input id="form_courtier_email" type="email" placeholder="Email *" name="form_courtier[email]" required="required">
								</div>
								<div class="col-md-6 nopaddingright">
									<input id="form_courtier_telephone" type="text" placeholder="N° mobile *" name="form_courtier[telephone]" required="required">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft mb10">
									<button id="addInterlocuteur">Ajouter un interlocuteur</button>
								</div>
								<div class="col-md-6 nopaddingright"> </div>
							</div>
							<div id="fc_etape3_2" class="col-md-12 nopadding fc_etape3_2">
								<div class="col-md-6 nopaddingleft">
									<input id="form_courtier_nomInterlocuteur" type="text" placeholder="Nom" name="form_courtier[nomInterlocuteur]">
								</div>
								<div class="col-md-6 nopaddingright">
									<input id="form_courtier_prenomInterlocuteur" type="text" placeholder="Prénom" name="form_courtier[prenomInterlocuteur]">
								</div>
								<div class="col-md-6 nopaddingleft">
									<input id="form_courtier_telephoneInterlocuteur" type="text" placeholder="Téléphone" name="form_courtier[telephoneInterlocuteur]">
								</div>
								<div class="col-md-6 nopaddingright">
									<input id="form_courtier_emailInterlocuteur" type="email" placeholder="Email" name="form_courtier[emailInterlocuteur]">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<textarea id="form_courtier_message" placeholder="Commentaire" name="form_courtier[message]"></textarea>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<label class="to-right" for="form_courtier_fichier">Joindre le KBIS (-3 mois) *</label>
									<input id="form_courtier_fichier" type="file" name="fichier" required="required">
								</div>
								<div class="col-md-6 nopaddingright">
									<label class="to-right" for="form_courtier_fichier2">Joindre l'attestation ORIAS *</label>
									<input id="form_courtier_fichier2" type="file" name="fichier2" required="required">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<label class="to-right" for="form_courtier_fichier3">Joindre un RIB *</label>
									<input id="form_courtier_fichier3" type="file" name="fichier3" required="required">
								</div>
								<div class="col-md-6 nopaddingright"> </div>
							</div>
							<div id="fc_etape_valider" class="fc_etape_valider" style="display: block;">
								<div class="col-md-12 nopadding">
									<input type="submit" value="VALIDER">
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<script>
		function checkContactForm(){
		    if($('#form_courtier_codePostal').val().length != 5)
		    {
		    	alert('Le code postal doit comporter 5 caractères');
		        return false;
	        }
	        
	        if($('#form_courtier_telephoneCabinet').val().length != 10)
		    {
		    	alert('Le téléphone du cabinet doit comporter 10 caractères');
		        return false;
	        }
	        
	        if($('#form_courtier_telephone').val().length != 10)
		    {
		    	alert('Le téléphone doit comporter 10 caractères');
		        return false;
	        }
	        
	        if($('#form_courtier_siret').val().length != 14)
		    {
		    	alert('Le SIRET doit comporter 14 caractères');
		        return false;
	        }
	        
	        if($('#form_courtier_orias').val().length != 10)
		    {
		    	alert('Le N° ORIAS doit comporter 10 caractères');
		        return false;
	        }
	        
	        return true;
		}
	</script>
	<script>
		$('#addInterlocuteur').click(function() {
			$('#fc_etape3_2').show();
		});
	</script>

{% endblock %}