
	<div>
		<p>Contenu test pour le premier article juridique de la catégorie bon à savoir. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?</p>

		<div class="titre_vert_fonce">Titre en vert clair</div>
		<div class="full_ligne_vert_fonce"></div>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?</p>

		<div class="fond_gris_bd_vert_clair post">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?
		</div>

		<div class="fond_gris_bd_vert_fonce post">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?
		</div>
	</div>

	<div>

		<div class="titre_bleu_clair">Titre en bleu clair</div>
		<div class="full_ligne_bleu_clair"></div>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?</p>

		<div class="fond_gris_bd_bleu_clair">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?
		</div>

		<div class="fond_gris_bd_bleu_fonce">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?
		</div>

		<div class="cadre_bleu_clair bloc">
			<b><i class="fa fa-info-circle"></i> Bon à savoir :</b><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?
		</div>

		<div class="cadre_vert_clair bloc">
			<b><i class="fa fa-info-circle"></i> Bon à savoir :</b><br>
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium deserunt facilis minus molestiae officiis pariatur quia quo repellendus, sequi soluta veniam voluptatibus? Dolore, inventore iusto laboriosam maxime quaerat tempore voluptatem?
		</div>

		<div>
			<p><b>Liste à puce avec doubles chevrons :</b></p>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-angle-double-right"></i> un taux de couverture des TPE/PME </li>
		        <li><i class="fa fa-angle-double-right"></i> Des niveaux de garanties prises par les entreprises supérieures au Panier de soins ANI </li>
		        <li><i class="fa fa-angle-double-right"></i> Les grands thèmes abordés lors de cette journée</li>
		    </ul>
		</div>

		<div>
			<p><b>Liste à puce avec sous liste simples chevrons :</b></p>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-angle-double-right"></i> un taux de couverture des TPE/PME </li>
		        <li><i class="fa fa-angle-double-right"></i> Des niveaux de garanties prises par les entreprises supérieures au Panier de soins ANI 
		        	<ul class="ss_liste">
		        		<li><i class="fa fa-angle-right"></i>L’entrée en vigueur d’un accord de branche </li>
		        		<li><i class="fa fa-angle-right"></i>L’entrée d'un taux de couverture des TPE/PME </li>
		        		<li><i class="fa fa-angle-right"></i>Dolore, inventore iusto laboriosam maxime</li>
		        	</ul>
		        </li>
		        <li><i class="fa fa-angle-double-right"></i> Les grands thèmes abordés lors de cette journée</li>
		    </ul>
		</div>

		<div class="bloc">
		<p><b>Liste à puce avec doubles chevrons bleus :</b></p>
			<ul class="liste_dbl_chevrons puces_bleues">
		        <li><i class="fa fa-angle-double-right"></i> un taux de couverture des TPE/PME </li>
		        <li><i class="fa fa-angle-double-right"></i> Des niveaux de garanties prises par les entreprises supérieures au Panier de soins ANI </li>
		        <li><i class="fa fa-angle-double-right"></i> Les grands thèmes abordés lors de cette journée</li>
		    </ul>
		</div>

		<div><a href="" class="btn_vert post waves-effect waves-light">Bouton vert clair</a></div>

		<div><a href="" class="btn_bleu_clair post waves-effect waves-light">Bouton bleu clair</a></div>

		<div><a href="" class="btn_bleu_fonce post waves-effect waves-light">Bouton bleu foncé</a></div>

		<div><a href="" class="btn_vert center waves-effect waves-light">Bouton vert clair</a></div>

		<div><a href="" class="btn_bleu_clair center waves-effect waves-light">Bouton bleu clair</a></div>

		<div><a href="" class="btn_bleu_fonce center waves-effect waves-light">Bouton bleu foncé</a></div>

		<a href="" class="btn_vert waves-effect waves-light">Bouton vert clair</a>

		<a href="" class="btn_bleu_clair waves-effect waves-light">Bouton bleu clair</a>
	</div>

		<a href="" class="btn_bleu_fonce waves-effect waves-light">Bouton bleu foncé</a>
