<div class="cms_titre mt90">
    <div class="content">
        <h3 class="presse_h3">Pack DUE en ligne <sup>1</sup><br><br>

            CIPRÉS Assurances propose à ses courtiers partenaires un Pack clé en mains pour la mise en place de complémentaires santé d’entreprises</h3>
    </div>
    <p></p>
    <div class="content">
        <p class="presse_date">Paris, le 31 août 2016</p>
    </div>
    <div class="cms_content">
        <div class="content">
            <div class="col-md-12 com_content">
                <p class="cc_content">Aujourd’hui, seuls 11 000 médecins en France  sur plus de 281 000  sont signataires du Contrat d’Accès aux Soins (CAS). Ainsi, les Français sont contraints, du fait de l’augmentation des dépassements d’honoraires, à un reste à charge de plus en plus important. Cela est renforcé par le fait qu’ils n’ont pas toujours accès aux professionnels de santé signataires du CAS, et plus particulièrement aux spécialistes (par exemple, seuls 10% des ophtalmologistes et 15% des chirurgiens de secteur 2  sont signataire du CAS4).
                    Anticipant ce constat, CIPRÉS Assurances a créé depuis plusieurs mois pour les Travailleurs Non-Salariés (TNS), l’unique gamme de solutions santé leur permettant une totale liberté de choix de leur praticien, une couverture sociale optimisée et des remboursements avantageux y compris pour les médecins non signataires du CAS.
                </p>
            </div>
            <div class="col-md-12 com_content">
                <p class="cc_titre">La solution la plus aboutie du marché pour répondre aux contraintes légales liées à la mise en place d’une complémentaire santé en entreprise</p>
                <div class="ligne"></div>

                <p class="cc_content">Depuis le 1er janvier 2016, les entreprises françaises sont tenues de proposer à leurs salariés un régime de frais de santé en Protection Sociale Complémentaire. Dans les petites et moyennes entreprises, la modalité retenue pour la mise en place de ce régime est majoritairement la <u>Décision Unilatérale de l’Employeur (DUE)</u>.<br><br>

                    Dans ce cadre, elles sont tenues de rédiger <b>un acte juridique</b> afin d’expliquer aux salariés concernés les raisons pour lesquelles elles ont choisi de mettre en place un régime de protection sociale et formalisant les caractéristiques principales du régime choisi. Ce document engage la responsabilité de l’entreprise vis-à-vis de ses salariés et est le fondement des avantages sociaux et fiscaux.<br><br>

                    Ainsi, pour permettre aux chefs d’entreprise de se voir soulagé d’un document exigeant en termes de rédaction et accompagner les courtiers partenaires dans la mise en place du contrat de l’entreprise cliente dans la rédaction de l’acte fondateur du régime Frais de santé, CIPRÉS Assurances a choisi de <b>mettre à leur disposition un outil simple et intuitif</b> pour créer en ligne une DUE personnalisée et ainsi permettre à l’employeur de se conformer aux obligations en matière de santé collective.<br><br>

                    Cet outil se veut :
                </p>

                <ul class="liste_dbl_chevrons">
                    <li>		<i class="fa fa-angle-double-right"></i>		<span> <b><u>simple, intuitif et sécurisé</u></b> : l’outil a été conçu pour répondre aux exigences légales et réglementaires, parfois complexes, en s’attachant à rester simple et ergonomique pour son utilisateur. <b>L’ensemble du dispositif est validé par un avocat expert de la protection sociale.</b></span>	</li>

                    <li>		<i class="fa fa-angle-double-right"></i>		<span> <b><u>une protection supplémentaire pour le courtier</u></b>, grâce à <b>l’extension de responsabilité civile professionnelle</b> permettant, dans les conditions et limites du contrat, d’assurer la prise en charge des éventuels dommages de nature pécuniaire, qui résulteraient de la mise en cause du devoir de conseil du fait de l’utilisation de l’outil en ligne. </span>	</li>
                </ul>
                <p class="cc_content">Cet outil, 100% gratuit pour le courtier, est <b>le seul sur le marché qui propose à la fois une protection responsabilité civile professionnelle et un agrément par un avocat</b><sup>2</sup>.<br><br> </p>

                <p style="font-size: 11px">  <sup>1</sup> Décision Unilatérale de l’Employeur<br>
                    <sup>2</sup> A la condition que la DUE en ligne soit associée avec un contrat CIPRÉS Assurances pour le client
                </p>

                <p class="cc_titre mt50">A propos de CIPRÈS ASSURANCES</p>
                <div class="ligne"></div>
                <p class="cc_content">Créé en 2000, CIPRÉS Assurances est un courtier grossiste souscripteur, spécialisé en assurance de personnes, notamment sur la protection sociale complémentaire (prévoyance et santé) des TNS, TPE et PME. CIPRÉS conçoit et gère une gamme de produits, distribuée au travers d’un réseau de 3 700 courtiers indépendants présents sur toute la France. En 2015, CIPRÉS Assurances réalisait plus de 55 millions d’euros de chiffre d’affaires avec une collecte de 189M€ et plus de 1 000 nouvelles entreprises adhérentes par mois. <br>CIPRÉS Assurances est membre fondateur de PLANETE COURTIER, Syndicat Français du Courtage d’Assurance. </p>
                <p class="cc_content">	</p>
                <center>		<b>Relations presse – Agence Wellcom</b><br>		Anaïs Jaouen / Cécile Soubelet<br>		<a href="mailto:cipres@wellcom.fr">cipres@wellcom.fr</a> <br>		01 46 34 60 60	</center>
                <p></p>
            </div>
        </div>
    </div>
</div>