<div class="cms_titre mt90">
    <div class="content">
        <h3 class="presse_h3">CIPRÉS Assurances propose une offre pour les Travailleurs Non-Salariés <br>avec des garanties avantageuses</h3>
    </div>
    <p></p>
    <div class="content">
        <p class="presse_date">Paris, le 31 août 2016</p>
    </div>
    <div class="cms_content">
        <div class="content">
            <div class="col-md-12 com_content">
                <p class="cc_content"><b>Aujourd’hui, seuls 11 000 médecins en France <sup>1</sup>  sur plus de 281 000 <sup>2</sup>  sont signataires du Contrat d’Accès aux Soins (CAS). Ainsi, les Français sont contraints, du fait de l’augmentation des dépassements d’honoraires, à un reste à charge de plus en plus important. Cela est renforcé par le fait qu’ils n’ont pas toujours accès aux professionnels de santé signataires du CAS, et plus particulièrement aux spécialistes (par exemple, seuls 10% des ophtalmologistes et 15% des chirurgiens de secteur 2 <sup>3</sup> sont signataire du CAS<sup>4</sup>).</b><br>

                    Anticipant ce constat, CIPRÉS Assurances a créé depuis plusieurs mois pour les Travailleurs Non-Salariés (TNS), l’unique gamme de solutions santé leur permettant une totale liberté de choix de leur praticien, une couverture sociale optimisée et des remboursements avantageux y compris pour les médecins non signataires du CAS.<br><br>
                </p>

                <blockquote>
                    « A ce jour, peu de médecins en France ont souscrit au Contrat d’Accès aux Soins, ce qui pose de véritables enjeux pour garantir la liberté de choix d’un praticien d’une part, et tout en veillant aux dépenses de santé d’autre part. Ainsi, nous avons développé une offre inédite avec des solutions mixtes responsable/non responsable garantissant une véritable couverture santé et un reste à charge limité.<br>
                    Par ailleurs, en tant que partenaire privilégié des entrepreneurs et Travailleurs Non-Salariés, nous estimons qu’il est de notre devoir de proposer des solutions efficaces pour faire face simplement aux évolutions réglementaires en matière de santé »

                    <p style="font-size: 14px; font-weight: 600;">Arnaud BERJON, Directeur général adjoint de CIPRÉS Assurances</p>
                </blockquote>
            </div>
            <div class="col-md-12 com_content">
                <p class="cc_titre titre_cp">Pour les TNS, des garanties plus avantageuses avec un reste à charge minimum </p>
                <div class="ligne"></div>

                <p class="cc_content">Depuis maintenant plus d’un an, les contrats de complémentaire santé sont soumis à un plafonnement des remboursements des soins prodigués par les médecins non signataires du Contrat d’Accès aux Soins.<br>
                    Cela implique pour les Français, qui n’ont pas toujours la possibilité de consulter un médecin signataire du CAS (en fonction de la spécialité médicale concernée ou de la localisation du patient), <b>une augmentation de leur reste à charge</b>. C’est particulièrement le cas en ce qui concerne les soins ophtalmologiques (seuls 10% des ophtalmologistes de secteur 2 sont signataires du CAS) ou de chirurgie (15%) <sup>4</sup> , et pour les Franciliens, puisque 4 médecins sur 10 exerçant en secteur 2 en Ile-de-France ne sont pas adhérents du CAS, soit plus du double de la moyenne nationale <sup>4</sup>.<br>
                    En faisant le pari d’une <b>offre mixte responsable/non responsable, CIPRÉS Assurances propose aux TNS, sans hausse de tarif significative, une offre avec des garanties supérieures au panier de soins minimum, et ce quel que soit le choix du médecin, tout en leur permettant de bénéficier de la fiscalité avantageuse</b> associée aux contrats responsables (déduction fiscale des cotisations sur la déclaration de revenus, entre autres) :
                </p>

                <ul class="liste_dbl_chevrons">
                    <li><i class="fa fa-angle-double-right"></i>		<span> <b>Optique :</b> alors que 4 Français sur 10 estiment qu’il est difficile d’accéder aux équipements optiques <sup>5</sup>, CIPRÉS Assurances propose aux TNS le choix <u>d’un équipement optique renouvelable tous les ans</u></span>	</li>

                    <li><i class="fa fa-angle-double-right"></i>		<span> <b>Dentaire :</b> l’offre couvre <u>jusqu’à 570% de la base de remboursement</u> sur les prothèses dentaires et dispose d’un <u>plafond de prise en charge allant jusqu’à 3 000€ par an.</u></span>	</li>

                    <li><i class="fa fa-angle-double-right"></i>		<span> <b>La prise en charge de soins peu ou pas remboursés</b> tels que les médecines douces, le sevrage tabagique, les tests de dépistage du cancer du sein, la pilule contraceptive…</span>	</li>

                    <li><i class="fa fa-angle-double-right"></i>		<span> <b>Spécialistes :</b> alors que 27% des Français déclarent renoncer à des soins chez un spécialiste pour des raisons financières <sup>6</sup>, CIPRÉS Assurances propose <u>de meilleurs remboursements chez les praticiens non signataires du contrat d’accès aux soins.</u> </span>	</li>

                    <li><i class="fa fa-angle-double-right"></i>		<span> <b>Liberté de choix du médecin</b> (signataire ou non du CAS) : avec l’offre mixte Responsable/Non responsable, CIPRÉS Assurances est le seul acteur à proposer des remboursements équivalents, quel que soit le médecin choisi.   </span>	</li>
                </ul>

                <p class="cc_content">Cette offre mixte santé TNS est <b>déductible Madelin à environ 90% à 95% du montant total.</b><br><br>

                    Lancée il y a plusieurs mois, cette offre a déjà rencontré un franc succès auprès des entrepreneurs.
                </p><br>

                <p class="cc_titre titre_cp">Des solutions mixtes responsables / non responsables pour répondre aux besoins spécifiques des TNS</p>
                <div class="ligne"></div>

                <div class="cc_content">Concrètement, CIPRÉS Assurances propose, aux TNS dans le cadre de ses solutions mixtes responsables / non responsables, de pouvoir choisir librement leur praticien tout en bénéficiant d’un reste à charge optimisé en fonction de leurs besoins.<br><br>

                    <u>2 exemples d’offres mixtes responsables / non responsables proposées par CIPRÉS Assurances :</u><br><br>

                    <table class="table tableau_classique">
                        <tr>
                            <th>Reste à charge de l’assuré :</th>
                            <th style="text-align: center;">Acte de petite chirurgie de 300€ d’un praticien non signataire du CAS</th>
                            <th style="text-align: center;">Consultation de 70€ d’un Spécialiste, par exemple un ophtalmologue, non signataire du CAS</th>
                            <th style="text-align: center;">Equipement optique d’un montant de 750€</th>
                        </tr>
                        <tr>
                            <td style="font-weight: 600">Avec un contrat responsable </td>
                            <td style="text-align: center;" align="center">118,10€</td>
                            <td style="text-align: center;" align="center">25€</td>
                            <td style="text-align: center;">60,07 €<br>
                                Mais prise en charge<br>
                                <u>tous les 2 ans</u>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: 600">Avec un contrat mixte<br>
                                Responsable/Non responsable,<br>
                                formule Sécurité
                            </td>
                            <td style="text-align: center;" align="center">54,43€</td>
                            <td style="text-align: center;" align="center">8,90€</td>
                            <td style="text-align: center;">60,07 €<br>
                                Et prise en charge<br>
                                <u>tous les ans</u>
                            </td>
                        </tr>
                        <tr>
                            <td style="font-weight: 600">Avec un contrat  mixte Responsable/Non responsable, formule Excellence</td>
                            <td style="text-align: center;" align="center">0€</td>
                            <td style="text-align: center;" align="center">1€</td>
                            <td style="text-align: center;">0 €<br>
                                Et prise en charge<br>
                                <u>tous les ans</u>
                            </td>
                        </tr>
                    </table>

                </div>
                <br><br>


                <!--Notes bas de page-->
                <p style="font-size: 11px">
                    <sup>1</sup> CSMF, septembre 2014<br>
                    <sup>2</sup> Conseil National de l’Ordre des Médecins, 2015<br>
                    <sup>3</sup> Les tarifs pratiqués par les médecins qui exercent en secteur 2 sont libres et fixés par le médecin, avec tact et mesure, en fonction des exigences de la caisse d'assurance maladie<br>
                    <sup>4</sup> Mercer, juin 2016<br>
                    <sup>5</sup> Enquête quantitative réalisée par la Mutualité Française du 26 au 29 octobre 2015<br>
                    <sup>6</sup> Baromètre santé 2016 de Deloitte
                </p>

                <p class="cc_titre mt50">A propos de CIPRÉS ASSURANCES</p>
                <div class="ligne"></div>
                <p class="cc_content">Créé en 2000, CIPRÉS Assurances est un courtier grossiste souscripteur, spécialisé en assurance de personnes, notamment sur la protection sociale complémentaire (prévoyance et santé) des TNS, TPE et PME. CIPRÉS conçoit et gère une gamme de produits, distribuée au travers d’un réseau de 3 700 courtiers indépendants présents sur toute la France. En 2015, CIPRÉS Assurances réalisait plus de 55 millions d’euros de chiffre d’affaires avec une collecte de 189M€ et plus de 1 000 nouvelles entreprises adhérentes par mois. <br>CIPRÉS Assurances est membre fondateur de PLANETE COURTIER, Syndicat Français du Courtage d’Assurance et soutient la démarche Entrepreneurs & Go.</p>
                <p class="cc_content">	</p>
                <center>		<b>Relations presse – Agence Wellcom</b><br>		Anaïs Jaouen / Cécile Soubelet<br>		<a href="mailto:cipres@wellcom.fr">cipres@wellcom.fr</a> <br>		01 46 34 60 60	</center>
                <p></p>
            </div>
        </div>
    </div>
</div>