{% extends 'base_admin_partenaire.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Partenaire</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    Partenaire
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
            
<div id="container-messages" class="container-messages">
    <div class="page-alert alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Hello {{ user.username }}!</strong> Bienvenue sur le panel Partenaire. Vous pouvez ajouter, éditez ou supprimer vos partenaires.
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<p>
                <a href="{{ path('admin_partenaire_new') }}">Ajouter un partenaire</a>
            </p>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Table <strong>Partenaire</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="datatables-example" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Image</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for entity in entities %}
                            		<tr>
                            			<td>{{ entity.id }}</td>
                            			<td><img src="{{ asset(('upload/Partenaire/'~ entity.id ~'/'~ entity.image) | imagine_filter('partenaire_thumb')) }}" /></td>
                            			<td><a href="{{ path('admin_partenaire_edit', {'id': entity.id}) }}">Editer</a> - <a href="{{ path('admin_partenaire_delete', {'id': entity.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer le partenaire ?')">Supprimer</a></td>
                            		</tr>
                            	{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
        </div>
	</div>
</div>
{% endblock %}
