{% extends 'base_admin_offre.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Offre d'emploi</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                	<a href="{{ path('admin_offre') }}">
                    	Offres
                	</a>
                </li>
                <li class="active">
                    Nouveau
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Formulaire <strong>ajout offre d'emploi</strong>
                        </div>
                    </div>
                    <div class="panel-body">
			            <form action="{{ path('admin_offre_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			            	<div class="form-group">
			            		{{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.titre, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.date, 'Date', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.date, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.sstitre, 'Sous titre', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.sstitre, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.reference, 'Référence', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.reference, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.resume, 'Résumé', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.resume, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.contenu, 'Contenu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.contenu) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.contrat, 'Contrat', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.contrat, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.salaire, 'Salaire', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.salaire, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.lieu, 'Lieu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.lieu, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.fichier, 'Fichier', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.fichier) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.enabled, 'Actif', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.enabled, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							{{ form_widget(form) }}
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-7">
									<button type="submit" class="btn btn-theme">Enregistrer</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	    $(document).ready(function() {
			$('#appbundle_offretype_contenu').summernote(); 
	    });
    </script>
{% endblock %}
