<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>Résultat de votre recherche : notre Courtier Partenaire le plus proche</title>

    <style type="text/css">
        * { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
        body { width:100%; margin:0px; padding:0px; color:#545454; }
        img { outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; display:block; border:0; }
        a {color: #383838; text-decoration: none;}
        a img { border:none; }
        .header { width:600px;}
        .header_320 {display:none;}

        @media only screen and (max-width: 479px) {

            .rsz_320 {
                width:320px !important;
                padding:0px !important;
                margin: 0 !important;
            }

            .margin {
                width: 10px !important;
            }

            .header {
                display:none !important;
            }

            .header_320 {
                display:block !important;
            }
        }
    </style>
</head>

<span style="font-size: 1px; display: none;">Madame, Monsieur, Nous vous remercions de l'intérêt ....</span>

<body bgcolor="#E9E9E9" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; width:100% !important; background:#E9E9E9;-webkit-text-size-adjust:none;">
<!--======== CONTENEUR PRINCIPAL ========-->
<table class="rsz_320" style="mso-table-lspace:0pt; mso-table-rspace:0pt; border-collapse:collapse; font-family: Arial; font-size:12px; background-color: #FFFFFF;" width="640" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td bgcolor="#E9E9E9" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td colspan="3" style="font-size:22px; font-weight: bold; text-transform: uppercase; color: #00446b; padding-bottom: 15px;">
            <img class="rsz_320" src="http://cipres-institutionnel.recette.groupe-sigma.com/bundles/geoloc/images/email_prospect/header_mail_prospect.jpg" alt="Résultat de votre recherche : notre Courtier Partenaire le plus proche" />
        </td>
    </tr>
    <tr>
        <td class="margin" width="19">&nbsp;</td>
        <td width="600">
            <table width="100%" cellpadding="0" cellspacing="0" style="border-collapse: collapse; font-family: Arial; font-size:14px; line-height: 18px;">
                <tr>
                    <td style="line-height: 20px;">Madame, Monsieur,<br><br>

                        Nous vous remercions de l'intérêt consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td class="rsz_320" style="background-color: #f5f5f5; padding: 25px 15px 15px 15px; border: 1px solid #46af77;">
                        <p style="font-size: 16px; font-weight: bold; color: #46af77;">{{ infos_courtier.nom_courtier }}</p>
                        <table class="rsz_320" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; font-family: Arial; font-size:14px; " width="100%" align="left">
                            <tr>
                                <td style="padding: 0px;">
                                    <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; font-family: Arial; font-size:14px; margin-left: 55px;">
                                        <tr>
                                            <td>
                                                <table cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; font-family: Arial; font-size:14px; line-height: 28px;">
                                                    <tr>
                                                        <td style="text-align: right; font-weight: bold; padding-top: 2px;"><img src="http://cipres-institutionnel.recette.groupe-sigma.com/bundles/geoloc/images/email_prospect/picto_adresse_vert.png" alt=""> </td>
                                                        <td width="15">&nbsp;</td>
                                                        <td valign="top">{{ infos_courtier.adresse_courtier }} {{ infos_courtier.postal_courtier }} {{ infos_courtier.ville_courtier }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: right; font-weight: bold; padding-top: 2px;"><img src="http://cipres-institutionnel.recette.groupe-sigma.com/bundles/geoloc/images/email_prospect/picto_email_vert.png" alt=""></td>
                                                        <td width="15">&nbsp;</td>
                                                        <td valign="top">{{ infos_courtier.email_courtier }}</td>
                                                    </tr>
                                                    <tr>
                                                        <td colspan="3">&nbsp;</td>
                                                    </tr>
                                                    <tr>
                                                        <td style="text-align: right; font-weight: bold; padding-top: 2px;"><img src="http://cipres-institutionnel.recette.groupe-sigma.com/bundles/geoloc/images/email_prospect/picto_phone_vert.png" alt=""></td>
                                                        <td width="15">&nbsp;</td>
                                                        <td valign="top">{{ infos_courtier.telephone_courtier }}</td>
                                                    </tr>
                                                    {% if infos_courtier.mobile_courtier %}
                                                        <tr>
                                                            <td colspan="3">&nbsp;</td>
                                                        </tr>
                                                        <tr>
                                                            <td style="text-align: right; font-weight: bold; padding-top: 2px;"><img src="http://cipres-institutionnel.recette.groupe-sigma.com/bundles/geoloc/images/email_prospect/picto_mobile_vert.png" alt=""></td>
                                                            <td width="15">&nbsp;</td>
                                                            <td valign="top">{{ infos_courtier.mobile_courtier }}</td>
                                                        </tr>
                                                    {% endif %}
                                                </table>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>&nbsp;</td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
                <tr>
                    <td align="center">
                        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-family: Arial; font-size:14px;" width="220">
                            <tr>
                                <td align="center" bgcolor="#46af77" width="220" height="35" style="text-align: center; padding: 0; border-bottom: 4px solid #39895f;">
                                    <table cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-family: Arial; font-size:14px;" width="100%">
                                        <tr>
                                            <td width="45" align="right" style="padding-right: 10px; padding-left: 5px;"><img src="http://file.splio3.fr/6kA/zn/QqM7/pencil_green.jpg" alt="" /></td>
                                            <td width="175" align="left"><a style="width:175px; font-family:Arial, Helvetica, sans-serif; display:block; color:#FFFFFF; background-color:#46af77; text-decoration:none; font-size:18px; text-align: left; padding-left: 10px;" href="mailto:{{ infos_courtier.email_courtier }}" target="_blank">Contacter par email</a></td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td class="margin" width="19">&nbsp;</td>
    </tr>

    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>

    <tr>
        <td style="background-color: #3d7dca; border-top: 2px solid #055e93;" class="margin" width="20">&nbsp;</td>
        <td width="600" style="font-size: 10px; text-align:center; background-color: #3d7dca; color: #ffffff; border-top: 2px solid #055e93; height: 25px; line-height: 25px;">CIPRÉS Assurances - Le spécialiste en prévoyance et santé pour les TNS, TPE, PME.</td>
        <td style="background-color: #3d7dca; border-top: 2px solid #055e93;" class="margin" width="20">&nbsp;</td>
    </tr>
</table>
</body>
</html>


