@media only screen and (max-width: 1280px) {
  .cd-slider h2 {
    font-size: 2rem !important; }

  .cd-project-content h2 {
    font-size: 2.4rem !important; }

  .cd-projects-wrapper.projects-visible .header h1 {
    font-size: 2.6rem !important; }

  .chiffres {
    width: 60% !important; } }
@media only screen and (max-width: 768px) {
  .cd-projects-wrapper .header h1 {
    padding: 30px 0 !important;
    clear: both; }

  .cd-project-content.is-visible {
    height: 100% !important; }

  .cd-projects-wrapper.projects-visible .intro {
    width: 100%;
    margin-left: 0;
    top: 0 !important;
    padding: 1.8em !important; }

  .cd-slider {
    padding-top: 0 !important; }
    .cd-slider li {
      margin: 15% !important; }

  .cd-project-content > div {
    width: 100% !important; } }
@media only screen and (max-width: 360px) {
  .cd-projects-wrapper.projects-visible .header h1 {
    font-size: 2.2rem !important;
    padding-bottom: 30px !important;
    padding-top: 10px !important; }

  .cd-projects-wrapper.projects-visible .intro {
    width: 100% !important; }

  .cd-slider {
    overflow-y: visible !important; }
    .cd-slider li {
      margin: 5% !important; }

  .cd-project-content h2 {
    line-height: 35px !important;
    font-size: 1.8rem !important;
    margin-bottom: 10px; }

  .chiffres {
    width: 100% !important; }

  .cd-project-content .logo_titre_left {
    display: block !important;
    float: none !important;
    margin: 0 auto !important;
    max-width: 120px;
    text-align: center; } }
/* -------------------------------- 

Primary style

-------------------------------- */
*, *::after, *::before {
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "Source Sans Pro", sans-serif;
  color: #3E7DCA;
  background-color: #3E7DCA;
  background-image: url(../img/bg.jpg); }

a {
  color: #eebb00;
  text-decoration: none; }

img {
  max-width: 100%; }

/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */
.cd-btn {
  display: inline-block;
  border-radius: 50em;
  width: 80px;
  height: 80px;
  line-height: 80px;
  background-color: #3E7DCA;
  color: #ffffff;
  font-size: 1.3rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition-duration: 0.3s; }
  .no-touch .cd-btn:hover {
    background-color: #3F4A5A;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);
    transition-duration: 0.3s; }

.cd-img-replace {
  /* replace text with image */
  color: transparent;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap; }

/* -------------------------------- 

Intro page

-------------------------------- */
.cd-intro-block {
  position: relative;
  z-index: 2;
  height: 100vh;
  width: 100%;
  background-color: #518acf;
  background-image: url(../img/bg.jpg);
  background-size: cover;
  /* used to vertical align its content */
  display: table;
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83); }
  .cd-intro-block::after {
    /* arrow icon visible when .cd-intro-block slides out */
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    top: 95%;
    height: 24px;
    width: 24px;
    background: url(../img/cd-arrow-back.svg) no-repeat center center;
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    -moz-transition: opacity 0.2s;
    transition: opacity 0.2s; }
  .cd-intro-block .logo-wrapper {
    position: absolute;
    width: 100%;
    background-color: #3E7DCA;
    height: 65px;
    border-bottom: 4px solid #3F4A5A;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4); }
    .cd-intro-block .logo-wrapper img {
      width: 240px;
      position: relative;
      padding-top: 10px;
      margin-left: 9vw; }
  .cd-intro-block .content-wrapper {
    /* vertical align the .cd-intro-block content */
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .cd-intro-block .content-wrapper img {
      margin-top: 5%; }
  .cd-intro-block h1 {
    width: 90%;
    margin: 0 auto .6em;
    font-weight: 500 !important;
    font-size: 2.4rem;
    color: #3F4A5A;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }
  .cd-intro-block.projects-visible {
    /* translate the .cd-intro-block element to reveal the projects slider */
    -webkit-transform: translateY(-110%);
    -moz-transform: translateY(-110%);
    -ms-transform: translateY(-110%);
    -o-transform: translateY(-110%);
    transform: translateY(-110%);
    box-shadow: 0 4px 40px rgba(0, 0, 0, 0.6);
    cursor: pointer;
    position: fixed; }
    .cd-intro-block.projects-visible:after {
      /* show arrow icon */
      opacity: 1; }
  @media only screen and (min-width: 900px) {
    .cd-intro-block::after {
      top: 97.5%; }
    .cd-intro-block h1 {
      font-size: 4.4rem;
      font-weight: 300; }
    .cd-intro-block.projects-visible {
      -webkit-transform: translateY(-110%);
      -moz-transform: translateY(-110%);
      -ms-transform: translateY(-110%);
      -o-transform: translateY(-110%);
      transform: translateY(-110%); } }

/* -------------------------------- 

Projects Slider

-------------------------------- */
.cd-projects-wrapper {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #3E7DCA;
  background-image: url(../img/bg.jpg);
  -webkit-transition: visibility 0s 0.5s;
  -moz-transition: visibility 0s 0.5s;
  transition: visibility 0s 0.5s; }
  .cd-projects-wrapper .intro {
    background-color: #ffffff;
    position: relative;
    top: 7%;
    width: 80%;
    margin-left: 9vw;
    color: #666666;
    padding: 2.5em;
    font-size: 16px;
    line-height: 30px;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4); }
    .cd-projects-wrapper .intro .titre {
      font-size: 22px;
      font-weight: 600; }
    .cd-projects-wrapper .intro img {
      float: left;
      width: 100px;
      margin-right: 2.5em; }
  .cd-projects-wrapper .question {
    font-size: 2.2rem;
    text-align: right;
    width: 95%;
    position: relative;
    bottom: 60px; }
    .cd-projects-wrapper .question a {
      color: #3f4a5a;
      border: 2px solid #3f4a5a;
      padding: 7px 15px; }
      .cd-projects-wrapper .question a:hover {
        color: #ffffff;
        border: 2px solid #ffffff; }
  .cd-projects-wrapper::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'mobile';
    display: none; }
  .cd-projects-wrapper.projects-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s; }
    .cd-projects-wrapper.projects-visible .intro {
      padding: 2.5em;
      top: 7%; }
  @media only screen and (min-width: 900px) {
    .cd-projects-wrapper::before {
      /* never visible - this is used in jQuery to check the current MQ */
      content: 'desktop'; } }
  @media screen and (max-height: 950px) {
    .cd-projects-wrapper.projects-visible {
      position: absolute; }
      .cd-projects-wrapper.projects-visible .header h1 {
        font-size: 2.6rem;
        padding-top: 17px; }
      .cd-projects-wrapper.projects-visible .header img {
        margin-right: 50px; }
      .cd-projects-wrapper.projects-visible .intro {
        padding: 1em;
        top: 4%;
        width: 85%; }
      .cd-projects-wrapper.projects-visible .question {
        bottom: 100px;
        font-size: 1.8rem; } }
  @media screen and (max-height: 650px) {
    .cd-projects-wrapper.projects-visible .question {
      margin-top: 30px;
      bottom: 30px; } }
  @media only screen and (min-width: 1170px) {
    .cd-projects-wrapper .header img {
      margin-right: 100px !important; }
    .cd-projects-wrapper .header h1 {
      font-size: 3rem !important;
      padding-top: 12px;
      color: #ffffff; } }
  .cd-projects-wrapper .header {
    width: 100%;
    background-color: #3E7DCA;
    color: #ffffff;
    padding-left: 9vw;
    min-height: 65px;
    border-bottom: 4px solid #3F4A5A;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4); }
    .cd-projects-wrapper .header img {
      float: left;
      width: 240px;
      margin-right: 180px;
      padding-top: 10px; }
    .cd-projects-wrapper .header h1 {
      font-size: 1.4rem;
      padding-top: 12px;
      color: #ffffff; }

.cd-slider {
  padding-top: 10vh;
  height: 75%;
  overflow-y: auto; }
  .projects-visible .cd-slider {
    /* smooth scrolling on iOS */
    -webkit-overflow-scrolling: touch; }
  .cd-slider li {
    margin: 4%;
    opacity: 0;
    border-radius: .40em;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color: #3E7DCA;
    -webkit-transition: opacity 0s 0.5s;
    -moz-transition: opacity 0s 0.5s;
    transition: opacity 0s 0.5s;
    /* Force hardware acceleration */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden; }
    .cd-slider li.slides-in {
      -webkit-transition: opacity 0s 0s;
      -moz-transition: opacity 0s 0s;
      transition: opacity 0s 0s;
      opacity: 1;
      -webkit-animation: cd-translate 0.5s;
      -moz-animation: cd-translate 0.5s;
      animation: cd-translate 0.5s; }
  .cd-slider a {
    display: block;
    height: 100%;
    width: 100%; }
  .cd-slider img {
    display: block;
    border-radius: .25em .25em 0 0;
    width: 100%; }
  .cd-slider .project-info {
    padding: 1em;
    background-color: #3E7DCA;
    border-radius: 0 0 .25em .25em; }
  .cd-slider h2 {
    font-size: 2.2rem;
    line-height: 1.2;
    color: #ffffff; }
  .cd-slider p {
    font-size: 1.4rem;
    opacity: .6;
    padding: .4em 0;
    /* truncate text with ellipsis if too long */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap; }
  .cd-slider h2, .cd-slider p {
    line-height: 1.2;
    color: #ffffff; }
  @media only screen and (min-width: 900px) {
    .cd-slider {
      padding: 0;
      overflow: hidden;
      -webkit-transition: -webkit-transform 0.5s;
      -moz-transition: -moz-transform 0.5s;
      transition: transform 0.5s;
      /* Force hardware acceleration */
      -webkit-transform: translateZ(0);
      -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
      -o-transform: translateZ(0);
      transform: translateZ(0);
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden; }
      .cd-slider::after {
        clear: both;
        content: "";
        display: table; }
      .cd-slider li {
        position: relative;
        float: left;
        width: 26vw;
        margin: 0 0 0 2vw;
        border-bottom: 4px solid #3f4a5a;
        top: 50%;
        -webkit-transform: translateX(400%) translateY(-50%) rotate(-10deg);
        -moz-transform: translateX(400%) translateY(-50%) rotate(-10deg);
        -ms-transform: translateX(400%) translateY(-50%) rotate(-10deg);
        -o-transform: translateX(400%) translateY(-50%) rotate(-10deg);
        transform: translateX(400%) translateY(-50%) rotate(-10deg);
        -webkit-transition: opacity 0s 0.3s, -webkit-transform 0s 0.3s;
        -moz-transition: opacity 0s 0.3s, -moz-transform 0s 0.3s;
        transition: opacity 0s 0.3s, transform 0s 0.3s; }
        .cd-slider li:first-of-type {
          margin-left: 9vw; }
        .cd-slider li.slides-in {
          /* this class is used to trigger the entrance animation */
          -webkit-animation: none;
          -moz-animation: none;
          animation: none;
          -webkit-transform: translateY(-50%);
          -moz-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%); }
          .cd-slider li.slides-in:first-of-type {
            /* change transition duration/delay for the entrance animation */
            -webkit-transition: -webkit-transform 0.55s 0s;
            -moz-transition: -moz-transform 0.55s 0s;
            transition: transform 0.55s 0s; }
          .cd-slider li.slides-in:nth-of-type(2) {
            -webkit-transition: -webkit-transform 0.53s 0.05s;
            -moz-transition: -moz-transform 0.53s 0.05s;
            transition: transform 0.53s 0.05s; }
          .cd-slider li.slides-in:nth-of-type(3) {
            -webkit-transition: -webkit-transform 0.5s 0.1s;
            -moz-transition: -moz-transform 0.5s 0.1s;
            transition: transform 0.5s 0.1s; }
          .cd-slider li.slides-in:nth-of-type(4) {
            -webkit-transition: -webkit-transform 0.48s 0.15s;
            -moz-transition: -moz-transform 0.48s 0.15s;
            transition: transform 0.48s 0.15s; }
      .cd-slider.next li.current {
        /* next slide animation */
        -webkit-animation: cd-slide-1 0.5s;
        -moz-animation: cd-slide-1 0.5s;
        animation: cd-slide-1 0.5s; }
      .cd-slider.next li.current + li {
        -webkit-animation: cd-slide-2 0.5s;
        -moz-animation: cd-slide-2 0.5s;
        animation: cd-slide-2 0.5s; }
      .cd-slider.next li.current + li + li {
        -webkit-animation: cd-slide-3 0.5s;
        -moz-animation: cd-slide-3 0.5s;
        animation: cd-slide-3 0.5s; }
      .cd-slider.next li.current + li + li + li + li {
        -webkit-animation: cd-slide-4 0.5s;
        -moz-animation: cd-slide-4 0.5s;
        animation: cd-slide-4 0.5s; }
      .cd-slider.next li.current + li + li + li + li + li {
        -webkit-animation: cd-slide-5 0.5s;
        -moz-animation: cd-slide-5 0.5s;
        animation: cd-slide-5 0.5s; }
      .cd-slider.next li.current + li + li + li + li + li ~ li {
        -webkit-animation: cd-slide-6 0.5s;
        -moz-animation: cd-slide-6 0.5s;
        animation: cd-slide-6 0.5s; }
      .cd-slider.prev li {
        /* previous slide animation */
        -webkit-animation: cd-slide-7 0.5s;
        -moz-animation: cd-slide-7 0.5s;
        animation: cd-slide-7 0.5s; }
      .cd-slider.prev li.previous {
        /* previous slide animation - the previous class is used to target the slide which was visible right before the current one */
        -webkit-animation: cd-slide-1 0.5s;
        -moz-animation: cd-slide-1 0.5s;
        animation: cd-slide-1 0.5s; }
      .cd-slider.prev li.previous + li {
        -webkit-animation: cd-slide-2 0.5s;
        -moz-animation: cd-slide-2 0.5s;
        animation: cd-slide-2 0.5s; }
      .cd-slider.prev li.previous + li + li {
        -webkit-animation: cd-slide-3 0.5s;
        -moz-animation: cd-slide-3 0.5s;
        animation: cd-slide-3 0.5s; }
      .cd-slider.prev li.current + li {
        -webkit-animation: cd-slide-4 0.5s;
        -moz-animation: cd-slide-4 0.5s;
        animation: cd-slide-4 0.5s; }
      .cd-slider.prev li.current + li + li {
        -webkit-animation: cd-slide-5 0.5s;
        -moz-animation: cd-slide-5 0.5s;
        animation: cd-slide-5 0.5s; }
      .cd-slider.prev li.current, .cd-slider.prev li.current + li + li ~ li {
        -webkit-animation: none;
        -moz-animation: none;
        animation: none; } }

@-webkit-keyframes cd-slide-1 {
  0%, 100% {
    -webkit-transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(-85%); } }
@-moz-keyframes cd-slide-1 {
  0%, 100% {
    -moz-transform: translateY(-50%); }
  50% {
    -moz-transform: translateY(-50%) translateX(-85%); } }
@keyframes cd-slide-1 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(-85%);
    -moz-transform: translateY(-50%) translateX(-85%);
    -ms-transform: translateY(-50%) translateX(-85%);
    -o-transform: translateY(-50%) translateX(-85%);
    transform: translateY(-50%) translateX(-85%); } }
@-webkit-keyframes cd-slide-2 {
  0%, 100% {
    -webkit-transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(-55%); } }
@-moz-keyframes cd-slide-2 {
  0%, 100% {
    -moz-transform: translateY(-50%); }
  50% {
    -moz-transform: translateY(-50%) translateX(-55%); } }
@keyframes cd-slide-2 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(-55%);
    -moz-transform: translateY(-50%) translateX(-55%);
    -ms-transform: translateY(-50%) translateX(-55%);
    -o-transform: translateY(-50%) translateX(-55%);
    transform: translateY(-50%) translateX(-55%); } }
@-webkit-keyframes cd-slide-3 {
  0%, 100% {
    -webkit-transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(-23%); } }
@-moz-keyframes cd-slide-3 {
  0%, 100% {
    -moz-transform: translateY(-50%); }
  50% {
    -moz-transform: translateY(-50%) translateX(-23%); } }
@keyframes cd-slide-3 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(-23%);
    -moz-transform: translateY(-50%) translateX(-23%);
    -ms-transform: translateY(-50%) translateX(-23%);
    -o-transform: translateY(-50%) translateX(-23%);
    transform: translateY(-50%) translateX(-23%); } }
@-webkit-keyframes cd-slide-4 {
  0%, 100% {
    -webkit-transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(23%); } }
@-moz-keyframes cd-slide-4 {
  0%, 100% {
    -moz-transform: translateY(-50%); }
  50% {
    -moz-transform: translateY(-50%) translateX(23%); } }
@keyframes cd-slide-4 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(23%);
    -moz-transform: translateY(-50%) translateX(23%);
    -ms-transform: translateY(-50%) translateX(23%);
    -o-transform: translateY(-50%) translateX(23%);
    transform: translateY(-50%) translateX(23%); } }
@-webkit-keyframes cd-slide-5 {
  0%, 100% {
    -webkit-transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(55%); } }
@-moz-keyframes cd-slide-5 {
  0%, 100% {
    -moz-transform: translateY(-50%); }
  50% {
    -moz-transform: translateY(-50%) translateX(55%); } }
@keyframes cd-slide-5 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(55%);
    -moz-transform: translateY(-50%) translateX(55%);
    -ms-transform: translateY(-50%) translateX(55%);
    -o-transform: translateY(-50%) translateX(55%);
    transform: translateY(-50%) translateX(55%); } }
@-webkit-keyframes cd-slide-6 {
  0%, 100% {
    -webkit-transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(65%); } }
@-moz-keyframes cd-slide-6 {
  0%, 100% {
    -moz-transform: translateY(-50%); }
  50% {
    -moz-transform: translateY(-50%) translateX(65%); } }
@keyframes cd-slide-6 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(65%);
    -moz-transform: translateY(-50%) translateX(65%);
    -ms-transform: translateY(-50%) translateX(65%);
    -o-transform: translateY(-50%) translateX(65%);
    transform: translateY(-50%) translateX(65%); } }
@-webkit-keyframes cd-slide-7 {
  0%, 100% {
    -webkit-transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(-95%); } }
@-moz-keyframes cd-slide-7 {
  0%, 100% {
    -moz-transform: translateY(-50%); }
  50% {
    -moz-transform: translateY(-50%) translateX(-95%); } }
@keyframes cd-slide-7 {
  0%, 100% {
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%); }
  50% {
    -webkit-transform: translateY(-50%) translateX(-95%);
    -moz-transform: translateY(-50%) translateX(-95%);
    -ms-transform: translateY(-50%) translateX(-95%);
    -o-transform: translateY(-50%) translateX(-95%);
    transform: translateY(-50%) translateX(-95%); } }
/* -------------------------------- 

Project slider navigation

-------------------------------- */
.cd-slider-navigation {
  display: none; }
  .cd-slider-navigation a {
    position: absolute;
    top: 50%;
    bottom: auto;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    height: 60px;
    width: 4%;
    background: url(../img/cd-arrow.svg) no-repeat center center;
    -webkit-transition: opacity 0.2s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.2s 0s, visibility 0s 0s;
    transition: opacity 0.2s 0s, visibility 0s 0s; }
    .cd-slider-navigation a.next {
      right: 0;
      left: auto;
      -webkit-transform: translateY(100%);
      -moz-transform: translateY(100%);
      -ms-transform: translateY(100%);
      -o-transform: translateY(100%);
      transform: translateY(100%); }
    .cd-slider-navigation a.prev {
      -webkit-transform: translateY(100%) rotate(180deg);
      -moz-transform: translateY(100%) rotate(180deg);
      -ms-transform: translateY(100%) rotate(180deg);
      -o-transform: translateY(100%) rotate(180deg);
      transform: translateY(100%) rotate(180deg); }
    .cd-slider-navigation a.inactive {
      visibility: hidden;
      opacity: 0;
      -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
      -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
      transition: opacity 0.2s 0s, visibility 0s 0.2s; }
  @media only screen and (min-width: 900px) {
    .cd-slider-navigation {
      display: block; } }

/* -------------------------------- 

Project content panel 

-------------------------------- */
.cd-project-content {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  background-color: #f1f1f1;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateY(100%);
  -moz-transform: translateY(100%);
  -ms-transform: translateY(100%);
  -o-transform: translateY(100%);
  transform: translateY(100%);
  -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0.4s;
  -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0.4s;
  transition: transform 0.4s 0s, visibility 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
  transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83); }
  .cd-project-content > div {
    overflow-y: auto;
    padding: 2em;
    background-color: #ffffff;
    width: 65%;
    margin: 0 auto; }
    .cd-project-content > div > * {
      margin-left: auto;
      margin-right: auto; }
  .cd-project-content ul {
    margin-left: 3rem;
    margin-top: 20px; }
    .cd-project-content ul li {
      color: #666666;
      line-height: 1.6;
      font-size: 1.6rem;
      margin-bottom: 20px; }
      .cd-project-content ul li i {
        margin-right: 10px;
        font-size: 2.2rem;
        color: #3E7DCA; }
  .cd-project-content.is-visible {
    visibility: visible;
    position: absolute;
    height: 150vh;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.4s 0s, visibility 0s 0s;
    -moz-transition: -moz-transform 0.4s 0s, visibility 0s 0s;
    transition: transform 0.4s 0s, visibility 0s 0s;
    -webkit-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    -moz-transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83);
    transition-timing-function: cubic-bezier(0.67, 0.15, 0.83, 0.83); }
    .cd-project-content.is-visible > div {
      /* smooth scrolling on iOS */
      -webkit-overflow-scrolling: touch; }
  .cd-project-content .logo-wrapper {
    position: absolute;
    width: 100%;
    background-color: #3E7DCA;
    height: 65px;
    border-bottom: 4px solid #3F4A5A;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);
    padding: 0; }
    .cd-project-content .logo-wrapper img {
      width: 240px;
      position: relative;
      padding-top: 10px;
      margin-left: 9vw; }
  .cd-project-content h2 {
    font-size: 3.2rem;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 45px; }
  .cd-project-content em {
    display: block;
    font-size: 1.8rem;
    font-style: italic;
    margin: 1em auto; }
  .cd-project-content p {
    margin-bottom: 1em;
    font-size: 1.4rem;
    color: #666666; }
  .cd-project-content em, .cd-project-content p {
    line-height: 1.6; }
  .cd-project-content strong {
    font-weight: bold; }
  .cd-project-content .logo_titre_left {
    max-width: 120px;
    float: left;
    margin-right: 40px; }
  .cd-project-content .conseil {
    padding: 10px 30px 5px 30px;
    border-left: 4px solid #fdc00f;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #f5f5f5; }
    .cd-project-content .conseil h3 {
      color: #fdc00f; }
  .cd-project-content .bordure_bleue {
    border: 2px solid;
    padding: 0 20px;
    margin-top: 30px; }
  .cd-project-content .chiffres {
    background: #f5f5f5 none repeat scroll 0 0;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 1.4;
    margin-bottom: 3.4rem;
    padding: 20px 0;
    text-align: center;
    width: 50%; }
    .cd-project-content .chiffres span {
      font-size: 5.5rem;
      margin-right: 5px;
      color: #FDC00F; }
  .cd-project-content .close {
    display: block;
    height: 32px;
    width: 32px;
    position: absolute;
    top: 10px;
    right: 10px;
    background: url(../img/cd-close-dark.svg) no-repeat center center; }
  @media only screen and (min-width: 900px) {
    .cd-project-content.is-visible {
      height: 220vh; }
    .cd-project-content h2 {
      font-size: 3rem;
      margin-bottom: 50px; }
    .cd-project-content h3 {
      font-size: 2.4rem;
      color: #3E7DCA;
      font-weight: bold;
      margin-top: 10px;
      margin-bottom: 10px; }
    .cd-project-content em {
      font-size: 2.4rem; }
    .cd-project-content p {
      font-size: 1.6rem; }
    .cd-project-content .close {
      top: 15px;
      right: 5%; } }
  @media screen and (max-height: 800px) {
    .cd-project-content div {
      width: 90%; } }
  .cd-project-content .banner-top {
    height: auto;
    width: 100%;
    overflow-y: visible;
    padding: 0;
    margin-top: 60px; }
    .cd-project-content .banner-top img {
      width: 100%;
      max-width: unset; }

/* -------------------------------- 

Keyframes

-------------------------------- */
@-webkit-keyframes cd-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0);
    opacity: 1; } }
@-moz-keyframes cd-translate {
  0% {
    opacity: 0;
    -moz-transform: translateY(100px); }
  100% {
    -moz-transform: translateY(0);
    opacity: 1; } }
@keyframes cd-translate {
  0% {
    opacity: 0;
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    -o-transform: translateY(100px);
    transform: translateY(100px); }
  100% {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
