{% extends '::base_login.html.twig' %}
{% block body %}		
	<form action="{{ path("admin_login_check") }}" method="post" class="no-margin">
		<input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
		<fieldset>
			<div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                    <input type="text" id="username" placeholder="Login" class="form-control" name="_username" value="{{ last_username }}" required="required" />
                </div>
            </div>
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                    <input type="password" id="password" placeholder="Password" class="form-control" name="_password" required="required" />
                </div>
            </div>
        </fieldset>
		<div class="form-actions">
			<div class="div100" style="text-align:center;margin-bottom:10px;overflow:hidden;">
				<div style="width:150px;margin-left:auto;margin-right:auto;">
					<label class="option block">
                        <input type="checkbox" name="_remember_me" checked>
                        <span class="checkbox"></span> Se souvenir de moi   
                    </label>
				</div>
			</div>
            <button class="btn btn-block btn-primary" type="submit">
                <span class="fa-icon-circle"><i class="fa fa-sign-in"></i></span>
                <small class="l-mar-5">S'authentifier</small>
            </button>
        </div>
	</form>
{% endblock %}