{% extends 'base.html.twig' %}

{% block title %}
	{{ entity.title }}
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="{{ entity.descr }}" />
{% endblock %}

{% block stylesheets %}
	{% if entity.id == 3 %}
		<link href="{{ asset('bundles/cipres/css/slider.css') }}" rel="stylesheet" type="text/css" />
	{% endif %}
{% endblock %}

{% block javascripts %}
	{% if entity.id == 3 %}
		<script src="{{ asset('bundles/cipres/js/plugins/modernizr.mediaqueries.transforms3d.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/plugins/responsive-hub.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/jquery.silver_track.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/jquery.silver_track_recipes.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/plugins/jquery.silver_track.navigator.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/plugins/jquery.silver_track.bullet_navigator.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/plugins/jquery.silver_track.responsive_hub_connector.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/recipe_example1.js') }}"></script>
		<script src="{{ asset('bundles/cipres/js/recipe_example1_usage.js') }}"></script>
		
		 <script>
		    $(function() {
		      $.responsiveHub({
		        layouts: {
		          480:  "phone",
		          481:  "small-tablet",
		          769:  "tablet",
		          1281:  "web",
					1800:  "fullweb"
		        },
		        defaultLayout: "web"
		      });
		    });
		  </script>
	{% endif %}
{% endblock %}

{% block body %}
	<div class="main">
		{% if entity.image %}
			<div class="cms_slide">
				<img src="{{ asset('upload/Page/'~ entity.id ~'/'~ entity.image) }}" />
			</div>
		{% endif %}
		{% for flashMessage in app.session.flashbag.get('success') %}
			<div class="content" style="padding-top:50px;">
				<div class="flash-success">
					{{ flashMessage }}
				</div>
			</div>
		{% endfor %}
		{{ entity.contenu|raw }}
		
		{% if entity.id == 6 %}
			<script>
				function checkContactForm(){
				    if($('#form_contact_tel').val().length != 10)
				    {
				    	alert('Le champ Téléphone doit comporter 10 caractères');
				        return false;
			        }
			        
			        return true;
				}
			</script>
		{% elseif entity.id == 5 %}
			<script>
				var parentHeight = jQuery('.cmcc_form').height();
				
				jQuery('.dpleft').css('min-height', parentHeight);
			</script>
		{% elseif entity.id == 7 %}
			<script>
				function checkContactForm2(){
				    if($('#form_presse_telephone').val().length > 0)
				    {
				    	if($('#form_presse_telephone').val().length != 10)
				    	{
					    	alert('Le champ Téléphone doit comporter 10 caractères');
					        return false;
				        }
			        }
			        
			        return true;
				}
			</script>
		{% endif %}
	</div>
	
{% endblock %}