{% extends 'base_admin_solution.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Solution</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                	<a href="{{ path('admin_solution') }}">
                    	Solution
                	</a>
                </li>
                <li class="active">
                    Nouveau
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Formulaire <strong>ajout solution</strong>
                        </div>
                    </div>
                    <div class="panel-body">
			            <form action="{{ path('admin_solution_create') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
			            	<div class="form-group">
			            		{{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.titre, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.sstitre, 'Sous titre', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.sstitre, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.title, 'Balise Title', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.title, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.descr, 'Meta Description', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.descr, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.slug, 'Permaliens', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.slug, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.resume, 'Résumé', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.resume, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.image, 'Image', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.image) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.url, 'URL, si votre bloc doit rediriger vers une autre page (Mettre http://)', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.url, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.contenu, 'Contenu (seulement si vous n\'avez pas mis d\'URL)', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.contenu) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.homepage, 'Visible sur la home ?', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.homepage, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.courtier, 'Visible sur la landing Courtier ?', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.courtier, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.categorie, 'Catégorie de la solution', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.categorie, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.resumetns, 'Résumé pour la landing TNS', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.resumetns) }}
								</div>
							</div>
							{{ form_widget(form) }}
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-7">
									<button type="submit" class="btn btn-theme">Enregistrer</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	    $(document).ready(function() {
			$('#appbundle_solutiontype_contenu').summernote(); 
			$('#appbundle_solutiontype_resumetns').summernote(); 
	    });
    </script>
{% endblock %}
