	<div>
		<p>Vous souhaitez gagner en visibilité sur le web ? Vous souhaitez créer votre site internet mais vous n’avez pas le temps ni les ressources ?

			CIPRÉS vous apporte la solution et vous livre un site clés en main.<br><br>

			En partenariat avec une agence experte dans le domaine, nous vous proposons de créer votre site internet entièrement personnalisable à moindre coût :
		</p>

		<div>
			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Vous choisissez votre nom de domaine</li>
				<li><i class="fa fa-angle-double-right"></i> Vous adaptez le contenu comme vous le souhaitez dans le respect du zoning imposé</li>
				<li><i class="fa fa-angle-double-right"></i> Vous choisissez la couleur et les visuels de votre site</li>
			</ul>

			<p>Pour gagner en visibilité et en efficacité, notre agence vous propose un site "Google Friendly" qui plaît à google pour un meilleur référencement :</p>

			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Votre site sera adapté sur <b>mobile</b></li>
				<li><i class="fa fa-angle-double-right"></i> Votre site sera <b>techniquement optimisé</b> pour google</li>
				<li><i class="fa fa-angle-double-right"></i> Votre site intégrera <b>les meilleurs mots clés pour développer le référencement dans votre zone géographique</b> </li>
			</ul>

			<div class="cadre_vert_clair">
				<b>
					<i class="fa fa-info-circle "></i>
					BON A SAVOIR :
				</b><br>
				Notre agence vous accompagnera lors de la création du site en adaptant le contenu du site. Elle s’engage à vous fournir un tableau de bord des statistiques de votre site chaque semaine par mail.
			</div>

			<div class="backVert">
				<p><b style="color: #a8d123; font-weight: bold; font-size: 20px;">Bénéficiez de tarifs privilégiés :</b> <b>votre site clés en main pour seulement 1 000 € la 1ère année puis 400 € par an de maintenance.</b><br><br><b>A noter :</b> le coût moyen pour la création d’un site internet se situe aujourd’hui entre 3&nbsp;000 et&nbsp;5&nbsp;000&nbsp;€&nbsp;!
					<br><br></p>
			</div>

			<p>Si vous faites appel à ce service, vous serez privilégié par CIPRÉS sur votre zone géographique lorsque CIPRÉS affectera les leads captés dans son environnement web.
			</p>

			<div class="cadre_vert_clair">
				<b>
					Le <i style="display: inline; float: none; margin-right: 0;" class="fa fa-plus"></i> CIPRÉS :
				</b><br>
				Nous vous offrons la possibilité d’aller plus loin et d’opter pour le <b>« booster de trafic »</b>. Ce service complémentaire vous permet de profiter ainsi de contacts qualifiés et améliore nettement votre visibilité sur le web !
			</div>
		</div>

		<div><a href="/site-courtier" target="_blank" class="btn_bleu_clair button center waves-effect waves-light"><i class="fa  fa-check"></i> Je suis intéressé</a></div>

		<p>Votre demande sera réceptionnée par notre agence qui vous contactera dans les 48h.<br><br>

			En moins de 72h, votre site pourra être mis en ligne !<br><br>

			N’hésitez pas à vous rapprocher de votre inspecteur pour en savoir plus.
		</p>

		<div class="row"></div>
</div>