<div>
	<p>Suite à la création de la Protection Universelle Maladie (PUMA) et à la parution de ses décrets d’application, une circulaire RSI publiée le 8 juin 2016 vient préciser qu’à compter du <b>1<sup>er</sup> janvier 2016, tous les travailleurs indépendants, pluriactifs ou non, les retraités actifs, qu’ils soient prestataires ou non du Régime social des indépendants</b> (RSI), sont <b>redevables des cotisations indemnités journalières égales à 0.7% des revenus dans la limite de 5 PASS.</b><br>
		Cette mesure permet ainsi à ces assurés de prétendre aux indemnités journalières versées par le RSI en cas d’arrêt de travail.<br><br>

		Un rattrapage est prévu avant la fin de l’année 2016 pour appeler les cotisations indemnités journalières dues, à compter du 1<sup>er</sup> janvier 2016, auprès des assurés pluriactifs et retraités actifs non prestataires du RSI, non redevables jusqu’alors de cette cotisation.
	</p>

	<div class="row">&nbsp;</div>

	<div class="col-xs-12 nopadding">
		<div class="col-xs-12 col-sm-6">
			<div class="bloc_titre_fond_bleu">
				<b style="font-size: 16px; text-align: center; display: block;">Personnes exclues du bénéfice des IJ avant le 01/01/2016</b>
			</div>
			<div class="bordure_bleue">
				<b>Les pluriactifs :</b> personnes qui exercent simultanément plusieurs activités, dont l'une relève du RSI mais dont le droit aux prestations en nature est ouvert dans un autre régime obligatoire<br><br>

				<b>Les bénéficiaires d'une pension d'invalidité ou d'incapacité au métier du RSI</b><br><br>

				<b>Les bénéficiaires d’un avantage de retraite ou d’une pension d’invalidité</b> lorsque le droit aux prestations en nature est ouvert dans un autre régime obligatoire que le RSI<br><br>

				<b>Les retraités, affiliés au régime d'assurance maladie du RSI</b>
			</div>
		</div>

		<div class="col-xs-12 col-sm-6">
			<div class="bloc_titre_fond_bleu">
				<b style="font-size: 16px; text-align: center; display: block;">Personnes exclues du bénéfice des IJ avant le 01/01/2016</b>
			</div>
			<div class="bordure_bleue">
				Les bénéficiaires d'une pension d'invalidité ou d'incapacité au métier du RSI<br><br>

				Les retraités, affiliés au régime d'assurance maladie du RSI<br><br>

				OUVERTURE DU BENEFICE DES IJ :<br>
				<i class="fa fa-angle-right"></i> <b>aux pluriactifs non prestataires du RSI</b><br>
				<i class="fa fa-angle-right"></i> <b>aux retraités actifs non prestataires du RSI</b><br><br>

				<i class="fa  fa-angle-double-right"></i> VERSEMENT DE COTISATIONS IJ A COMPTER DU 1<sup>ER</sup> JANVIER 2016
			</div>
		</div>
	</div>

	<div class="row"></div>

	<div class="row" style="text-align: center;"><a href="https://www.rsi.fr/uploads/tx_rsirss/C2016-009.pdf" target="_blank" class="btn_vert center large waves-effect waves-light">En savoir <i class="fa  fa-plus"></i> </a></div>


	<div class="row"></div>
</div>