<div>
	<p>Avec une fréquentation en forte croissance, ces journées du courtage furent l’occasion
		d’échanger ensemble des futurs enjeux de la profession. Les équipes commerciales et la Direction ont eu grand plaisir à vous présenter ses nouveautés digitales et produits, échanger avec vous et partager en votre compagnie ces moments en toute convivialité.<br><br>

		Retour sur les innovations présentées lors de ces deux jours.
	</p>

	<div class="titre_vert_fonce">LE DIGITAL CIPRES AU SERVICE DE LA SIMPLICATION :</div>
	<div class="full_ligne_vert_fonce"></div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<p><b>Dès le mois d'octobre une adhésion en ligne santé simplifiée</b></p>
			<img width="100%" src="/upload/CipresNews/31/AEL.jpg" alt="">
		</div>
		<div class="col-xs-12 col-sm-6">
			<p><b>Disponible dès à présent</b><br><br></p>
			<img width="100%" src="/upload/CipresNews/31/sites_courtiers.jpg" alt="">
		</div>
	</div>

	<div class="titre_vert_fonce">LES AVANCÉES PRODUITS CIPRES AU SERVICE DU DEVELOPPEMENT</div>
	<div class="full_ligne_vert_fonce"></div>

	<div class="row">
		<div class="col-xs-12">
			<video id="video1" class="video-js" controls preload="auto" width="100%" height="auto" data-setup='{"inactivityTimeout": 0, "autoplay": true, "loop": true, "preload": "true"}'>
				<source src="/upload/CipresNews/31/motion_JDC_264.mp4" type='video/mp4'>

				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a web browser that
					<a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
				</p>
			</video>
		</div>
	</div>

	<div class="titre_vert_fonce">UNE CAMPAGNE D’AFFICHAGE METTANT A L’HONNEUR L’ENTREPRENEUR</div>
	<div class="full_ligne_vert_fonce"></div>

	<p>La présence de CIPRÉS Assurances fut prédominante cette année sur le salon grâce à un dispositif d’affichages métro/RER importants sous la thématique « du réflexe d’entrepreneur ». A travers cette campagne, CIPRÉS réaffirme son positionnement en tant qu’équipementier de tous les entrepreneurs qui propose à la fois des solutions santé et prévoyance pour le chef d’entreprise TNS mais aussi pour ses salariés.</p>

	<div class="row">&nbsp;</div>

	<div class="row">
		<div class="col-xs-12 col-sm-6">
			<img width="100%" src="/upload/CipresNews/31/DSC_001.jpg" alt="">
		</div>
		<div class="col-xs-12 col-sm-6">
			<img width="100%" src="/upload/CipresNews/31/DSC_002.jpg" alt="">
		</div>
	</div>

	<div class="row">&nbsp;</div>

	<p>Pour toute question sur nos nouveautés, contactez votre inspecteur.<br><br>

		Merci à tous et à toutes d’être venus nous rencontrer sur notre stand !<br><br>

		A l’année prochaine.
	</p>


	<div class="row">&nbsp;</div>
</div>