<div>
	<p>Dans le cadre du programme de fidélité CIPRÉS Assurances, nous vous proposons 3 nouvelles formations en classe virtuelle de notre partenaire AF2A, les thématiques abordées sont les suivantes :
	</p>

	<ul class="liste_dbl_chevrons" style="font-size: 16px;">
		<li><i class="fa fa-check"></i> le 4 novembre de 14h10 à 16h40 - <span style="color: #91BB14; font-weight: bold; font-size: 16px;">Statut et fiscalité des TNS</span>
			<div class="col-xs-8 col-xs-offset-1">
				<a href="/upload/CipresNews/31/Statut&fiscalitedesTNS.pdf" target="_blank" class="col-xs-6 btn_vert center waves-effect waves-light"><i class="fa fa-clock-o"></i> Le programme</a>
				<a href="/questionnaires/index.php/147847?lang=fr" target="_blank" class="col-xs-6 btn_bleu_clair center waves-effect waves-light"><i class="fa  fa-check"></i> Je m'inscris</a>
			</div>
			<div class="row">&nbsp;</div>
		</li>
		<li><i class="fa fa-check"></i> le 24 novembre de 14h10 à 16h40 - <span style="color: #91BB14; font-weight: bold; font-size: 16px;">Règle fiscale et sociale des assurances collectives</span>
			<div class="col-xs-8 col-xs-offset-1">
				<a href="/upload/CipresNews/31/reglefiscaleetsocialedesassurancescollectives.pdf" target="_blank" class="col-xs-6 btn_vert center waves-effect waves-light"><i class="fa fa-clock-o"></i> Le programme</a>
				<a href="/questionnaires/index.php/147847?lang=fr" target="_blank" class="col-xs-6 btn_bleu_clair center waves-effect waves-light"><i class="fa  fa-check"></i> Je m'inscris</a>
			</div>
			<div class="row">&nbsp;</div></li>
		<li><i class="fa fa-check"></i> le 13 décembre de 14h10 à 16h40 - <span style="color: #91BB14; font-weight: bold; font-size: 16px;">Règle de mise en place des contrats collectifs</span>
			<div class="col-xs-8 col-xs-offset-1">
				<a href="/upload/CipresNews/31/reglesetmiseenplacedescontrats.pdf" target="_blank" class="col-xs-6 btn_vert center waves-effect waves-light"><i class="fa fa-clock-o"></i> Le programme</a>
				<a href="/questionnaires/index.php/147847?lang=fr" target="_blank" class="col-xs-6 btn_bleu_clair center waves-effect waves-light"><i class="fa  fa-check"></i> Je m'inscris</a>
			</div>
			<div class="row">&nbsp;</div></li>
	</ul>

	<div class="row">&nbsp;</div>

	<div class="cadre_vert_clair">
		<b>Rappel : CIPRÉS participe tout ou partie au financement des formations retenues. <br>
		Selon les conditions et profils adhérents définies dans le programme de fidélité CIPRÉS à savoir :</b><br><br>

		• <b>Club Platine :</b> formations offertes<br>
		• <b>Club Or :</b> 40 % de remise <b>sur le prix Club négocié</b><br>
		• <b>Club Argent :</b> 20 % de remise <b>sur le prix Club négocié</b><br>
		• <b>Club Bronze :</b> prix Club négocié
	</div>

	<div class="titre_vert_fonce">Qu’est-ce que la classe virtuelle AF2A ?</div>
	<div class="full_ligne_vert_fonce"></div>

	<p>La classe virtuelle AF2A est un dispositif de formation qui reproduit une salle de cours constituée de plusieurs stagiaires et de leur formateur dans le cadre d’une session <b>en ligne et en direct.</b><br>
		Elle offre un dialogue direct en temps réel entre vos collaborateurs et l’intervenant. Quelle que soit la situation géographique des participants, l’accès à la salle est instantané.<br>
		<b>Idéale pour le transfert de connaissances, la classe virtuelle est également adaptée pour préparer ou approfondir une formation en salle.</b>
	</p>

	<div class="titre_vert_fonce">De quel équipement doit-on disposer ?</div>
	<div class="full_ligne_vert_fonce"></div>

	<p>La solution AF2A est entièrement sécurisée et compatible avec votre environnement, elle ne nécessite qu’une <b>connexion Internet, un téléphone et si possible une webcam.</b> Elle ne requiert ni l’installation de logiciels spécifiques, ni l’intervention de votre service informatique.
	</p>

	<div class="row" style="text-align: center;"><a href="/questionnaires/index.php/147847?lang=fr" target="_blank" class="btn_bleu_clair center waves-effect waves-light"><i class="fa fa-check"></i> Je m'inscris</a></div>


	<div class="row"></div>
</div>