{% extends 'base.html.twig' %}

{% block title %}
    Réunion d'information 2016
{% endblock %}

{% block meta_desc %}
    <meta name="description" content="Choisissez si vous souhaiter trouver un courtier proche de chez vous ou demander un devis." />
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/cipres/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/cipres/sass/materialize/css/materialize.css') }}">
{% endblock %}

{% block header %}
    <div class="row header-reunions">
        <div class="container">
            <div class="col-xs-2">
                <a href="reunion-information-2016"><img class="logo_rond" src="{{ asset('upload/ReunionsInformation/logo_rond.png') }}" alt="CIPRÉS Assurances"></a>
            </div>
            <div class="col-xs-10">
                <h2>Réunions d'information CIPRÉS Assurances <span>septembre - octobre 2016</span></h2>
            </div>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div class="main" id="petits-dejs">
        <div class="cms_slide">
            <img src="{{ asset('upload/ReunionsInformation/slide2.jpg') }}" alt="" />
        </div>

        <div class="cms_titre">
            <div class="content">
                <h1>LES NOUVEAUTES DE LA RENTRÉE EN AVANT-PREMIERE</h1>
                <h3>Inscrivez-vous dès maintenant à la réunion la plus proche de chez vous</h3>
            </div>
        </div>

        <div class="cms_content">
            <div class="content">
                {# Bloc contenu gauche #}
                {% if success == 'true' %}
                    {# Message success avec affichage récap des infos événement #}
                    <div class="bloc_contenu col-xs-12 col-md-5 nopadding">
                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="flash-success-inscription fadeInLeft animated">
                                <p>{{ flashMessage }}</p>
                            </div>
                        {% endfor %}

                        <div class="msg_success">
                            <b>Votre inscription à la réunion de {{infos_participant.ChoixVille}} a bien été prise en compte.</b> <br>
                            Vous trouverez ci-dessous les informations relatives à cette réunion :<br><br>

                            {% for infos in infos_ville %}
                                <div class="infos">
                                    <div class="row"><p><strong>Date :</strong> le {{ infos.date }}<br> de {{ infos.heureDebut }} à {{ infos.heureFin }}</p></div>
                                    <div class="row"><p><strong>Lieu :</strong> {{ infos.hotel }}<br> {{ infos.adresse }}<br> {{ infos.adressePostal }} {{ infos.adresseVille }} </p></div>
                                </div>

                            {% set lyon = "Lyon" %}
                                {% if infos.ville != lyon %}
                                    <div class="btn_itineraire col-xs-12">
                                        <a href="{{ infos.UrlMap }}" target="_blank"><i class="fa  fa-map-o"></i> Comment se rendre à la réunion ?</a>
                                    </div>

                                    <div class="btn_ics col-xs-12">
                                        <a href="{{ asset('bundles/reunions_information/ics') }}/{{ infos.idVille }}.ics"><i class="fa  fa-calendar-plus-o"></i> Ajouter l'événement à mon calendrier</a>
                                    </div>
                                {% endif %}
                            {% endfor %}

                            <div class="bloc_programme">
                                <h4 class="prog">Au programme</h4>

                                <ul class="liste_dbl_chevrons">
                                    <li><i class="fa fa-angle-double-right"></i><span>Découvrez des produits pour conquérir de nouveaux clients</span></li>
                                    <li><i class="fa fa-angle-double-right"></i><span>Des services pour faciliter la vie de vos assurés</span></li>
                                    <li><i class="fa fa-angle-double-right"></i><span>CIPRÉS générateur de business </span></li>
                                </ul>
                            </div>
                        </div>

                    </div>

                    {# Présentation de l'événement #}
                {% else %}
                    <div class="bloc_contenu col-xs-12 col-md-5 nopadding">
                        <div>
                            <h4 class="titre_infos">Présentation</h4>

                            <p>Les équipes commerciales CIPRÉS ont le plaisir de vous inviter à <b>découvrir toutes nos nouveautés de la rentrée</b> lors de nos <b>réunions de septembre-octobre</b>.</p>
                            <p>CIPRÉS vous dévoile toutes ses cartes : <br>prévoyance, santé et nouveaux services. <br><br>
                                Autant d’atouts pour <b>faire la différence auprès de vos clients et booster votre développement !</b>
                            </p>

                            <h4 class="accroche">N'attendez-plus et <br>inscrivez-vous vite !</h4>
                            <img class="fleche_verte" src="{{ asset('bundles/cipres/img/fleche_verte.png') }}" alt="">

                            <div class="bloc_programme">
                                <h4 class="prog">Au programme</h4>

                                <ul class="liste_dbl_chevrons">
                                    <li><i class="fa fa-angle-double-right"></i><span>Découvrez des produits pour <b>conquérir de nouveaux clients</b></span></li>
                                    <li><i class="fa fa-angle-double-right"></i><span>Des services pour <b>faciliter la vie de vos assurés</b></span></li>
                                    <li><i class="fa fa-angle-double-right"></i><span>CIPRÉS <b>générateur de business</b> </span></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                {% endif %}

                {# Bloc carte droite #}
                <div class="bloc_map col-xs-12 col-md-7 nopadding">
                    <h3>Cliquez sur la ville de votre choix pour</h3>
                    <h3>obtenir plus d'informations et vous inscrire</h3>

                    <div class="carte">
                        {#<img src="{{ asset('bundles/cipres/img/map.svg') }}" alt="">#}
                        <?xml version="1.0" encoding="utf-8"?>
                        <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 775.6 740.5" width="100%" height="100%" style="enable-background:new 0 0 775.6 740.5;" xml:space="preserve">
<style type="text/css">
    .st0{fill:#225282;}
    .st1{fill:#FFFFFF;}
    .st2{fill:#46AF77;}
    .st3{fill:none;}
    .st4{fill:#39895F;}
</style>
                            <path class="st0" d="M719.6,557.7c0-1-0.2-2-0.7-3l-4.1-7.4c-0.9-1.7-2.6-2.8-4.5-3l-34.2-3.8c-1.1-0.1-2.1-0.5-2.9-1.1l0.4-3.1
	c0.1-0.8,0-1.5-0.2-2.2l-1.7-6.5l1.9-15.2c0.1-0.8,0-1.5-0.2-2.2l-4.1-15.2c0-0.2-0.1-0.3-0.2-0.5h0.1c2.6-0.7,4.5-3,4.5-5.7V476
	c0-1-0.3-2-0.7-2.9v-5.8c0.5-0.9,0.7-1.8,0.7-2.9v-12.5c0-1.3-0.5-2.7-1.3-3.7l-10.1-12.5l2.2-3.2c0.7-1,1-2.1,1-3.3l0,0v-24l0,0
	c0-1-0.2-2-0.7-2.9l-18.2-32.6c-1.5-2.7-5-3.8-7.8-2.4l-2.5,1.2l33.2-54.2c0.4-0.7,1-1.3,1.7-1.8l16-11c1.3-0.9,2.2-2.4,2.5-4
	l15.6-104.9c0.1-0.4,0.1-0.8,0-1.2v-23.7c0-2.6-1.7-4.9-4.3-5.7l-132.3-36.8c-0.3-0.1-0.6-0.2-0.9-0.3L497.2,92
	c-0.6-0.3-1.1-0.6-1.6-1.1l-83-78.4c-1.6-1.5-3.8-2-5.9-1.3l-42.9,14.3c-2.5,0.8-4.1,3.1-4,5.7v1h-0.2v24h0.2l0.5,22.1
	c-0.5,1.2-1.5,2.3-2.7,2.9l-70.3,36.1c-2.1,1.1-3.1,3-3.2,5l0,0v0.1c0,0.1,0,0.2,0,0.2v22.1l-14.9,7c-1.2,0.5-2.5,0.7-3.7,0.4
	l-44.7-9.6c-2.2-0.5-4-2.2-4.5-4.4l-5.3-22.9c-0.6-2.7-3-4.6-5.7-4.6h-20c-3.2,0-5.7,2.6-5.9,5.6l0,0v24l0,0c0,0.6,0,1.2,0.2,1.8
	l15.7,59.7c-0.4,0.1-0.8,0.1-1.2,0.1l-60.1,1c-1.9,0-3.8-0.9-4.9-2.5l-13.9-19.4c-1.4-1.9-3.8-2.9-6.1-2.3L25.9,198
	c-2.6,0.6-4.5,2.9-4.5,5.6l0,0v24l0,0c0,0.3,0,0.6,0.1,1l6,43.1c0.3,1.9,1.5,3.6,3.3,4.5l126.9,61.2v22.8l0,0c0,1,0.2,1.9,0.6,2.8
	l17.1,35.3l26.7,56.8l-14.6,141.5c-0.1,1.1-0.6,2.2-1.3,3.1L170,619.6c-0.9,1.1-1.3,2.4-1.3,3.7l0,0v24l0,0c0,1.9,0.9,3.9,2.7,5
	l68.6,43.6c0.8,0.5,1.8,0.8,2.7,0.9l62.2,4.3c3.2,0.2,6-2.2,6.3-5.4v-0.1c0.3-4.1,4.7-6.6,8.4-4.8l74.7,35.2c1,0.5,2,0.6,3.1,0.5
	l52.2-5.2c3-0.3,5.2-2.8,5.3-5.7l0,0v-24l0,0c0-0.3,0-0.6,0-0.9l-2.3-16.7l49.8-41.1c1.5-1.2,3.5-1.7,5.4-1.1l116.4,33.1
	c1.8,0.5,3.7,0.1,5.2-1l75.9-58.6c0.5-0.4,1-0.9,1.4-1.5l12-19c0.6-0.9,0.9-1.9,0.9-3l0,0L719.6,557.7L719.6,557.7z"/>
                            <path class="st1" d="M405.5,11.4l-42.9,14.3c-2.5,0.8-4.1,3.1-4,5.7l1,44.7c0.1,2.3-1.2,4.3-3.2,5.4l-70.3,36.1
	c-4.3,2.2-4.3,8.3,0.1,10.5l5.1,2.5c4.4,2.2,4.3,8.5-0.1,10.6L268.1,152c-1.2,0.5-2.5,0.7-3.7,0.4l-44.7-9.6c-2.2-0.5-4-2.2-4.5-4.4
	l-5.3-22.9c-0.6-2.7-3-4.6-5.7-4.6h-20c-3.9,0-6.7,3.7-5.7,7.4l20.1,76.4c1,3.7-1.8,7.3-5.6,7.4l-60.1,1c-1.9,0-3.8-0.9-4.9-2.5
	l-13.9-19.4c-1.4-1.9-3.8-2.9-6.1-2.3l-83.2,19.4c-3,0.7-4.9,3.5-4.5,6.5l6,43.1c0.3,1.9,1.5,3.6,3.3,4.5l127.1,61.3
	c2.5,1.2,3.8,3.9,3.2,6.6l-3.3,15c-0.3,1.3-0.1,2.6,0.4,3.8l17.1,35.3l28.1,59.6c0.5,1,0.6,2,0.5,3.1l-16.4,159.5
	c-0.1,1.1-0.6,2.2-1.3,3.1l-16.2,19.9c-2.2,2.7-1.6,6.8,1.4,8.7l68.6,43.6c0.8,0.5,1.8,0.8,2.7,0.9l62.2,4.3c3.2,0.2,6-2.2,6.3-5.4
	v-0.1c0.3-4.1,4.7-6.6,8.4-4.8l74.7,35.2c1,0.5,2,0.6,3.1,0.5l52.2-5.2c3.3-0.3,5.7-3.3,5.2-6.6l-4.7-35c-0.3-2,0.5-4,2.1-5.3
	l50.2-41.5c1.5-1.2,3.5-1.7,5.4-1.1L623,640.9c1.8,0.5,3.7,0.1,5.2-1l75.9-58.6c0.5-0.4,1-0.9,1.4-1.5l12-19c1.1-1.8,1.2-4.1,0.2-6
	l-4.1-7.4c-0.9-1.7-2.6-2.8-4.5-3l-34.2-3.8c-3.3-0.4-5.6-3.3-5.2-6.6l2.7-21.7c0.1-0.8,0-1.5-0.2-2.2l-4.1-15.2
	c-0.3-1.1-0.9-2-1.7-2.8l-10.1-9.4c-3.4-3.2-1.9-8.9,2.6-10l9-2.3c2.6-0.7,4.5-3,4.5-5.7v-12.5c0-1.3-0.5-2.7-1.3-3.7l-16.3-20.1
	c-1.6-2-1.8-4.9-0.3-7l8.6-12.5c1.3-1.8,1.4-4.3,0.3-6.2l-18.2-32.6c-1.5-2.7-5-3.8-7.8-2.4l-5.3,2.7c-5.3,2.6-10.7-3.3-7.6-8.3
	l43.7-71.2c0.4-0.7,1-1.3,1.7-1.8l16-11c1.3-0.9,2.2-2.4,2.5-4L704,168.8c0.4-2.9-1.4-5.7-4.2-6.5l-132.3-36.8
	c-0.3-0.1-0.6-0.2-0.9-0.3l-70.6-33c-0.6-0.3-1.1-0.6-1.6-1.1l-83-78.4C409.9,11.2,407.6,10.7,405.5,11.4z"/>
                            <g class="marker" id="marker_aix">
                                <path id="Aix" class="st2" d="M587.8,572.4c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C596.8,576.5,592.8,572.4,587.8,572.4z
		 M587.8,586.8c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C593.2,584.4,590.8,586.8,587.8,586.8z"/>
                                <g>
                                    <rect x="575.9" y="553.2" class="st3" width="33" height="23"/>
                                    <path class="st4" d="M585.6,566.9l-1.3-3.6h-4.9l-1.3,3.6h-2.2l4.8-12.9h2.3l4.8,12.9H585.6z M583.7,561.5l-1.2-3.5
			c-0.1-0.2-0.2-0.6-0.4-1.1s-0.3-0.9-0.3-1.1c-0.2,0.7-0.4,1.5-0.7,2.4l-1.2,3.3L583.7,561.5L583.7,561.5z"/>
                                    <path class="st4" d="M589.2,554.6c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9s-0.1,0.6-0.3,0.8
			s-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3C589.3,555.2,589.2,554.9,589.2,554.6z M591.3,566.9h-2.1v-9.7h2.1V566.9z"/>
                                    <path class="st4" d="M596.5,561.9l-3.3-4.8h2.4l2.2,3.4l2.2-3.4h2.3l-3.3,4.8l3.4,5h-2.3l-2.4-3.6l-2.4,3.6H593L596.5,561.9z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_annecy">
                                <path id="Annecy" class="st2" d="M624.2,375.1c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C633.2,379.1,629.2,375.1,624.2,375.1z
		 M624.2,389.5c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4S627.2,389.5,624.2,389.5z"/>
                                <g>
                                    <rect x="556.1" y="356.9" class="st3" width="69.4" height="17"/>
                                    <path class="st4" d="M565.8,370.5l-1.3-3.6h-4.9l-1.3,3.6h-2.2l4.8-12.9h2.3l4.8,12.9H565.8z M563.9,365.2l-1.2-3.5
			c-0.1-0.2-0.2-0.6-0.4-1.1s-0.3-0.9-0.3-1.1c-0.2,0.7-0.4,1.5-0.7,2.4l-1.2,3.3L563.9,365.2L563.9,365.2z"/>
                                    <path class="st4" d="M578,370.5h-2v-6c0-0.8-0.2-1.3-0.5-1.7c-0.3-0.4-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8s-0.6,1.4-0.6,2.6
			v4.8h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6L578,370.5L578,370.5z"/>
                                    <path class="st4" d="M589.5,370.5h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7c-0.3-0.4-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8
			s-0.6,1.4-0.6,2.6v4.8h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H589.5z"/>
                                    <path class="st4" d="M596.6,370.7c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S597.2,370.7,596.6,370.7z M596.2,362.2c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8S596.9,362.2,596.2,362.2z"/>
                                    <path class="st4" d="M606.6,370.7c-1.5,0-2.6-0.4-3.4-1.3c-0.8-0.9-1.1-2.1-1.1-3.7s0.4-2.9,1.2-3.8s2-1.3,3.5-1.3
			c1,0,1.9,0.2,2.8,0.6l-0.6,1.7c-0.9-0.3-1.6-0.5-2.2-0.5c-1.7,0-2.5,1.1-2.5,3.3c0,1.1,0.2,1.9,0.6,2.5c0.4,0.5,1,0.8,1.8,0.8
			c0.9,0,1.8-0.2,2.6-0.7v1.8c-0.4,0.2-0.8,0.4-1.2,0.5C607.7,370.7,607.2,370.7,606.6,370.7z"/>
                                    <path class="st4" d="M610.1,360.8h2.3l2,5.5c0.3,0.8,0.5,1.5,0.6,2.2h0.1c0.1-0.3,0.1-0.7,0.3-1.2s0.9-2.6,2.2-6.6h2.2l-4.2,11
			c-0.8,2-2,3-3.8,3c-0.5,0-0.9,0-1.3-0.1V373c0.3,0.1,0.7,0.1,1.1,0.1c1,0,1.7-0.6,2.1-1.7l0.4-0.9L610.1,360.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_nimes">
                                <path id="Nimes" class="st2" d="M523.5,554.1c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C532.5,558.1,528.4,554.1,523.5,554.1z
		 M523.5,568.5c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4S526.5,568.5,523.5,568.5z"/>
                                <g>
                                    <rect x="502" y="532.5" class="st3" width="79" height="20"/>
                                    <path class="st4" d="M514.4,546.2h-2.6l-6.3-10.2h-0.1v0.6c0.1,1.1,0.1,2.1,0.1,3v6.7h-1.9v-12.8h2.5l6.3,10.2h0.1
			c0-0.1,0-0.6-0.1-1.5s-0.1-1.5-0.1-2v-6.7h1.9v12.7H514.4z"/>
                                    <path class="st4" d="M517.5,533.9c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9s-0.1,0.6-0.3,0.8
			s-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3S517.5,534.2,517.5,533.9z M519.6,546.2h-2.1v-9.7h2.1V546.2z"/>
                                    <path class="st4" d="M530.8,546.2h-2.1v-6c0-0.7-0.1-1.3-0.4-1.7c-0.3-0.4-0.7-0.5-1.3-0.5c-0.8,0-1.4,0.3-1.8,0.8
			c-0.4,0.5-0.6,1.4-0.6,2.6v4.8h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.7-0.4c1.5,0,2.5,0.5,3,1.5h0.1
			c0.3-0.5,0.7-0.9,1.2-1.1s1.1-0.4,1.8-0.4c1.2,0,2,0.3,2.5,0.9c0.5,0.6,0.8,1.5,0.8,2.7v6.3h-2.1v-6c0-0.7-0.1-1.3-0.4-1.7
			c-0.3-0.4-0.7-0.5-1.3-0.5c-0.8,0-1.4,0.3-1.8,0.8c-0.4,0.5-0.6,1.3-0.6,2.3v5.1H530.8z"/>
                                    <path class="st4" d="M544,546.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S544.7,546.4,544,546.4z M543.7,537.8c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8C544.8,538.1,544.3,537.8,543.7,537.8z"/>
                                    <path class="st4" d="M556.7,543.4c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6V544c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3
			c-0.4-0.4-0.6-1-0.6-1.7c0-0.8,0.3-1.5,1-1.9c0.7-0.5,1.6-0.7,2.7-0.7c1.1,0,2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7
			c-1.1,0-1.6,0.3-1.6,0.9c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S556.7,542.9,556.7,543.4
			z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_grenoble">
                                <path id="Grenoble" class="st2" d="M578.9,449.1c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C587.8,453.1,583.8,449.1,578.9,449.1z M578.9,463.4c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		S581.8,463.4,578.9,463.4z"/>
                                <g>
                                    <rect x="570" y="429.5" class="st3" width="89" height="23"/>
                                    <path class="st4" d="M577,436.2h4.7v6.5c-0.8,0.3-1.5,0.4-2.2,0.5s-1.5,0.2-2.3,0.2c-1.9,0-3.4-0.6-4.5-1.7
			c-1.1-1.2-1.6-2.8-1.6-4.9s0.6-3.7,1.8-4.9c1.2-1.2,2.8-1.8,4.9-1.8c1.3,0,2.6,0.3,3.8,0.8l-0.7,1.7c-1-0.5-2.1-0.7-3.1-0.7
			c-1.4,0-2.5,0.4-3.3,1.3s-1.2,2-1.2,3.5c0,1.6,0.4,2.8,1.1,3.6c0.7,0.8,1.8,1.2,3.1,1.2c0.7,0,1.4-0.1,2.2-0.3V438H577V436.2z"/>
                                    <path class="st4" d="M589.5,433.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4C588.3,433.5,588.9,433.3,589.5,433.3z"/>
                                    <path class="st4" d="M596.6,443.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S597.2,443.4,596.6,443.4z M596.2,434.8c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8C597.3,435.1,596.8,434.8,596.2,434.8z"/>
                                    <path class="st4" d="M611.2,443.2h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7c-0.3-0.4-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8
			s-0.6,1.4-0.6,2.6v4.8h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H611.2z"/>
                                    <path class="st4" d="M622.7,438.3c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C622.3,435.5,622.7,436.8,622.7,438.3z
			 M615.7,438.3c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9
			S615.7,437.2,615.7,438.3z"/>
                                    <path class="st4" d="M630.1,433.3c1.2,0,2.2,0.4,2.8,1.3c0.7,0.9,1,2.1,1,3.7s-0.3,2.8-1,3.7c-0.7,0.9-1.6,1.3-2.9,1.3
			c-1.2,0-2.2-0.4-2.9-1.3H627l-0.4,1.2h-1.5v-13.7h2.1v3.3c0,0.2,0,0.6,0,1.1s0,0.8-0.1,0.9h0.1
			C627.8,433.8,628.8,433.3,630.1,433.3z M629.5,435c-0.8,0-1.4,0.2-1.8,0.7c-0.4,0.5-0.6,1.3-0.6,2.5v0.1c0,1.2,0.2,2,0.6,2.6
			s1,0.8,1.8,0.8c0.7,0,1.3-0.3,1.7-0.9s0.6-1.4,0.6-2.5C631.8,436.1,631,435,629.5,435z"/>
                                    <path class="st4" d="M638.4,443.2h-2.1v-13.7h2.1V443.2z"/>
                                    <path class="st4" d="M645.6,443.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S646.2,443.4,645.6,443.4z M645.2,434.8c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8C646.4,435.1,645.9,434.8,645.2,434.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_nice">
                                <path id="Nice" class="st2" d="M703.1,545.7c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C712.1,549.7,708.1,545.7,703.1,545.7z
		 M703.1,560.1c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C708.5,557.7,706.1,560.1,703.1,560.1z"/>
                                <g>
                                    <rect x="649" y="544.5" class="st3" width="115" height="26"/>
                                    <path class="st4" d="M661.4,558.2h-2.6l-6.3-10.2h-0.1v0.6c0.1,1.1,0.1,2.1,0.1,3v6.7h-1.9v-12.8h2.5l6.3,10.2h0.1
			c0-0.1,0-0.6-0.1-1.5s-0.1-1.5-0.1-2v-6.7h1.9v12.7H661.4z"/>
                                    <path class="st4" d="M664.5,545.9c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9s-0.1,0.6-0.3,0.8
			s-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3S664.5,546.2,664.5,545.9z M666.7,558.2h-2.1v-9.7h2.1V558.2z"/>
                                    <path class="st4" d="M673.5,558.4c-1.5,0-2.6-0.4-3.4-1.3c-0.8-0.9-1.1-2.1-1.1-3.7c0-1.6,0.4-2.9,1.2-3.8c0.8-0.9,2-1.3,3.5-1.3
			c1,0,1.9,0.2,2.8,0.6l-0.6,1.7c-0.9-0.3-1.6-0.5-2.2-0.5c-1.7,0-2.5,1.1-2.5,3.3c0,1.1,0.2,1.9,0.6,2.5c0.4,0.5,1,0.8,1.8,0.8
			c0.9,0,1.8-0.2,2.6-0.7v1.8c-0.4,0.2-0.8,0.4-1.2,0.5C674.6,558.3,674.1,558.4,673.5,558.4z"/>
                                    <path class="st4" d="M682.8,558.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S683.4,558.4,682.8,558.4z M682.4,549.8c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8C683.6,550.1,683,549.8,682.4,549.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_montpellier">
                                <path id="Montpellier" class="st2" d="M489.7,574.9c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C498.6,578.9,494.6,574.9,489.7,574.9z M489.7,589.2c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		C495,586.8,492.6,589.2,489.7,589.2z"/>
                                <g>
                                    <rect x="400.8" y="556.6" class="st3" width="125" height="21"/>
                                    <path class="st4" d="M408,570.3l-3.7-10.7h-0.1c0.1,1.6,0.1,3.1,0.1,4.5v6.2h-1.9v-12.8h3l3.6,10.2h0.1l3.7-10.2h3v12.8h-2v-6.4
			c0-0.6,0-1.5,0-2.5s0.1-1.6,0.1-1.9h-0.1l-3.9,10.7H408V570.3z"/>
                                    <path class="st4" d="M427.5,565.4c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C427.1,562.6,427.5,563.8,427.5,565.4z
			 M420.4,565.4c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9
			C420.6,563.5,420.4,564.3,420.4,565.4z"/>
                                    <path class="st4" d="M438.4,570.3h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7s-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8s-0.6,1.4-0.6,2.6v4.8
			h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H438.4z"/>
                                    <path class="st4" d="M444.9,568.8c0.5,0,1-0.1,1.5-0.2v1.6c-0.2,0.1-0.5,0.2-0.9,0.3s-0.7,0.1-1.1,0.1c-2,0-2.9-1-2.9-3.1v-5.2
			h-1.3v-0.9l1.4-0.8l0.7-2.1h1.3v2.2h2.8v1.6h-2.8v5.2c0,0.5,0.1,0.9,0.4,1.1C444.2,568.6,444.5,568.8,444.9,568.8z"/>
                                    <path class="st4" d="M453.3,570.4c-1.2,0-2.2-0.4-2.9-1.3h-0.1c0.1,0.8,0.1,1.3,0.1,1.5v4h-2.1v-14h1.7c0,0.2,0.1,0.6,0.3,1.3h0.1
			c0.6-1,1.6-1.5,2.9-1.5c1.2,0,2.2,0.4,2.8,1.3c0.7,0.9,1,2.1,1,3.7s-0.3,2.8-1,3.7C455.5,570,454.5,570.4,453.3,570.4z
			 M452.8,562.1c-0.8,0-1.4,0.2-1.8,0.7s-0.6,1.2-0.6,2.3v0.3c0,1.2,0.2,2,0.6,2.6s1,0.8,1.8,0.8c0.7,0,1.3-0.3,1.7-0.9
			s0.6-1.4,0.6-2.5s-0.2-1.9-0.6-2.5C454.1,562.3,453.6,562.1,452.8,562.1z"/>
                                    <path class="st4" d="M463.8,570.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2c0.5-0.1,1-0.3,1.6-0.5
			v1.7c-0.5,0.2-1,0.4-1.5,0.5S464.5,570.4,463.8,570.4z M463.5,561.9c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8C464.6,562.1,464.1,561.9,463.5,561.9z"/>
                                    <path class="st4" d="M472,570.3h-2v-13.7h2.1v13.7H472z"/>
                                    <path class="st4" d="M477,570.3h-2v-13.7h2.1v13.7H477z"/>
                                    <path class="st4" d="M479.9,558c0-0.4,0.1-0.7,0.3-0.9c0.2-0.2,0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,0.9
			s-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3S479.9,558.3,479.9,558z M482.1,570.3H480v-9.7h2.1V570.3z"/>
                                    <path class="st4" d="M489.3,570.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2c0.5-0.1,1-0.3,1.6-0.5
			v1.7c-0.5,0.2-1,0.4-1.5,0.5S489.9,570.4,489.3,570.4z M488.9,561.9c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8C490.1,562.1,489.5,561.9,488.9,561.9z"/>
                                    <path class="st4" d="M500.3,560.4c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4C499.2,560.5,499.7,560.4,500.3,560.4z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_lyon">
                                <path id="Lyon" class="st2" d="M525.9,403.4c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C534.8,407.5,530.8,403.4,525.9,403.4z
		 M525.9,417.8c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C531.2,415.4,528.8,417.8,525.9,417.8z"/>
                                <g>
                                    <rect x="504.3" y="382.2" class="st3" width="57.8" height="20"/>
                                    <path class="st4" d="M506,395.9V383h2.1v11h5.4v1.8H506V395.9z"/>
                                    <path class="st4" d="M514.1,386.2h2.3l2,5.5c0.3,0.8,0.5,1.5,0.6,2.2h0.1c0.1-0.3,0.1-0.7,0.3-1.2s0.9-2.6,2.2-6.6h2.2l-4.2,11
			c-0.8,2-2,3-3.8,3c-0.5,0-0.9,0-1.3-0.1v-1.6c0.3,0.1,0.7,0.1,1.1,0.1c1,0,1.7-0.6,2.1-1.7l0.4-0.9L514.1,386.2z"/>
                                    <path class="st4" d="M533.8,391c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8s-0.6-1.7-0.6-2.7
			c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4S533.8,389.5,533.8,391z M526.8,391c0,2.2,0.8,3.4,2.5,3.4
			c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S526.8,389.9,526.8,391z"/>
                                    <path class="st4" d="M544.8,395.9h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7c-0.3-0.4-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8
			s-0.6,1.4-0.6,2.6v4.8h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H544.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_toulon">
                                <path id="Toulon" class="st2" d="M619.8,604.1c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C628.8,608.2,624.8,604.1,619.8,604.1z
		 M619.8,618.5c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4S622.8,618.5,619.8,618.5z"/>
                                <g>
                                    <rect x="603.7" y="584" class="st3" width="115" height="20"/>
                                    <path class="st4" d="M609.8,597.6h-2.1v-11H604v-1.8h9.7v1.8h-3.8v11H609.8z"/>
                                    <path class="st4" d="M624,592.8c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8s-0.6-1.7-0.6-2.7
			c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C623.6,590,624,591.2,624,592.8z M616.9,592.8
			c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S616.9,591.7,616.9,592.8z"/>
                                    <path class="st4" d="M633.2,597.6l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
			s-0.9-1.5-0.9-2.7v-6.4h2.1v6c0,0.7,0.2,1.3,0.5,1.7s0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6v-4.8h2.1v9.7H633.2z"
                                    />
                                    <path class="st4" d="M639.9,597.6h-2.1V584h2.1V597.6z"/>
                                    <path class="st4" d="M651.4,592.8c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C651,590,651.4,591.2,651.4,592.8z M644.4,592.8
			c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S644.4,591.7,644.4,592.8z"/>
                                    <path class="st4" d="M662.4,597.6h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7s-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8s-0.6,1.4-0.6,2.6v4.8
			h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H662.4z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_valence">
                                <path id="Valence" class="st2" d="M534.8,480.2c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C543.8,484.3,539.8,480.2,534.8,480.2
		z M534.8,494.6c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4S537.8,494.6,534.8,494.6z"/>
                                <g>
                                    <rect x="472.5" y="461.6" class="st3" width="75.6" height="24"/>
                                    <path class="st4" d="M481.6,462.4h2.2l-4.5,12.8H477l-4.5-12.8h2.2l2.7,8c0.1,0.4,0.3,0.9,0.4,1.5c0.2,0.6,0.3,1,0.3,1.3
			c0.1-0.4,0.2-1,0.4-1.5s0.3-1,0.4-1.3L481.6,462.4z"/>
                                    <path class="st4" d="M491.3,475.3l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V475.3z M488.2,473.9
			c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			C487.3,473.7,487.7,473.9,488.2,473.9z"/>
                                    <path class="st4" d="M497.7,475.3h-2.1v-13.7h2.1V475.3z"/>
                                    <path class="st4" d="M504.9,475.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S505.6,475.4,504.9,475.4z M504.5,466.9c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			C505.7,467.1,505.2,466.9,504.5,466.9z"/>
                                    <path class="st4" d="M519.6,475.3h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7c-0.3-0.4-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8
			s-0.6,1.4-0.6,2.6v4.8H511v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H519.6z"/>
                                    <path class="st4" d="M526.4,475.4c-1.5,0-2.6-0.4-3.4-1.3c-0.8-0.9-1.1-2.1-1.1-3.7s0.4-2.9,1.2-3.8s2-1.3,3.5-1.3
			c1,0,1.9,0.2,2.8,0.6l-0.6,1.7c-0.9-0.3-1.6-0.5-2.2-0.5c-1.7,0-2.5,1.1-2.5,3.3c0,1.1,0.2,1.9,0.6,2.5c0.4,0.5,1,0.8,1.8,0.8
			c0.9,0,1.8-0.2,2.6-0.7v1.8c-0.4,0.2-0.8,0.4-1.2,0.5C527.5,475.4,527,475.4,526.4,475.4z"/>
                                    <path class="st4" d="M535.6,475.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S536.3,475.4,535.6,475.4z M535.3,466.9c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8C536.4,467.1,535.9,466.9,535.3,466.9z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_strasbourg">
                                <path id="Strasbourg" class="st2" d="M687.2,190.2c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C696.2,194.2,692.1,190.2,687.2,190.2z M687.2,204.6c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		S690.1,204.6,687.2,204.6z"/>
                                <g>
                                    <rect x="578" y="203.5" class="st3" width="117" height="25"/>
                                    <path class="st4" d="M587.1,213.7c0,1.1-0.4,2-1.2,2.7s-2,1-3.4,1s-2.6-0.2-3.6-0.7v-2c0.6,0.3,1.2,0.5,1.9,0.7s1.3,0.2,1.8,0.2
			c0.8,0,1.4-0.2,1.8-0.5c0.4-0.3,0.6-0.7,0.6-1.3c0-0.5-0.2-0.9-0.5-1.2s-1.1-0.7-2.3-1.2s-2-1-2.5-1.6s-0.7-1.3-0.7-2.2
			c0-1.1,0.4-1.9,1.1-2.5s1.8-0.9,3.1-0.9c1.2,0,2.5,0.3,3.7,0.8l-0.7,1.7c-1.1-0.5-2.2-0.7-3.1-0.7c-0.7,0-1.2,0.1-1.5,0.4
			s-0.5,0.7-0.5,1.2c0,0.3,0.1,0.6,0.2,0.9s0.4,0.5,0.7,0.7s0.9,0.5,1.7,0.8c0.9,0.4,1.6,0.8,2.1,1.1s0.8,0.7,1,1.2
			S587.1,213.1,587.1,213.7z"/>
                                    <path class="st4" d="M593,215.7c0.5,0,1-0.1,1.5-0.2v1.6c-0.2,0.1-0.5,0.2-0.9,0.3s-0.7,0.1-1.1,0.1c-2,0-2.9-1-2.9-3.1V209h-1.3
			v-0.9l1.4-0.8l0.7-2.1h1.3v2.2h2.8v1.6h-2.8v5.2c0,0.5,0.1,0.9,0.4,1.1S592.6,215.7,593,215.7z"/>
                                    <path class="st4" d="M601.4,207.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4C600.2,207.5,600.8,207.3,601.4,207.3z"/>
                                    <path class="st4" d="M610.3,217.2l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4c-0.3-0.3-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2
			s-0.9,0.3-1.3,0.5l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V217.2z
			 M607.2,215.8c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5c-0.4,0.3-0.7,0.7-0.7,1.3
			c0,0.4,0.1,0.8,0.4,1S606.7,215.8,607.2,215.8z"/>
                                    <path class="st4" d="M621.2,214.4c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6V215c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3
			c-0.4-0.4-0.6-1-0.6-1.7c0-0.8,0.3-1.5,1-1.9s1.6-0.7,2.7-0.7c1.1,0,2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7
			c-1.1,0-1.6,0.3-1.6,0.9c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S621.2,213.9,621.2,214.4
			z"/>
                                    <path class="st4" d="M628.4,207.3c1.2,0,2.2,0.4,2.8,1.3c0.7,0.9,1,2.1,1,3.7c0,1.6-0.3,2.8-1,3.7s-1.6,1.3-2.9,1.3
			c-1.2,0-2.2-0.4-2.9-1.3h-0.1l-0.4,1.2h-1.5v-13.7h2.1v3.3c0,0.2,0,0.6,0,1.1s0,0.8-0.1,0.9h0.1
			C626.1,207.8,627.1,207.3,628.4,207.3z M627.8,209c-0.8,0-1.4,0.2-1.8,0.7c-0.4,0.5-0.6,1.3-0.6,2.5v0.1c0,1.2,0.2,2,0.6,2.6
			s1,0.8,1.8,0.8c0.7,0,1.3-0.3,1.7-0.9c0.4-0.6,0.6-1.4,0.6-2.5C630.1,210.1,629.4,209,627.8,209z"/>
                                    <path class="st4" d="M643.3,212.3c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4S643.3,210.8,643.3,212.3z M636.2,212.3
			c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S636.2,211.2,636.2,212.3z"/>
                                    <path class="st4" d="M652.5,217.2l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
			s-0.9-1.5-0.9-2.7v-6.4h2.1v6c0,0.7,0.2,1.3,0.5,1.7s0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6v-4.8h2.1v9.7H652.5z"
                                    />
                                    <path class="st4" d="M662,207.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1v5.1
			H657v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4C660.8,207.5,661.4,207.3,662,207.3z"/>
                                    <path class="st4" d="M673,207.5v1.1l-1.7,0.3c0.2,0.2,0.3,0.5,0.4,0.8s0.1,0.6,0.1,0.9c0,1-0.3,1.8-1,2.4s-1.6,0.9-2.9,0.9
			c-0.3,0-0.6,0-0.8-0.1c-0.4,0.3-0.7,0.6-0.7,1c0,0.2,0.1,0.4,0.3,0.5s0.6,0.2,1.1,0.2h1.7c1.1,0,1.9,0.2,2.4,0.7s0.8,1.1,0.8,2
			c0,1.1-0.5,2-1.4,2.5s-2.2,0.9-3.9,0.9c-1.3,0-2.3-0.2-3-0.7s-1-1.1-1-2c0-0.6,0.2-1.1,0.6-1.5c0.4-0.4,0.9-0.7,1.6-0.8
			c-0.3-0.1-0.5-0.3-0.7-0.6s-0.3-0.5-0.3-0.8c0-0.4,0.1-0.7,0.3-0.9s0.5-0.5,0.9-0.7c-0.5-0.2-0.9-0.6-1.2-1.1s-0.5-1.1-0.5-1.7
			c0-1.1,0.3-1.9,1-2.5s1.6-0.9,2.8-0.9c0.3,0,0.6,0,0.9,0.1c0.3,0,0.5,0.1,0.7,0.1L673,207.5L673,207.5z M665.4,218.7
			c0,0.4,0.2,0.8,0.6,1c0.4,0.2,1,0.4,1.7,0.4c1.1,0,2-0.2,2.5-0.5s0.8-0.8,0.8-1.3c0-0.4-0.2-0.7-0.5-0.9s-0.9-0.3-1.7-0.3h-1.6
			c-0.6,0-1.1,0.1-1.4,0.4S665.4,218.2,665.4,218.7z M666.3,210.6c0,0.6,0.2,1.1,0.5,1.4c0.3,0.3,0.8,0.5,1.3,0.5
			c1.2,0,1.8-0.6,1.8-1.9c0-0.6-0.1-1.1-0.4-1.5s-0.7-0.5-1.3-0.5s-1,0.2-1.4,0.5C666.4,209.5,666.3,210,666.3,210.6z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_metz">
                                <path id="Metz" class="st2" d="M596.8,152.4c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C605.8,156.4,601.8,152.4,596.8,152.4z
		 M596.8,166.8c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C602.2,164.3,599.8,166.8,596.8,166.8z"/>
                                <g>
                                    <rect x="613.5" y="155.8" class="st3" width="70" height="20"/>
                                    <path class="st4" d="M620.8,169.4l-3.7-10.7H617c0.1,1.6,0.1,3.1,0.1,4.5v6.2h-1.9v-12.8h3l3.6,10.2h0.1l3.7-10.2h3v12.8h-2V163
			c0-0.6,0-1.5,0-2.5s0.1-1.6,0.1-1.9h-0.1l-3.9,10.7L620.8,169.4L620.8,169.4z"/>
                                    <path class="st4" d="M635.8,169.6c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S636.5,169.6,635.8,169.6z M635.5,161.1c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8S636.1,161.1,635.5,161.1z"/>
                                    <path class="st4" d="M645.6,167.9c0.5,0,1-0.1,1.5-0.2v1.6c-0.2,0.1-0.5,0.2-0.9,0.3s-0.7,0.1-1.1,0.1c-2,0-2.9-1-2.9-3.1v-5.2
			h-1.3v-0.9l1.4-0.8l0.7-2.1h1.3v2.2h2.8v1.6h-2.8v5.2c0,0.5,0.1,0.9,0.4,1.1S645.2,167.9,645.6,167.9z"/>
                                    <path class="st4" d="M655.5,169.4h-7.4v-1.3l4.9-6.9h-4.6v-1.6h6.9v1.4l-4.8,6.7h4.9L655.5,169.4L655.5,169.4z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_sophia">
                                <path id="Sophia" class="st2" d="M676.8,569.5c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C685.8,573.5,681.8,569.5,676.8,569.5z M676.8,583.8c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		C682.2,581.4,679.8,583.8,676.8,583.8z"/>
                                <g>
                                    <rect x="691.6" y="622.9" class="st3" width="111" height="37"/>
                                    <path class="st1" d="M700.7,633.1c0,1.1-0.4,2-1.2,2.7s-2,1-3.4,1s-2.6-0.2-3.6-0.7v-2c0.6,0.3,1.2,0.5,1.9,0.7
			c0.7,0.2,1.3,0.2,1.8,0.2c0.8,0,1.4-0.2,1.8-0.5c0.4-0.3,0.6-0.7,0.6-1.3c0-0.5-0.2-0.9-0.5-1.2s-1.1-0.7-2.3-1.2
			c-1.2-0.5-2-1-2.5-1.6s-0.7-1.3-0.7-2.2c0-1.1,0.4-1.9,1.1-2.5s1.8-0.9,3.1-0.9c1.2,0,2.5,0.3,3.7,0.8l-0.7,1.7
			c-1.1-0.5-2.2-0.7-3.1-0.7c-0.7,0-1.2,0.1-1.5,0.4c-0.4,0.3-0.5,0.7-0.5,1.2c0,0.3,0.1,0.6,0.2,0.9c0.1,0.2,0.4,0.5,0.7,0.7
			s0.9,0.5,1.7,0.8c0.9,0.4,1.6,0.8,2.1,1.1s0.8,0.7,1,1.2S700.7,632.5,700.7,633.1z"/>
                                    <path class="st1" d="M711.6,631.7c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C711.2,628.9,711.6,630.2,711.6,631.7z
			 M704.5,631.7c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9
			S704.5,630.6,704.5,631.7z"/>
                                    <path class="st1" d="M718.9,636.8c-1.2,0-2.2-0.4-2.9-1.3h-0.1c0.1,0.8,0.1,1.3,0.1,1.5v4H714v-14h1.7c0,0.2,0.1,0.6,0.3,1.3h0.1
			c0.6-1,1.6-1.5,2.9-1.5c1.2,0,2.2,0.4,2.8,1.3c0.7,0.9,1,2.1,1,3.7s-0.3,2.8-1,3.7C721.1,636.3,720.1,636.8,718.9,636.8z
			 M718.4,628.4c-0.8,0-1.4,0.2-1.8,0.7c-0.4,0.5-0.6,1.2-0.6,2.3v0.3c0,1.2,0.2,2,0.6,2.6c0.4,0.5,1,0.8,1.8,0.8
			c0.7,0,1.3-0.3,1.7-0.9s0.6-1.4,0.6-2.5c0-1.1-0.2-1.9-0.6-2.5C719.7,628.7,719.1,628.4,718.4,628.4z"/>
                                    <path class="st1" d="M733.7,636.6h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7c-0.3-0.4-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8
			c-0.4,0.5-0.6,1.4-0.6,2.6v4.8h-2.1v-13.7h2.1v3.5c0,0.6,0,1.2-0.1,1.8h0.1c0.3-0.5,0.7-0.8,1.2-1.1c0.5-0.3,1.1-0.4,1.8-0.4
			c2.4,0,3.5,1.2,3.5,3.6V636.6z"/>
                                    <path class="st1" d="M736.5,624.3c0-0.4,0.1-0.7,0.3-0.9c0.2-0.2,0.5-0.3,0.9-0.3c0.4,0,0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,0.9
			c0,0.4-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3C736.6,624.9,736.5,624.6,736.5,624.3z M738.7,636.6h-2.1
			v-9.7h2.1V636.6z"/>
                                    <path class="st1" d="M747.7,636.6l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2c-0.5,0.2-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8
			c-0.5-0.5-0.8-1.2-0.8-2.2c0-1,0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4c-0.3-0.3-0.7-0.5-1.3-0.5
			c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6c0.6-0.1,1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8
			s0.9,1.4,0.9,2.5v6.5H747.7z M744.6,635.2c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5
			c-0.4,0.3-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1C743.7,635.1,744.1,635.2,744.6,635.2z"/>
                                    <path class="st1" d="M701.3,658.2l-1.3-3.6h-4.9l-1.3,3.6h-2.2l4.8-12.9h2.3l4.8,12.9H701.3z M699.4,652.8l-1.2-3.5
			c-0.1-0.2-0.2-0.6-0.4-1.1s-0.3-0.9-0.3-1.1c-0.2,0.7-0.4,1.5-0.7,2.4l-1.2,3.3H699.4z"/>
                                    <path class="st1" d="M713.5,658.2h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7c-0.3-0.4-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8
			s-0.6,1.4-0.6,2.6v4.8H705v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6V658.2z"/>
                                    <path class="st1" d="M720,656.7c0.5,0,1-0.1,1.5-0.2v1.6c-0.2,0.1-0.5,0.2-0.9,0.3c-0.4,0.1-0.7,0.1-1.1,0.1c-2,0-2.9-1-2.9-3.1
			V650h-1.3v-0.9l1.4-0.8l0.7-2.1h1.3v2.2h2.8v1.6h-2.8v5.2c0,0.5,0.1,0.9,0.4,1.1C719.3,656.6,719.6,656.7,720,656.7z"/>
                                    <path class="st1" d="M723.4,645.9c0-0.4,0.1-0.7,0.3-0.9c0.2-0.2,0.5-0.3,0.9-0.3c0.4,0,0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,0.9
			c0,0.4-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3C723.5,646.5,723.4,646.2,723.4,645.9z M725.5,658.2h-2.1
			v-9.7h2.1V658.2z"/>
                                    <path class="st1" d="M733.4,658.4c-1.2,0-2.2-0.4-2.9-1.3h-0.1c0.1,0.8,0.1,1.3,0.1,1.5v4h-2.1v-14h1.7c0,0.2,0.1,0.6,0.3,1.3h0.1
			c0.6-1,1.6-1.5,2.9-1.5c1.2,0,2.2,0.4,2.8,1.3c0.7,0.9,1,2.1,1,3.7s-0.3,2.8-1,3.7C735.6,657.9,734.6,658.4,733.4,658.4z
			 M732.9,650c-0.8,0-1.4,0.2-1.8,0.7c-0.4,0.5-0.6,1.2-0.6,2.3v0.3c0,1.2,0.2,2,0.6,2.6c0.4,0.5,1,0.8,1.8,0.8
			c0.7,0,1.3-0.3,1.7-0.9s0.6-1.4,0.6-2.5c0-1.1-0.2-1.9-0.6-2.5C734.2,650.3,733.7,650,732.9,650z"/>
                                    <path class="st1" d="M748.3,653.3c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C747.9,650.5,748.3,651.8,748.3,653.3z
			 M741.3,653.3c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9
			S741.3,652.2,741.3,653.3z"/>
                                    <path class="st1" d="M752.8,658.2h-2.1v-13.7h2.1V658.2z"/>
                                    <path class="st1" d="M755.6,645.9c0-0.4,0.1-0.7,0.3-0.9c0.2-0.2,0.5-0.3,0.9-0.3c0.4,0,0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,0.9
			c0,0.4-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3C755.7,646.5,755.6,646.2,755.6,645.9z M757.8,658.2h-2.1
			v-9.7h2.1V658.2z"/>
                                    <path class="st1" d="M767.3,655.4c0,0.9-0.3,1.7-1,2.2c-0.7,0.5-1.7,0.8-3,0.8c-1.3,0-2.3-0.2-3.1-0.6V656
			c1.1,0.5,2.2,0.8,3.2,0.8c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6
			c-1.1-0.4-1.9-0.9-2.3-1.3c-0.4-0.4-0.6-1-0.6-1.7c0-0.8,0.3-1.5,1-1.9c0.7-0.5,1.6-0.7,2.7-0.7c1.1,0,2.2,0.2,3.2,0.7l-0.7,1.6
			c-1-0.4-1.9-0.7-2.6-0.7c-1.1,0-1.6,0.3-1.6,0.9c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9
			C767.2,654.5,767.3,654.9,767.3,655.4z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_evry">
                                <path id="Evry" class="st2" d="M409.3,187.2c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C418.2,191.2,414.2,187.2,409.3,187.2z
		 M409.3,201.6c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4S412.2,201.6,409.3,201.6z"/>
                                <g>
                                    <rect x="423" y="203.5" class="st3" width="67" height="23"/>
                                    <path class="st4" d="M432,217.2h-7.3v-12.8h7.3v1.8h-5.2v3.5h4.8v1.8h-4.8v4h5.2V217.2z"/>
                                    <path class="st4" d="M436.7,217.2l-3.7-9.7h2.2l2,5.7c0.3,0.9,0.5,1.7,0.6,2.3h0.1c0.1-0.4,0.3-1.2,0.6-2.3l2-5.7h2.2l-3.7,9.7
			H436.7z"/>
                                    <path class="st4" d="M449.1,207.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4C447.9,207.5,448.5,207.3,449.1,207.3z"/>
                                    <path class="st4" d="M450.4,207.5h2.3l2,5.5c0.3,0.8,0.5,1.5,0.6,2.2h0.1c0.1-0.3,0.1-0.7,0.3-1.2s0.9-2.6,2.2-6.6h2.2l-4.2,11
			c-0.8,2-2,3-3.8,3c-0.5,0-0.9,0-1.3-0.1v-1.6c0.3,0.1,0.7,0.1,1.1,0.1c1,0,1.7-0.6,2.1-1.7l0.4-0.9L450.4,207.5z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_levallois">
                                <path id="Levallois" class="st2" d="M391.3,166.8c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C400.3,170.8,396.3,166.8,391.3,166.8z M391.3,181.1c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		S394.3,181.1,391.3,181.1z"/>
                                <g>
                                    <rect x="304.5" y="148.9" class="st3" width="140.6" height="25"/>
                                    <path class="st4" d="M306.2,162.5v-12.8h2.1v11h5.4v1.8H306.2z"/>
                                    <path class="st4" d="M320,162.7c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S320.7,162.7,320,162.7z M319.6,154.2c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			S320.3,154.2,319.6,154.2z"/>
                                    <path class="st4" d="M328.4,162.5l-3.7-9.7h2.2l2,5.7c0.3,0.9,0.5,1.7,0.6,2.3h0.1c0.1-0.4,0.3-1.2,0.6-2.3l2-5.7h2.2l-3.7,9.7
			H328.4z"/>
                                    <path class="st4" d="M341.9,162.5l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V162.5z M338.8,161.1
			c0.8,0,1.4-0.2,1.8-0.6s0.7-1,0.7-1.8v-0.8L340,158c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			S338.3,161.1,338.8,161.1z"/>
                                    <path class="st4" d="M348.3,162.5h-2.1v-13.7h2.1V162.5z"/>
                                    <path class="st4" d="M353.3,162.5h-2.1v-13.7h2.1V162.5z"/>
                                    <path class="st4" d="M364.9,157.7c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4S364.9,156.1,364.9,157.7z M357.8,157.7
			c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S357.8,156.6,357.8,157.7z"/>
                                    <path class="st4" d="M367.1,150.2c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9s-0.1,0.6-0.3,0.8
			s-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3S367.1,150.6,367.1,150.2z M369.3,162.5h-2.1v-9.7h2.1V162.5z"/>
                                    <path class="st4" d="M378.8,159.8c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6v-1.8c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3s-0.6-1-0.6-1.7
			c0-0.8,0.3-1.5,1-1.9s1.6-0.7,2.7-0.7s2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7c-1.1,0-1.6,0.3-1.6,0.9
			c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S378.8,159.3,378.8,159.8z"/>
                                    <path class="st4" d="M380.2,158.6v-1.8h4.5v1.8H380.2z"/>
                                    <path class="st4" d="M395.5,153.6c0,1.3-0.4,2.4-1.3,3.1s-2.1,1.1-3.8,1.1h-1.3v4.8H387v-12.8h3.7c1.6,0,2.8,0.3,3.6,1
			S395.5,152.3,395.5,153.6z M389.1,156h1.1c1.1,0,1.9-0.2,2.4-0.6s0.8-1,0.8-1.8c0-0.7-0.2-1.3-0.7-1.7s-1.2-0.5-2.1-0.5h-1.5
			L389.1,156L389.1,156z"/>
                                    <path class="st4" d="M402.1,162.7c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S402.8,162.7,402.1,162.7z M401.8,154.2c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8S402.4,154.2,401.8,154.2z"/>
                                    <path class="st4" d="M413.2,152.6c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4S412.6,152.6,413.2,152.6z"/>
                                    <path class="st4" d="M421,152.6c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1v5.1
			H416v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4S420.4,152.6,421,152.6z"/>
                                    <path class="st4" d="M428,162.7c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S428.7,162.7,428,162.7z M427.7,154.2c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			S428.3,154.2,427.7,154.2z"/>
                                    <path class="st4" d="M437.8,161.1c0.5,0,1-0.1,1.5-0.2v1.6c-0.2,0.1-0.5,0.2-0.9,0.3s-0.7,0.1-1.1,0.1c-2,0-2.9-1-2.9-3.1v-5.2
			H433v-0.9l1.4-0.8l0.7-2.1h1.3v2.2h2.8v1.6h-2.8v5.2c0,0.5,0.1,0.9,0.4,1.1S437.4,161.1,437.8,161.1z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_reims">
                                <path id="Reims" class="st2" d="M484.3,142.8c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C493.2,146.8,489.2,142.8,484.3,142.8z
		 M484.3,157.1c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4S487.2,157.1,484.3,157.1z"/>
                                <g>
                                    <rect x="471" y="124.5" class="st3" width="71" height="24"/>
                                    <path class="st4" d="M474.8,133v5.1h-2.1v-12.8h3.6c1.7,0,2.9,0.3,3.7,0.9s1.2,1.6,1.2,2.8c0,1.6-0.8,2.7-2.5,3.4l3.6,5.7h-2.4
			l-3.1-5.1L474.8,133L474.8,133z M474.8,131.3h1.5c1,0,1.7-0.2,2.1-0.5s0.7-0.9,0.7-1.6c0-0.7-0.2-1.2-0.7-1.6s-1.2-0.5-2.1-0.5
			h-1.4v4.2H474.8z"/>
                                    <path class="st4" d="M488.2,138.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S488.9,138.4,488.2,138.4z M487.8,129.8c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8S488.5,129.8,487.8,129.8z"/>
                                    <path class="st4" d="M494.2,125.9c0-0.4,0.1-0.7,0.3-0.9c0.2-0.2,0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,0.9
			s-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3C494.3,126.5,494.2,126.2,494.2,125.9z M496.4,138.2h-2.1v-9.7
			h2.1V138.2z"/>
                                    <path class="st4" d="M507.6,138.2h-2.1v-6c0-0.7-0.1-1.3-0.4-1.7s-0.7-0.5-1.3-0.5c-0.8,0-1.4,0.3-1.8,0.8s-0.6,1.4-0.6,2.6v4.8
			h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.7-0.4c1.5,0,2.5,0.5,3,1.5h0.1c0.3-0.5,0.7-0.9,1.2-1.1
			s1.1-0.4,1.8-0.4c1.2,0,2,0.3,2.5,0.9c0.5,0.6,0.8,1.5,0.8,2.7v6.3h-2.1v-6c0-0.7-0.1-1.3-0.4-1.7s-0.7-0.5-1.3-0.5
			c-0.8,0-1.4,0.3-1.8,0.8s-0.6,1.3-0.6,2.3v5.1H507.6z"/>
                                    <path class="st4" d="M523.1,135.4c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6V136c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3
			c-0.4-0.4-0.6-1-0.6-1.7c0-0.8,0.3-1.5,1-1.9s1.6-0.7,2.7-0.7c1.1,0,2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7
			c-1.1,0-1.6,0.3-1.6,0.9c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S523.1,134.9,523.1,135.4
			z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_lille">
                                <path id="Lille" class="st2" d="M427.3,33.8c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C436.2,37.8,432.2,33.8,427.3,33.8z
		 M427.3,48.1c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C432.7,45.7,430.2,48.1,427.3,48.1z"/>
                                <g>
                                    <rect x="411.1" y="69.5" class="st3" width="36.3" height="21"/>
                                    <path class="st4" d="M412.8,83.2V70.3h2.1v11h5.4v1.8L412.8,83.2L412.8,83.2z"/>
                                    <path class="st4" d="M422.2,70.9c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9s-0.1,0.6-0.3,0.8
			s-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3S422.2,71.2,422.2,70.9z M424.4,83.2h-2.1v-9.7h2.1V83.2z"/>
                                    <path class="st4" d="M429.4,83.2h-2.1V69.5h2.1V83.2z"/>
                                    <path class="st4" d="M434.5,83.2h-2.1V69.5h2.1V83.2z"/>
                                    <path class="st4" d="M441.7,83.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1H439c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S442.3,83.4,441.7,83.4z M441.3,74.8c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			S441.9,74.8,441.3,74.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_brive">
                                <path id="BriveLaGaillarde" class="st2" d="M374.6,454.5c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C383.6,458.5,379.6,454.5,374.6,454.5z M374.6,468.8c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		S377.6,468.8,374.6,468.8z"/>
                                <g>
                                    <rect x="310" y="431.5" class="st3" width="156.5" height="23"/>
                                    <path class="st4" d="M311.7,432.3h3.8c1.8,0,3,0.3,3.8,0.8s1.2,1.3,1.2,2.4c0,0.8-0.2,1.4-0.6,1.9s-0.9,0.8-1.7,0.9v0.1
			c0.9,0.2,1.6,0.5,2,1s0.6,1.2,0.6,2c0,1.2-0.4,2.1-1.2,2.7c-0.8,0.7-1.9,1-3.4,1h-4.6v-12.8H311.7z M313.8,437.6h2
			c0.9,0,1.5-0.1,1.9-0.4s0.6-0.8,0.6-1.4s-0.2-1-0.7-1.3s-1.1-0.4-2.1-0.4h-1.8v3.5H313.8z M313.8,439.3v4.1h2.2
			c0.9,0,1.5-0.2,2-0.5s0.7-0.9,0.7-1.6s-0.2-1.2-0.7-1.5s-1.2-0.5-2.1-0.5H313.8z"/>
                                    <path class="st4" d="M328.3,435.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4S327.7,435.3,328.3,435.3z"/>
                                    <path class="st4" d="M331,432.9c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9s-0.1,0.6-0.3,0.8
			c-0.2,0.2-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3S331,433.2,331,432.9z M333.2,445.2h-2.1v-9.7h2.1V445.2z"/>
                                    <path class="st4" d="M338.3,445.2l-3.7-9.7h2.2l2,5.7c0.3,0.9,0.5,1.7,0.6,2.3h0.1c0.1-0.4,0.3-1.2,0.6-2.3l2-5.7h2.2l-3.7,9.7
			H338.3z"/>
                                    <path class="st4" d="M350,445.4c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S350.7,445.4,350,445.4z M349.6,436.8c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			C350.8,437.1,350.3,436.8,349.6,436.8z"/>
                                    <path class="st4" d="M361,445.2v-12.8h2.1v11h5.4v1.8H361z"/>
                                    <path class="st4" d="M376.7,445.2l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V445.2z M373.6,443.8
			c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			C372.7,443.7,373.1,443.8,373.6,443.8z"/>
                                    <path class="st4" d="M391.2,438.2h4.7v6.5c-0.8,0.3-1.5,0.4-2.2,0.5s-1.5,0.2-2.3,0.2c-1.9,0-3.4-0.6-4.5-1.7
			c-1.1-1.2-1.6-2.8-1.6-4.9s0.6-3.7,1.8-4.9c1.2-1.2,2.8-1.8,4.9-1.8c1.3,0,2.6,0.3,3.8,0.8l-0.7,1.7c-1-0.5-2.1-0.7-3.1-0.7
			c-1.4,0-2.5,0.4-3.3,1.3s-1.2,2-1.2,3.5c0,1.6,0.4,2.8,1.1,3.6c0.7,0.8,1.8,1.2,3.1,1.2c0.7,0,1.4-0.1,2.2-0.3V440h-2.7
			L391.2,438.2L391.2,438.2z"/>
                                    <path class="st4" d="M404.8,445.2l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V445.2z M401.8,443.8
			c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			C400.9,443.7,401.2,443.8,401.8,443.8z"/>
                                    <path class="st4" d="M409.1,432.9c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3c0.2,0.2,0.3,0.5,0.3,0.9
			s-0.1,0.6-0.3,0.8c-0.2,0.2-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3S409.1,433.2,409.1,432.9z M411.3,445.2h-2.1v-9.7h2.1V445.2z"
                                    />
                                    <path class="st4" d="M416.3,445.2h-2.1v-13.7h2.1V445.2z"/>
                                    <path class="st4" d="M421.3,445.2h-2.1v-13.7h2.1V445.2z"/>
                                    <path class="st4" d="M430.3,445.2l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V445.2z M427.3,443.8
			c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			C426.4,443.7,426.7,443.8,427.3,443.8z"/>
                                    <path class="st4" d="M439.6,435.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4C438.5,435.5,439,435.3,439.6,435.3z"/>
                                    <path class="st4" d="M445.7,445.4c-1.2,0-2.2-0.4-2.8-1.3s-1-2.1-1-3.7s0.3-2.8,1-3.7c0.7-0.9,1.6-1.3,2.9-1.3s2.3,0.5,2.9,1.4
			h0.1c-0.1-0.7-0.1-1.2-0.1-1.7v-3.5h2.1v13.7h-1.6l-0.4-1.3h-0.1C448,444.9,447,445.4,445.7,445.4z M446.3,443.7
			c0.8,0,1.5-0.2,1.9-0.7s0.6-1.3,0.6-2.3v-0.3c0-1.2-0.2-2.1-0.6-2.6s-1-0.8-1.9-0.8c-0.7,0-1.3,0.3-1.7,0.9
			c-0.4,0.6-0.6,1.4-0.6,2.5s0.2,1.9,0.6,2.5S445.5,443.7,446.3,443.7z"/>
                                    <path class="st4" d="M457.9,445.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S458.6,445.4,457.9,445.4z M457.5,436.8c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			C458.7,437.1,458.2,436.8,457.5,436.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_tours">
                                <path id="Tours" class="st2" d="M311.6,306.1c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C320.6,310.1,316.6,306.1,311.6,306.1z
		 M311.6,320.4c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4S314.6,320.4,311.6,320.4z"/>
                                <g>
                                    <rect x="284.5" y="287" class="st3" width="66" height="21"/>
                                    <path class="st4" d="M290.7,300.7h-2.1v-11h-3.8v-1.8h9.7v1.8h-3.8L290.7,300.7L290.7,300.7z"/>
                                    <path class="st4" d="M304.8,295.8c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4S304.8,294.3,304.8,295.8z M297.7,295.8
			c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S297.7,294.7,297.7,295.8z"/>
                                    <path class="st4" d="M314,300.7l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
			s-0.9-1.5-0.9-2.7V291h2.1v6c0,0.7,0.2,1.3,0.5,1.7s0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6V291h2.1v9.7H314z"/>
                                    <path class="st4" d="M323.5,290.8c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1V291h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4S322.9,290.8,323.5,290.8z"/>
                                    <path class="st4" d="M332.9,297.9c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6v-1.8c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3s-0.6-1-0.6-1.7
			c0-0.8,0.3-1.5,1-1.9s1.6-0.7,2.7-0.7s2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7c-1.1,0-1.6,0.3-1.6,0.9
			c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S332.9,297.4,332.9,297.9z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_toulouse">
                                <path id="Toulouse" class="st2" d="M366.6,558.1c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C375.6,562.1,371.6,558.1,366.6,558.1z M366.6,572.4c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		S369.6,572.4,366.6,572.4z"/>
                                <g>
                                    <rect x="315" y="536.5" class="st3" width="80" height="22"/>
                                    <path class="st4" d="M321.1,550.2H319v-11h-3.8v-1.8h9.7v1.8h-3.8L321.1,550.2L321.1,550.2z"/>
                                    <path class="st4" d="M335.3,545.3c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C334.9,542.5,335.3,543.8,335.3,545.3z
			 M328.2,545.3c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9
			S328.2,544.2,328.2,545.3z"/>
                                    <path class="st4" d="M344.5,550.2l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
			s-0.9-1.5-0.9-2.7v-6.4h2.1v6c0,0.7,0.2,1.3,0.5,1.7s0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6v-4.8h2.1v9.7H344.5z"
                                    />
                                    <path class="st4" d="M351.1,550.2H349v-13.7h2.1V550.2z"/>
                                    <path class="st4" d="M362.7,545.3c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C362.3,542.5,362.7,543.8,362.7,545.3z
			 M355.6,545.3c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9
			S355.6,544.2,355.6,545.3z"/>
                                    <path class="st4" d="M372,550.2l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
			s-0.9-1.5-0.9-2.7v-6.4h2.1v6c0,0.7,0.2,1.3,0.5,1.7s0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6v-4.8h2.1v9.7H372z"/>
                                    <path class="st4" d="M383.1,547.4c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6V548c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3s-0.6-1-0.6-1.7
			c0-0.8,0.3-1.5,1-1.9c0.7-0.5,1.6-0.7,2.7-0.7s2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7c-1.1,0-1.6,0.3-1.6,0.9
			c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S383.1,546.9,383.1,547.4z"/>
                                    <path class="st4" d="M389.5,550.4c-1.5,0-2.7-0.4-3.5-1.3c-0.9-0.9-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S390.2,550.4,389.5,550.4z M389.2,541.8c-0.7,0-1.2,0.2-1.6,0.6c-0.4,0.4-0.6,1-0.7,1.8h4.4
			c0-0.8-0.2-1.4-0.6-1.8C390.3,542.1,389.8,541.8,389.2,541.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_pau">
                                <path id="Pau" class="st2" d="M266.9,600.5c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C275.9,604.6,271.9,600.5,266.9,600.5z
		 M266.9,614.9c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4S269.9,614.9,266.9,614.9z"/>
                                <g>
                                    <rect x="265" y="580.5" class="st3" width="40" height="20"/>
                                    <path class="st4" d="M275.2,585.2c0,1.3-0.4,2.4-1.3,3.1s-2.1,1.1-3.8,1.1h-1.3v4.8h-2.1v-12.8h3.7c1.6,0,2.8,0.3,3.6,1
			S275.2,583.9,275.2,585.2z M268.8,587.6h1.1c1.1,0,1.9-0.2,2.4-0.6s0.8-1,0.8-1.8c0-0.7-0.2-1.3-0.7-1.7s-1.2-0.5-2.1-0.5h-1.5
			L268.8,587.6L268.8,587.6z"/>
                                    <path class="st4" d="M283.6,594.2l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4c-0.3-0.3-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2
			s-0.9,0.3-1.3,0.5l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V594.2z
			 M280.6,592.8c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3
			c0,0.4,0.1,0.8,0.4,1C279.7,592.7,280,592.8,280.6,592.8z"/>
                                    <path class="st4" d="M294.8,594.2l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
			s-0.9-1.5-0.9-2.7v-6.4h2.1v6c0,0.7,0.2,1.3,0.5,1.7s0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6v-4.8h2.1v9.7H294.8z"
                                    />
                                </g>
                            </g>
                            <g class="marker" id="marker_larochelle">
                                <path id="LaRochelle" class="st2" d="M211.4,394.5c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C220.4,398.6,216.4,394.5,211.4,394.5z M211.4,408.9c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		C216.8,406.5,214.4,408.9,211.4,408.9z"/>
                                <g>
                                    <rect x="189" y="374" class="st3" width="105.5" height="25"/>
                                    <path class="st4" d="M190.7,387.7v-12.8h2.1v11h5.4v1.8H190.7z"/>
                                    <path class="st4" d="M206.3,387.7l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V387.7z M203.2,386.3
			c0.8,0,1.4-0.2,1.8-0.6s0.7-1,0.7-1.8V383l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			S202.7,386.3,203.2,386.3z"/>
                                    <path class="st4" d="M217.7,382.5v5.1h-2.1v-12.8h3.6c1.7,0,2.9,0.3,3.7,0.9s1.2,1.6,1.2,2.8c0,1.6-0.8,2.7-2.5,3.4l3.6,5.7h-2.4
			l-3.1-5.1H217.7z M217.7,380.8h1.5c1,0,1.7-0.2,2.1-0.5s0.7-0.9,0.7-1.6s-0.2-1.2-0.7-1.6s-1.2-0.5-2.1-0.5h-1.4v4.2H217.7z"/>
                                    <path class="st4" d="M235.5,382.8c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4S235.5,381.3,235.5,382.8z M228.4,382.8
			c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S228.4,381.7,228.4,382.8z"/>
                                    <path class="st4" d="M241.8,387.9c-1.5,0-2.6-0.4-3.4-1.3s-1.1-2.1-1.1-3.7s0.4-2.9,1.2-3.8s2-1.3,3.5-1.3c1,0,1.9,0.2,2.8,0.6
			l-0.6,1.7c-0.9-0.3-1.6-0.5-2.2-0.5c-1.7,0-2.5,1.1-2.5,3.3c0,1.1,0.2,1.9,0.6,2.5s1,0.8,1.8,0.8c0.9,0,1.8-0.2,2.6-0.7v1.8
			c-0.4,0.2-0.8,0.4-1.2,0.5S242.4,387.9,241.8,387.9z"/>
                                    <path class="st4" d="M255.3,387.7h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7s-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8s-0.6,1.4-0.6,2.6v4.8
			h-2.1V374h2.1v3.5c0,0.6,0,1.2-0.1,1.8h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.4,0,3.5,1.2,3.5,3.6V387.7z"/>
                                    <path class="st4" d="M262.4,387.9c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S263.1,387.9,262.4,387.9z M262.1,379.3c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			S262.7,379.3,262.1,379.3z"/>
                                    <path class="st4" d="M270.6,387.7h-2.1V374h2.1V387.7z"/>
                                    <path class="st4" d="M275.6,387.7h-2.1V374h2.1V387.7z"/>
                                    <path class="st4" d="M282.8,387.9c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S283.5,387.9,282.8,387.9z M282.5,379.3c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			S283.1,379.3,282.5,379.3z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_quimper">
                                <path id="Quimper" class="st2" d="M55.3,215.9c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C64.2,219.9,60.2,215.9,55.3,215.9z
		 M55.3,230.3c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C60.7,227.9,58.2,230.3,55.3,230.3z"/>
                                <g>
                                    <rect x="73" y="221.5" class="st3" width="90.4" height="24"/>
                                    <path class="st4" d="M86.1,228.7c0,1.6-0.3,2.9-0.9,3.9s-1.5,1.8-2.6,2.3l3.1,3.3h-2.8l-2.4-2.9h-0.3c-1.9,0-3.4-0.6-4.5-1.7
			s-1.6-2.8-1.6-4.9s0.5-3.8,1.6-4.9s2.5-1.7,4.5-1.7c1.9,0,3.4,0.6,4.4,1.7S86.1,226.6,86.1,228.7z M76.3,228.7
			c0,1.6,0.3,2.8,1,3.6s1.6,1.2,2.8,1.2c1.2,0,2.2-0.4,2.8-1.2s1-2,1-3.6s-0.3-2.8-0.9-3.6s-1.6-1.2-2.8-1.2c-1.3,0-2.2,0.4-2.9,1.2
			S76.3,227.2,76.3,228.7z"/>
                                    <path class="st4" d="M95.5,235.2l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
			s-0.9-1.5-0.9-2.7v-6.4h2.1v6c0,0.7,0.2,1.3,0.5,1.7s0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6v-4.8h2.1v9.7H95.5z"
                                    />
                                    <path class="st4" d="M99.9,222.9c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9s-0.1,0.6-0.3,0.8
			s-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3S99.9,223.2,99.9,222.9z M102.1,235.2H100v-9.7h2.1V235.2z"/>
                                    <path class="st4" d="M113.3,235.2h-2.1v-6c0-0.7-0.1-1.3-0.4-1.7s-0.7-0.5-1.3-0.5c-0.8,0-1.4,0.3-1.8,0.8s-0.6,1.4-0.6,2.6v4.8
			H105v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.7-0.4c1.5,0,2.5,0.5,3,1.5h0.1c0.3-0.5,0.7-0.9,1.2-1.1
			s1.1-0.4,1.8-0.4c1.2,0,2,0.3,2.5,0.9s0.8,1.5,0.8,2.7v6.3h-2.1v-6c0-0.7-0.1-1.3-0.4-1.7s-0.7-0.5-1.3-0.5
			c-0.8,0-1.4,0.3-1.8,0.8s-0.6,1.3-0.6,2.3v5.1H113.3z"/>
                                    <path class="st4" d="M127.2,235.4c-1.2,0-2.2-0.4-2.9-1.3h-0.1c0.1,0.8,0.1,1.3,0.1,1.5v4h-2.1v-14h1.7c0,0.2,0.1,0.6,0.3,1.3h0.1
			c0.6-1,1.6-1.5,2.9-1.5c1.2,0,2.2,0.4,2.8,1.3s1,2.1,1,3.7s-0.3,2.8-1,3.7S128.4,235.4,127.2,235.4z M126.7,227
			c-0.8,0-1.4,0.2-1.8,0.7s-0.6,1.2-0.6,2.3v0.3c0,1.2,0.2,2,0.6,2.6s1,0.8,1.8,0.8c0.7,0,1.3-0.3,1.7-0.9s0.6-1.4,0.6-2.5
			s-0.2-1.9-0.6-2.5S127.5,227,126.7,227z"/>
                                    <path class="st4" d="M137.8,235.4c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S138.4,235.4,137.8,235.4z M137.4,226.8c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			S138,226.8,137.4,226.8z"/>
                                    <path class="st4" d="M148.8,225.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4S148.2,225.3,148.8,225.3z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_bayonne">
                                <path id="Bayonne" class="st2" d="M202.1,574.9c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C211,578.9,207,574.9,202.1,574.9z
		 M202.1,589.2c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C207.4,586.8,205,589.2,202.1,589.2z"/>
                                <g>
                                    <rect x="196" y="552.5" class="st3" width="81" height="23"/>
                                    <path class="st4" d="M197.7,553.3h3.8c1.8,0,3,0.3,3.8,0.8s1.2,1.3,1.2,2.4c0,0.8-0.2,1.4-0.6,1.9s-0.9,0.8-1.7,0.9v0.1
			c0.9,0.2,1.6,0.5,2,1s0.6,1.2,0.6,2c0,1.2-0.4,2.1-1.2,2.7c-0.8,0.7-1.9,1-3.4,1h-4.6L197.7,553.3L197.7,553.3z M199.8,558.6h2
			c0.9,0,1.5-0.1,1.9-0.4c0.4-0.3,0.6-0.8,0.6-1.4c0-0.6-0.2-1-0.7-1.3s-1.1-0.4-2.1-0.4h-1.8v3.5H199.8z M199.8,560.3v4.1h2.2
			c0.9,0,1.5-0.2,2-0.5s0.7-0.9,0.7-1.6c0-0.7-0.2-1.2-0.7-1.5s-1.2-0.5-2.1-0.5H199.8z"/>
                                    <path class="st4" d="M215.4,566.2l-0.4-1.4l0,0c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4c-0.3-0.3-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2
			s-0.9,0.3-1.3,0.5l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6c0.6-0.1,1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.7
			V566.2z M212.4,564.8c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5c-0.4,0.3-0.7,0.7-0.7,1.3
			c0,0.4,0.1,0.8,0.4,1C211.5,564.7,211.8,564.8,212.4,564.8z"/>
                                    <path class="st4" d="M218.3,556.5h2.3l2,5.5c0.3,0.8,0.5,1.5,0.6,2.2h0.1c0.1-0.3,0.1-0.7,0.3-1.2s0.9-2.6,2.2-6.6h2.2l-4.2,11
			c-0.8,2-2,3-3.8,3c-0.5,0-0.9,0-1.3-0.1v-1.6c0.3,0.1,0.7,0.1,1.1,0.1c1,0,1.7-0.6,2.1-1.7l0.4-0.9L218.3,556.5z"/>
                                    <path class="st4" d="M238.1,561.3c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8
			s-0.6-1.7-0.6-2.7c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C237.7,558.5,238.1,559.8,238.1,561.3z M231,561.3
			c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S231,560.2,231,561.3z"/>
                                    <path class="st4" d="M249,566.2h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7s-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8s-0.6,1.4-0.6,2.6v4.8
			h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6L249,566.2L249,566.2z"/>
                                    <path class="st4" d="M260.4,566.2h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7s-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8s-0.6,1.4-0.6,2.6v4.8
			h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H260.4z"/>
                                    <path class="st4" d="M267.5,566.4c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S268.2,566.4,267.5,566.4z M267.2,557.8c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			C268.3,558.1,267.8,557.8,267.2,557.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_orleans">
                                <path id="Orleans" class="st2" d="M375.6,272.9c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C384.6,276.9,380.6,272.9,375.6,272.9
		z M375.6,287.2c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C381,284.8,378.6,287.2,375.6,287.2z"/>
                                <g>
                                    <rect x="343.6" y="251.5" class="st3" width="78.6" height="18.8"/>
                                    <path class="st4" d="M356.7,258.7c0,2.1-0.5,3.7-1.6,4.9s-2.5,1.7-4.4,1.7s-3.4-0.6-4.5-1.7s-1.6-2.8-1.6-4.9s0.5-3.8,1.6-4.9
			s2.5-1.7,4.5-1.7c1.9,0,3.4,0.6,4.4,1.7S356.7,256.6,356.7,258.7z M346.9,258.7c0,1.6,0.3,2.8,1,3.6s1.6,1.2,2.8,1.2
			c1.2,0,2.2-0.4,2.8-1.2s1-2,1-3.6s-0.3-2.8-0.9-3.6s-1.6-1.2-2.8-1.2c-1.3,0-2.2,0.4-2.9,1.2S346.9,257.2,346.9,258.7z"/>
                                    <path class="st4" d="M364.2,255.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4S363.6,255.3,364.2,255.3z"/>
                                    <path class="st4" d="M369.1,265.2H367v-13.7h2.1V265.2z"/>
                                    <path class="st4" d="M376.3,265.4c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S376.9,265.4,376.3,265.4z M375.9,256.8c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			S376.6,256.8,375.9,256.8z M374.6,254.3v-0.2c0.3-0.4,0.7-0.9,1-1.4s0.6-0.9,0.8-1.3h2.4v0.2c-0.3,0.4-0.8,0.8-1.4,1.4
			s-1.1,1-1.5,1.3H374.6z"/>
                                    <path class="st4" d="M388.5,265.2l-0.4-1.4H388c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V265.2z M385.4,263.8
			c0.8,0,1.4-0.2,1.8-0.6s0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			S384.9,263.8,385.4,263.8z"/>
                                    <path class="st4" d="M401.4,265.2h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7s-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8s-0.6,1.4-0.6,2.6v4.8
			h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H401.4z"/>
                                    <path class="st4" d="M410.8,262.4c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6V263c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3s-0.6-1-0.6-1.7
			c0-0.8,0.3-1.5,1-1.9s1.6-0.7,2.7-0.7s2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7c-1.1,0-1.6,0.3-1.6,0.9
			c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S410.8,261.9,410.8,262.4z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_nantes">
                                <path id="Nantes" class="st2" d="M191.4,312.4c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C200.4,316.5,196.4,312.4,191.4,312.4z
		 M191.4,326.8c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C196.8,324.4,194.4,326.8,191.4,326.8z"/>
                                <g>
                                    <rect x="167.4" y="293.1" class="st3" width="80" height="22"/>
                                    <path class="st4" d="M179.8,306.7h-2.6l-6.3-10.2h-0.1v0.6c0.1,1.1,0.1,2.1,0.1,3v6.7H169V294h2.5l6.3,10.2h0.1
			c0-0.1,0-0.6-0.1-1.5s-0.1-1.5-0.1-2V294h1.9v12.7H179.8z"/>
                                    <path class="st4" d="M189.1,306.7l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V306.7z M186,305.3
			c0.8,0,1.4-0.2,1.8-0.6s0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			S185.5,305.3,186,305.3z"/>
                                    <path class="st4" d="M202,306.7h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7s-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8s-0.6,1.4-0.6,2.6v4.8
			h-2.1V297h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6L202,306.7L202,306.7z"/>
                                    <path class="st4" d="M208.5,305.2c0.5,0,1-0.1,1.5-0.2v1.6c-0.2,0.1-0.5,0.2-0.9,0.3s-0.7,0.1-1.1,0.1c-2,0-2.9-1-2.9-3.1v-5.2
			h-1.3v-0.9l1.4-0.8l0.7-2.1h1.3v2.2h2.8v1.6h-2.8v5.2c0,0.5,0.1,0.9,0.4,1.1S208.1,305.2,208.5,305.2z"/>
                                    <path class="st4" d="M216.2,306.9c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S216.9,306.9,216.2,306.9z M215.8,298.4c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			S216.5,298.4,215.8,298.4z"/>
                                    <path class="st4" d="M228.9,304c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6v-1.8c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3s-0.6-1-0.6-1.7
			c0-0.8,0.3-1.5,1-1.9s1.6-0.7,2.7-0.7c1.1,0,2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7c-1.1,0-1.6,0.3-1.6,0.9
			c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S228.9,303.5,228.9,304z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_rivesaltes">
                                <path id="Rivesaltes" class="st2" d="M438.2,649.6c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C447.2,653.6,443.2,649.6,438.2,649.6z M438.2,663.9c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		S441.2,663.9,438.2,663.9z"/>
                                <g>
                                    <rect x="334.8" y="647.9" class="st3" width="99" height="23"/>
                                    <path class="st4" d="M338.6,656.5v5.1h-2.1v-12.8h3.6c1.7,0,2.9,0.3,3.7,0.9s1.2,1.6,1.2,2.8c0,1.6-0.8,2.7-2.5,3.4l3.6,5.7h-2.4
			l-3.1-5.1L338.6,656.5L338.6,656.5z M338.6,654.7h1.5c1,0,1.7-0.2,2.1-0.5s0.7-0.9,0.7-1.6c0-0.7-0.2-1.2-0.7-1.6
			s-1.2-0.5-2.1-0.5h-1.4v4.2H338.6z"/>
                                    <path class="st4" d="M347.7,649.3c0-0.4,0.1-0.7,0.3-0.9s0.5-0.3,0.9-0.3s0.6,0.1,0.8,0.3s0.3,0.5,0.3,0.9s-0.1,0.6-0.3,0.8
			c-0.2,0.2-0.5,0.3-0.8,0.3c-0.4,0-0.7-0.1-0.9-0.3C347.8,649.9,347.7,649.7,347.7,649.3z M349.8,661.6h-2.1v-9.7h2.1V661.6z"/>
                                    <path class="st4" d="M355,661.6l-3.7-9.7h2.2l2,5.7c0.3,0.9,0.5,1.7,0.6,2.3h0.1c0.1-0.4,0.3-1.2,0.6-2.3l2-5.7h2.2l-3.7,9.7H355z
			"/>
                                    <path class="st4" d="M366.7,661.8c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1H364c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S367.3,661.8,366.7,661.8z M366.3,653.3c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			C367.5,653.5,367,653.3,366.3,653.3z"/>
                                    <path class="st4" d="M379.3,658.8c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6v-1.8c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3s-0.6-1-0.6-1.7
			c0-0.8,0.3-1.5,1-1.9c0.7-0.5,1.6-0.7,2.7-0.7s2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7c-1.1,0-1.6,0.3-1.6,0.9
			c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S379.3,658.4,379.3,658.8z"/>
                                    <path class="st4" d="M387.6,661.6l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1V655c0-0.6-0.1-1.1-0.4-1.4c-0.3-0.3-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2
			s-0.9,0.3-1.3,0.5l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V661.6z
			 M384.6,660.2c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8V657l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3
			c0,0.4,0.1,0.8,0.4,1C383.7,660.1,384.1,660.2,384.6,660.2z"/>
                                    <path class="st4" d="M394.1,661.6H392v-13.7h2.1V661.6z"/>
                                    <path class="st4" d="M400.6,660.1c0.5,0,1-0.1,1.5-0.2v1.6c-0.2,0.1-0.5,0.2-0.9,0.3s-0.7,0.1-1.1,0.1c-2,0-2.9-1-2.9-3.1v-5.2
			h-1.3v-0.9l1.4-0.8l0.7-2.1h1.3v2.2h2.8v1.6h-2.8v5.2c0,0.5,0.1,0.9,0.4,1.1C399.9,660,400.2,660.1,400.6,660.1z"/>
                                    <path class="st4" d="M408.3,661.8c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S409,661.8,408.3,661.8z M408,653.3c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			C409.1,653.5,408.6,653.3,408,653.3z"/>
                                    <path class="st4" d="M421,658.8c0,0.9-0.3,1.7-1,2.2s-1.7,0.8-3,0.8s-2.3-0.2-3.1-0.6v-1.8c1.1,0.5,2.2,0.8,3.2,0.8
			c1.3,0,1.9-0.4,1.9-1.2c0-0.2-0.1-0.5-0.2-0.6s-0.4-0.3-0.7-0.5s-0.8-0.4-1.3-0.6c-1.1-0.4-1.9-0.9-2.3-1.3s-0.6-1-0.6-1.7
			c0-0.8,0.3-1.5,1-1.9c0.7-0.5,1.6-0.7,2.7-0.7s2.2,0.2,3.2,0.7l-0.7,1.6c-1-0.4-1.9-0.7-2.6-0.7c-1.1,0-1.6,0.3-1.6,0.9
			c0,0.3,0.1,0.6,0.4,0.8s0.9,0.5,1.9,0.9c0.8,0.3,1.4,0.6,1.7,0.9s0.6,0.6,0.8,0.9S421,658.4,421,658.8z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_bordeaux">
                                <path id="Bordeaux" class="st2" d="M250.5,480.2c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7
		C259.5,484.3,255.5,480.2,250.5,480.2z M250.5,494.6c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4
		S253.5,494.6,250.5,494.6z"/>
                                <g>
                                    <rect x="219" y="459.5" class="st3" width="97" height="22"/>
                                    <path class="st4" d="M220.7,460.3h3.8c1.8,0,3,0.3,3.8,0.8s1.2,1.3,1.2,2.4c0,0.8-0.2,1.4-0.6,1.9s-0.9,0.8-1.7,0.9v0.1
			c0.9,0.2,1.6,0.5,2,1s0.6,1.2,0.6,2c0,1.2-0.4,2.1-1.2,2.7c-0.8,0.7-1.9,1-3.4,1h-4.6L220.7,460.3L220.7,460.3z M222.8,465.6h2
			c0.9,0,1.5-0.1,1.9-0.4s0.6-0.8,0.6-1.4s-0.2-1-0.7-1.3s-1.1-0.4-2.1-0.4h-1.8v3.5H222.8z M222.8,467.3v4.1h2.2
			c0.9,0,1.5-0.2,2-0.5s0.7-0.9,0.7-1.6s-0.2-1.2-0.7-1.5s-1.2-0.5-2.1-0.5H222.8z"/>
                                    <path class="st4" d="M241,468.3c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8s-0.6-1.7-0.6-2.7
			c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4C240.6,465.5,241,466.8,241,468.3z M233.9,468.3
			c0,2.2,0.8,3.4,2.5,3.4c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S233.9,467.2,233.9,468.3z"/>
                                    <path class="st4" d="M248.3,463.3c0.4,0,0.8,0,1,0.1l-0.2,1.9c-0.3-0.1-0.6-0.1-0.9-0.1c-0.8,0-1.5,0.3-2,0.8s-0.8,1.2-0.8,2.1
			v5.1h-2.1v-9.7h1.6l0.3,1.7h0.1c0.3-0.6,0.7-1,1.3-1.4S247.7,463.3,248.3,463.3z"/>
                                    <path class="st4" d="M254.4,473.4c-1.2,0-2.2-0.4-2.8-1.3s-1-2.1-1-3.7s0.3-2.8,1-3.7c0.7-0.9,1.6-1.3,2.9-1.3
			c1.3,0,2.3,0.5,2.9,1.4h0.1c-0.1-0.7-0.1-1.2-0.1-1.7v-3.5h2.1v13.7h-1.6l-0.4-1.3h-0.1C256.6,472.9,255.7,473.4,254.4,473.4z
			 M254.9,471.7c0.8,0,1.5-0.2,1.9-0.7s0.6-1.3,0.6-2.3v-0.3c0-1.2-0.2-2.1-0.6-2.6s-1-0.8-1.9-0.8c-0.7,0-1.3,0.3-1.7,0.9
			s-0.6,1.4-0.6,2.5s0.2,1.9,0.6,2.5S254.2,471.7,254.9,471.7z"/>
                                    <path class="st4" d="M266.6,473.4c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
			c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
			c-0.5,0.2-1,0.4-1.5,0.5S267.2,473.4,266.6,473.4z M266.2,464.8c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
			C267.4,465.1,266.9,464.8,266.2,464.8z"/>
                                    <path class="st4" d="M278.8,473.2l-0.4-1.4h-0.1c-0.5,0.6-0.9,1-1.4,1.2s-1.1,0.3-1.8,0.3c-1,0-1.7-0.3-2.2-0.8s-0.8-1.2-0.8-2.2
			s0.4-1.8,1.1-2.3s1.9-0.8,3.4-0.8l1.7-0.1v-0.5c0-0.6-0.1-1.1-0.4-1.4s-0.7-0.5-1.3-0.5c-0.5,0-1,0.1-1.4,0.2s-0.9,0.3-1.3,0.5
			l-0.7-1.5c0.5-0.3,1.1-0.5,1.7-0.6s1.2-0.2,1.8-0.2c1.2,0,2.2,0.3,2.8,0.8s0.9,1.4,0.9,2.5v6.5h-1.6V473.2z M275.7,471.8
			c0.8,0,1.4-0.2,1.8-0.6c0.5-0.4,0.7-1,0.7-1.8v-0.8l-1.2,0.1c-1,0-1.7,0.2-2.1,0.5s-0.7,0.7-0.7,1.3c0,0.4,0.1,0.8,0.4,1
			C274.8,471.7,275.2,471.8,275.7,471.8z"/>
                                    <path class="st4" d="M290,473.2l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
			s-0.9-1.5-0.9-2.7v-6.4h2.1v6c0,0.7,0.2,1.3,0.5,1.7c0.3,0.4,0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6v-4.8h2.1v9.7
			L290,473.2L290,473.2z"/>
                                    <path class="st4" d="M296.7,468.2l-3.3-4.8h2.4l2.2,3.4l2.2-3.4h2.3l-3.3,4.8l3.4,5h-2.3l-2.4-3.6l-2.4,3.6h-2.3L296.7,468.2z"/>
                                </g>
                            </g>
                            <g class="marker" id="marker_rouen">
                                <path id="Rouen" class="st2" d="M334,108.5c-5,0-9,4-9,9c0,9,9,19.7,9,19.7s9-10.8,9-19.7C343,112.5,338.9,108.5,334,108.5z
		 M334,122.9c-3,0-5.4-2.4-5.4-5.4s2.4-5.4,5.4-5.4s5.4,2.4,5.4,5.4C339.4,120.4,336.9,122.9,334,122.9z"/>
                                <rect x="349.4" y="104.5" class="st3" width="73" height="24"/>
                                <path class="st4" d="M353.2,113v5.1h-2.1v-12.8h3.6c1.7,0,2.9,0.3,3.7,0.9s1.2,1.6,1.2,2.8c0,1.6-0.8,2.7-2.5,3.4l3.6,5.7h-2.4
		l-3.1-5.1H353.2z M353.2,111.3h1.5c1,0,1.7-0.2,2.1-0.5s0.7-0.9,0.7-1.6s-0.2-1.2-0.7-1.6s-1.2-0.5-2.1-0.5h-1.4v4.2H353.2z"/>
                                <path class="st4" d="M371,113.3c0,1.6-0.4,2.8-1.2,3.7s-1.9,1.3-3.4,1.3c-0.9,0-1.7-0.2-2.4-0.6s-1.2-1-1.6-1.8s-0.6-1.7-0.6-2.7
		c0-1.6,0.4-2.8,1.2-3.7s1.9-1.3,3.4-1.3c1.4,0,2.5,0.5,3.3,1.4S371,111.8,371,113.3z M363.9,113.3c0,2.2,0.8,3.4,2.5,3.4
		c1.6,0,2.5-1.1,2.5-3.4c0-2.2-0.8-3.3-2.5-3.3c-0.9,0-1.5,0.3-1.9,0.9S363.9,112.2,363.9,113.3z"/>
                                <path class="st4" d="M380.2,118.2l-0.3-1.3h-0.1c-0.3,0.5-0.7,0.8-1.2,1.1s-1.1,0.4-1.8,0.4c-1.2,0-2.1-0.3-2.6-0.9
		s-0.9-1.5-0.9-2.7v-6.4h2.1v6c0,0.7,0.2,1.3,0.5,1.7s0.8,0.6,1.4,0.6c0.9,0,1.5-0.3,1.9-0.8s0.6-1.4,0.6-2.6v-4.8h2.1v9.7
		L380.2,118.2L380.2,118.2z"/>
                                <path class="st4" d="M389.1,118.4c-1.5,0-2.7-0.4-3.5-1.3s-1.3-2.1-1.3-3.6c0-1.6,0.4-2.8,1.2-3.7s1.9-1.4,3.3-1.4
		c1.3,0,2.3,0.4,3,1.2s1.1,1.9,1.1,3.2v1.1h-6.5c0,0.9,0.3,1.7,0.8,2.2s1.2,0.8,2,0.8c0.6,0,1.1-0.1,1.6-0.2s1-0.3,1.6-0.5v1.7
		c-0.5,0.2-1,0.4-1.5,0.5S389.7,118.4,389.1,118.4z M388.7,109.8c-0.7,0-1.2,0.2-1.6,0.6s-0.6,1-0.7,1.8h4.4c0-0.8-0.2-1.4-0.6-1.8
		S389.3,109.8,388.7,109.8z"/>
                                <path class="st4" d="M403.7,118.2h-2.1v-6c0-0.8-0.2-1.3-0.5-1.7c-0.3-0.4-0.8-0.6-1.4-0.6c-0.9,0-1.5,0.3-1.9,0.8
		s-0.6,1.4-0.6,2.6v4.8h-2.1v-9.7h1.6l0.3,1.3h0.1c0.3-0.5,0.7-0.8,1.2-1.1s1.1-0.4,1.8-0.4c2.3,0,3.5,1.2,3.5,3.6v6.4H403.7z"/>

                            </g>
</svg>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ asset('bundles/cipres/sass/materialize/js/bin/materialize.min.js') }}"></script>
    <script>
        $('.marker').click(function(){

            // Animation des blocs et styles des markers
            $('.marker path').css('fill', '#46AF77');
            $('.st4').css('fill', '#39895f');
            $('#marker_sophia').children('g').children('path').css('fill', '#ffffff');
            $(this).children('path').css('fill', '#EFAD4D');
            $(this).children('g').children('path').css('fill', '#EFAD4D');
            $('.bloc_contenu div').addClass('slideOutLeft animated');

            //Requête ajax pour récupération des infos ville
            var choix_ville = $(this).children().attr('id');
            console.log(choix_ville);

            $.ajax({
                method: "POST",
                url: "{{ path('petitsdejs_default_geteventinfos') }}",
                data: { ville_choisie: choix_ville },
                success: insertInfos
            });
            function insertInfos(data){
                $('.bloc_contenu').html(data);
            }
        });
    </script>
{% endblock %}

{% block footer %}
    <div class="footer_bottom">
        <div class="content">
            <div class="col-md-8 fb2">
                <p>Copyright - CIPRES assurances tous droits réservés - <a href="{{ path('page_show', {'slug':'mentions-legales'}) }}">Mentions légales</a></p>
            </div>
            <div class="col-md-4 fb3">
                <a href="http://fr.viadeo.com/fr/company/cipres-vie" target="_blank"><img src="{{ asset('bundles/cipres/img/viadeo.png') }}" /></a>
                <!--<a href="http://www.facebook.com" target="_blank"><img src="{{ asset('bundles/cipres/img/facebook.png') }}" /></a>-->
                <a href="https://twitter.com/cipresassurance" target="_blank"><img src="{{ asset('bundles/cipres/img/twitter.png') }}" /></a>
                <a href="https://www.linkedin.com/company/cipres-vie" target="_blank"><img src="{{ asset('bundles/cipres/img/linkedin.png') }}" height='29'/></a>
            </div>
        </div>
    </div>
    <a href="#" class="scrollToTop"><i class="fa fa-angle-up" aria-hidden="true"></i></a>
{% endblock %}
