{# Bloc contenu gauche avec infos et formulaire selon la ville choisie #}
<div class="bloc_contenu_infos_update col-xs-12 nopadding slideInLeft animated">
    <div class="infos">
        <h4>Informations</h4>
        {% for infos in informations %}
            <div class="row">
                <p><strong>Date :</strong> le {{ infos.date }} <br>de {{ infos.heureDebut }} à {{ infos.heureFin }}</p>
            </div>
            <div class="row">
                <p><strong>Lieu :</strong> {{ infos.hotel }}<br> {{ infos.adresse }}<br> {{ infos.adressePostal }} {{ infos.adresseVille }} </p>
                <span class="voir_lieu"><a href="{{ infos.UrlMap }}" target="_blank"><i class="fa  fa-map-o"></i> Voir le plan</a></span></p>
            </div>
        {% endfor %}
    </div>


    {# Bloc contenu gauche avec infos et formulaire selon la ville choisie #}
    <div class="formulaire">
        <h4>Inscription</h4>
        <form action="{{ path('inscription_reunion') }}" id="formulaire_inscription_reunion" name="formulaire_inscription_reunion" method="post" {{ form_enctype(form) }} class="form-horizontal nomarginbottom" >

            <div class="input-field">
                {{ form_widget(form.nomCabinet) }}
                {{ form_label(form.nomCabinet, 'Nom du cabinet') }}
            </div>

            <div class="input-field">
                {{ form_widget(form.nom) }}
                {{ form_label(form.nom, 'Nom') }}
            </div>

            <div class="input-field">
                {{ form_widget(form.prenom) }}
                {{ form_label(form.prenom, 'Prénom') }}
            </div>

            {% for infos in informations %}
                {% set lyon = "Lyon" %}
                {% if infos.ville == lyon %}
                    <label style="display: block; margin-top: -20px;">Je serai présent le :</label>
                    <div class="radio-field" style="margin-bottom: 20px;">
                        <input id="inscription_dateLyon_0" class="with-gap" type="radio" required="required" value="29 septembre" name="inscription[dateLyon]">
                        <label for="inscription_dateLyon_0">le jeudi 29 septembre</label>
                        <input id="inscription_dateLyon_1" class="with-gap" type="radio" required="required" value="4 octobre" name="inscription[dateLyon]">
                        <label for="inscription_dateLyon_1">le mardi 4 octobre</label>
                    </div>
                {% endif %}
            {% endfor %}

            <label>Je serai accompagné par un/des collaborateur(s) :</label>
            <div class="radio-field">
                <input id="inscription_accompagnants_0" class="with-gap" type="radio" required="required" value="Oui" name="inscription[accompagnants]">
                <label for="inscription_accompagnants_0">Oui</label>
                <input id="inscription_accompagnants_1" class="with-gap" type="radio" required="required" value="Non" name="inscription[accompagnants]">
                <label for="inscription_accompagnants_1">Non</label>
            </div>

            <div class="input-field nb_accompagnants">
                {{ form_widget(form.nbAccompagnants) }}
                {{ form_label(form.nbAccompagnants, 'Nombre d\'accompagnants') }}
            </div>

            <div class="input-field choix_ville">
                <input type="hidden" name="inscription[choix_ville]" value="{% for infos in informations %} {{ infos.idVille }} {% endfor %}">
            </div>

            <div class="input-field">
                <input id="codeCourtier" type="hidden" name="inscription[codeCourtier]" value="">
                <input id="emailCourtier" type="hidden" name="inscription[emailCourtier]" value="">
            </div>

            {# ==== BOUTON VALIDER ====#}
            <button type="submit">
                <i class="fa fa-pencil"></i> Je m'inscris
            </button>
        </form>
    </div>

    <script>
        // Affichage/masquage des champs radio
        $('input:radio[name="inscription[courtierPartenaire]"]').change(function(){
            if($(this).val() == 'Oui'){
                $('.code_courtier').show();
                $('.code_courtier input').attr('required', 'true');
            }
            else {
                $('.code_courtier').hide();
            }
        });

        $('input:radio[name="inscription[accompagnants]"]').change(function(){
            if($(this).val() == 'Oui'){
                $('.nb_accompagnants').show();
                $('.nb_accompagnants input').attr('required', 'true');
            }
            else {
                $('.nb_accompagnants').hide();
            }
        });

        //Récupération des infos courtier depuis splio
        var getUrlParameter = function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                    sURLVariables = sPageURL.split('&'),
                    sParameterName,
                    i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        };
        var cc = getUrlParameter('cc');
        $('#codeCourtier').val(cc);
        var email_courtier = getUrlParameter('email');
        $('#emailCourtier').val(email_courtier);



        $(document).ready(function() {
            $('form').submit(function() {
                if(typeof jQuery.data(this, "disabledOnSubmit") == 'undefined') {
                    jQuery.data(this, "disabledOnSubmit", { submited: true });
                    $('button[type=submit]', this).each(function() {
                        $(this).attr("disabled", "disabled");
                    });
                    return true;
                }
                else
                {
                    return false;
                }
            });
        });
    </script>
</div>