<div class="mentions">
    <div class="content">
        <h2>Hébergeur du site :</h2>

        <p>CIPRÉS vie - une marque de CIPRÉS Assurances - 37, rue Anatole France 92532 Levallois-Perret Cedex<br>Tél : 0.177.685.685 <br>Fax : 0.177.686.686<br><a href="http://www.cipres.fr" target="_blank">www.cipres.fr</a></p>

        <p>SAS au capital de 1 208 944 €<br>SIREN : 552 068 199<br>N° ORIAS : 07 000 398 - <a href="http://www.orias.fr" target="_blank">www.orias.fr</a><br>Sous le contrôle de l'ACPR, Autorité de Contrôle Prudentiel et de Résolution - 61, rue Taitbout 75436 Paris Cedex 09 - <a href="http://www.acpr.banque-france.fr" target="_blank">www.acpr.banque-france.fr</a><br>Assurance de Responsabilité Civile Professionnelle et Garantie Financière conformes au Code des Assurances</p>

        <h2>Droits d'auteurs :</h2>

        <p>La reproduction, ou représentation, intégrale ou partielle, des pages, des données ou de tout autre élément constitutif du site, par quelque procédé ou support qu ce soit, est interdite et constitue, sans autorisation de l'éditeur, une contrefaçon.</p>

        <h2>Loi Informatique et Libertés</h2>

        <p>Conformément à la loi française n° 78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, les internautes bénéficient d'un droit d'accès, de rectification, de modification et de suppression des données les concernant.  Ce droit peut être exercé en adressant un email à l'adresse : <a href="mailto:contact@cipres.fr" target="_blank">contact@cipres.fr</a> ou un courrier auprès de :  CIPRÉS VIE - Service Marketing - 37 rue Anatole France - 92532 Levallois-Perret Cedex</p>

        <h2>Avertissement</h2>

        <p id="cookies">Toutes les informations figurant sur ce site sont purement indicatives et ne sauraient engager la responsabilité de l'éditeur. Ces informations, qui en prétendent pas à l'exhaustivité, ne sauraient valoir conseil, de quelque nature que ce soit, et ne saurait vous dispenser de l'avis d'un professionnel. Ces informations sont susceptibles de modifications à tout moment et sans préavis.</p>

        <h2>Cookie ou repère de connexion </h2>

        <p><b>Définition d’un cookie :</b></p>

        <p>Un cookie est un fichier texte au format alphanumérique déposé sur le terminal de votre ordinateur (mobile, tablette,..) lors de votre connexion sur cipres.fr. Ce cookie est déposé par le serveur de notre site et a pour but de collecter des informations relatives à votre navigation afin de vous communiquer des indications ou services personnalisés.<br><br>

        Ainsi lors de votre connexion à notre site cipres.fr, une bannière apparaît en haut/en bas (au choix selon le positionnement sur le site) de la première page.<br><br>

        Sous réserve des choix que vous effectuerez, Ciprès Assurances utilisera différents types de cookies :<br><br>

        <b>Les cookies indispensables à la navigation :</b> sans ces cookies, il vous serez impossible de naviguer sur cipres.fr et d’en utiliser les différentes fonctionnalités, comme par exemple, l’espace assuré. Ce type de cookies est donc nécessaire pour assurer votre identification et l’accès à votre compte.<br>
        <b>Les cookies fonctionnels :</b> ces cookies nous permettent de conserver vos préférences de navigation sur cipres.fr et de vous reconnaître lorsque vous utilisez et revenez sur notre site.<br>
        <b>Les cookies de performance :</b> ces cookies recueillent de façon anonyme certaines informations lors de vos visites sur le site cipres.fr, comme la manière dont vous êtes arrivés sur le site (soit via l’intégration d’une URL du site dans votre navigateur web, soit indirectement par l’intermédiaire d’une requête dans un moteur de recherche) ou encore, les pages que vous consultez le plus souvent.<br>
        <b>Les cookies Google Analytics :</b> ces cookies nous permettent d’enregistrer certaines informations qui ont pour but d’analyser vos connexions afin de quantifier le volume de fréquentation sur notre site puis d’élaborer des études qualitatives visant à améliorer la présentation notre site et l’information diffusées sur nos produits. Ces cookies sont utilisés à des fins d’optimisation de notre site internet.
        </p>

        <p><b>Gestion des cookies :</b></p>

        <p>Le paramétrage de votre logiciel de navigation internet sur votre ordinateur vous permet de gérer votre choix en acceptant ou refusant les cookies.<br><br>

            Accepter l’enregistrement des cookies sur votre terminal permet un bon fonctionnement de votre navigation dans l’espace de notre site cipres.fr et sert à paramétrer, par exemple, le bon affichage du navigateur.<br>
            Vous avez cependant la possibilité de refuser l’enregistrement des cookies sur votre terminal via votre logiciel de navigation. Néanmoins , un certain nombre de fonctionnalités nécessaires à la navigation sur notre site risque d’être dégradé (difficultés d’enregistrement ou d’affichage,..). En pareil cas, nous ne saurions être responsable de ces dysfonctionnements.<br><br>

            Selon le navigateur installé sur votre terminal, le choix de la gestion des cookies est décrite dans le menu d’aide de votre navigateur vous permettra de paramétrer vos choix, à savoir :<br>
            -	de vous signaler les cookies qui sont déposés dans votre terminal et vous demande de les accepter ou non,<br>
            -	de les accepter ou les refuser au cas par cas,<br>
            -	de les refuser systématiquement.<br><br>

            Si, malgré les informations apportées, vous souhaitez opter pour l’option de désactivation des cookies, nous vous invitons à choisir ci-dessous le lien qui correspond à votre navigateur, puis à suivre les instructions  pour paramétrer votre logiciel :<br><br>

            <a href="http://support.mozilla.org/fr/kb/Activer%20et%20d%C3%A9sactiver%20les%20cookies" target="_blank">Pour Mozilla Firefox</a><br>
            <a href="http://windows.microsoft.com/fr-FR/windows-vista/Block-or-allow-cookies" target="_blank">Pour Microsoft Internet Explorer</a><br>
            <a href="http://help.opera.com/Windows/10.20/fr/cookies.html" target="_blank">Pour Opéra</a><br>
            <a href="https://support.apple.com/kb/PH19214?locale=fr_FR&viewlocale=fr_FR" target="_blank">Pour Safari</a><br>
            <a href="http://support.google.com/chrome/bin/answer.py?hl=fr&hlrm=en&answer=95647" target="_blank">Pour Chrome</a>
        </p>

        <p></p>

    </div>
</div>