{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cipres/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/geoloc/plugins/materialize/css/materialize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/geoloc/plugins/locator/assets/css/storelocator.min.css') }}">
{% endblock %}

{% block header %} {% endblock %}

{% block body %}
<div class="main">
    <div class="cms_content" id="reintermediation">
        <div class="content">
              <div class="col-md-12 presentation" id="presentation">
                <div class="row">&nbsp;</div>

                <div class="row">
                    <div class="col-xs-12 container-geoloc">
                        <div class="choix_reintermediation">
                            <div class="row titre_localisation">
                                <div class="col-xs-1">
                                    <img class="picto" src="{{ asset('upload/Reintermediation/picto_geoloc_small_acide.png') }}" alt="">
                                </div>
                                <div class="col-xs-10 col-sm-11">
                                    <h3>LOCALISER UN COURTIER PARTENAIRE</h3>
                                </div>
                            </div>

                            <div class="row">&nbsp;</div>

                            {% block formulaire %}
                                <div class="formulaire_geoloc">
                                    <form action="{{ path('demande_geoloc') }}" id="formulaire_geoloc" name="formulaire_geoloc" method="post" {{ form_enctype(form) }} class="form-horizontal nomarginbottom">

                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                {{ form_widget(form.nom) }}
                                                {{ form_label(form.nom, 'Nom') }}
                                            </div>

                                            <div class="input-field col s12 m6">
                                                {{ form_widget(form.prenom) }}
                                                {{ form_label(form.prenom, 'Prénom') }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                {{ form_widget(form.email) }}
                                                {{ form_label(form.email, 'Email') }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_widget(form.adresse) }}
                                                {{ form_label(form.adresse, 'Adresse') }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <input id="code_postal" name="demandes_geoloc[codePostal]" type="text" class="validate">
                                                <label for="code_postal">Code postal</label>
                                            </div>

                                            <div class="input-field col s12 m6" id="ville_container">
                                                <input type="text" id="ville" name="demandes_geoloc[ville]" class="validate">
                                                <label for="ville">Ville</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s12 m6">
                                                <label>Je souhaite être contacté par téléphone</label>
                                                <div class="radio-field">
                                                    <input id="demandes_geoloc_choixContact_0" class="with-gap" type="radio" required="required" value="Oui" name="demandes_geoloc[choixContact]">
                                                    <label for="demandes_geoloc_choixContact_0">Oui</label>
                                                    <input id="demandes_geoloc_choixContact_1" class="with-gap" type="radio" required="required" value="Non" name="demandes_geoloc[choixContact]">
                                                    <label for="demandes_geoloc_choixContact_1">Non</label>
                                                </div>
                                            </div>

                                            <div class="input-field col s12 m6 telephone">
                                                <input id="telephone" name="demandes_geoloc[telephone]" type="text" class="validate">
                                                <label for="telephone">Téléphone</label>
                                            </div>

                                            <input id="adresse_complete" type="hidden" >
                                            <input id="provenanceDemande" name="demandes_geoloc[provenanceDemande]" type="hidden" value="Simplement Entrepreneurs" >
                                        </div>

                                        {# ==== BOUTON VALIDER ====#}
                                        <button type="submit">
                                            <i class="fa fa-search"></i> Rechercher
                                        </button>
                                    </form>
                                </div>

                                <div id="bh-sl-map-container" class="bh-sl-map-container">
                                    <div id="bh-sl-map" class="bh-sl-map"></div>
                                    <div class="bh-sl-loc-list">
                                        <ul class="list"></ul>
                                    </div>

                                    <a class="new_research" href="javascript:window.location.href=window.location.href"><i class="fa fa-angle-double-right"></i> Effectuer une nouvelle recherche</a>
                                </div>
                            {% endblock %}

                            <div class="row">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    {% block footer %} {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cipres/js/viewportchecker.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="{{ asset('bundles/geoloc/plugins/materialize/js/bin/materialize.min.js') }}"></script>
    <script src="{{ asset('bundles/geoloc/plugins/locator/assets/js/libs/handlebars.min.js') }}"></script>
    {# @TODO Appeler la clé API via une variable et pas en dur #}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&region=FR&key=AIzaSyDuymbeKGY7rVZpdIMd6zcWAWFEAFMtICs"></script>
    <script src="{{ asset('bundles/geoloc/plugins/locator/assets/js/plugins/storeLocator/jquery.storelocator.js') }}"></script>
    <script src="{{ asset('bundles/cipres/js/geoloc.js') }}"></script>

    <script type="text/javascript">
        //====================================================================
        //=================== ENVOI AJAX =====================================
        //====================================================================
        $('#formulaire_geoloc').submit(function(){

            // Masquage du formulaire
            // @TODO mettre en callback dans la requete ajax
            $('.formulaire_geoloc').css({'position' :'absolute', 'opacity' : 0}, 300);

            // Récupération des données formulaire
            var nom = $('#demandes_geoloc_nom').val();
            var prenom = $('#demandes_geoloc_prenom').val();
            var adresse = $('#demandes_geoloc_adresse').val();
            var email = $('#demandes_geoloc_email').val();
            var code_postal = $('#code_postal').val();
            var ville = $('#ville').val();
            var phone = $('#telephone').val();
            var provenance = $('#provenanceDemande').val();
            var choix_contact = $('input:radio[name="demandes_geoloc[choixContact]"]:checked').val();

            $('#adresse_complete').val(adresse + " " + code_postal + " " + ville );

            $.ajax({
                method: "POST",
                url: "{{ path('demande_geoloc') }}",
                data: {
                    'demandes_geoloc[nom]' : nom,
                    'demandes_geoloc[prenom]' : prenom,
                    'demandes_geoloc[adresse]' : adresse,
                    'demandes_geoloc[email]' : email,
                    'demandes_geoloc[codePostal]' : code_postal,
                    'demandes_geoloc[ville]' : ville,
                    'demandes_geoloc[choixContact]' : choix_contact,
                    'demandes_geoloc[telephone]' : phone,
                    'demandes_geoloc[provenanceDemande]' : provenance
                }
            });
        });
    </script>
{% endblock %}