{% extends 'base.html.twig' %}

{% block title %}
    Trouvez un courtier proche de chez vous
{% endblock %}

{% block meta_desc %}
    <meta name="description" content="Choisissez si vous souhaiter trouver un courtier proche de chez vous ou demander un devis." />
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/cipres/css/animate.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/geoloc/plugins/materialize/css/materialize.css') }}">
    <link rel="stylesheet" href="{{ asset('bundles/geoloc/plugins/locator/assets/css/storelocator.min.css') }}">
{% endblock %}

{% block body %}
<div class="main">
    <div class="cms_slide">
        <img src="{{ asset('upload/Reintermediation/slide.jpg') }}" alt="Trouver un courtier Ciprés ou obtenir un devis" />
    </div>

    <div class="cms_titre"><div class="content">
            <h1>Trouvez un courtier proche de chez vous ou obtenez un devis en ligne</h1>
            <h3>Faire confiance à CIPRÉS vie, c’est vous engager dans une vraie relation humaine et forte commercialement.</h3>
        </div>
    </div>

    <div class="cms_content" id="reintermediation">
        <div class="content">
            <div class="col-md-12 nopadding presentation">
                <div class="row">
                    <div class="col-md-6 npaddingleft visuel">
                        <img src="{{ asset('upload/Reintermediation/presentation.jpg') }}" alt="">
                    </div>
                    <div class="col-md-6 fond_bleu_clair">
                        <h4>Lorem ipsum dolor sit amet, consectetur</h4>
                        <p>Adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br>

                            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        </p>

                        <a href="#presentation" class="btn_arrondi_blanc">Vous choisissez <i class="fa fa-angle-down"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-12 presentation" id="presentation">
                <div class="row">&nbsp;</div>
                <div class="row">
                    <div class="col-xs-12">
                        <h4>Fonctionnement de la réintermédiation ou du devis :</h4>
                        <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br><br></p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12">
                        <div class="bloc_etapes">
                            <div class="col-xs-12 col-sm-4 etape etape1">
                                <span>-1-</span>
                                <b>Je remplis le formulaire</b><br> qui correspond à mes besoins et à ma situation.
                            </div>
                            <div class="col-xs-12 col-sm-4 etape etape2">
                                <span>-2-</span>
                                <b>J’obtiens un devis</b><br> et/ou je trouve le courtier conseil le plus proche.
                            </div>
                            <div class="col-xs-12 col-sm-4 etape etape3">
                                <span>-3-</span>
                                <b>Je suis mis en relation</b><br> avec mon courtier pour obtenir des conseils ou finaliser mon devis.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 ligne-accroche">
                        <h3>Besoin d’une solution d’assurance sur mesure ?</h3>
                        <p>Choisissez le type de recherche qui vous convient.</p>
                    </div>
                </div>

                <div class="row">
                    {#<div class="col-xs-12 col-sm-6 container-geoloc">#}
                        {#<div class="choix_reintermediation">#}
                            {#<h3>LOCALISER UN COURTIER PARTENAIRE</h3>#}
                            {#<div class="col-xs-2">#}
                                {#<img class="picto" src="{{ asset('upload/Reintermediation/picto_geoloc.png') }}" alt="">#}
                            {#</div>#}
                            {#<div class="col-xs-10">#}
                                {#<p>Lorem ipsum dolor sit amet, consectetur#}
                                    {#adipisicing.</p>#}
                                {#<a href="" id="trigger_geoloc" class="btn_arrondi_vert">Rechercher</a>#}
                            {#</div>#}

                            {#<div class="formulaire_geoloc">#}
                                {#<form action="">#}
                                    {#<div class="row">#}
                                        {#<div class="input-field col s12 m6">#}
                                            {#<input id="code_postal" type="text" class="validate">#}
                                            {#<label for="code_postal">Code postal</label>#}
                                        {#</div>#}

                                        {#<div class="input-field col s12 m6" id="ville_container">#}
                                            {#<input type="text" id="ville" name="ville" class="validate">#}
                                            {#<label for="ville">Ville</label>#}
                                        {#</div>#}
                                    {#</div>#}
                                {#</form>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}
                    {#<div class="col-xs-12 col-sm-6 container-devis">#}
                        {#<div class="choix_devis">#}
                            {#<h3>OBTENIR UN DEVIS EN LIGNE</h3>#}
                            {#<div class="col-xs-2">#}
                                {#<img class="picto" src="{{ asset('upload/Reintermediation/picto_devis.png') }}" alt="">#}
                            {#</div>#}
                            {#<div class="col-xs-10">#}
                                {#<p>Lorem ipsum dolor sit amet, consectetur#}
                                    {#adipisicing.</p>#}
                                {#<a href="" class="btn_arrondi_bleu">Commencer</a>#}
                            {#</div>#}
                        {#</div>#}
                    {#</div>#}

                    <div class="col-xs-12 container-geoloc">
                        <div class="choix_reintermediation">
                            <div class="row titre_localisation">
                                <div class="col-xs-1">
                                    <img class="picto" src="{{ asset('upload/Reintermediation/picto_geoloc_small_acide.png') }}" alt="">
                                </div>
                                <div class="col-xs-10 col-sm-11">
                                    <h3>LOCALISER UN COURTIER PARTENAIRE</h3>
                                </div>
                            </div>

                            <div class="row">&nbsp;</div>

                            {% block formulaire %}
                                <div class="formulaire_geoloc">
                                    <form action="{{ path('demande_geoloc') }}" id="formulaire_geoloc" name="formulaire_geoloc" method="post" {{ form_enctype(form) }} class="form-horizontal nomarginbottom">

                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                {{ form_widget(form.nom) }}
                                                {{ form_label(form.nom, 'Nom') }}
                                            </div>

                                            <div class="input-field col s12 m6">
                                                {{ form_widget(form.prenom) }}
                                                {{ form_label(form.prenom, 'Prénom') }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                {{ form_widget(form.email) }}
                                                {{ form_label(form.email, 'Email') }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12">
                                                {{ form_widget(form.adresse) }}
                                                {{ form_label(form.adresse, 'Adresse') }}
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="input-field col s12 m6">
                                                <input id="code_postal" name="demandes_geoloc[codePostal]" type="text" class="validate">
                                                <label for="code_postal">Code postal</label>
                                            </div>

                                            <div class="input-field col s12 m6" id="ville_container">
                                                <input type="text" id="ville" name="demandes_geoloc[ville]" class="validate">
                                                <label for="ville">Ville</label>
                                            </div>
                                        </div>

                                        <div class="row">
                                            <div class="col s12 m6">
                                                <label>Je souhaite être contacté par téléphone</label>
                                                <div class="radio-field">
                                                    <input id="demandes_geoloc_choixContact_0" class="with-gap" type="radio" required="required" value="Oui" name="demandes_geoloc[choixContact]">
                                                    <label for="demandes_geoloc_choixContact_0">Oui</label>
                                                    <input id="demandes_geoloc_choixContact_1" class="with-gap" type="radio" required="required" value="Non" name="demandes_geoloc[choixContact]">
                                                    <label for="demandes_geoloc_choixContact_1">Non</label>
                                                </div>
                                            </div>

                                            <div class="input-field col s12 m6 telephone">
                                                <input id="telephone" name="demandes_geoloc[telephone]" type="text" class="validate">
                                                <label for="telephone">Téléphone</label>
                                            </div>

                                            <input id="adresse_complete" type="hidden" >
                                        </div>

                                        {# ==== BOUTON VALIDER ====#}
                                        <button type="submit">
                                            <i class="fa fa-search"></i> Rechercher
                                        </button>
                                    </form>
                                </div>

                                <div id="bh-sl-map-container" class="bh-sl-map-container">
                                    <div id="bh-sl-map" class="bh-sl-map"></div>
                                    <div class="bh-sl-loc-list">
                                        <ul class="list"></ul>
                                    </div>

                                    <a class="new_research" href="javascript:window.location.href=window.location.href"><i class="fa fa-angle-double-right"></i> Effectuer une nouvelle recherche</a>
                                </div>
                            {% endblock %}

                            <div class="row">&nbsp;</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/cipres/js/viewportchecker.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/TweenMax.min.js"></script>
    <script src="{{ asset('bundles/geoloc/plugins/materialize/js/bin/materialize.min.js') }}"></script>
    <script src="{{ asset('bundles/geoloc/plugins/locator/assets/js/libs/handlebars.min.js') }}"></script>
    {# @TODO Appeler la clé API via une variable et pas en dur #}
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?libraries=places&region=FR&key=AIzaSyDuymbeKGY7rVZpdIMd6zcWAWFEAFMtICs"></script>
    <script src="{{ asset('bundles/geoloc/plugins/locator/assets/js/plugins/storeLocator/jquery.storelocator.js') }}"></script>
    <script src="{{ asset('bundles/cipres/js/geoloc.js') }}"></script>

    <script type="text/javascript">
        //====================================================================
        //=================== ENVOI AJAX =====================================
        //====================================================================
        $('#formulaire_geoloc').submit(function(){

            // Masquage du formulaire
            // @TODO mettre en callback dans la requete ajax
            $('.formulaire_geoloc').css({'position' :'absolute', 'opacity' : 0}, 300);

            // Récupération des données formulaire
            var nom = $('#demandes_geoloc_nom').val();
            var prenom = $('#demandes_geoloc_prenom').val();
            var adresse = $('#demandes_geoloc_adresse').val();
            var email = $('#demandes_geoloc_email').val();
            var code_postal = $('#code_postal').val();
            var ville = $('#ville').val();
            var phone = $('#telephone').val();
            var choix_contact = $('input:radio[name="demandes_geoloc[choixContact]"]:checked').val();

            $('#adresse_complete').val(adresse + " " + code_postal + " " + ville );

            $.ajax({
                method: "POST",
                url: "{{ path('demande_geoloc') }}",
                data: {
                    'demandes_geoloc[nom]' : nom,
                    'demandes_geoloc[prenom]' : prenom,
                    'demandes_geoloc[adresse]' : adresse,
                    'demandes_geoloc[email]' : email,
                    'demandes_geoloc[codePostal]' : code_postal,
                    'demandes_geoloc[ville]' : ville,
                    'demandes_geoloc[choixContact]' : choix_contact,
                    'demandes_geoloc[telephone]' : phone
                }
            });
        });
    </script>
{% endblock %}