{% extends 'GeolocationBundle:Default:index.html.twig' %}

{% block body %}
    {{ parent() }}
    {% block formulaire %}
        <div id="bh-sl-map-container" class="bh-sl-map-container">
            <div id="bh-sl-map" class="bh-sl-map"></div>
            <div class="bh-sl-loc-list">
                <ul class="list"></ul>
            </div>
        </div>

        <a href="devis-assurance"><i class="fa-angle-double-right"></i> Effectuer une nouvelle recherche</a>
    {% endblock %}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('bundles/geoloc/plugins/locator/assets/js/libs/handlebars.min.js') }}"></script>
    <script src="https://maps.google.com/maps/api/js"></script>
    <script src="{{ asset('bundles/geoloc/plugins/locator/assets/js/plugins/storeLocator/jquery.storelocator.js') }}"></script>
    <script>
        $(function() {
            $('#bh-sl-map-container').storeLocator();
        });
    </script>
{% endblock %}




