{% extends 'base.html.twig' %}

{% block title %}
	Médiathèque Espace Presse | CIPRES ASSURANCES
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="Retrouvez dans notre médiathèque les photos et logos du groupe CIPRÉS Assurances mise à disposition pour téléchargement" />
{% endblock %}

{% block body %}
	<div class="main">
		<div class="actu_filtre filtre_mediatheque">
			<div class="content">
				<ul class="nav navbar-nav nav_filtre">
					<li class="af_filtre">FILTRER LA Médiathèque :</li>
					<li class="licat0 active"><a onclick="displaySolution(0)">Tout afficher</a></li>
					{% if nb3 > 0 %}<li class="licat3"><a onclick="displaySolution(3)">Logos</a></li>{% endif %}
					{% if nb1 > 0 %}<li class="licat1"><a onclick="displaySolution(1)">Photos</a></li>{% endif %}
				</ul>			
			</div>
		</div>
		<div class="actu_list">
			<div class="content">
				{% for media in medias %}
					<div class="col-md-3 cat{{ media.categorie }}">
						<div class="box_solution">
							<div class="bs_top">
								<img src="{{ asset(('upload/Media/'~ media.id ~'/'~ media.image) | imagine_filter('list_thumb')) }}" />
							</div>
							<div class="bs_content bs_media_content">
								<h3>{{ media.titre }} - {% if media.categorie == 1 %}Photo{% elseif media.categorie == 2 %}Vidéo{% else %}Logo{% endif %}</h3>
								<div class="ligne"></div>
								<p>{{ media.resume }}</p>
							</div>
							<div class="bs_footer">
								<a data-toggle="modal" data-target="#media{{ media.id }}">Télécharger</a>
							</div>
						</div>
					</div>
					<div id="media{{ media.id }}" class="modal modal_media fade" role="dialog">
						<div class="modal-dialog modal-dialog_media">
							<div class="modal-content modal-content_media">
  								<div class="modal-header modal-header_media">
  									<label>Fermer</label>
    								<button type="button" class="close" data-dismiss="modal"><img src="{{ asset('bundles/cipres/img/close_modal.png') }}" /></button>
  								</div>
  								<div class="modal-body modal-body_media">
    								<div class="col-md-12">
    									<form method="POST" id="form{{ media.id }}" action="{{ path('contact_create') }}" name="form_media" enctype="multipart/form-data">
    										<p class="mbf_title">Télécharger média</p>
    										<input type="hidden" name="form_media[id]" id="form_media_id" value="{{ media.id }}" />
    										<div class="col-md-12 nopadding">
    											<div class="col-md-6 nopaddingleft">
    												<label for="form_media[nom]">Nom <sup>*</sup></label>
    												<input type="text" name="form_media[nom]" id="form_media_nom_{{ media.id }}" required/>
												</div>
												<div class="col-md-6 nopaddingright">
													<label for="form_media[prenom]">Prénom <sup>*</sup></label>
    												<input type="text" name="form_media[prenom]" id="form_media_prenom_{{ media.id }}" required/>
												</div>
											</div>
											<div class="col-md-12 nopadding">
												<div class="col-md-6 nopaddingleft">
													<label for="form_media[societe]">Société</label>
    												<input type="text" name="form_media[societe]" id="form_media_societe_{{ media.id }}"/>
												</div>
												<div class="col-md-6 nopaddingright">
													<label for="form_media[mail]">E-mail <sup>*</sup></label>
    												<input type="email" name="form_media[mail]" id="form_media_mail_{{ media.id }}" required/>
												</div>
											</div>
											<div class="col-md-12 nopadding">
    											<input type="submit" value="Valider" />
											</div>
    									</form>
    								</div>
  								</div>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<script>
		function displaySolution(id)
		{
			if(id == 0)
			{
				$('.cat1').fadeIn( "slow");
				$('.cat2').fadeIn( "slow");
				$('.cat3').fadeIn( "slow");
				$('.cat4').fadeIn( "slow");
				
				$(".nav_filtre li").removeClass('active');
			    $(".licat0").addClass('active');
			}
			else
			{
				$('.cat1').hide();
				$('.cat2').hide();
				$('.cat3').hide();
				$('.cat4').hide();
				$('.cat'+id).fadeIn( "slow");
				
				$(".nav_filtre li").removeClass('active');
			    $(".licat"+id).addClass('active');
			}
		}
	</script>
{% endblock %}