{% extends 'EnewsBundle:AdminEnews:base_admin_enews.html.twig' %}

{% block body %}
    <!-- Include the container-header -->
    <div id="container-header" class="container-header">
        <component>container-header</component>
        <div class="row">
            <div class="col-md-12">
                <h2>Actualite</h2>
            </div>
        </div>
    </div>

    <!-- Include the container-breadcrumb -->
    <div id="container-breadcrumb" class="container-breadcrumb">
        <component>container-breadcrumb</component>
        <div class="row">
            <div class="col-lg-10">
                <ol class="breadcrumb">
                    <li>
                        <a href="{{ path('admin_enews_step1') }}">
                            <i class="fa fa-home"></i> Home
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('admin_enews_step1') }}">
                            Ciprés News
                        </a>
                    </li>
                    <li class="active">
                        Modification
                    </li>
                    <li class="v-hidden">
                        @@sub-section
                    </li>
                </ol>
            </div>
        </div>
    </div>
    <div id="container-content" class="container-content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel">
                        <div class="panel-heading">
                            <div class="panel-title">
                                Formulaire <strong>modification d'une Newsletter</strong>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form action="{{ path('admin_enews_update')}}/{{ entity.id }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
                                <div class="form-group">
                                    {{ form_label(form.enews_id, 'N° de la newsletter', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                    <div class="col-sm-1">
                                        {{ form_widget(form.enews_id, { "attr" : { "class" : "form-control" }}) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.date, 'Date', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                    <div class="col-sm-2">
                                        {{ form_widget(form.date) }}
                                    </div>
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.publiee, 'Etat de la publication', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                    <div class="col-sm-2">
                                        {{ form_widget(form.publiee, { "attr" : { "class" : "form-control" }}) }}
                                    </div>
                                </div>
                                {{ form_widget(form) }}
                                <div class="form-group">
                                    <div class="col-sm-offset-3 col-sm-7">
                                        <button type="submit" class="btn btn-theme">Enregistrer</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.fr.min.js"></script>

    <script>
        $('.datepicker').datepicker({
            autoclose: true,
            language: 'fr',
            startView: 'years',
            disableTouchKeyboard: true
        });
    </script>

    <script type="text/javascript">
        $(document).ready(function() {
            $('#appbundle_newslettertype_contenu').summernote();
        });
    </script>
{% endblock %}
