{% extends 'EnewsBundle:AdminEnews:base_admin_enews.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Actualite</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                	<a href="{{ path('admin_enews') }}">
                    	Ciprés News
                	</a>
                </li>
                <li class="active">
                    Modification
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Formulaire <strong>édition actualité Newsletter</strong>
                        </div>
                    </div>
                    <div class="panel-body">
			            <form action="{{ path('admin_enews_update', {'id': entity.id}) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
							<div class="form-group">
								{{ form_label(edit_form.idNewsletter, '# Newsletter', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.idNewsletter, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
                            <div class="form-group">
                                {{ form_label(edit_form.numActu, 'Position de l\'actu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(edit_form.numActu, { "attr" : { "class" : "form-control" }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.typeActu, 'Type d\'actu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(edit_form.typeActu, { "attr" : { "class" : "form-control" }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.categorie, 'Catégorie', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(edit_form.categorie, { "attr" : { "class" : "form-control" }}) }}
                                </div>
                            </div>
			            	<div class="form-group">
			            		{{ form_label(edit_form.titre, 'Titre', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.titre, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
                            <div class="form-group">
                                {{ form_label(edit_form.reprise, 'Reprise', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(edit_form.reprise, { "attr" : { "class" : "form-control" }}) }}
                                </div>
                            </div>
                            <div class="form-group">
                                {{ form_label(edit_form.visuelActu, 'Visuel de l\'actu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(edit_form.visuelActu) }}
                                </div>
                            </div>
							<div class="form-group">
			            		{{ form_label(edit_form.contenu, 'Contenu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.contenu) }}
								</div>
							</div>
                            <div class="form-group">
                                {{ form_label(edit_form.date, 'Publié le (format dd/mm/yyyy)', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
                                <div class="col-sm-7">
                                    {{ form_widget(edit_form.date) }}
                                </div>
                            </div>
							{{ form_widget(edit_form) }}
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-7">
									<button type="submit" class="btn btn-theme">Enregistrer</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	    $(document).ready(function() {
			$('#appbundle_newslettertype_contenu').summernote(); 
	    });
    </script>
{% endblock %}
