{% extends 'EnewsBundle:AdminEnews:base_admin_enews.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Newsletter</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    Newsletter
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
            
<div id="container-messages" class="container-messages">
    <div class="page-alert alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Hello {{ user.username }}!</strong> Bienvenue sur le panel Newsletter. Vous pouvez ajouter, éditez ou supprimer vos Newsletter.
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<p>
                <a href="{{ path('admin_articles_new') }}">Ajouter un article à cette newsletter</a>
            </p>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Articles de la <strong>Newsletter n° {{ enewsid }}</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="datatables-example" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Position de l'article</th>
                                    <th>Titre</th>
                                    <th>Catégorie</th>
                                    <th>Type d'actu</th>
                                    {#<th>Date</th>#}
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for entity in entities %}
                            		<tr>
                                        <td>{{ entity.GetPosition }}</td>
                                        <td>{{ entity.GetTitre }}</td>
                                        <td>{{ entity.GetCategorie }}</td>
                                        <td>{{ entity.GetTypeActu }}</td>
                                        {#<td>{{ entity.GetDate|date('d/m/Y') }}</td>#}
                                        <td>
                                            <a href="{{ path('admin_article_edit', {'id': entity.id}) }}">Editer</a>
                                            <span>|</span>
                                            <a href="{{ path('admin_article_delete', {'id': entity.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer cet article ?')">Supprimer</a>
                                        </td>
                            		</tr>
                            	{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
        </div>
	</div>
</div>
{% endblock %}
