{% extends 'EnewsBundle:AdminEnews:base_admin_enews.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Newsletter</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    Newsletter
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
            
<div id="container-messages" class="container-messages">
    <div class="page-alert alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Hello {{ user.username }}!</strong> Bienvenue sur le panel Newsletter. Vous pouvez ajouter, éditez ou supprimer vos Newsletter.
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<p>
                <a href="{{ path('admin_enews_new') }}">Ajouter une Newsletter</a>
            </p>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Table <strong>Newsletter</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="datatables-example" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Newsletter n°</th>
                                    <th>Date</th>
                                    <th>Publiée / Dépubliée</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for entity in entities %}
                            		<tr>
                                        <td>{{ entity.enewsId }}</td>
                                        <td>{{ entity.GetDate|date('d/m/Y') }}</td>
                                        <td>
                                            {% set PubileeTrue = 'true' %}
                                            {% if entity.getPubliee is same as(true) %}
                                            <p>Publiée</p>
                                                {% else %}
                                                <p>Dépubliée</p>
                                            {% endif %}
                                        </td>
                                        <td><a href="{{ path("admin_enews_edit") }}/{{ entity.enewsId }}">Editer</a>  |
                                            <a href="{{ path("admin_enews_step2") }}/{{ entity.enewsId }}">Voir les articles</a>  |
                                            <a href="{{ path('admin_enews_delete', {'id': entity.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer cette newsletter ?')">Supprimer</a>
                                        </td>
                            		</tr>
                            	{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
        </div>
	</div>
</div>
{% endblock %}
