{% extends 'EnewsBundle:AdminEnews:base_admin_enews.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Ciprés News</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                	<a href="{{ path('admin_actualite') }}">
                    	Ciprés News
                	</a>
                </li>
                <li class="active">
                    Nouveau
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Formulaire <strong>ajout articles Newsletter</strong>
                        </div>
                    </div>
                    <div class="panel-body">
			            <form action="{{ path('admin_enews_create_article') }}" method="post" {{ form_enctype(form) }} class="form-horizontal">
							<div class="form-group">
			            		{{ form_label(form.position, 'Position', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.position, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
								{{ form_label(form.titre, 'Titre', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.titre, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.categorie, 'Catégorie', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.categorie, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.typeActu, 'Type d\'actu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.typeActu, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.visuelArticle, 'Visuel de l\'article', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.visuelArticle, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.contenu, 'Contenu', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.contenu, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(form.slug, 'Lien', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.slug) }}
								</div>
							</div>
							<div class="form-group">
								{{ form_label(form.contenu_club, 'Contenu réservé clubs', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(form.contenu_club) }}
								</div>
							</div>
							<div class="form-group">
								{{ form_label(form.enews, 'N° de la newsletter', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-1">
									{#{{ form_widget(form.enews, { "attr" : { "class" : "form-control selectpicker", "multiple" : "multiple" }}) }}#}
									{{ form_widget(form.enews, { "attr" : { "class" : "form-control"}}) }}
								</div>
							</div>
							{{ form_widget(form) }}
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-7">
									<button type="submit" class="btn btn-theme">Enregistrer</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	    $(document).ready(function() {
			$('#appbundle_actualitetype_contenu').summernote(); 
	    });
    </script>
{% endblock %}
