#forkme_banner {
  display: block;
  position: absolute;
  top: 0;
  right: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: white;
  background: url("../img/blacktocat.png") #6A3 no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0, 0, 0, .5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  text-decoration: none;
}

.actions {
  margin-top: 10px;
}

.track {
  width: 100%;
  position: relative;
  margin-top:43px;
  max-height:550px;
}

.view-port, .track .inner {
  width: 100%;
}

.axis-y .view-port,
.axis-y .track .inner {
  width: 240px;
  height: 660px;
}


.view-port {
  overflow: hidden;
  position: relative;
}

.track .inner {
  background: transparent none repeat scroll 0 0;
    border-radius: 4px;
    margin: auto;
    padding: 0;
    position: relative;
}

.track .inner h2 {
  font-weight: 200;
  font-family: Helvetica,Arial,Verdana,sans-serif;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.9);
  text-transform: uppercase;
  color: #999;
}

.track .inner h2:hover {
  color: #6A3;
}


.track a.next {
  display: block;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  background: url("../img/slide_droite.png");
  background-repeat: no-repeat;
}

.track a.prev{
	display: block;
  position: absolute;
  top: 50%;
  margin-top: -32px;
  width: 64px;
  height: 64px;
  background: url("../img/slide_gauche.png");
  background-repeat: no-repeat;
}

.track a.prev.disabled,
.track a.next.disabled {
  display: none;
}

.track a.prev {
  left: 0;
}
.track a.next {
  right: 0;
}

.slider-container {
  position: relative;
  margin: 0;
  padding: 0;
  height: 550px;
}

.slider-container.big {
  height: 288px;
}

.slider-container.huge {
  height: 432px;
}

.slider-container .item {
 height: 550px;
    margin-bottom: 0;
    margin-right: 10px;
    position: absolute;
    width: 281px;
    cursor:pointer;
}

.slider-container .item img {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
}

.slider-container.big .item,
.slider-container.big .item .img-area {
  height: 288px;
}

.pagination{
	margin:0px !important;	
}
.slider-contaiber.huge .item {
  margin-bottom: 12px;
}

.slider-container .item p {
  bottom: 5px;
    color: white;
    font-family: "AntonioLight";
    font-size: 30px;
    left: 0;
    line-height: 0.8;
    margin: 0;
    padding: 10px;
    padding-bottom:11px;
    position: relative;
    right: 0;
    text-align: center;
}

.slider-container .item a{
	text-decoration:none;
}

.slider-container .item .ssitem p{
	font-size:27px;
	padding-bottom:13px;
}

.slider-container .item p span{
	font-size:15px;
}

.slider-container .item.cover {
  width: 940px;
}

.slider-container .item.cover-2 {
  height: 432px;
}

.slider-container .item.cover img {
  float: left;
}

.slider-container .item.cover-2 img {
  float: none;
}

.slider-container .item.cover .img-area {
  float: right;
  margin-left: 16px;
}

.slider-container .item.cover-2 .img-area {
  float: none;
  margin-left: 0;
  margin-top: 12px;
}

.slider-container .item.cover-2 .img-area .img-block:first-child {
  margin-right: 14px;
}

.slider-container .item.cover .img-block {
  height: 128px;
}

.slider-container .item.cover-2 .img-block {
  float: left;
}

.img-block {
  margin-bottom: 16px;
}

.editorial {
  float: right;
  width: 200px;

  padding-right: 20px;
  height: 272px;
  background: white;
}

.editorial .title {
  font-size: 24px;
  margin: 20px 0 0 20px;
}

.editorial .desc {
  font-size: 14px;
  line-height: 18px;
  padding-top: 8px;
  margin-left: 20px;
}

.side-a, .side-b {
  float: left;
  width: 462px;
}

.side-a {
  margin-right: 16px;
}

.side-a > img, .side-b > img {
  width: 462px;
  height: 272px;
}

.bullet-pagination {
  width: 100%;
  text-align: center;
  margin-top: 15px;
}

.bullet {
  display: inline-block;
  background: #999;
  padding: 4px;
  border-radius: 6px;
  margin-right: 5px;
  opacity: 0.4;

  -webkit-transition: opacity 0.5s linear;
  -moz-transition: opacity 0.5s linear;
  -ms-transition: opacity 0.5s linear;
  -o-transition: opacity 0.5s linear;
  transition: opacity 0.5s linear;
}

.bullet.active {
  opacity: 1;
}

.bullet:last-child {
  margin-right: 0;
}

#example-4 img {
  width: 228px;
  height: 132px;
}

.example-4 .loading {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  text-align: center;
  line-height: 140px;
  padding: 4px 0;
  z-index: 1;
}

.example-4 .loading:before {
  content: "loading...";
}

.example-4 .bullet {
  cursor: default;
}

.example-1 a.prev,
.example-1 a.next {
  margin-top: -69px;
}

.example-2 a.prev,
.example-2 a.next {
  margin-top: -58px;
}

.example-3 a.prev,
.example-3 a.next {
  margin-top: -53px;
}

.example-4 a.prev,
.example-4 a.next {
  margin-top: -68px;
}

.example-7 a.prev,
.example-7 a.next {
  margin-top: -69px;
}

.violet{
	background:#aa0061;
}

.bleu{
	background:#177fc1;
}

.vert{
	background:#a9d223;
}

.bleuf{
	background:#1c476e;
}