@CHARSET "ISO-8859-1";

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700');

@font-face {
	font-family: 'Antonio';
	src: url('../fonts/Antonio-Regular.eot');
	src: url('../fonts/Antonio-Regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Antonio-Regular.woff2') format('woff2'),
	url('../fonts/Antonio-Regular.woff') format('woff'),
	url('../fonts/Antonio-Regular.ttf') format('truetype'),
	url('../fonts/Antonio-Regular.svg#MyriadPro') format('svg');
}

@font-face {
	font-family: 'AntonioLight';
	src: url('../fonts/Antonio-Light.eot');
	src: url('../fonts/Antonio-Light.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Antonio-Light.woff2') format('woff2'),
	url('../fonts/Antonio-Light.woff') format('woff'),
	url('../fonts/Antonio-Light.ttf') format('truetype'),
	url('../fonts/Antonio-Light.svg#MyriadPro') format('svg');
}

@font-face {
	font-family: 'AntonioBold';
	src: url('../fonts/Antonio-Bold.eot');
	src: url('../fonts/Antonio-Bold.eot?#iefix') format('embedded-opentype'),
	url('../fonts/Antonio-Bold.woff2') format('woff2'),
	url('../fonts/Antonio-Bold.woff') format('woff'),
	url('../fonts/Antonio-Bold.ttf') format('truetype'),
	url('../fonts/Antonio-Bold.svg#MyriadPro') format('svg');
}


@-ms-viewport { width: auto !important;}

body{
	width:100%;
	overflow-x:hidden;
	overflow-y:auto;
	-ms-overflow-style: scrollbar !important;
}

header{
	width:100%;
	border-top:8px solid #177FC1;
	min-height:157px;
	background:white;
	border-bottom:1px solid #FAFAFA;
	box-shadow: 0 5px 8px -7px gray;
	position:relative;
	z-index:500;
}

header .content{
	width:100%;
}

.content{
	margin-left:auto;
	margin-right:auto;
	width:1040px;
}

.hc_logo{
	width:154px;
	float:left;
}

.hc_top{
	width:calc(100% - 154px);
	float:left;
}

.ht_titre{
	color: #034167;
	font-family: "Antonio";
	font-size: 25px;
	line-height: 1.1;
	margin-bottom: 0;
	margin-top: 28px;
	padding-left: 55px;
	text-transform: uppercase;
}

.ht_sstitre{
	font-family:'AntonioLight';
	font-size:19px;
	color:#99aca5;
	text-transform:uppercase;
	padding-left:55px;
}

.espace_perso{
	width:180px;
	height:40px;
	float:right;
	background:#A8D123;
	cursor:pointer;
}

.espace_perso:hover{
	background:#91bb14 ;
}

.espace_perso:hover i{
	background: #A8D123 none repeat scroll 0 0;
}

.espace_assure{
	background: #177fc1 none repeat scroll 0 0;
	cursor: pointer;
	float: right;
	height: 40px;
	margin-left: 12px;
	overflow: hidden;
	width: 210px;
}

.espace_assure:hover{
	background: #055e93 none repeat scroll 0 0;
}

.espace_assure:hover i{
	background: #177fc1 none repeat scroll 0 0;
}

.espace_assure i{
	background: #055e93 none repeat scroll 0 0;
	float: right;
	height: 42px;
	margin-top: -10px;
	padding: 13px 16px 17px;
	right: 0;
	top: 0;
}

.espace_perso i{
	background: #91bb14 none repeat scroll 0 0;
	float: right;
	height: 42px;
	margin-top: -10px;
	padding: 13px 16px 17px;
	right: 0;
	top: 0;
}

.espace_perso p{
	color: white;
	font-family: "Antonio";
	font-size: 19px;
	line-height: 1.2;
	padding-left: 16px;
	padding-top: 8px;
	text-align: left;
}

.espace_assure p{
	color: white;
	font-family: "Antonio";
	font-size: 19px;
	line-height: 1.2;
	padding-left: 16px;
	padding-top: 8px;
	text-align: left;
}

.navbar-default {
	background-color: transparent;
	border: medium none;
	margin: 0;
	min-height:47px;
}

.navigation{
	border-top: 1px solid #e8eceb;
	height: 51px;
	margin-top: 0;
	overflow:inherit !important;
}

.dropdown-menu li {
	display:inline-block;
	padding-top:10px;
	padding-bottom:10px;
}

.dropdown-menu {
	background: #ececec none repeat scroll 0 0;
	border: medium none;
	left: -154px;
	padding: 0;
	position: absolute;
	right: 0 !important;
	width: 100vw;
	z-index: 1000;
	opacity:0;
	visibility:hidden;
	-webkit-transition: all 0.75s ease;
	-moz-transition: all 0.75s ease;
	-ms-transition: all 0.75s ease;
	-o-transition: all 0.75s ease;
	transition: all 0.75s ease;
	border-radius:0px;
}

.open > .dropdown-menu {
	opacity: 1;
	visibility: visible;
}

.dropdown{
	position:static !important;
	cursor: pointer;
}
.dropdown-menu .content{
	padding-top:0px;
	padding-bottom:0px;
}

/*.dropdown:hover .dropdown-menu {
	visibility: visible;
  	opacity: 1;
}*/

.nopadding{
	padding:0px !important;
}

.nav{
	padding-left:55px;
	margin: 0 !important;
}

.nav li a{
	color: #99aca5;
	font-family: "Antonio";
	font-size: 15px;
	margin-left: 9px;
	margin-right: 9px;
	padding: 15px 0 12px;
	text-decoration: none;
}

.nopaddingright{
	padding-right:0px !important;
}

.nopaddingleft{
	padding-left:0px !important;
}

.nav li.active a, .nav li:hover a{
	color:#1c476e;
	border-top:5px solid #177FC1;
	background:none;
	padding:10px 0 12px !important;
	cursor:pointer;
}

.nav_filtre li:hover a{
	padding-bottom:8px !important
}

.dropdown-menu li.active a, .dropdown-menu li:hover a{
	color:#1c476e !important;
	border-top:none !important;
	padding:5px 0 !important;
}

.dropdown-menu li a{
	color:#99aca5 !important;
	border-top:none !important;
	padding:9px 0 !important;
}

.nomarginleft{
	margin-left:0px !important;
}

.nomarginright{
	margin-right:0px !important;
}

.overflow{
	overflow:hidden;
}

.main{
	width:100%;
	overflow:hidden;
}

.slide_accueil{
	/*background:url(../img/visuel-header.jpg) no-repeat center center / cover;*/
	width:100%;
	min-height:520px;
}

.self-hosted-video-bg{
	display: block;
	max-width: 100%;
	overflow: hidden;
	position: relative;
	z-index: 2;
}

.self-hosted-video-bg video {
	height: auto;
	position: relative;
	top: 0;
	visibility: visible;
	width: 100%;
	margin-top:-100px;
}

.sal_1{
	margin-top: 394px;
	max-height:40px;
	visibility:hidden;
	animation-name: mymove;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	transition-timing-function:cubic-bezier(.42,.43,1,.94);
}

@keyframes mymove{
	0% {
		opacity: 0;
		margin-left:-100%;
		visibility:visible;
	}

	100% {
		opacity: 1;
		margin-left:0;
		visibility:visible;
	}
}

.sal_1 span{
	background: #177fc1 none repeat scroll 0 0;
	box-shadow: 3px 3px 10px -6px #000000;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	padding: 4px 11px 3px 85px;
	text-transform: uppercase;
}

.sal_1 span:hover{
	background:#055e93;
}

.sal_1 span a{
	color:white;
}

.sal_1 span a:hover{
	text-decoration:none;
}

.sa_left{
	min-height: 520px;
	position: absolute;
	top: 155px;
	width: 50%;
	z-index: 50;
}

.sa_right{
	position:absolute;
	top:155px;
	right:0px;
	z-index:50;
}

.sal_1 span::after, .sal_2 span::after{
	background: transparent url("../img/fleche_droite_m.png") no-repeat scroll 0 13px;
	content: "";
	display: inline-block;
	height: 32px;
	margin: 0 0 0 10px;
	width: 19px;
}

.sal_2{
	margin-top: 12px;
	max-height:40px;
	visibility:hidden;

	animation-name: mymove;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 1s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	transition-timing-function:cubic-bezier(.42,.43,1,.94);
}

.sal_2 span{
	background: #177fc1;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	height: 38px;
	padding-left: 161px;
	padding-top: 4px;
	text-transform: uppercase;
	padding-right:11px;
	box-shadow: 3px 3px 10px -6px #000000;
}

.sal_2 span:hover{
	background:#055e93;
}

.sal_2 span a{
	color:white;
}

.sal_2 span a:hover{
	text-decoration:none;
}

.sar_1{
	font-family:'AntonioBold';
	font-size:41px;
	color:white;
	margin-top:208px;
	margin-bottom:0px;
	line-height:1.3;
	opacity:0;
	text-align:right;
	animation-name: mymove2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	padding-right:265px;
}

@keyframes mymove2{
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.sar_2{
	font-family:'AntonioBold';
	font-size:41px;
	color:white;
	margin-top:0px;
	line-height:1;
	margin-bottom:0px;
	text-align:right;
	opacity:0;
	animation-name: mymove2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	padding-left:0px;
	padding-right:193px;
}

.sar_2 span{
	color:white;
}

.sar_3{
	font-family:'AntonioBold';
	font-size:41px;
	color:white;
	margin-top:0px;
	text-align:right;
	opacity:0;
	animation-name: mymove2;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	padding-left:0px;
	padding-right:20px;
}

.sar_cta{
	box-shadow: 3px 3px 10px -6px #000000;
	background: #a7c93c;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	height: 38px;
	margin-top: 12px;
	padding-left: 37px;
	padding-top: 4px;
	text-transform: uppercase;
	float:right;
	padding-right:30px;
	margin-right:20px;

	visibility:hidden;
	animation-name: mymove3;
	animation-duration: 1s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 1s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	transition-timing-function:cubic-bezier(1,.94,.42,.43);
}

.sar_cta:hover{
	background:#91bb14 ;
}

@keyframes mymove3{
	0% {
		opacity: 0;
		margin-left:200px;
		visibility:visible;
	}

	100% {
		opacity: 1;
		margin-left:0;
		visibility:visible;
	}
}

.sar_cta a{
	color:white;
	text-decoration:none;
}

.sar_cta a:hover{
	text-decoration:none;
}

.presentation_accueil{
	width:100%;
	min-height:200px;
	background:#EBEBEB;
}

.presentation_accueil .content{
	background:url(../img/background_bloc_gris.png) no-repeat top center transparent;
	min-height:200px;
}

.presentation_accueil .content img{
	margin-top:32px;
	max-height:130px;
	width:auto !important;
}

.pa_titre{
	margin-top: 45px;
}

.presentation_accueil .content p{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:black;
}

.acteur_accueil{
	background: white none repeat scroll 0 0;
	overflow: hidden;
	padding-bottom: 67px;
	width: 100%;
}

h2{
	color: #1c476e;
	font-family: "AntonioLight";
	font-size: 36px;
}

h1.pa_titre{
	color: #1c476e;
	font-family: "AntonioLight";
	font-size: 36px;
}

.acteur_accueil h2{
	margin-top:65px;
	margin-bottom:41px;
}

.acteur_accueil h2::after {
	background: rgba(0, 0, 0, 0) url("../img/ligne-bleu.png") repeat-x scroll 0 0;
	content: "";
	display: block;
	height: 2px;
	line-height: 0.5;
	margin-left: 355px !important;
	margin-top: -17px;
}

.box{
	background:#f3f3f3;
	text-align:center;
	padding:20px;
	min-height:242px;
}

.box h3{
	font-family:'AntonioBold';
	font-size:16px;
	color:#1c476e;
}

.box p{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:black;
	margin-bottom:0px;
}

.parallax{
	height: 410px;
	transition: background-position 1.4s  cubic-bezier(.49,.22,.52,1.35);
	-webkit-transition: top 1.4s cubic-bezier(.49,.22,.52,1);
}

.parallax1{
	background: url(../img/parallaxe-1.jpg) center center no-repeat fixed;
}

.p1_1{
	background: #7b848b none repeat scroll 0 0;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	margin-top: 165px;
	position: absolute;
	right: -100%;
	padding:2px 80px 3px 10px;
	overflow:hidden;
	visibility:hidden;
}

.inview .p1_1{
	animation-name: mymove4;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 0s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	transition-timing-function:cubic-bezier(.42,.43,1,.94);
}

@keyframes mymove4{
	0% {
		opacity: 0;
		visibility:visible !important;
	}

	100% {
		opacity: 1;
		right:0;
		visibility:visible;
	}
}

.p1_2{
	background: #7b848b none repeat scroll 0 0;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	margin-top: 211px;
	padding:2px 270px 3px 10px;
	position: absolute;
	right: -100%;
	overflow:hidden;
	visibility:hidden;
}

.inview .p1_2{
	animation-name: mymove4;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 1s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	transition-timing-function:cubic-bezier(.42,.43,1,.94);
}


.p1_3{
	margin-top: 255px;
	position: absolute;
	right: 195px;
	box-shadow: 3px 3px 10px -6px #000000;
	visibility:hidden;
}

.inview .p1_3{
	animation-name: mymove5;
	animation-duration: 2s;
	animation-timing-function: ease;
	animation-iteration-count: 1;
	animation-direction: normal;
	animation-delay: 3s;
	animation-play-state: running;
	animation-fill-mode: forwards;
	transition-timing-function:cubic-bezier(.42,.43,1,.94);
}

@keyframes mymove5{
	0% {
		opacity: 0;
		visibility:visible !important;
	}

	100% {
		opacity: 1;
		visibility:visible;
	}
}

.p1_3 span{
	background: #177fc1 none repeat scroll 0 0;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	padding:4px 11px 3px;
	cursor:pointer;
}

.p1_3 span:hover{
	background:#055e93;
}

.p1_3 span::after{
	background: transparent url("../img/fleche_droite_m.png") no-repeat scroll 0 13px;
	content: "";
	display: inline-block;
	height: 32px;
	margin: 0 0 0 10px;
}

.p1_3 a{
	color:white;
}

.p1_3 a:hover{
	text-decoration:none;
}

.solution_accueil{
	background:#f3f3f3;
	width:100%;
	padding-bottom:35px;
	padding-top:70px;
	overflow:hidden;
}

.solution_accueil h2{
	margin-top:0px;
	margin-bottom:41px;
}

.carousel-caption .p1_1{
	background: #7b848b none repeat scroll 0 0;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	margin-top: 173px;
	overflow: hidden;
	padding: 2px 80px 3px 10px;
	position: absolute;
	right: 0;
	visibility: visible;
}

.carousel-caption {
	background: transparent none repeat scroll 0 0;
	float: right;
	left: 0;
	padding-bottom: 30px;
	position: absolute;
	right: 0;
	top: 0;
	width: auto;
}

.carousel-caption .p1_2 {
	background: #7b848b none repeat scroll 0 0;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	margin-top: 222px;
	overflow: hidden;
	padding: 2px 270px 3px 10px;
	position: absolute;
	right: 0;
	visibility: visible;
}

.carousel-caption .p1_3 {
	box-shadow: 3px 3px 10px -6px #000000;
	margin-top: 265px;
	position: absolute;
	right: 15px;
	visibility: visible;
}

.carousel-caption .p1_4 {
	box-shadow: 3px 3px 10px -6px #000000;
	margin-top: 265px;
	position: absolute;
	right: 226px;
	visibility: visible;
}

.p1_4 span::after {
	background: transparent url("../img/fleche_droite_m.png") no-repeat scroll 0 13px;
	content: "";
	display: inline-block;
	height: 32px;
	margin: 0 0 0 10px;
	width: 19px;
}

.p1_4 span {
	background: #a7c93c none repeat scroll 0 0;
	color: white;
	cursor: pointer;
	font-family: "AntonioBold";
	font-size: 22px;
	padding: 4px 11px 3px;
}

.p1_4 span:hover{
	background: #91bb14 none repeat scroll 0 0;
}

.p1_4 a {
	color: white;
}

.p1_4 a:hover{
	text-decoration:none;
}

.solution_accueil h2::after {
	background: rgba(0, 0, 0, 0) url("../img/ligne-bleu.png") repeat-x scroll 0 0;
	content: "";
	display: block;
	height: 2px;
	line-height: 0.5;
	margin-left: 325px !important;
	margin-top: -17px;
}

.box_solution{
	background:white;
	border:1px solid #E8E8E8;
}

.bs_top{
	width:100%;
}

.bs_top img{
	max-width:100%;
}

.bt_type{
	background: #177fc1 none repeat scroll 0 0;
	color: white;
	font-family: "AntonioBold";
	font-size: 20px;
	padding: 4px 11px 3px;
	position: absolute;
	right: 16px;
	text-align: right;
	top: 8px;
	width: 120px;
}

.bs_content{
	width:100%;
	padding-top:30px;
	padding-left:22px;
	padding-right:22px;
	min-height:200px;
}

.bo_content{
	width:100%;
	padding-top:22px;
	padding-left:22px;
	padding-right:22px;
	min-height:315px;
	background:#F4F4F4;
}

.bs_content h3{
	color: #1c476e;
	font-family: "AntonioLight";
	font-size: 24px !important;
	margin-bottom: 15px !important;
	margin-top: 0 !important;
}

.bs_content h3 span{
	font-size:15px !important;
}

.bo_content h3{
	color: #1c476e;
	font-family: "AntonioLight";
	font-size: 18px;
	height: 65px;
	margin-bottom: 15px;
	margin-top: 0;
	overflow: hidden;
}

.bo_content h4{
	margin-top:0px;
	font-family:'AntonioLight';
	font-size:18px;
	color:#177fc2;
	margin-bottom:15px;
}

.bs_content p, .bo_content p{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:black;
}

.bo_content p{
	height: 100px;
}

.ligne{
	width:122px;
	height:1px;
	background:#1C476E;
	margin-bottom:18px;
}

.ligne_offre{
	width:122px;
	height:1px;
	background:#177fc2;
	margin-bottom:18px;
}

.bs_footer{
	background:#A7C93C;
	height:40px;
	width:100%;
	text-align:center;
	font-family:'Antonio';
	font-size:24px;
	box-shadow: 3px 3px 10px -6px #000000;
}

.bs_footer:hover{
	background:#91bb14;
}

.bs_footer a{
	color:white;
	cursor:pointer;
}

.bs_footer a:hover{
	text-decoration:none;
}

.bs_footer a::after{
	background: transparent url("../img/fleche_droite_m.png") no-repeat scroll 9px 13px;
	content: "";
	display: inline-block;
	height: 32px;
	margin: 0;
	width: 30px;
}

.parallax2{
	background: url(../img/parallaxe2.jpg) center center no-repeat fixed;
}

.p2_1{
	background: #33293a none repeat scroll 0 0;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	margin-top: 215px;
	position: absolute;
	right: 0;
	padding:2px 260px 3px 10px;
}

.p2_2{
	height:auto;
	background: #33293a none repeat scroll 0 0;
	min-width:450px;
	position: absolute;
	right:0;
	margin-top:261px;
}

select{
	border: 1px solid #eee;
	color: black;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	height: 24px;
	margin: 11px 10px 11px 8px;
	width: auto;
	box-shadow: 2px 2px 10px -6px #000000;
}

input[type=submit]{
	background: #a7c93c;
	border: medium none;
	color: white;
	font-family: "AntonioBold";
	font-size: 22px;
	height: 38px;
	margin-top: 323px;
	position: absolute;
	right: 150px;
	text-align: left;
	width: 169px;
	box-shadow: 3px 3px 10px -6px #000000;
}

input[type=submit]:hover{
	background: #91bb14 url("../img/fleche_droite_m.png") no-repeat scroll 135px 10px;
}

.actualite_accueil{
	width:100%;
	background:white;
	padding-top:82px;
}

.actualite_accueil h2{
	margin-top:0px;
	margin-bottom:41px;
}

.actualite_accueil h2::after {
	background: rgba(0, 0, 0, 0) url("../img/ligne-bleu.png") repeat-x scroll 0 0;
	content: "";
	display: block;
	height: 2px;
	line-height: 0.5;
	margin-left: 150px !important;
	margin-top: -17px;
}

.box_actu{
	background:#f3f3f3;
	border:1px solid #E8E8E8;
	margin-bottom:68px;
}

.ba_top{
	width:100%;
	min-height:234px;
	text-align:center;
}

.ba_top img{
	max-width:100%;
	min-width:100%;
}

.ba_content{
	width:100%;
	padding-top:30px;
	padding-left:22px;
	padding-right:22px;
	min-height:222px;
}

.ba_content h3{
	margin-top:0px;
	font-family:'AntonioLight';
	font-size:18px;
	color:#1c476e;
	margin-bottom:15px;
}

.ba_content p{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:black;
}

.ba_content .mboc_titre{
	font-family:'Open Sans' !important;
	font-weight:300 !important;
	font-size:14px !important;
	color:black !important;
	text-align:justify
}

.ba_footer{
	background:#177fc1;
	height:40px;
	width:100%;
	text-align:center;
	font-family:'Antonio';
	font-size:24px;
	box-shadow: 3px 3px 10px -6px #000000;
	color:white;
}

.ba_footer:hover{
	background:#055e93;
}

.ba_footer a{
	color:white;
}

.ba_footer a:hover{
	text-decoration:none;
}

.ba_footer p::after{
	background: transparent url("../img/fleche_droite_m.png") no-repeat scroll 9px 13px;
	content: "";
	display: inline-block;
	height: 32px;
	margin: 0;
	width: 30px;
}

.partenaire_accueil{
	width:100%;
	padding-bottom:110px;
}

.partenaire_accueil h2{
	margin-top:0px;
	margin-bottom:61px;
}

.partenaire_accueil h2::after {
	background: rgba(0, 0, 0, 0) url("../img/ligne-bleu.png") repeat-x scroll 0 0;
	content: "";
	display: block;
	height: 2px;
	line-height: 0.5;
	margin-left: 305px !important;
	margin-top: -17px;
}

.clearout {
	height:20px;
	clear:both;
}

#flexiselDemo2{
	display:none;
}

.nbs-flexisel-container {
	position:relative;
	max-width:100%;
	overflow:hidden;
}
.nbs-flexisel-ul {
	position:relative;
	width:99999px;
	margin:0px;
	padding:0px;
	list-style-type:none;
	text-align:center;
}

.nbs-flexisel-inner {
	overflow:hidden;
	float:left;
	width:100%;
}

.nbs-flexisel-item {
	float:left;
	margin:0px;
	padding:0px;
	cursor:unset;
	position:relative;
	line-height:0px;
}

#ms{
	width:245px;
}

.nbs-flexisel-item img {
	cursor: unset;
	position: relative;
	margin-top: 10px;
	margin-bottom: 10px;
	max-width:100px;
	max-height:88px;
}

/*** Navigation ***/

.nbs-flexisel-nav-left,
.nbs-flexisel-nav-right {
	width: 35px;
	height: 36px;
	position: absolute;
	cursor: pointer;
	z-index: 100;
	opacity: 0.5;
}

.nbs-flexisel-nav-left {
	left: 10px;
	background: url(../img/button-previous.png) no-repeat;
}

.nbs-flexisel-nav-right {
	right: 5px;
	background: url(../img/button-next.png) no-repeat;
}

footer{
	width:100%;
	overflow:hidden;
}

.footer_top{
	width:100%;
	background:#363839;
	border-bottom:1px solid #7B7C7C;
	overflow:hidden;
	padding-top:38px;
	padding-bottom:33px;
}

.footer_bottom{
	width:100%;
	background:#282a2b;
	overflow:hidden;
	min-height:79px;
}

.ft1 p{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:white;
}

.ft1 img{
	margin-bottom:8px;
}

.newsletter{
	font-weight:600 !important;
	margin-top:23px;
}

.ft1 input[type=text]{
	width:calc(100% - 39px);
	height:32px;
	font-family:'Open Sans';
	font-size:14px;
	font-weight:300;
	border:none;
	padding-left:10px;
	background:white no-repeat scroll 95% 8px;
	float:left;
}

.ft1 input[type="submit"]{
	background: white;
	border-left: 1px solid #363839;
	color: #363839;
	font-size: 17px;
	font-weight: normal !important;
	height: auto;
	margin:0px;
	padding: 5px 10px 3px;
	position: relative;
	right: 0px;
	width: auto;
	float:right;
}

.ft2 h2, .ft3 h2, .ft4 h2{
	margin-top:14px !important;
	font-family:'Antonio' !important;
	font-size:24px !important;
	color:white !important;
	text-align:left !important;
	margin-bottom:10px !important;
}

.presse_image{
	text-align:center;
}

.presse_image .cc_titre{
	text-align:left;
}

.presse_image img{
	max-width:100% !important;
}

.presse_date{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	text-align:right;
}

.presse_h1{
	font-family:'AntonioLight' !important;
	font-size:17px !important;
}

.presse_h3{
	font-family:'AntonioLight' !important;
	font-size:36px !important;
	color:#1c476e !important;
}

.presse_titre_contact{
	font-family:'AntonioBold';
	font-size:22px;
	color:white;
}

.presse_cm4 p{
	font-family:'AntonioBold' !important;
	font-size:17px !important;
}

.presse_cm4 p span{
	font-family:'Antonio';
	font-size:15px;
}

.ft2 ul, .ft3 ul{
	padding:0px;
}

.ft2 ul li, .ft3 ul li {
	border-bottom: 1px solid #4c4c4c;
	list-style: outside none none;
	padding-bottom: 11px;
	padding-top: 8px;
}

.ft2 ul li a, .ft3 ul li a{
	font-family:'Antonio';
	font-size:15px;
	color:white;
}

.ft2 ul li a:hover, .ft3 ul li a:hover{
	color:#177fc1;
	text-decoration:none;
}

.recrutement{
	margin-top:64px;
}

.ft4 p{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:white;
	margin-top:20px;
}

.ft4connexion{
	margin-top:34px;
	width:100%;
	min-height:136px;
	background:#A7C93C;
	padding-left:12px;
	padding-right:12px;
	padding-top:31px;
	padding-bottom:27px;
}

.ft4connexion p{
	font-family:'Antonio';
	font-size:19px;
	color:white;
	border-left:3px solid white;
	padding-left:10px;
	line-height:1;
	margin-top:0px;
}

.ft4connexion p span{
	font-size:15px !important;
}

.ft4connexion .connexion{
	border: 1px solid white;
	margin-bottom: 0;
	margin-top: 11px;
	padding-bottom: 5px;
	padding-left: 0;
	padding-top: 5px;
	text-align: center;
	width: 100%;
}

.ft4connexion .connexion a{
	font-family:'Antonio';
	font-size:19px;
	color:white;
	text-decoration:none;
}

.ft4connexion .connexion::before{
	background: rgba(0, 0, 0, 0) url("../img/fleche_connexion_gauche.png") repeat-x scroll 0 0;
	content: "";
	display: block;
	height: 14px;
	left: 38px;
	line-height: 0.5;
	bottom: 34px;
	position: absolute;
	width: 6px;
}

.ft4connexion .connexion::after{
	background: rgba(0, 0, 0, 0) url("../img/fleche_connexion_droite.png") repeat-x scroll 0 0;
	bottom: 34px;
	content: "";
	display: block;
	height: 14px;
	line-height: 0.5;
	position: absolute;
	right: 26px;
	width: 6px;
}

.fb1 a{
	font-family:'Antonio';
	font-size:24px;
	color:#177fc1;
}

.fb1 p{
	background: transparent url("../img/espace_presse.png") no-repeat scroll left top;
	margin-bottom: 0;
	margin-top: 22px;
	padding-bottom: 2px;
	padding-left: 63px;
}

.fb1 p::after{
	background: rgba(0, 0, 0, 0) url("../img/fleche_droite_espace_presse.png") repeat-x scroll 0 0;
	bottom: 11px;
	content: "";
	display: block;
	height: 15px;
	line-height: 0.5;
	position: absolute;
	right: 10px;
	width: 8px;
}

.fb2 p{
	color: white;
	font-family: "Antonio";
	font-size: 14px;
	margin-bottom: 0;
	margin-top: 28px;
	text-align: left;
}

.fb2 p a{
	color:white;
}

.fb3{
	text-align:right;
	padding-top:20px;
}

.fb3 img{
	padding-left:10px;
}

.cms_slide img{
	width:100%;
}

.cms_slide{
	max-height:320px;
	overflow:hidden;
}

.cms_titre{
	width:100%;
}

.cms_titre h1{
	text-align:center;
	font-family:'AntonioLight';
	font-size:36px;
	color:#1c476e;
	margin-top:33px;
	margin-bottom:0px;
}

.actu_content h1{
	text-align:center;
	font-family:'AntonioLight';
	font-size:36px;
	color:#1c476e;
	margin-top:33px;
	margin-bottom:0px;
	border-bottom:1px solid #1c476e;
	margin-bottom:20px;
}

.cms_titre h2{
	text-align:center;
	font-family:'AntonioLight';
	font-size:36px;
	color:#1c476e;
	margin-top:33px;
	margin-bottom:0px;
}

.cms_titre h3{
	text-align:center;
	font-family:'Open Sans';
	font-weight:300;
	font-size:16px;
	color:black;
	margin-top:20px;
	margin-bottom:35px;
}

.cms_content{
	width:100%;
}

.cms_content .content{
	background:url(../img/background_content.png) no-repeat top center #ebebeb;
	overflow:hidden;
}

.cc_titre{
	color: #1c476e;
	font-family: "AntonioLight";
	font-size: 35px;
	line-height: 0.7;
	margin-bottom: 15px;
}

h1.cc_titre{
	margin-top:0px
}

.cc_titre span{
	font-size:18px !important;
}

.cc_content{
	color: black;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	margin-top: 28px;
}

.cms_content .content .col-md-6{
	padding:0px;
}

.cmcc_c6{
	padding:45px !important;
}

.cmcc_c6bleu{
	padding:45px !important;
	background:#177ec1;
	color:white;
}

.cmcc_c6bleu p{
	color:white;
}

.cmcc_c6bleu .ligne{
	background:white;
}

.cmcc_c6bleu .fa-check{
	color:white;
}

.cmcc_c6bleu .boutonBleu{
	background: white none repeat scroll 0 0;
	color: #177ec1;
	margin-bottom: 0;
}

.cmcc_c6bleu .boutonBleu:hover{
	background:#055e93;
	color:white;
}

.blue{
	color: #1c476e;
	font-family:'AntonioBold';
	font-size:15px;
}

.cms_chiffres{
	background:#1c476e;
	width:100%;
	min-height:270px;
	padding-top:36px;
	overflow:hidden;
}

.cmsch_titre{
	background: transparent url("../img/logo_blanc.png") no-repeat scroll left 9px;
	color: white;
	font-family: "AntonioLight";
	font-size: 36px;
	padding-bottom: 7px;
	padding-left: 68px;
}

.ligne_banche{
	background: white none repeat scroll 0 0;
	height: 1px;
	margin-bottom: 18px;
	margin-left: 69px;
	margin-top: -15px;
	width: 122px;
}

.chiffre{
	color: white;
	font-family: "AntonioLight";
	font-size: 54px;
	line-height: 0.5;
	margin-top: 48px;
	margin-bottom:0px;
}

.chiffre span{
	font-size:23px !important;
}

.ccc_picto{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	color: black;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
	margin-top: 19px;
	padding-bottom: 4px;
	padding-left: 0;
}

.cmcc_form{
	background:#177fc1;
	min-height:1021px;
	padding-left:48px !important;
	padding-top:35px !important;
	padding-right:28px !important;
}

.cmcc_form h2{
	font-family:'AntonioLight';
	font-size:36px;
	color:white;
	margin-top:0px;
	margin-bottom:35px;
}

.cmcc_form input[type=text], .cmcc_form input[type=email]{
	width:100%;
	height:25px;
	border:none;
	font-family:'Open Sans';
	font-size:13px;
	color:black;
	padding-left:10px;
	box-shadow:5px 5px 10px -4px #000000;
}

.cmcc_form textarea{
	box-shadow: 2px 2px 10px -4px #000000;
	width: calc(100% - 20px);
}

.dpleft{
	padding-right: 30px !important;
	padding-top: 40px !important;
}

.dpleft .cc_titre, .dpleft .ligne, .dpleft .cc_content, .dpleft .ccc_picto{
	margin-left:30px;
}

.dpleft img{
	bottom: 0;
	position: absolute;
}

.bs_media_content{
	min-height:auto !important;
}

.bs_media_content h3{
	min-height:53px;
}

.noresult{
	font-family:'Antonio';
	font-size:19px;
	color:#a50000;
	margin-bottom:20px;
}

.cmcc_form .col-md-12{
	padding-bottom:14px !important;
	overflow:hidden;
}

.cmcc_form .col-md-12 .col-md-6, .oneline{
	padding-right:20px !important;
}

.cmcc_form label{
	font-family:'Open Sans';
	font-size:13px;
	color:white;
	font-weight:normal;
}

.cmcc_form p{
	font-family:'Open Sans';
	font-size:12px;
	color:white;
	text-align:justify;
	padding-right:20px;
}

.cmcc_check label{
	color: white;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: normal;
	padding-left: 10px;
	text-align: justify;
}

.cmcc_form input[type=submit]{
	font-family: AntonioBold;
	font-size: 16px;
	left: 0;
	margin-top: 0;
	position: relative;
	text-transform: uppercase;
	margin-bottom:30px;
}

.actu_filtre{
	width:100%;
	margin-top:50px;
	overflow:hidden;
}

.actu_filtre ul{
	width:100%;
	border-top:1px solid #99ACA5;
	border-bottom:1px solid #99ACA5;
	margin-top:57px;
}

.actu_filtre ul li{
	font-family:'Antonio';
	font-size:15px;
	color:#1c476e;
	margin-right:30px;
}

.nav_filtre{
	padding-left:19px;
}

.nav_filtre li a{
	padding:10px 0;
	font-family:'Antonio';
	font-size:15px;
	color:#717c78;
	margin-left:0px;
	margin-right:0px;
}

.af_filtre{
	padding-top:10px;
	margin-right:30px;
}

.nav_filtre li a:hover{
	padding-top:5px !important;
}

.nav_filtre li.active a{
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border-top: 5px solid #177fc1;
	color: #1c476e;
	padding: 5px 0 !important;
}

.actu_list, .offre_list{
	width:100%;
	background:white;
}

.actu_list .content{
	padding-top:49px;
	overflow:hidden;
}

.offre_list .content{
	padding-top:50px;
}

.actu_list .box_solution{
	margin-bottom:45px;
}

.box_offre{
	margin-bottom:40px;
}

.actu_search{
	width:100%;
}

.actu_search form input[type=text]{
	height:31px;
	width:85%;
	float:left;
	background:#ececec url("../img/fleche_input_search.png") no-repeat scroll right 7px;
	padding-left:10px;
	border:none;
	margin-top:59px;
	margin-bottom:62px;
}

.actu_search form input[type=submit]{
	background: #177fc2 none repeat scroll 0 0;
	color: white;
	float: left;
	font-family: "Antonio";
	font-size: 18px;
	height: 31px;
	margin-top: 59px;
	position: relative;
	right: 0;
	text-align: center;
	width: 15%;
}

.actu_content{
	width:100%;
}

.bac_titre h3{
	font-family:'AntonioLight';
	font-size:36px !important;
	color:#1c476e;
	line-height:0.5;
}

.bac_titre h3 span{
	font-size:15px !important;
}

.cmcc_blue{
	background:#177fc2;
	padding-top:30px;
	padding-bottom:20px;
	padding-left:50px;
	padding-right:50px;
}

.col-md-12{
	overflow:hidden;
}

.cmcc_blue .cc_titre, .cmcc_blue .cc_content{
	color:white;
}

.cmcc_blue .ligne_banche{
	margin-top:0px;
	margin-left:0px;
}

.next a{
	background: #a8ca3c url("../img/fleche_droite_m.png") no-repeat scroll 136px 5px;
	color: white;
	font-family: "AntonioBold";
	font-size: 16px;
	margin-top: 10px;
	padding: 2px 44px 2px 10px;
	box-shadow: 3px 3px 10px -6px #000000;
}

.next:hover a{
	background: #91bb14 url("../img/fleche_droite_m.png") no-repeat scroll 136px 5px;
}

.next a:hover{
	text-decoration:none;
}

.metier .col-md-4{
	text-align:right;
}

.metier .col-md-8, .metier .col-md-8 h2, .metier .col-md-8 h1, .metier .col-md-8 h3{
	text-align:left;
}

.metier{
	padding-top:25px;
	padding-bottom:25px;
	overflow:hidden;
}

.affix{
	min-height: 51px;
	border-top:none;
}

.affix~.main{
	padding-top:167px;
}

.hc_logo_affix, .affix .hc_logo, .affix .hct1{
	display:none;
}

.hct1{
	padding-bottom:8px !important;
}

.affix .hc_logo_affix{
	display: block;
	float: left;
	padding-left: 10px;
	padding-top: 5px;
	width: 154px;
}

.affix .hc_top{
	float:right;
}

.affix .navbar-left{
	padding-left:0px;
	float:right !important;
	padding-right:10px !important;
}

.affix .navigation{
	border-top: medium none !important;
	height: 51px !important;
	margin-top: 0;
	overflow: hidden;
}

.affix .nav li a{
	padding-bottom:28px;
}

.affix .dropdown-menu {
	top: 64px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus{
	background:transparent;
	color:#1c476e !important;
	border-top:5px solid #177FC1;
	padding-bottom: 12px;
	padding-top: 10px;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus{
	color:#1c476e !important;
	background:transparent;
}

.ssmenu1{
	padding-left:210px;
}

.dropdown ul.active{
	display:block;
}

.dropdown-menu li.active{
	background:url(../img/fleche_haut.png) no-repeat top center transparent;
}

.ssmenu2{
	padding-right: 157px;
	text-align: right;
}

.ssmenu3{
	padding-left: 679px;
}

.ssmenu4{
	padding-left: 679px;
}

.dd2{
	top:100px;
}

.partage_offre p{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:#177fc2;
	text-align:right;
	height:auto;
}

.partage_offre{
	padding:0px;
	padding-top:14px;
	padding-bottom:5px;
}

.partage_offre .col-md-6{
	padding-left:0px;
}

.partage_offre .col-md-6 img{
	margin-right:11px;
}

.lignebleutop{
	border-top:1px solid #177FC1;
	padding-top:35px;
	margin-left:30px;
	width:calc(100% - 60px);
}

.mt30{
	margin-top:30px;
}

.mt45{
	margin-top:45px;
}

.mt90{
	margin-top:90px;
}

.boutonVert{
	background: #a7c93c;
	border: medium none;
	color: white;
	font-family: "Antonio";
	font-size: 24px;
	height: 40px;
	margin-bottom: 13px;
	margin-top: 10px;
	width: 315px;
	box-shadow: 3px 3px 10px -6px #000000;
}

.boutonVert:hover{
	background: #91bb14;
}

.boutonBleu{
	background: #177fc1;
	border: medium none;
	color: white;
	font-family: "Antonio";
	font-size: 24px;
	height: 40px;
	margin-bottom: 50px;
	margin-top: 0;
	width: 315px;
}

.boutonBleu:hover {
	background-color: ;
}

.contact_content .content{
	padding-top:55px;
	padding-bottom:55px;
	overflow:hidden;
}

.bleuclair{
	color:#177fc1;
}

.contact_content form{
	margin-top:20px;
	margin-bottom:55px;
}

.contact_content form input[type=text], .contact_content form input[type=email], .contact_content form select,
.contact_content form input[type=url]{
	border: 1px solid #eee;
	color: black;
	font-family: Open Sans;
	height: 24px;
	margin-bottom: 12px;
	padding-left: 15px;
	width: 100%;
	margin-left:0px;
	box-shadow: 2px 2px 10px -6px #000000;
}

input[type=file]{
	width:100%;
}

.contact_content form textarea{
	border: 1px solid #eee;
	color: black;
	font-family: Open Sans;
	height: 185px;
	margin-bottom: 12px;
	padding-left: 15px;
	width: 100%;
	box-shadow: 2px 2px 10px -6px #000000;
}

.contact_content form input[type=submit]{
	background: #a7c93c url("../img/fleche_droite_m.png") no-repeat scroll 114px 10px;
	border: medium none;
	color: white;
	font-family: "AntonioBold";
	font-size: 19px;
	height: 40px;
	margin-bottom: 13px;
	margin-top: 10px;
	padding-left: 10px;
	position: relative;
	right: auto;
	text-align: left;
	text-transform: uppercase;
	width: 152px;
}

.contact_content form input[type=submit]:hover{
	background: #91bb14 url("../img/fleche_droite_m.png") no-repeat scroll 114px 10px;
}

.presse_content h3{
	font-family:'AntonioLight' !important;
	font-size:18px !important;
	color:#1c476e;
	line-height:1 !important;
	margin-bottom:5px;
}

.presse_content .source{
	color:#717c78;
	font-size:18px !important;
}

.presse_content .date{
	color:#177fc2;
	font-size:18px !important;
	line-height:2.5 !important;
}

.map_container{
	width:100%; display:inline-block;
	border:0;
	height: 225px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	background:#d9d9d9;
}
#map{
	border:0;
	height: 225px;
	width:100%;
	margin:auto;
}

.contact_titre{
	font-family:'Antonio';
	font-size:21px;
	color:#1c476e;
	margin-bottom:0px;
}

.contact_p{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:black;
	margin-bottom:0px;
}

.mt60{
	margin-top:60px;
}

.contact_form_titre{
	font-family:'AntonioLight';
	font-size:36px;
	color:#1c476e;
	margin-top:0px;
}

.contact_content .col-md-8{
	border-left:1px solid #1c476e;
	padding-left:110px;
	margin-bottom:50px;
}

#appbundle_contacttype_source{
	margin-left:0px;
}

.contact_content .col-md-8 label, .contact_content .col-md-8 .infos{
	font-family:'Open Sans';
	font-weight:300;
	font-size:14px;
	color:black;
	margin-left:0px;
	padding-left:0px;
	margin-bottom:0px;
}

#appbundle_contacttype_optin_0{
	margin-right:10px;
}

.contact_content .col-md-8 .ligne{
	margin-bottom:30px;
}

.nomarginbottom{
	margin-bottom:0px !important;
}

.flash-notice, .flash-success, .flash-warning, .flash-error, .flash-validation {
	border: 1px solid;
	margin: 10px 0px;
	padding:15px 10px 15px 50px;
	background-repeat: no-repeat;
	background-position: 10px center;
}
.flash-notice {
	color: #00529B;
	background-color: #BDE5F8;
	background-image: url('../img/notice.png');
}
.flash-success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('../img/success.png');
}
.flash-warning {
	color: #9F6000;
	background-color: #FEEFB3;
	background-image: url('../img/warning.png');
}
.flash-error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('../img/error.png');
}

.sc_retour{
	background: transparent url("../img/fleche_bleu_retour.png") no-repeat scroll 18px 11px;
	border: 1px solid #99aca5;
	color: #1c476e;
	font-family: "Antonio";
	font-size: 15px;
	padding: 10px 10px 10px 55px;
	text-decoration: none;
	text-transform: uppercase;
}

.sc_retour:hover{
	background: #1c476e url("../img/fleche_blanche_retour.png") no-repeat scroll 18px 11px;
	color:white;
	text-decoration:none;
}

.psc_retour{
	margin-top:57px;
	margin-bottom:61px;
}

.sc_h2{
	background:#177fc2;
	color:white;
	font-family:'AntonioLight';
	font-size:24px;
	padding-left:30px;
	padding-top:18px;
	padding-bottom:18px;
	margin-top:0px;
	margin-bottom:0px;
	text-transform:uppercase;
}

.solution_bleu_droite{
	background:#1C476E;
	text-align:left;
	padding-left:0px;
}

.solution_bleu_droite h3{
	color:white;
	font-family:Antonio;
	padding-left:15px;
}

.solution_bleu_droite p{
	color:white;
	font-family:'Open Sans';
	padding-left:15px;
	padding-right:15px;
	font-size:14px;
	padding-top:15px;
	padding-bottom:15px;
}

.solution_bleu_droite img{
	max-width:100%;
}

.solution_content .col-md-9{
	background:#ebebeb;
	margin-bottom:145px;
}

.sc_pack1{
	padding-top:30px;
	padding-left:30px !important;
	padding-right:30px;
}


.sc_pack2{
	padding:30px !important;
}

.cadre_remboursement{
	background:white;
	padding:10px;
	margin-bottom:15px;
}

.cadre_remboursement h2{
	font-family:'Open Sans';
	font-weight:400;
	font-size:18px;
	color:#177fc2;
	margin-top:0px;
}

.cadre_remboursement .col-md-12 .col-md-3{
	padding:0;
}

.cadre_remboursement .col-md-12 .col-md-3 img{
	max-width:100%;
}

.cadre_remboursement .col-md-12 .col-md-9{
	background:transparent;
	margin-bottom:0px;
}

.cadre_remboursement .col-md-12 .col-md-9 p{
	font-family:"Open Sans";
	font-weight:400;
	font-size:13px;
}

.cadreblanc{
	border: 1px solid #1c476e;
	margin-right: 5px;
	padding: 5px;
	width: calc(50% - 5px);
}

.cadreblanc p{
	color: #1c476e;
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}

.cadrebleu{
	background:#1C476E;
	padding:5px;
	border:1px solid #1C476E;
	width: calc(50% - 5px);
	margin-left:5px;
}

.cadrebleu p{
	color: white;
	font-family: "Open Sans";
	font-size: 11px;
	font-weight: 400;
	text-align: center;
}

.sc_pack2 h3{
	font-family:'AntonioLight';
	font-size:15px;
	color:#1c476e;
}

.sc_pack3{
	padding:30px !important;
}

.sc_pack5 h3{
	text-align:left;
	font-family:'AntonioLight';
	color:white;
	font-size:15px;
}

.sc_pack5 .ccc_picto{
	font-family:'Open Sans';
	color:white;
	font-size:14px;
	text-align:left;
}

.sc_pack6{
	padding-top:30px !important;
	padding-left:0px !important;
	padding-right:0px !important;
}

.sc_pack3 h3, .sc_pack6 h3{
	font-family:'AntonioLight';
	font-size:18px;
	color:#1c476e;
	margin-top:0px;
}

.scp2_right{
	background:#c4c4c4;
	color:white;
	text-align:center;
}

.scp2_right h3{
	color: white;
	font-size: 36px;
	padding-top: 10px;
}

.scp2_right p{
	font-family:'AntonioLight';
	font-size:18px;
}

.mt15{
	margin-top:15px !important;
}

.sc_pack4{
	background:#034167;
	padding-top:50px !important;
	padding-left:35px !important;
	padding-right:35px !important;
	color:white !important;
	padding-bottom:50px !important;
}

.sc_pack4 .nopadding p{
	font-family:'Open Sans';
	font-size:14px;
}

.sc_pack4 .cc_titre{
	color:white;
	line-height:0.7 !important;
	padding-top:10px;
}

.ligne_blanche{
	width:122px;
	height:1px;
	background:white;
	margin-bottom:0px;
}

.sc_pack5{
	background:#177fc1;
	padding:30px !important;
	color:white !important;
	text-align:center;
}

.sc_pack5 p{
	font-size:36px;
	font-family:'AntonioLight';
	line-height:1;
}

.sc_pack5 .fa-check{
	color:white;
}

.nopaddingtop{
	padding-top:0px !important;
}

.nopaddingbottom{
	padding-bottom:0px !important;
}

.sc4_gras{
	font-family:'Open Sans';
	font-size:24px;
}

.sc_pack2 img{
	margin-left:auto;
	margin-right:auto;
	float:none !important;
}

.sc_pack5 p span{
	font-size:15px;
}

.scr_h2{
	font-family:'AntonioLight';
	font-size:24px;
	color:white;
	background:#034167;
	padding-top:18px;
	padding-left:24px;
	padding-bottom:18px;
	margin:0px
}

.mod_geo{
	background:#e4e4e4;
	height:300px;
}

.modal_offre, .modal_media{
	z-index:5000 !important;
}

.modal-dialog_offre{
	max-width:1040px !important;
}

.modal-dialog_media{
	max-width:700px !important;
}

.modal-content_offre, .modal-content_media{
	background:transparent !important;
	box-shadow:none !important;
	border:0
}

.modal-header_offre, .modal-header_media{
	overflow:hidden;
}

.modal-header_offre .close, .modal-header_media .close{
	background: transparent;
}

.mt50{
	margin-top:50px !important;
}

.mb50{
	margin-bottom:50px !important
}

.modal_gouvernance_vert .mbo_header{
	background:white;
	padding:0px;
}

.mh_image{
	float:left;
	width:281px;
}

.mh_image .vert, .mh_image .bleu{
	color: white !important;
	font-family: "AntonioLight" !important;
	font-size: 30px !important;
	text-align: center;
	line-height: 0.8;
	margin: 0;
	padding: 10px 10px 11px;
}

.mh_image .vert span, .mh_image .bleu span{
	font-size:15px !important;
}

.mh_content{
	float:left;
	width:calc(100% - 281px);
}
.modal_gouvernance_vert .mbo_header h2{
	margin-top:0px;
	color:white;
	background:#177fc1;
	color: white !important;
	font-family: "AntonioLight" !important;
	font-size: 30px !important;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
}

.modal_gouvernance_vert .mbo_header p{
	color: #1c476e;
	font-family: Open Sans;
	font-size: 13px;
	padding: 20px;
}

.modal_gouvernance_bleu .mbo_header{
	background:white;
	padding:0px;
}

.modal_gouvernance_bleu .mbo_header h2{
	margin-top:0px;
	color:white;
	background:#177fc1;
	color: white !important;
	font-family: "AntonioLight" !important;
	font-size: 30px !important;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:20px;
}

.modal_gouvernance_bleu .mbo_header p{
	color: #1c476e;
	font-family: Open Sans;
	font-size: 13px;
	padding: 20px;
}

.p20{
	padding:20px;
}

.plr30{
	padding-left:30px;
	padding-right:30px;
}

.actualite_content h1{
	background: #024167 none repeat scroll 0 0;
	color: white;
	font-family: "AntonioLight";
	font-size: 21px;
	margin: 0;
	padding: 15px;
}

.com_content{
	padding-left:45px;
	padding-right:45px;
	padding-bottom:30px;
}

.ac_content{
	padding:0px;
}

.modal-header_offre label, .modal-header_media label{
	color: white;
	font-family: "AntonioLight";
	font-size: 15px;
	position: absolute;
	right: 51px;
	text-align: right;
	top: 18px;
}

.mbo_header{
	width:100%;
	background:#177fc2;
	overflow:hidden;
}

.mboh_titre{
	color: white;
	font-family: "AntonioLight";
	font-size: 36px;
	margin: 0;
	padding-top: 10px;
}

.mboh_sstitre{
	color: white;
	font-family: "AntonioLight";
	font-size: 15px;
	margin: 0 0 15px;
}

.mbo_header .col-md-10{
	padding-left:30px;
}

.modal-body_offre, .modal-body_media{
	overflow:hidden;
	padding:0px;
}

.modal-body_media{
	background:white;
	padding:30px;
}

.modal-body_media input[type=text], .modal-body_media input[type=email]{
	width:100%;
	margin-bottom:10px;
}

.modal-body_media .mbf_title{
	margin-bottom:30px;
}

.modal-body_media input[type=submit]{
	float: none;
	left: 0;
	margin: auto;
	position: relative;
	right: 0;
	top: 0;
}

.modal-body_offre .col-md-9, .modal-body_media .col-md-9{
	padding-left:0px;
	padding-right:0px;
}

.mbo_content{
	background:#ebebeb;
	padding:30px;
}

.mboc_titre{
	font-family:'AntonioLight' !important;
	font-size:24px !important;
	color:#1c476e !important;
}

.ac_content .mboc_titre{
	font-size:17px !important;
}

.mbo_content p{
	font-family:'Open Sans';
	font-weight:300;
	color:black;
	font-size:14px;
}

.mbo_content p span{
	font-weight:800 !important;
}

.mbo_footer1{
	background: #1c476e none repeat scroll 0 0;
	border-top: medium none;
	overflow: hidden;
	padding: 20px 30px;
	width: 100%;
}

.mbo_footer1 .col-md-3{
	padding:0px
}

.mbo_footer1 p{
	font-family:'Open Sans';
	font-weight:400;
	font-size:14px;
	color:#85ae35;
	margin:0px;
}

.mbof_right{
	background: #a7c93c none repeat scroll 0 0;
	height: 40px;
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	box-shadow:3px 3px 10px -6px #000000;
	font-family: "Antonio";
	font-size: 24px;
}

.mbof_right:hover{
	background:#91bb14 ;
}

.mbof_right img{
	float: left;
	margin-top: 11px !important;
	padding-left: 30px;
}

.mbo_footer1 p span{
	color: white;
	font-family: Antonio;
	font-size: 19px;
}

.mbo_footer2{
	background:#1c476e;
	width:100%;
	overflow:hidden;
	padding:30px;
}

.mbo_footer2 .col-md-6{
	padding:0px
}

.mbof_titre{
	font-family:'AntonioLight' !important;
	font-size:24px !important;
	color:white;
}

.modal-body_offre ul{
	padding-left:15px;
}

.mbo_footer2 p{
	color: white;
	font-family: Antonio;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	margin: 0;
	padding-left: 30px;
	padding-top: 10px;
	text-align: center;
}

.mbo_footer2 p a{
	font-family:'Open Sans';
	font-weight:800;
	color:white;
	font-size:14px;
}

.mbo_footer2 p a:hover{
	text-decoration:none;
}

.mbo_footer2 p a::after{
	background: transparent url("../img/fleche_droite_m.png") no-repeat scroll 9px 13px;
	content: "";
	display: inline-block;
	height: 32px;
	margin: 0;
	width: 30px;
}

.mbofr_p span{
	color: white;
	font-family: AntonioLight;
	font-size: 25px;
	font-weight: 700;
}

.mbofr_p a{
	font-weight:normal !important
}

.mbofr_p{
	margin-top:0px !important;
	padding:0 !important;
}

.modal-body_offre .col-md-3 form{
	background:white;
	padding:15px;
}

.mbf_title{
	font-family:'AntonioLight';
	font-size:36px;
	color:#1c476e;
	margin:0px;
	line-height:1;
}

.mbf_ref{
	font-family:'AntonioLight';
	font-size:15px;
	color:#177fc2;
}

.modal-body_offre .col-md-3 form input[type=text], .modal-body_offre .col-md-3 form input[type=email],
.modal-body_offre .col-md-3 form textarea{
	margin-bottom:5px;
	width:100%;
	box-shadow: 2px 2px 10px -6px #000000;
	border:1px solid #eee;
}

.modal-body_offre .col-md-3 form input[type=file]{
	margin-bottom:5px;
	width:100%;
}

.modal-body_offre .col-md-3 form input[type=submit]{
	font-family: "Antonio";
	font-size: 24px;
	left: 0;
	margin-top: 20px;
	position: relative;
	text-align: center;
	width: 100%;
}

.modal-content_contact{
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	box-shadow: none;
}

.modal-body_contact{
	padding:30px;
	background:white;
}

.modal-body_contact .col-md-12{
	padding:0px;
}

.modal-body_contact .mbf_title{
	margin-bottom:20px;
}

.modal-body_contact form input[type=text], .modal-body_contact form input[type=email],
.modal-body_contact form textarea{
	margin-bottom:10px;
	width:100%;
	box-shadow: 2px 2px 10px -6px #000000;
	border:1px solid #eee;
}

.modal-body_contact form input[type=file]{
	margin-bottom:10px;
	width:100%;
}

form[name=form_presse] label, #form8 label{
	font-weight:normal;
}

.modal-body_contact form select{
	margin:0px;
	width:100%;
	margin-bottom:10px;
}

.modal-body_contact form textarea{
	height:200px;
}

.modal-body_contact form input[type=submit]{
	font-family: "Antonio";
	font-size: 24px;
	left: 0;
	margin-top: 20px;
	position: relative;
	text-align: center;
	width: 200px;
	margin:auto
}

.bac_titre p.ligne{
	display:none;
}

.actu_show_content{
	padding-top:0px;
	padding-bottom:50px;
}

.backVert{
	background:#1c476e;
	font-size: 14px;
	padding: 15px;
	margin-top:30px;
	margin-bottom:30px;
	width:100%;
	color:white;
	font-family:'Open Sans';
}

.ac_content{
	font-family:'Open Sans';
	font-size:14px;
}

.actu_show_content p{
	font-family:'Open Sans';
	font-size:14px;
}

.sc_pack1 .cc_titre{
	/*line-height:1;*/
}

.solution_bleu{
	font-family:'AntonioLight';
	font-size:18px;
	color:#1c476e;
}

.fc_etape2, .fc_etape3, .fc_etape4, .fc_etape3_2, .fc_etape_autre, .fc_etape_valider, .fc_etape5, .fc_etape6,
.fc_etape7{
	display:none;
}

.mb10{
	margin-bottom:10px !important;
}

.mt10{
	margin-top:10px !important;
}

input[type="radio"], input[type="checkbox"]{
	margin:4px 5px 0 10px;
}

#appbundle_contacttype_offre label{
	width:93%;
}

.fc_etape6 p{
	color: black;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 300;
}

.cms_slide_landing{
	max-height:363px;
	overflow:hidden;
}

.cms_slide_landing img{
	width:100%;
}

.cms_slide_landing_div p{
	display: table;
	float: right;
	margin-top: 0;
	opacity: 1;
	position: relative;
	right: 0;
	visibility: visible;
}

.cms_slide_landing_div{
	overflow: hidden;
	position: absolute;
	right: 0;
	top: 327px;
	z-index: 200;
}

.lc_ligne{
	width:100%;
}

.cms_slide_landing_div p.p1_1{
	padding-right:173px;
}

.cms_slide_landing_div p.p1_2{
	padding-right:214px;
}

.cms_slide_landing_div p.p1_3{
	margin-right:50px;
}

.mainLanding .cms_content{
	margin-top:45px;
}

.mainLanding .solution_accueil{
	background:white;
}

.mainLanding .solution_accueil h2::after{
	margin-left:205px !important;
}

.mainLanding .solution_accueil h2{
	margin-bottom:0px;
}

.mainLanding .solution_accueil h3, .mainLanding .actualite_accueil h3{
	color: #1c476e;
	font-family: AntonioLight;
	font-size: 15px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.mainLanding .ba_content{
	background:white;
}

.mainLanding .ba_content h3{
	font-size:24px !important;
	margin-bottom:15px !important;
	margin-top:0px !important;
}

.mainLanding .actualite_accueil h2::after{
	margin-left:190px !important;
}

.mainLanding .actualite_accueil{
	background:#f3f3f3 !important;
	overflow:hidden;
}

.hc_logo_mobile{
	display:none;
}

.fb2{
	padding-left:0px;
}

.actu_content .content{
	padding-top:49px;
}

#Stage{
	background:transparent !important;
	left:0 !important;
	margin-left:auto !important;
	margin-right:auto !important;
	margin-top:-50px !important;
	right:0 !important;
	text-align:center !important;
	z-index:100 !important;
}

.recrutement_slide{
	max-height:317px;
}

.espace_perso_footer{
	background: #a8d123 none repeat scroll 0 0;
	cursor: pointer;
	float: left;
	height: 46px;
	width: 100%;
}

.espace_perso_footer:hover{
	background:#91bb14;
}

.espace_perso_footer:hover i{
	background:#a8d123 ;
}

.mentions{
	margin-top:45px;
	margin-bottom:45px;
}

.mentions p{
	text-align:justify;
}

.espace_perso_footer p{
	color: white;
	font-family: "Antonio";
	font-size: 19px;
	line-height: 1.2;
	margin: 0;
	padding-left: 16px;
	padding-top: 12px;
	text-align: left;
}

.espace_perso_footer i{
	background: #91bb14 none repeat scroll 0 0;
	float: right;
	height: 46px;
	margin-top: -12px;
	padding: 13px 16px 17px;
	right: 0;
	top: 0;
}

.espace_assure_footer{
	background: #177fc1 none repeat scroll 0 0;
	cursor: pointer;
	float: left;
	height: 46px;
	margin-bottom: 10px;
	margin-left: 0;
	overflow: hidden;
	width: 100%;
}

.espace_assure_footer:hover{
	background:#055e93;
}

.espace_assure_footer:hover i{
	background:#177fc1;
}

.espace_assure_footer p{
	color: white;
	font-family: "Antonio";
	font-size: 19px;
	line-height: 1.2;
	margin: 0;
	padding-left: 16px;
	padding-top: 12px;
	text-align: left;
}

.espace_assure_footer i{
	background: #055e93 none repeat scroll 0 0;
	float: right;
	height: 46px;
	margin-top: -12px;
	padding: 13px 16px 17px;
	right: 0;
	top: 0;
}

.nrj_button{
	text-align:center;
}

a:focus, a:hover, a:active{
	outline:none;
}

.fa-check{
	color:#177FC1;
	padding-right:10px;
}

.scrollToTop{
	background: rgba(0, 0, 0, 0) url("../img/fleche_top.png") no-repeat scroll 0 0;
	bottom: 50px;
	color: #444;
	display: none;
	font-weight: bold;
	height: 50px;
	padding: 0;
	position: fixed;
	right: 40px;
	text-align: center;
	text-decoration: none;
	width: 50px;
}
.scrollToTop:hover{
	text-decoration:none;
}

.bloc_bleu{
	background:#177EC1;
	text-align:center;
}

.bloc_bleu .boutonBleu{
	margin-bottom:0px;
	background:white;
	color:#177EC1;
	box-shadow: 3px 3px 10px -6px #000000;
}

.bloc_bleu .boutonBleu:hover{
	background: #055e93;
	color:white;
}

.bloc_bleu h2{
	margin-top:20px;
	color:white;
	font-size:32px;
}

.bloc_bleu p{
	color:white;
	padding-bottom:20px;
	font-family:'AntonioLight';
	font-size:15px;
	margin-top:15px;
	margin-bottom:0px;
}

.solution_bloc_droit{
	margin-left:20px;
	margin-bottom:25px;
	background:#E4E4E4;
	padding-bottom:15px;
}

.solution_bloc_droit img{
	margin-bottom:15px;
}

.solution_bloc_droit p{
	font-family: Open Sans;
	font-size: 13px;
	font-weight: 400;
	padding-left: 15px;
	padding-right: 15px;
}

.sbd_1, .sbd_2{
	background: #177fc2 none repeat scroll 0 0;
	color: white;
	font-family: Antonio;
	font-size: 16px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
	padding-bottom: 5px;
	padding-top: 5px;
	text-align: center;
	width: 90%;
	cursor:pointer;
	box-shadow: 3px 3px 10px -6px #000000;
}

.sbd_1:hover, .sbd_2:hover{
	background:#055e93 none repeat scroll 0 0;
}

.gouvernance_footer{
	background:#ececec;
	width:100%;
	overflow:hidden;
	padding:20px;
}

.gouvernance_footer .col-md-4, .gouvernance_footer .col-md-5, .gouvernance_footer .col-md-6, .gouvernance_footer .col-md-3{
	text-align:left;
}

.gouvernance_footer .col-md-5, .gouvernance_footer .col-md-3{
	border-right:1px solid #1c476e;
	min-height:146px;
}

.gouvernance_footer h3{
	color: #1c476e;
	font-family: AntonioLight;
	font-size: 15px;
	margin-top:0px;
}

.gouvernance_footer p{
	color: black;
	font-family: Open Sans;
	font-size: 14px;
	font-weight: 300;
	margin-bottom:0px;
}

.menubuttonmobile{
	display:none;
}

.mainLanding .tns_sa h2::after {
	margin-left: 360px !important;
}

.nav_filtre_tns{
	width:100%;
	padding-left:0px;
}

.nav_filtre_tns li{
	background:#7b848b;
	padding:0px;
	margin-right:5px;
	margin-top:10px;
	height:40px
}

.nav_filtre_tns li a{
	font-family:Antonio;
	color:white !important;
	font-size:24px;
	border:none;
	padding:10px 5px;
}

.bs_footer_tns{
	background:#177fc1;
}

.bs_footer_tns:hover{
	background:#177fc1;
}

.tns_cms_droite{
	background:#177fc1;
	padding:40px !important;
}

.tns_cms_droite .cc_titre, .tns_cms_droite .ccc_picto{
	color:white;
}

.tns_cms_droite .fa-check-circle{
	font-size: 23px;
	padding-right: 10px;
}

.tns_cms_bleu{
	background:#1c476e;
	padding:30px !important;
}

.tns_cms_bleu a{
	border: 1px solid white;
	color: white;
	font-family: "Antonio";
	font-size: 24px;
	margin-left: 40px;
	margin-right: 40px;
	padding-left: 10px;
	padding-right: 20px;
}

.tns_cms_bleu a:hover{
	text-decoration:none;
	background:#177fc1;
	border:1px solid #177fc1;
}

.resumetns{
	display:none;
}

.tns_cms_bleu a::after {
	background: transparent url("../img/fleche_droite_m.png") no-repeat scroll 0 13px;
	content: "";
	display: inline-block;
	height: 32px;
	margin: 0 0 0 10px;
	width: 19px;
}

.bs_footer_tns a, .bs_footer_tns{
	color: white;
	cursor: pointer;
	font-family: Antonio;
	font-size: 16px;
}

a.bsf_left::after{
	background:none;
}

a.bsf_left::before{
	background: transparent url("../img/fleche_gauche_bleu.jpg") no-repeat scroll 0 0;
	content: "";
	display: inline-block;
	height: 14px;
	margin: 0 20px 0 0;
	width: 13px;
}

a.sf_right::after{
	background: transparent url("../img/fleche_droite_bleu.jpg") no-repeat scroll 0 0;
	content: "";
	display: inline-block;
	height: 14px;
	margin: 0 0 0 20px;
	width: 13px;
}

a.bsf_left::after{
	width:0px;
	height:27px;
}

.bsf_left{
	padding-right:10px;
}

.sf_right{
	padding-left:10px;
}

.tns_list .box_solution{
	margin-bottom:15px;
}

.nav_filtre_tns li:hover a, .nav_filtre_tns li.active a{
	border:none;
	padding:10px 5px !important;
}

.nav_filtre_tns li.active a{
	padding-bottom:5px !important;
	padding-top:8px !important
}

.nominheight{
	min-height:auto;
}

.nav_filtre_tns li.active{
	background: #a7c93c none repeat scroll 0 0;
	padding: 10px;
	margin-top:0px;
	height:50px
}

.tns_list .col-md-4:hover .bs_content{
	background:#177fc1;
}

.tns_list .col-md-4:hover .bs_content h3, .tns_list .col-md-4:hover .bs_content p{
	display:none;
}

.tns_list .col-md-4:hover .resumetns {
	display:block !important;
	color:white;
}

.tns_list .col-md-4:hover .bs_content .ligne{
	display:none;
}

.tns_list{
	background: #f3f3f3 none repeat scroll 0 0;
	overflow: hidden;
	padding-bottom: 0px;
	padding-top: 15px;
	width: 100%;
}

.flashHome{
	left: 0;
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	right: 0;
	width: 500px;
	z-index: 1000;
}

.fc_etape6_1, .fc_etape6_2{
	display:none;
}

.adresseMobile{
	display:none;
}

#backVideo, #backVideoTel{
	display:none;
}

@media only screen and (min-width: 1900px){
	.slide_accueil {
		min-height: 690px;
	}

	.self-hosted-video-bg{
		height:690px !important;
	}
}

@media only screen and (max-width: 1179px){
	header{
		box-shadow: none;
		border-bottom:none;
	}

	.hc_logo{
		display:none;
	}

	.hc_logo_mobile{
		display: block;
		float: left;
		text-align: center;
		width: 145px;
	}

	.hc_top{
		width:100%;
		text-aign:center
	}

	.hct1 .col-md-6{
		float: left;
		text-align: center;
		width: 50%;
	}

	.ht_titre{
		margin-top:50px;
	}

	.espace_assure{
		margin-bottom:5px;
	}

	.espace_perso i{
		margin-top:-8px;
		height:40px;
	}

	.nav{
		padding-left:10px;
	}

	.sa_left{
		float: left;
		margin-top: -324px;
		overflow: hidden;
		position: relative;
		top: 0;
		width: 50%;
		z-index: 10;
	}

	.sal_1{
		margin-top:200px;
	}

	.sa_right{
		float: right;
		margin-top: -324px;
		position: relative;
		right: 0;
		top: 0;
		width: 50%;
		z-index: 50;
	}

	.sar_1{
		margin-top:39px;
		padding-right:160px;
	}

	.sar_2{
		padding-right:54px;
	}

	.sar_cta{
		margin-top:0px;
	}

	.nav li a{
		margin-left:0px;
	}

	.content{
		width:100%;
	}

	.ht_titre, .ht_sstitre{
		padding-left:0px;
		text-align:center;
	}

	.presentation_accueil .col-md-2{
		float: left;
		text-align: center;
		width: 20%;
	}

	.presentation_accueil .col-md-10{
		float:left;
		width:80%;
	}

	.pa_titre{
		margin-top:15px;
	}

	.acteur_accueil h2{
		margin-top:20px;
	}

	.affix .navigation {
		border-top: medium none !important;
		height:auto !important;
	}

	.acteur_accueil .col-md-4{
		float: left;
		margin-right: 0.3%;
		padding: 0;
		width: 33%;
	}

	.box{
		min-height:280px;
	}

	.parallax1{
		background:rgba(0, 0, 0, 0) url("../img/parallaxe-1.jpg") no-repeat scroll center center / 100% auto;
	}

	.parallax2{
		background:rgba(0, 0, 0, 0) url("../img/parallaxe2.jpg") no-repeat scroll center center / 100% auto
	}

	.p1_3{
		margin-top:295px;
	}

	.bs_top img {
		max-width: 100%;
	}

	.box_solution{
		max-width:315px;
		margin-bottom:20px;
		margin-left:auto;
		margin-right:auto;
	}

	.bt_type{
		margin-left: auto;
		margin-top: 0;
		right: 16px;
	}

	.p2_1{
		margin-top: 150px;
		padding: 0 5px 5px;
		position: absolute;
		right: 0;
	}

	.p2_2 {
		background: #33293a none repeat scroll 0 0;
		height: auto;
		margin-top: 210px;
		padding-bottom: 10px;
		position: absolute;
		right: 0;
	}

	.actualite_accueil{
		padding-top:25px;
		overflow:hidden;
	}

	.navigation{
		min-height:51px;
		height:auto;
	}

	.box_actu{
		max-width:315px;
		margin-bottom:20px;
		margin-left:auto;
		margin-right:auto;
	}

	.acteur_accueil{
		padding-bottom:0px;
	}

	.solution_accueil{
		padding-top:20px;
	}

	.footer_top{
		padding-left:10px;
		padding-right:10px;
	}

	.recrutement{
		margin:0px;
	}

	.ssmenu1{
		padding-left:48px;
	}

	.ssmenu2{
		padding-right:310px;
	}

	.ssmenu4, .ssmenu3{
		display: inline-block;
		padding-left: 15px;
	}

	#ul4{
		margin-left:550px;
	}

	#ul3{
		margin-left:600px
	}

	.affix .hc_logo_mobile{
		display:none;
	}

	.affix .hc_logo_affix{
		text-align: center;
		width: 100%;
	}

	.affix .navigation{
		margin-top:0px;
	}

	.affix .navbar-left {
		float: none !important;
		left: 0 !important;
		margin: auto !important;
		padding-left: 20px !important;
		right: 0 !important;
	}

	.affix .dropdown-menu {
		background: transparent none repeat scroll 0 0;
		box-shadow: none;
		top: 62px;
	}

	.dropdown-menu{
		background: white none repeat scroll 0 0 !important;
		display: inline-table;
		left: 0;
		width: auto;
	}

	.dropdown-menu li{
		display:block;
	}

	/*.self-hosted-video-bg{*/
		/*display:none;*/
	/*}*/

	.slide_accueil {
		max-height: 430px;
		min-height: 324px;
		overflow:hidden;
	}

	.acteur_accueil h2, .solution_accueil h2, .actualite_accueil h2, .partenaire_accueil h2{
		padding-left:15px;
		padding-right:15px;
	}

	.ba_top{
		background: white none repeat scroll 0 0;
		min-height: 166px;
	}

	.ba_content{
		min-height:280px;
	}

	.footer_bottom .fb3{
		padding-bottom:15px;
	}

	.cms_chiffres{
		padding-left:15px;
		padding-right:15px;
	}

	.bs_content h3{
		min-height:80px;
	}

	.bs_content p{
		min-height:120px;
	}

	.solution_content .col-md-8{
		float:left;
		width:75%;
	}

	.solution_content .col-md-4{
		float:left;
		width:25%;
	}

	.solution_bloc_droit{
		float: left;
		max-width: 240px;
		width: auto;
	}

	.solution_content .col-md-9{
		margin-bottom:20px;
	}

	.sc_pack2 .col-md-6{
		width:48%;
		float:left;
	}

	.col-md-12{
		width:100%;
	}

	/*.bac_titre h3{*/
		/*line-height:1;*/
		/*min-height:108px;*/
	/*}*/

	.presse_content p{
		min-height:140px !important;
	}

	.presse_content h3{
		min-height:150px !important;
	}

	/*.ba_content p{*/
		/*min-height:170px;*/
	/*}*/

	.cms_titre .cc_titre{
		padding-left:15px;
		padding-right:15px;
		line-height:1;
	}

	.cms_titre .ligne{
		margin-left:15px;
	}

	.gouvernance_footer .col-md-5{
		border-right:none;
	}

	.gouvernance_footer .col-md-3, .gouvernance_footer .col-md-4{
		padding-left:0px;
		margin-top:20px;
		border-right:none;
	}

	.cmcc_c6 .cc_titre{
		line-height:1;
	}

	.bo_content p{
		height:165px;
	}

	.partage_offre p{
		text-align:left;
		height:auto !important;
		min-height: 20px !important;
	}

	.partage_offre{
		padding: 14px 0 15px !important
	}

	.modal-body_offre .col-md-3{
		padding:0px;
	}

	.contact_content .col-md-6{
		width:50%;
		float:left;
	}

	.contact_content .col-md-6 img{
		max-width:100%;
	}

	.actu_list .col-md-3{
		float:left;
		width:33%;
	}

	.carousel-caption .p1_1 {
		font-size: 19px;
		margin-top: 0;
		padding-right: 10px;
	}

	.carousel-caption .p1_2 {
		font-size: 19px;
		margin-top: 37px;
		padding-right: 10px;
	}

	.carousel-caption .p1_3 {
		margin-top: 79px;
	}

	.p1_3 span::after, .p1_4 span::after {
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		content: "";
		display: none;
		height: 0;
		margin: 0;
		width: 0;
	}

	.p1_3 a, .p1_4 a {
		color: white;
		font-size: 19px;
	}

	.carousel-caption .p1_4{
		margin-top:79px;
	}

	.nodisplaymobile{
		display:none;
	}

	.mainLanding .solution_accueil h3, .mainLanding .actualite_accueil h3{
		padding-left:15px;
	}

	.nav_filtre_tns li a{
		font-size:23px;
	}

	a.bsf_left::before{
		background:none;
		width:0px;
	}

	a.sf_right::after{
		background:none;
		width:0px;
	}

	.bsf_left{
		padding:0px;
	}

	.sf_right{
		padding:0px;
	}

	.bs_footer_tns a, .bs_footer_tns{
		font-size:15px;
	}

	.dpleft .cc_titre{
		line-height:1
	}

	.cms_slide_landing_div p.p1_2{
		padding-right:15px;
	}

	.cms_slide_landing{
		max-height:250px;
	}

	.cms_slide_landing_div{
		position:relative;
		top:0;
	}

	.cms_slide_landing img{
		margin-top:-176px;
	}

	.cms_slide_landing_div{
		margin-top:35px;
	}

	.mainLanding .cms_content{
		margin-top:0px;
	}

	.mainLanding .ba_content{
		height:100px !important;
	}

	.sc_pack5 .col-md-6, .sc_pack1 .col-md-6{
		padding:0px;
	}

	.actualite_content .ac_content .col-md-12 .col-md-4 img{
		max-width:100%;
	}

	.ft3{
		padding-left:0px !important;
	}

	#backVideo{
		display:block;
		max-width:100%;
	}

	#backVideoTel{
		display:none;
	}
}

@media only screen and (max-width: 980px){
	.footer_top .col-md-3{
		float: left;
		padding: 0 20px;
		width: 50%;
	}

	.footer_bottom .fb2 p, .footer_bottom .fb3{
		text-align:center;
	}

	.metier .col-md-4, .metier .col-md-8 h3{
		text-align:center;
	}

	.metier .col-md-8 h2{
		margin-top:0px;
		text-align:center;
	}

	.cmcc_form input[type="text"]{
		margin-bottom:10px;
	}

	.cmcc_form{
		padding-bottom:4px !important;
	}

	.actu_list .col-md-4, .actu_content .col-md-4, .offre_list .col-md-4{
		width:33%;
		float:left;
	}

	.actu_filtre ul li{
		display:inline-table;
	}

	.bs_media_content{
		min-height:auto !important;
	}

	.bs_media_content .ligne, .bs_media_content p{
		display:none;
	}

	.bs_media_content h3{
		min-height:58px !important;
	}
}

@media only screen and (min-width: 768px) and (max-width: 980px){
	.solution_accueil .col-md-4, .actualite_accueil .col-md-4{
		width:33%;
		float:left;
	}

	.cms_content .col-md-6{
		width:50%;
		float:left;
	}

	.cms_content .col-md-6 img{
		max-width:100%;
	}

	.cms_chiffres .col-md-3{
		width:25%;
		float:left;
	}

	.contact_content .col-md-4{
		width:33%;
		float:left;
	}

	.contact_content .col-md-8{
		width:66%;
		float:left;
	}

	form .nopaddingright{
		padding-left:0px;
	}
}


@media only screen and (max-width: 768px){
	.nav{
		background:white;
	}

	.nav li a{
		padding: 15px 0 !important;
		margin:0px !important;
	}

	.nav li.active a, .nav li:hover a{
		color:#1c476e;
		border-top:none;
		padding: 15px 0 !important;
		margin:0px !important;
	}

	.dropdown-menu li{
		display:flex !important;
		padding-bottom: 0;
		padding-left: 30px;
		padding-top: 0;
	}

	.dropdown-menu div{
		padding:0px;
	}

	.sa_left {
		min-height: auto;
		position: relative;
		top: 0;
		float:left;
		width:100%;
		margin-top:0px;
	}

	.sal_1, .sar_1{
		margin-top:0px;
		max-height: none;
	}

	.sal_1, .sal_2{
		background: #177fc1 none repeat scroll 0 0;
		padding-bottom: 4px;
	}

	.sal_1 span a, .sal_2 span a{
		padding-left:15px;
	}

	.sa_right {
		display:none;
	}

	.self-hosted-video-bg{
		height:auto !important;
	}

	.sar_1{
		color: white;
		font-size: 25px;
		padding-right: 40px;
		text-align: center;
	}

	.sar_2{
		color: white;
		font-size: 25px;
		padding: 0;
		text-align: center;
	}

	.sar_3{
		color: white;
		font-size: 25px;
		padding: 0;
		text-align: center;
	}

	.sar_2 span{
		color:white;
	}

	.presentation_accueil{
		overflow:hidden;
	}

	.sal_1 span, .sal_2 span{
		padding:0px;
		box-shadow:none;
	}

	.solution_bleu_droite img{
		width:100% !important;
	}

	.sar_cta{
		display:none;
	}

	.slide_accueil{
		margin-bottom: 0px;
		overflow: hidden;
		width: 100%;
		min-height:auto;
		max-height:none;
		height:350px;
	}

	.sal_2{
		max-height: none;
	}

	.cms_chiffres .col-md-3{
		width:50%;
		float:left;
	}

	.cms_chiffres{
		overflow: hidden;
		padding-bottom: 30px;
		max-height:none;
	}

	.chiffre{
		text-align:center;
	}

	.affix .dropdown-menu {
		background: transparent none repeat scroll 0 0;
		box-shadow: none;
	}

	.contact_content .col-md-4{
		width:100%;
		float:left;
		text-align:center;
	}

	.contact_content .col-md-8{
		width:100%;
		float:left;
		padding-left:20px;
	}

	form .nopaddingright, form .nopaddingleft{
		padding-left:0px;
		padding-right:0px;
	}

	.navbar-header{
		background:#e0e1e2;
	}

	.navbar-toggle{
		background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
		border: medium none;
		color: #1b476d;
		float: left;
		margin-right: 5px;
		padding: 10px;
	}

	.navbar-default .navbar-toggle .icon-bar{
		background:#1b476d;
		height: 3px;
		width: 25px;
	}

	.hc_logo_mobile{
		display:none;
	}

	.hc_logo_affix{
		display: block;
		padding-bottom: 5px;
		padding-top: 5px;
		text-align: center;
	}

	.hct1{
		display:none;
	}

	header{
		min-height:114px;
	}

	.menubuttonmobile{
		background: transparent none repeat scroll 0 0;
		border: medium none;
		color: #1c476e;
		display: block;
		font-family: "Antonio";
		font-size: 21px;
		padding-top: 12px;
	}

	.menubuttonmobile:focus {
		background: transparent none repeat scroll 0 0;
	}

	.self-hosted-video-bg video{
		margin-top:0px;
	}

	/*.presentation_accueil .col-md-2{*/
		/*display:none;*/
	/*}*/

	/*.presentation_accueil .col-md-10{*/
		/*width:100%;*/
	/*}*/

	/*.acteur_accueil .col-md-4{*/
		/*width:100%;*/
		/*margin-right:0px;*/
	/*}*/

	/*.box{*/
		/*min-height:auto;*/
	/*}*/

	.parallax1{
		background:rgba(0, 0, 0, 0) url("../img/parallaxe-1.jpg") no-repeat scroll center top / 100% auto;
		max-height:240px;
	}

	.p1_1{
		font-size:19px;
		margin-top:102px;
	}

	.p1_2{
		font-size:19px;
		margin-top:141px;
	}

	.p1_3{
		margin-top:178px;
	}

	.p1_1, .p1_2{
		padding-right:10px;
	}

	.p2_1{
		margin-top:52px;
	}

	.p2_2{
		margin-top: 103px;
		max-width: 94% !important;
		min-width: 50%;
	}

	.parallax2 {
		background: rgba(0, 0, 0, 0) url("../img/parallaxe2.jpg") no-repeat scroll center top / 100% auto;
		max-height:240px
	}

	.parallax2 input[type="submit"]{
		margin-top:190px;
	}

	.footer_top .col-md-3{
		padding:0;
	}

	.track{
		max-height:none;
	}

	.slider-container {
		display: inline;
		height: auto !important;
		margin: 0;
		padding: 0;
		position: relative;
		text-align: center;
		width: 100% !important;
	}

	.slider-container .item {
		cursor: pointer;
		height: auto;
		margin-bottom: 0;
		margin-left: auto;
		margin-right: auto;
		position: relative;
		top: 0 !important;
		left:39px !important;
	}

	.pagination{
		display:none;
	}

	.mh_image {
		float: left;
		text-align: center;
		width: 100%;
	}

	.mh_content {
		float: left;
		width: 100%;
	}

	.cms_titre{
		padding-left:15px;
		padding-right:15px;
	}

	.dpleft{
		min-height:500px !important;
		padding-right:0px !important;
	}

	.dpleft img {
		bottom: 0;
		margin-left: auto;
		margin-right: auto;
		position: relative;
	}

	.af_filtre{
		width:100%;
	}

	/*.solution_content .col-md-8{*/
		/*width:100%;*/
	/*}*/

	.cc_titre{
		line-height:1;
	}

	/*.solution_content .col-md-4{*/
		/*width:100%;*/
	/*}*/

	.sc_pack2 .col-md-6{
		width:100%;
		padding:0px;
	}

	.solution_bloc_droit {
		float: none;
		margin-left: auto;
		margin-right: auto;
		max-width: 240px;
		width: auto;
	}

	.sc_pack4 .cc_titre{
		line-height:1 !important;
	}

	.sc_pack1 .col-md-6{
		padding:0px;
	}

	.sc_pack2 img{
		max-width:100%;
	}

	.actualite_content .col-md-4{
		padding:0px;
		width:100%;
		text-align:center;
	}

	.actualite_content img{
		max-width:100%;
	}

	#ul4, #ul3{
		margin-left:0px;
	}

	.bo_content p{
		height:100px;
	}

	.mbof_right{
		height:auto;
		padding:10px;
	}

	input[type="submit"]{
		background:#a7c93c;
	}

	.navbar-collapse{
		max-height:none;
	}

	.cmcc_c6 .cc_titre, .cmcc_c6bleu .cc_titre, .com_content .cc_titre{
		padding:0px;
	}

	.cmcc_c6 .ligne, .cmcc_c6bleu .ligne, .com_content .ligne{
		margin-left:0px !important;
	}

	.boutonVert, .boutonBleu{
		max-width:100%;
	}

	.contact_content .col-md-6{
		width:100%
	}

	.actu_list .col-md-3{
		width:100%;
	}

	.com_content img{
		max-width:100%;
	}

	.contact_content .col-md-4{
		display:none;
	}

	.adresseMobile{
		display:block;
		padding-left:15px;
		padding-right:15px;
	}

	.tns_sa{
		padding-bottom:0px;
	}

	.mainLanding .cms_content .content .col-md-6 {
		padding: 15px !important;
	}

	.mainLanding .dpleft .cc_titre,
	.mainLanding .dpleft .ligne,
	.mainLanding .dpleft .cc_content,
	.mainLanding .dpleft .ccc_picto{
		margin-left:0px;
	}

	.tns_cms_bleu a{
		margin-right:0px;
		margin-left:0px;
	}

	.tns_cms_bleu .col-md-6{
		text-align:center !important;
	}

	.mainLanding .cms_content{
		margin-bottom:0px !important;
	}

	.cms_slide_landing img {
		width: 200%;
		margin-top:-212px;
	}

	.cms_slide_landing_div p.p1_1{
		padding-right:10px;
	}

	.cms_slide_landing_div p.p1_2 {
		padding-left: 10px;
		padding-right: 10px;
	}

	.mainLanding .cms_content .content .col-md-6 img{
		max-width:100%;
	}

	.mt90{
		margin-top:20px;
	}

	.offre_list .content{
		padding-top:20px;
	}

	.mbo_footer2 p a::after{
		background:none;
	}

	input[type=submit]:hover{
		background: #91bb14;
	}

	/*#backVideo{*/
		/*display:none;*/
	/*}*/

	/*#backVideoTel{*/
		/*display:block;*/
		/*max-width:100%;*/
	/*}*/
}

@media only screen and (max-width: 640px){
	.p1_1, .p1_2{
		right:0;
		padding:0;
		padding-right:10px;
	}

	.p1_3{
		right:0;
	}

	.footer_top .col-md-3{
		width:100%;
	}

	.cms_content .content .nopadding .col-md-6 img{
		width:100% !important;
	}

	.actu_list .col-md-4, .actu_content .col-md-4, .offre_list .col-md-4{
		width:100%;
	}

	.box_solution, .box_actu{
		max-width:100%;
	}

	.bs_top img, .ba_top img{
		width:100%;
	}

	.offre_list .bo_content p{
		overflow:hidden;
	}

	.offre_list .bo_content h3{
		height:auto;
	}
}