<div class="col-md-12 nopadding">
    <div class="col-md-6 nopaddingleft sc_pack1">
        <p>Vos clients prennent conscience que leurs remboursements ont baissé en allant chez certains médecins ? <br><br>

            Chez CIPRÉS, même avec des médecins hors CAS, les actes et consultations sont couverts dans UNE SEULE FORMULE SANTÉ GLOBALE.</p>
    </div>

    <div class="col-md-6 nopaddingright" align="right">
        <img src="/upload/CipresNews/30/sante_landing.jpg" style="width: 375px;"><br>
    </div>
</div>


<div class="col-md-12 sc_pack1">

    <p class="mboc_titre mt50" style="margin-top: 0 !important;">Le CAS sensé rendre les soins plus accessibles…</p>
    <p class="ligne"></p>

    <p><b>… A condition que les médecins adhèrent au CAS !</b><br><br>

        Taux d’adhésion au Contrat d’Accès aux Soins parmi les médecins du secteur 2 *
    </p>

    <ul class="liste_dbl_chevrons">
        <li><i class="fa fa-check"></i> <span> 26,9% des médecins de secteur 2 ont adhéré au CAS</span></li>
        <li><i class="fa fa-check"></i> <span> Parmi les généralistes exerçant en secteur 2, 1 sur 2 a opté pour le CAS</span></li>
        <li><i class="fa fa-check"></i> <span> Seuls 23% des spécialistes en secteur 2 sont signataires du CAS</span></li>
        <li><i class="fa fa-check"></i> <span> Des disparités fortes parmi les spécialités médicales</span></li>
    </ul>

    <p style="font-size: 11px;">*Source : Baromètre Mercer Juin 2016</p>

    <p><b>Une adhésion faible des médecins au contrat d’Accès aux Soins et des restes à charge élevés</b> pour les assurés <b>dont les contrats responsables ne couvrent plus les dépassement d’honoraires</b> des médecins en secteur 2 n’ayant pas signé le CAS.</p><br>

    <p class="mboc_titre mt50" style="margin-top: 0 !important;">La réponse de CIPRÉS pour les TNS : 1 SEUL CONTRAT toujours plus simple</p>
    <p class="ligne"></p>

    <p><b>PAS DE BAISSE DE GARANTIES  avec une formule globale responsable / non responsable !</b></p>

    <p>Informations complémentaires dans le <a href="/upload/PDF/investissements_conseils_1_07_2016.pdf" target="_blank">n° 793 du 1er juillet 2016 dans Investissement Conseils</a><br><br>

        Parce que nous comprenons les exigences des entrepreneurs, nous élaborons des solutions simples qui répondent à tous leurs besoins, sans restriction « responsable » :
    </p>

    <ul class="liste_dbl_chevrons">
        <li><i class="fa fa-check"></i> <b>1 seul contrat pour couvrir les besoins de santé des TNS et de leur famille, y compris les dépassements d’honoraires  dans un seul contrat :</b> les prestations CIPRÉS vont au-delà des plafonds définis par la législation des contrats responsables.<br><br>

            <b>Exemple :</b> Un assuré CIPRÉS a rendez-vous pour un contrôle chez le dermatologue (secteur 2, non signataire du CAS). Le coût de la consultation est de 70€. Son régime obligatoire lui rembourse 15,10€ et CIPRÉS lui rembourse 46€. Avec la formule Sécurité mixte du PPE, son reste à charge est seulement de 8,90€. En formule 100% responsable, son reste à charge aurait été de 25€.
            <span></span></li>
        <li><i class="fa fa-check"></i> <b>Une souscription simple et rapide avec un seul certificat d’adhésion pour les garanties responsables et non responsables :</b> CIPRÉS gère l’harmonisation des garanties<span></span></li>
        <li><i class="fa fa-check"></i> <span><b>Une fiscalité optimisée</b> avec un contrat déductible Madelin en moyenne à 90%.</span></li>
    </ul>

    <div class="backVert">
        <p><b>LE SAVIEZ-VOUS ?</b><br>

            La majorité des contrats santé TNS du marché sont 100% responsables.<br><br>

            <i class="fa fa-arrow-circle-right" style="color: #91bb14; font-size: 18px; padding-right: 5px;;"></i> Alors que les besoins de santé de vos clients n’ont pas baissé au 1er avril 2015, la plupart des contrats du marché ont été transformé en 100% responsables avec des garanties revues à la baisse.

        </p>
    </div>

    <center>
        <button style="font-size: 22px;" onclick="window.open('/nos-solutions/assurance-sante-tns')" class="boutonVert">
            DECOUVRIR LA SANTÉ TNS
            <i class="fa fa-angle-double-right"></i>
        </button>
    </center><br>
</div>