<div class="col-md-12 nopadding">
    <div class="col-md-6 nopaddingleft sc_pack1"><p class="mboc_titre" style="margin-top: 0;">CIPRÉS et son réseau de courtiers partenaires facilitent votre vie de chef d’entreprise !</p>



        <p class="ligne"></p>



        <p>En tant que chef d’entreprise, votre temps est précieux ! Choisir et mettre en place la complémentaire santé collective adaptée à vos salariés n’est pas chose aisée surtout quand la règlementation et le cadre juridique s’en mêlent. CIPRÉS Assurances et son réseau de courtiers partenaires mettent tout en œuvre pour faciliter vos obligations en tant que chef d’entreprise. CIPRÉS met à disposition de ses courtiers un outil simple et ergonomique permettant d’accompagner au mieux chaque dirigeant dans la mise en place d’une complémentaire santé dans son entreprise.</p>



    </div>



    <div class="col-md-6 nopaddingright" align="right">
        <img src="/media/cache/list_thumb/upload/Actualite/18/due-en-ligne.jpg" style="width: 375px;"><br>
    </div>
</div>


<div class="col-md-12 sc_pack1">
    <p><b>La Décision Unilatérale de l’Employeur (DUE), un acte juridique désormais incontournable pour beaucoup d’entreprises !</b></p>

    <p>Lors de la mise en place d’une complémentaire santé au sein d’une entreprise, l’employeur ne doit pas se limiter à la signature du contrat d’assurance. Il doit en parallèle formaliser son engagement auprès de ses salariés par un acte juridique de droit du travail.<br><br>

        La mise en place d’une complémentaire santé par décision unilatérale (DUE) est le plus souvent la piste  privilégiée par les entreprises de moins de 50 salariés. Elle vous permet d’expliquer à vos salariés les raisons pour lesquelles vous avez choisi de mettre en place un régime de protection sociale. Cet acte juridique obligatoire pour éviter tout risque de redressement en cas de contrôle URSSAF vous permet aussi de bénéficier d’avantages sociaux et fiscaux.<br><br>

        Pour vous accompagner dans cette démarche, CIPRÉS Assurances lance <b>son nouveau Pack DUE en ligne vous permettant d’être accompagnés par un de nos courtiers partenaires dans la rédaction de votre DUE</b>. Plus qu’un <b>outil de formalisation juridique</b> d’un régime collectif santé, c’est un véritable service de qualité vous garantissant un acte juridique reconnu et certifié par un avocat.<br>
        Vous avez des questions sur la DUE ? Nous y répondons !
    </p>

    <p class="mboc_titre mt50">1) QU’EST-CE QU’UNE DUE ?</p>
    <p class="ligne"></p>

    <p>La DUE est un <b>acte juridique écrit qui permet à l'entreprise d'expliquer aux salariés concernés les raisons pour lesquelles il a choisi de mettre en place un régime de protection sociale</b> et notamment : </p>

    <ul class="liste_dbl_chevrons">
        <li><i class="fa fa-angle-double-right"></i> <span> assurer aux salariés une couverture satisfaisante des principaux risques de la vie, </span></li>

        <li><i class="fa fa-angle-double-right"></i> <span> assurer les salariés au meilleur rapport qualité/prix, </span></li>

        <li><i class="fa fa-angle-double-right"></i> <span> permettre la mutualisation des risques, </span></li>

        <li><i class="fa fa-angle-double-right"></i> <span> expliquer le cas échéant les choix de l'entreprise quant au contenu et aux bénéficiaires du régime </span></li>
    </ul>

    <div class="backVert">	<p><b>La DUE formalise ainsi les caractéristiques principales du régime :</b><br>
        - identité de l’employeur,<br>
        - bénéficiaires du régime,<br>
        - caractère obligatoire ou facultatif de l’adhésion des ayants droit,<br>
        - répartition, structure et taux des cotisations.
    </p>
    </div>


    <p class="mboc_titre mt50">2) POURQUOI FAIRE APPEL AU RÉSEAU DE COURTIERS PARTENAIRES DE CIPRÉS ASSURANCES ?</p>
    <p class="ligne"></p>



    <p>CIPRÉS Assurances, courtier grossiste expert en prévoyance et santé, et son réseau de courtiers partenaires ont choisi de vous accompagner au mieux dans le cadre de la mise en place de votre régime complémentaire de santé collectif à adhésion obligatoire.<br><br>

        <b>Pour bénéficier d’un acte juridique vérifié par un avocat et s’assurer de sa conformité, CIPRÉS met à disposition de ses 3 700 courtiers experts partenaires un outil DUE très simple d’utilisation pour créer en ligne une DUE personnalisée.</b><br><br>

        Parce que dans l’univers complexe de la protection sociale, être plus proche, c’est rester simple.<br><br>

        Notre outil, à disposition de notre réseau, a été pensé et conçu pour répondre aux <b>exigences légales et réglementaires</b> parfois complexes en s’attachant à rester <b>simple et ergonomique</b>.<br><br>

        Vous souhaitez bénéficier d’un accompagnement expert sur la mise en place de votre DUE ?
    </p><br>

    <center>
        <button style="font-size: 22px;" onclick="location.href='/contact?raison=rappel'" class="boutonVert">
            Demander un accompagnement
            <i class="fa fa-angle-double-right"></i>
        </button>
    </center><br>
</div>