<div class="col-md-12 nopadding">
    <div class="col-md-6 nopaddingleft sc_pack1"><p class="mboc_titre" style="margin-top: 0;">DISPOSITIONS NOUVELLES SUR LES CONTRATS D’ASSURANCE VIE NON RÉCLAMÉS</p>
        <p class="ligne"></p>

        <p>Depuis le 1er janvier 2016, la loi Eckert<sup>(1)</sup> prévoit la mise en place de nouvelles obligations à la charge des assureurs en matière de contrats d’assurance vie en déshérence.</p>
    </div>

    <div class="col-md-6 nopaddingright" align="right">
        <img src="/media/cache/list_thumb/upload/Actualite/19/loi_eckert.jpg" style="width: 375px;"><br>
    </div>
</div>


<div class="col-md-12 sc_pack1">

    <p class="mboc_titre mt50" style="margin-top: 0 !important;">QU’EST-CE QU’UN CONTRAT EN DESHERENCE ?</p>
    <p class="ligne"></p>

    <p>Un contrat en déshérence ou un contrat non réclamé est un contrat d’assurance sur la vie dont les prestations dues (capitaux, rentes) suite au du décès de l’assuré n’ont pas été versées au(x) bénéficiaire(s) parce que l’assureur n’a pas réussi à retrouver les coordonnées du/des bénéficiaire(s) des prestations.</p>

    <div class="backVert">
        <p><b>Important :<br><br>
        - Pensez à <b>mettre à jour</b> et à <b>actualiser régulièrement</b> vos coordonnées en donnant à votre assureur toutes les informations relatives à votre identité (nom, prénom, date et lieu de naissance, adresse).</b><br><br>
        - Rédigez votre <b>clause bénéficiaire en étant le plus précis possible</b> sur l’identité de vos bénéficiaires afin de permettre à l’assureur de facilement les retrouver.</p>
    </div>

    <p class="mboc_titre mt50">LES PRINCIPALES MESURES DE LA LOI ECKERT</p>
    <p class="ligne"></p>

    <ul class="liste_dbl_chevrons">
        <li><i class="fa fa-check"></i> <span> <b>Obligation de
Recensement et de consultation du RNIPP*</b> des contrats en déshérence</span></li>

        <li><i class="fa fa-check"></i> <span><b>Encadrement des frais  de  gestion et de recherche.</b> Refacturation des frais de recherche de bénéficiaires désormais interdite
</span></li>

        <li><i class="fa fa-check"></i> <span><b>Devoirs d’information</b> auprès du souscripteur/ bénéficiaire 6 mois avant le transfert à la Caisse des dépôts et Consignation</span></li>

        <li><i class="fa fa-check"></i> <span><b>Délai de constitution des dossiers</b> (15 jours) <b>et de versement des prestations</b> (30 jours)&nbsp;<sup>(2)</sup></span></li>

        <li><i class="fa fa-check"></i> <span><b>Revalorisation des capitaux</b> à compter du décès de l’assuré</span></li>

        <li><i class="fa fa-check"></i> <span><b>Rapport annuel à l’ACPR</b><sup>(3)</sup> sur le nombre de contrats non réglés et sur les démarches effectuées</span></li>

        <li><i class="fa fa-check"></i> <span><b>Transfert à la Caisse des dépôts et consignation</b> des capitaux en déshérence</span></li>
    </ul>

    <p style="font-size: 12px;">*RNIPP : répertoire National d’identification des personnes physiques<br>
        (1) Loi n°2014-617 du 13 juin 2014 relative aux comptes bancaires inactifs et aux contrats d’assurance vie en déshérence.<br>
        (2) Article L.132-23 du Code des Assurances<br>
        (3) Autorité de contrôle prudentiel et de résolution
    </p>


    <p class="mboc_titre mt50">L’ESSENTIEL A RETENIR SUR LA PROCEDURE DE TRANSFERT DES CAPITAUX EN DESHERENCE À LA CAISSE DES DÉPÔTS ET CONSIGNATION </p>
    <p class="ligne"></p>

    <p>Les sommes non réclamées ne peuvent pas être conservées par les organismes assureurs et <b>doivent être transférées à la CDC dans le mois qui suit l’expiration d’un délai de 10 ans à compter du jour où l’organisme assureur a eu connaissance du décès de l’assuré.</b><br><br>

    A la suite du dépôt, la CDC publiera sur son site internet les informations relatives aux sommes déposées afin de permettre aux bénéficiaires de pouvoir les réclamer directement auprès d’elle.</p>

    <div class="backVert">
        <p><b>A noter :</b><br>
            La Loi Eckert impose aux organismes assureurs d’effectuer les 1<sup>ers</sup> dépôts à la CDC au cours du 2nd trimestre 2016 (pour les contrats « non réglés » depuis plus de 10 ans).<br>
            La publicité sera donc faite à partir du 1<sup>er</sup> janvier 2017.
        </p>
    </div>

    <p>
        Les sommes sont conservées par la CDC pendant 20 ans après le transfert par l’assureur.<br>
        Au terme de cette période de 20 ans, les sommes non réclamées seront acquises définitivement à l’état.<br>
        <b>Plus aucune demande de versement ne sera possible passé ce délai.</b>
    </p>

    <p class="mboc_titre mt50">A QUI DOIS-JE M’ADRESSER SI JE SUIS BENEFICIAIRE D’UN CONTRAT D’ASSURANCE SUR LA VIE ?</p>
    <p class="ligne"></p>

    <table class="table tableau_classique">
        <tr style="background-color: #ffffff">
            <th>Situation du contrat</th>
            <th>Qui contacter ?</th>
        </tr>

        <tr>
            <td>Le souscripteur est décédé et le contrat d’assurance-vie est « non réglé » depuis moins de 10 ans</td>
            <td>Adressez-vous à l’organisme assureur du contrat
                (possibilité de contacter l’AGIRA pour obtenir les coordonnées de la compagnie)
            </td>
        </tr>
        <tr>
            <td>Le souscripteur est décédé et le contrat d’assurance-vie est « non réglé » depuis plus de 10 ans
                (possibilité pour le bénéficiaire de faire une demande de versement à la CDC
            </td>
            <td>Consulter le site internet de la Caisse des Dépôts et Consignation
                (à partir du 1er janvier 2017)
            </td>
        </tr>
        <tr>
            <td>Le souscripteur est décédé et le contrat d’assurance-vie est « non réglé » depuis plus de 30 ans</td>
            <td>Les sommes sont définitivement acquises à l’état.
                Il n’est plus possible de demander leur versement
            </td>
        </tr>
    </table>

    <p class="mboc_titre mt50">POUR ALLER PLUS LOIN : LE DETAIL DE LA PROCEDURE DE DEPOT ETAPE PAR ETAPE</p>
    <p class="ligne"></p>

    <p>Cliquez sur les différentes étapes pour en connaître le détail.</p>

    <?xml version="1.0" encoding="utf-8"?>
    <!-- Generator: Adobe Illustrator 19.2.0, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
    <svg version="1.1" id="Calque_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 612 319.5" style="enable-background:new 0 0 612 319.5;" xml:space="preserve">
    <style type="text/css">
	    .st0{opacity:0.25;fill:#267CBC;stroke:#2656BC;stroke-miterlimit:10;}
        .st0:hover {opacity: 0.35; cursor: pointer;}
        .st1:hover, .st2:hover, .st3:hover, .st4:hover {cursor: pointer;}
        .st1{fill:#1E669B;}
        .st2{font-family:'Arial-Black', sans-serif;}
        .st3{font-size:11px;}
        .st4{fill:#FFFFFF;}
    </style>
    <image style="overflow:visible;" width="784" height="426" xlink:href="data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsK
CwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQU
FBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAGqAxADASIA
AhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQA
AAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3
ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWm
p6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEA
AwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSEx
BhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElK
U1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3
uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9U6KK
KACiiigAooooAKKKKACiiigAooooAKKK8j8ZfHZtI+MHgvwLoempqp1PVW0/WNQeQrFp5+wXN2kS
4+9MUtt5X+BCpbHmJkA9cooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKK
KKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooo
oAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiig
AooooAKKKKACiiigAorxf42fA3UfFGsW/jXwNr2p+FvHNlGI3OnXvkQarCOkU8bK8LuvOx5I3C5w
ylcbcPwX8bvHFlp7y6zoK+NLC1lNteTaJGtnrNhKoG6K60+RyjMoIJaGY7wQ0cRVlzLko7ivbc+h
KK5PwL8VvCnxJW4Xw/rMN3d2uPtenTK9ve2hPQT20gWWI+zqK6yqGFFFFABRRXjv7R851/TfDPgC
KSRG8V6miXvkSNG66dbf6RdHcpBCvsjtyQcj7SMY6hN2V2LY9iorynwD4yv/AArrNr4M8VXkl4bg
lNC164OWv1CljbTt/wA/KKpOf+WqKXHzLIF9WpRkpK6BO+qCiiuM+JnxC/4QmxtLTT7VdV8UaqzQ
6VpZfaJXABeWVgDsgjBDO+OMhQGd0Vne2rGZnxO8e31neQeEvC0kZ8WX8Xmvcugkj0m1JKm7lU8E
khlijP8ArHB/gSRl84t/Ctj4d+L3wf0DT1kMNk+r6u8k7mSWaUWphkmkc8vI7XrMzHklj612Xg3w
mPC9ncyXN22q65qEv2rVNVlTa93OQAW25OxFACogOERVXnGTk6cv279qLw93XTfB+qMR/tXF7p4U
/lbP+ZrkU/aVF2MObmke40UUV2G4UUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQA
UUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABR
RRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFF
FABRRRQAUUUUAFFFFABXn/xC+G9xq2oL4m8MTQ6b4ut4hEWmLC21KFSSLa5C9sk7JQC8RYkBlZ43
9AopNJqzA8Bk0Xwp8ZId2taG9n4k0aTyJUkZrbVdInIyRHcRMJI8g5WSJ9rqcqSDVu0b4l/D7H9k
6xb/ABB0dP8AmG+I2FrqKL6R3sSbZMDossW5v4phya7r4h/DUeKbi31vRrpNG8X2MZjtdS8vck0e
dxtrlRgyQscnGQyk7kKnrzfhXxcNemvNNv7NtG8SadtGoaRM4Z4t2dkqMMeZC+1ikgGDhgQrq6Lx
SU6OsXoc7ThtsaXhj9oDwvrWqW+i6uLzwX4knbZFo/iWJbaSd/7sEoZobk9f9TI/A5xXpdea65oO
meJ9LuNM1jTrTVtNuF2zWd9As0Mg9GRgQfxFcdafD/xD4Ew/w+8W3OmWq9PD+vh9T0wj+7HucT2/
oBHL5a/88jjFaRrp/EUqi6nvdeFWNz/wmnx28X67nfYeGreLwxYHqPOYJdXzqe4Ja0iPo1qw+k+o
/tKS+BNFv7jx/wCDdU0K4tLeSZLrR1fVdOu2VSRHHNEgkjZiMDz4ogSwALE074Q+GL3wn8PNJtNW
KtrtwJNR1Z16Pf3MjXF0R7edLJj0GB2orTXLp1HOWmhv+JPDth4s0a40vU4PPtJtpIVyjoysGR0d
SGR1YKyspBVlBBBFHw78dahY6vH4M8XXHna1sZ9L1dlCJrECAFiQAFS5QffjGAwHmIAu9ItKsjxT
4XsvF2ktYXvmx7XWaC6t38ue1mU5SaJ/4XU8g/gcgkHmp1HB+RlGXKzsPHnjiw+H3h99TvkluZGk
W3tLG1Aa4vbhs+XBEpIBdiD1ICgMzFVViPPfCPhy/jvrzxJ4kkiuvFmpqq3DQsWhsoQSUs4CQD5a
ZJLYBkcs5AyFWv4f8K67ea8mv+NdVtdc1iyiNnpv2O3MNvbRYAeYRkn9/NjLsOFXEacBmk7GtKtX
m0WxU5X0QVx3w9X7b+0p43m6pYeFdGgU/wC3Ldak7j8ooj+NdjXB+Ivgj4T8VeJrzXdRh1Rr68hi
guY7bW722tp1i3bPMgimWJyA7DLKTgkdzWdOShK7Ii+V3Z7D4h8XaF4RtftOu61p+i2+CfO1C6jg
TA6nLkCvPpv2qfhTuK2HjKz8RuDjy/DMM2sMT6BbRJSTnjA5yCOorC0L4FfDnwzc/adM8CeHbO8J
Ba8TTITOxHQtKV3sRxySegruFVY1CqAqqMBQMACt3iOyNfaeRzUn7RwvuNA+G/jvXgfuu2mRaYvs
T9vmt2A/4CTx0zgHofgr8T7/AOLfhe61268Mz+G7P7ZJb2Pn3cdwbyJMAzqY/l2F96qQSGC7lJVl
J4zWoLj4qeJbjwRp00kGiWmw+JtRgcoyxsoZbCJxyJZVILkcxxNn5WljYe22dnb6bZwWlpBHa2sE
axQwQoESNFGFVVHAAAAAHTFb05SkrsuLb1ZNRRRWpYUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUU
UUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRR
QAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFA
BRRRQAUUUUAFFFFABRRRQAUV8xW/xM+MGp+KG8NeJdU8LfDPV5ZHFpaLo0+of2hGMkPaXr3McMhC
gsUMXmL1aNQAW6KT4b+JtW/5DvxY8Y6grdbewaz0yIeoU21ukoH1lJ9CKylVjF2ZDmke914p8aPG
nwulNrJqfxK8OeEfFunljpmoSanALiJmwWiaEuDNE+0b4j1ChgVdEdcWT9nP4f3/APyGtFn8WHv/
AMJXqV1rIb6i7lkHt7DjpxXZeHfBvh/wjD5OhaHpuixYx5enWkduuPogHpWMq62sQ6i7GB8JfiZF
8T/D1xeC0mtbmzuWs7hvImW2mdQD5lvJIiGSJgwIbAIyVYAgiu3oorje+hgZXizxHbeDvC2s6/ep
LLZ6VZTX0yQAGRkiQuwUEgFsKcZIGe4rg/Cfx8s9e1jQNO1nwp4i8FSeIY9+iz64to8GoMIzKY0k
tbidUk8sFwkpRmCttDbWx0/xY0S98TfC3xjpGmw/adR1DRry0tod6p5kskDqi7mIAyxAySB614/D
4V8a/E+1+Gei33hDUfAWn+Ep4dRvdS1i7sppp54rOSCKO1S1uJuN8pdnkaMhUUKGLnZSStqM9P8A
C/xa0nxj8SPEPhfSdQ0K/TRIgt01prkFxerchyskb2ke5olQgKWkKtvyuzA3GPUvjV4VuPB/ifWv
DHijwr4gk0GJjdBvEEENrbyDO1Lm4XzBb5KkZZeMHivnP4f/ALO/jT/hD9N8J603jWx1jQPDOpaB
purT3GhDQUlmtTbmWI2qrftG7BJVEy7wVUyZdcnp/F3gPxp4++G/he2svh5eeBtV8J3OjTFLW80q
S7vI7Utuhsixmg2REiWH7TsBdRlIz84rljfcdke3Wfxq8ETfD/T/ABrd+KtD0vw3eBVXUbvV7T7M
kpyDCbhJWhZ1YMpCOwyrYJxmuin8VaJa+GT4im1iwi8Pi2F6dWkukW0+zldwm80nbs2kNuzjHOa+
av8AhVWrW/hu51uLw98VpvG03iJ9Zt76S88MpqFldfYUtDcLGky2RhkhzEylWcnexUEq9ehfEbwn
448XfA3wxFqWm2OueMtPu9H1bV9Hs5littQltriGe4giaQhOTGxTzCF3KuSByJsgsja8I/tAeFvF
2oeM5bfVtIHhbw3FazHxNHqsUljPHLGzM/mD5EVChUneRkHpjFdv4X8XaH440aHV/Dms6fr+kzFl
jv8AS7qO5gcqSrBZEJUkEEHB4Ir5b8WfB3x544uvHniO18K3XhGbUPEGg67a6bBd6c+oXaWalZc7
vNtRcghXQSl4yUjy45Kex/AHwfeeG7XxTqWpW/i+21XXNTW9ux4wk0kzSyLbxQiWNdMPkqpSJFOc
OSmT2JGla6BpHq9c58RLrxJZ+CtVl8IWMGoeJPK22UNzIEj3lgC5JIB2gltpI3bdu5c5HR0VBJ5x
4B+KUXwx8N2ui3Xwt8e6bFEWkn1BobPU3u5nO6W4kNpcSOzuxZiTGvPAUDaK6iP9qj4ax8alrN94
bP8AF/wkmiX2lKv1a5hjX8c4ORg8it+iupYh9Ua+0Zd8LfF/wH44KDw3428O+IC5wv8AZeqwXO7k
DjY5zyR+dddXzj8SpvhzqmrvoWq+ENP+IHiiRA3/AAj9tpMOoXZVhgNKHGyBCCQJJ2RD03Vk+D/2
RWvtasdZvUHwt0+2lWaLw54C1K4tZJcdFurmNkTaRwYoY1xyPNda6IVHPoaxlzdD6kooorYsKKKK
ACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooA
KKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAo
oooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigDI8VeEtG8caJPo+v6Zbavpk+C9tdRh
13A5Vhn7rKQCGGCpAIIIzXlGoeFfGPwpzJpZvfiB4STk2U0gbWrFf+mcjEC8QD+FyJgAfmmYha9u
oqZRUlZiaUtzyzwr4v0fxtpY1HRL+O+tQ7RPtBV4ZF4aORGAaORTwyOAynggVsVD46+DmneKtUbx
BpN5N4V8YBFjGt6eqkzqv3Y7mI/JcRjphxuUE7GQnNcN8N/iRc+Kta17w/qFva3GpaG6xXGsaHIZ
9KumJIKxyHlJl2/vIGyYywG9/vVwVKThqtjnlBx1O/ooorAzCiivAfiha+LfGHxe8SeDvDniK50P
+0PBlqq3C3ksIsfM1CSOe6hCZxcLDu2HjLKgLKOQ0rge/UV4X8TP2k4PhJ470rw3e2+hS2k11p9h
svPFEMeuT/aZkhW4t9PEbNNCjONzvJG/7uYhCqKzof2lL9tW+JNvD4Ysro+DYbyT+w7fV3bxFeGE
LskGnfZvlgmzmOYStuVkIXLFQ+Vjsz3WivG/B/x+l8RyeAke08N6hF4t1K8sYb7wr4ibVLSFILOS
43+abaLc5aJkMe0beDuJyoozftGaxqGoaZpeg+DYNR1fUvEeseHoI7vWPs0CGwaTM8kggdlV1jJ2
qjFSQPm60crCzPcqK+VfEf7VGiH4yadb3moadaWOg66PDdxpMPjFYNQnvZ2ig+0jS1hD3UEUkhQF
5VG0yy+SxjiYfVVDi1uFrBRRRUiOR+JfxQ0b4V6Na6hrAuZftl1HY2lvaxgtPcPnZHvcrHHuxjdK
6JngsCRTbH4c+OfiHiXxXq//AAhWiPz/AGF4auS19KvpPf4BjyOq2yqynpOwrqr2yt9Ss5rW7giu
rWZDHLBMgdHUjBVlPBBHY1w1n4E134c4k+HGsrp1gvJ8KawXn0kj+7ARmSz9AIiYl5Pkk81vTcE/
eRpFxW5674N8C+H/AIe6ONL8OaTa6RY7zI8dsmDLIfvSSN96R2PJdiWJ5JNbteY+F/jxpV7qtroX
iqxuPA3ia4cRQWWquptr1/S0ul/dTk8kR5WXHLRrXp1egmnsdIUUUUwCiiigAooooAKKKKACiiig
AooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAC
iiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKK
KKACiiigAooooAKKKKACiiigAooooAK4rx78XNB8AXEGnTm41fxFdIZLPw/pMYnvrhQcbgmQscee
DLKyRg9WFeSfET4q/FjxF4o1Dw/4U+Gfi7SvDtrK0EviGzXTPtt9tJDfZFu7qOKFOARLIJGYE4jX
hhD4N0Txv4Ut7iPw98G20+e7fzbu+1/xNbG6vJQP9ZcTxm4klbHAZix7cAA1nKTXwq5Lb6I377Qf
FfxSy/je+Gi6A/3fCWh3LBZF9Ly7AV5s94owkfJVvOGGrstL0uy0TT7ew060gsLG3QRw2trEscUS
DoqqoAAHoK5JdP8AjZff8y74D0dT0Z/EN7esB6lRYxDPbAYj3qZfAHxlvv8AW+M/BGkKfvJB4Zu7
x+eyu1/EAR6lCDnoMYPJKnUm7sxcZS3Oxork0+C/j68/4/8A4vXluT1/sbw/ZQAfTzxP29c8+3Fc
/wDA19ZubXxbcaj4p1TxZpn9v3VnpN5q8VpHP9nt9tvIT9mghQhriK4ZTs5UoeepiVJwV2S4OKuz
0yudTwLYR/ESbxkJrn+1JdKTSGh3L5PkpM8oYDbu37nIzuxjHHeuiorEg8h8Vfs06N4q8RavqTeJ
PEOnWOsarY63qOi2MlqLS6vLQwGGVmeBpgMWsIKLIEO3O0Ek1pXnwTl1Lxa3iS88eeJrnVbeG7g0
iRotNUaMtwyGT7OFsxvO2NFH2jzhgZ5b5q9MpssqQRPJI6xxoCzOxwFA5JJ7Cq5mO55Cv7NOlx2v
2iPxZ4kh8U/22fEDeKo2s1vmuza/ZCTGLb7NtNviMr5GCBuPz/NWh4Q/Z70Dwbd6BdW+p6zfXOj6
nqOrxzX9ykrz3F6ricynYCw/eMRjGD6jivUKKOZhdnndn8HTovi291jQfGXiLw/YX+ojVb7QLNbG
Wxupzs80nz7aSaMShBvEUqDJZl2sxY+iUVwHhr416B4i8QXOkPHe6RMNQutNsbjUoRHb6pLbyPFO
ttKCVdlkjkUxkiT5C23bhqNZBqzv6x/GWuXHhfwhrms2mnPq91p1jPdxafE+x7lo42cRK2DgsRtB
x1NbFFSI820Xxv8AEfWtFsNWtfhhHqWn3tvHdQT6Z4ktpBNG6hkaPzViyCCD822rR8dePLfif4J+
MJD132epaJIgH/A9QRs+wU9utbf7Ndx/Y/hnXPAshxJ4N1STTbZT/wA+DqtxZY/2UgmSHPrA3piv
X69BUYNXR08kWfOuueOJte0q50zxB8HfGd3pt0nly2l3pVreRTL3VkjnkGP94CuMs/iVr/wtw/hL
SfH11o0fDeFvEvhPV7yFP9i2u4beaaH0G4TxAABVQfNX17RVRpqOzGopbHAfBz4wWvxi8Pz38Xh3
xL4VvLWQQ3Wl+J9HuNPnicjIKiVFEikchlzwRkKeK7+iitiwooooAKKKKACiiigAooooAKKKKACi
iigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKK
KACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAoooo
AKKKKACiiigAooooAKKKKACiiigAooooA4v4zeNp/h38LvEWvWSLNqkFt5OmwP0mvpWENrEf9+eS
Jf8AgVcz8P8AwjB4B8D6D4btpGmh0qxhsxM/3pSiBTIx7sxBYnuSTXOftIeIr6Tx18NvDVl4c1rx
In2ufX7i10i08wStbIEtopJXKxQgzXCzB5XRc2uM5IB1bP4V+MfH2JfG+uf8I3pDc/8ACN+FLl0l
dfS41DCyHj+G3WHByPMkFc1WMqjSRlKLk7EOv/FLTdN1qTQNItL3xb4pQAtomhxrLLDn7pnkYrFb
KezTOmf4cnio/h34y17XtY8W6L4o0ix0TWdDvYYxbafeNdRtbzWsU0bmRo0y255UOFxmM4J61614
T8H6H4F0WLSPDuk2ei6ZESy2tjCsSbjyzkAcsx5LHJJ5JJrybV4/7F/ac1Ifdj8QeE7WZF9ZLK7m
SVvrtvrcH/dWonRUYN9SZQUYnbV558WrT/hNbnw58OUHmL4puiNTTrjSbfbJebh/dkBitj/19ivQ
65T4KWv/AAl/jjxj49kG+0WY+GtGY9Ps9rIwupV9PMuvMQ+q2sRrGjHmkRBXZR0K1m+FPiaDwNfy
SS6HdB38MX8zFiYkBZ9PkY9ZIVBKE8vCv8TRSNXc1s+PvA9j8Q/DFzo188tvvKzW17bELPZ3CHdF
PESCA6MAwyCDjBBBIPnngbxLf6gb/QvEEcVr4t0Vkh1GGEFYplYHyruEEk+TMFJXk7WWSMktG1XW
p8r5kVONtUdDqWoQaRp11fXUgitbWJ55ZD/Cigsx/IGsH4F+ArDXf2afCWk+KNKt9Qj1nTk1XUbG
8jDr9pu3N3LnP8SyzMQw5BAIwawP2iJJZPg34j0y3dorvXI4vD9u6/eWW+mSzQr7hpwR9K98tbaK
ytoreCNYoIUEcca9FUDAA/CtMOtGyqfVni2oeF/F/wAJ8yaWL3x74PTk2csnma1p6f8ATN2P+mxg
fwuRMADhp2IUbvhjxVpPjLSU1LRb6O/s2Zoy0eQ0cinDRupAZHU8MjAMpBBANeo15344+Dtrr2rS
eI/D183hTxgVCtqdtEJIb0KMLHeQZC3CDoDlZFGQkiZOaqUVLWI5U09jkIrj/hC/2gvD+oZ2WHjD
T5NCufQ3lsJLqzPtmI6gCe5EY7Cvc6+Vvi14k1qHwrLpHiHSF0Hx5p08OreH5IZTJp+sXlrIJ44r
W4IGHl8sxtDIFk2u+BIoLn6X8M+IrDxd4b0rXdLmFzpmqWkV7azL0khkQOjfirA1dK/LyvoVC9rM
0qKKK2LCiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiig
AooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAC
iiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKK
KKACvGPjZH/ZXxU+EmufdE17qHh+R/RLmza5GfYyafEPqVHevZ68j/aij+y/DG31xR8+ga7pOqs3
92GO+hW4P/gO89RJXi0J6oz/AIs+Jr7wz4Ju20ba3iLUJItK0dHGQb24cRQsw7ojP5jeiI57V6f4
F8H2Pw+8G6J4a0wN9h0qzis4mkOXcIoG9z3ZiCzE8kkk9a8s0W1/4T349Q5HmaR4FtftDH+FtVu4
2SMf70Vo0pI9L1D2r0bxz8VvBvwzW1PivxTpPh57vcLWHULyOKW5I6iJCd0hGRwoJrKjHljfuRTV
lc6qvO/i14FvtaSy8TeGkQeMNEVzbRuwRNQt2wZrKRuyybVKsfuSKjcgMrcP4u/bV+HvhS188Q65
fQkZWeXTzpdu/ulzqDW0LD/aEhX34NanwJ/aPPxw17WLSDwlf6RptnbRXEGqPMtxbzlnZTH5samL
eAA2EkkyCeRjnbSWhej0OW1jxHY/E7xF8H7XTTI9nqHiB9SuoZkKSwLY288jJIh5WSO7W3RlPKsC
Oor6Rrz2x+Ceiab8ZZviLaz3UN/Np89nJpysPshlme3Ml0FxkSstrChIOCEHGSSfQqmEeRWFGPKr
BRRRWhRneIfDul+LNFu9I1rT7bVdLuk8uezvIhJFIvXBU8HnB+oqn4H8FaR8OfCemeGtAt3tNF0y
LyLS3kneYxRgkhd7sWIGcDJOAAO1btFABRSdOTXDeLvjZ4O8FyPDfaxHLeLkG1tAZpAR2O3hT/vE
VrTpVK0uWnFt+RlUq06K5qkkl5ndUV8z+Jv2xG+dPD2g4/uz6k/840P/ALPXnOs/tJePdYLBdWTT
426x2cCL+TEFh+de5SyLGVNZJR9X/lc8WrneEp6Rbl6L/Ox9vUisG5BBHtX543nj/wAT6jn7V4i1
WcE52yXshH5bsCsSaeS4ffLI0r9NzsSa9GPDcvtVfw/4KPPlxDH7NP8AH/gH6VUgYEkAgkV+aVX7
HXtT03abPUbu1K4x5E7JjHToap8Nu2lX8P8AgiXEK60vx/4B+j9FfAmk/GTxvorhrbxNqDEdBcy+
ePpiTcK7nQf2svF2mtGuo29jq0IPzFozFIR7MpwP++TXFU4fxUdYNS/D+vvOynn2GlpNNfifYVFe
IeGf2svCurbI9VtrvRJj952Xzoh7bl+b/wAdFev6L4g0zxHZi60u/t9Qtz/y0t5Q4+hx0PtXh18J
Xw38WDX5fee1RxVDEfwpp/12NCiiiuQ6gooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAC
iiigAooooAKKKKACiiigAoopCwHU4oAWisHVPH3hrRZDHf8AiDTLOUf8s5ruNW/InNc7efHzwDYs
RJ4kt3x1MKPL3/2VNdEMNXqfBBv5M55YijD4ppfNHoFFeZ/8NI/Dn/oYv/JG5/8AjdXbL49eAb8g
R+JLZM9DMrxf+hKK0eCxS1dKX3MhYzDPRVI/ejv6KwtK8deHNckEena9pt7Kf+WcF2jt+QOa3AQe
hzXNKMoO0lY6YyjNXi7i0UUVBQUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUU
UUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFch8YPB8nxC+E3jTwvCP3+s6N
eafEd23EksLopz2IZgc9sV19FAHnHwB8E6v4J+HFr/wkwi/4THWJpNX15oWDIL2bBaJWHDLEgjgU
jqkK15F+2poemf2t8PdX1DUbbw3BcXN3os+vXE18qwpJAblYWjtbq3EgdrTAEvmKG2gIWYV9SV5B
+1ZBI3wZvLsXV5a2thqWm3d8LK7ltmlslvYftaM8bK20wGXjPYZqXtYXQ+Sk0f4W/Dtf7Ue78ZXL
yfO1/YaXa+EIJcd11GSOxZx23tdOR03jGB0/wO8YeGJfj/4O1bQtGi8N213HeaTPqU1/eavPqZmj
WSOF7tIZbbO+3VgXuyTghQxY19AeGfgz4D8G3n2zRfB2iafqBO5r6Kxj+0u395piN7H3LE1kftDS
f2Z8L7vxCOG8M3tj4jLDtHZXUVxMPoYo5VPsxrjjUXMjBS1PoSikznkcilruOgKKKxPF3jHSfA+j
S6nrF2lrbJwoPLSN2VR1JPtVRjKclGKu2TKUYJyk7JG105NeT/ET9pDwz4JMtrZv/buqLwYLVx5a
H0eTkDvwMkEcgV4N8U/2itb8eGax00vo2iMSPKjbE0y/9NGHY/3RxyQSa8jr7PA5Bop4t/Jfq/8A
L7z5DGZ5q4YVfN/ov8z0Dxv8cvF3jp5EudSexsWyBZWJMUePRiPmb8SR7CvP6KK+wpUadGPJTikv
I+TqValaXNUld+YUUUVsYhRRRQAUUUUAFFFFABV7R9c1Hw/eLd6ZfXFhcrwJbeQo2PQ46j2qjRUt
KSsxpuLuj6E+H/7WWoaf5dr4rtP7Sg6fbrUBJh7snCt26Y6d6+j/AAn400XxvpwvdF1CK+g6NtOH
Q+jKeVP1FfnZWp4c8Uar4R1OPUNIvpbC7T+OI8MPRgeGHsQRXzeMyOhXvKh7svw/4Hy+4+iwedVq
No1vej+P/B+Z+jVFeIfCD9pKx8ZSQ6T4gEWl6wx2RzKcQXB7AZ+63sTz2POK9u68ivhMRhquFn7O
qrM+3w+IpYqHPSd0LRRRXKdIUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRXlHxP8A
2htA8AedZWhGs60uV+zQP8kTf9NH7d+Bk/TrXRRw9XET5KUbswrV6eHhz1ZWR6pLKkMbSSOsaKMs
zHAA9Sa8r8ZftKeDvCvmQ2102uXi8eXYAMgPvIflx9CT7V8uePPi94n+IkjLql+yWROVsbbMcA+q
5+b6sTXF19jheHopc2Jld9l/mfJYrPpP3cPG3m/8j2zxN+1h4s1ZnTSoLTRICcqyJ50o9izfKf8A
vmvLtc8beIPErM2qazfXwbPyTTsUGeuFzgfgKxKK+mo4PD4f+FBL8/v3Pm62Lr1/4k2/67BRRRXY
cgUUUUAFbuh+OvEXhlkOl63fWSp0jjnbZ+KZ2n8RWFRUShGatJXRcZSg7xdme3eGf2svFelFE1a2
tNbhB+ZmXyJT/wACX5f/AB2va/Bv7SXg3xVsiuLttEvG48nUAEQnHaQfLj6kH2r4morxcRkuEr7R
5X5f5bHsUM4xVHeXMvP/AD3P0rilSaNZI3WRGGVZTkEeoNPr4G8BfGDxP8O5FXTL4yWWctY3WZIT
9BnK/VSK+pPhh+0LoHxA8qzumXRtab5Razv8kpzj92/c8j5Tg9eDjNfH4zJ8RhLzXvR7r9UfW4PN
qGKtF+7Ls/0Z6rRRRXgnthRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAU
UUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABXN/EvwfH8Qvhz4p8LTECLW9KutNYnoBNC0
ef8Ax6ukooA8X+EfiqTxz8LfCPiGcFbnU9JtbqdG6pK8SmRT7hiwPuK2/E2g23irw3qui3g3WepW
ktnMMZykiFG/RjXGfBWL+x9P8W+GTw3h/wAUanaKn9yGaY3tuv0EF3CB7AV6LXkyXLJo43oyv+zz
4kufFnwN8DajfNu1NtJggv8AnOLqJBFcD8JUcfhXodePfs3y/wBm2vj/AMMnj+w/Fd8Y1/6Z3gj1
FSP9ndeuo/3CO1df8UviZp/wx8OPf3REt5JlLS0Bw0z/ANFHc9vqQD7NGnOvKMKau2b1KkKUHUm7
JDPij8VNK+F+im6vCLi+lBFrYo2Hlb+ijuf5nAPxR438e6z8QtYbUNYujM/IjhXiKFT/AAovYdPc
45Jqn4o8Ual4y1q41XVbhrm7mPJP3VHZVHYD0rJr9Ny3LKeBjzPWb3f6I/OswzKeNlyrSC6f5hRR
RXtnjBRUlvby3U8cMEbzTSMFSONSzMT0AA6mvcPh9+ytrfiBYbzxDP8A2HZNhvs6gNcsOOo6JkHv
kjHK1yYjFUcLHmrSsdWHwtbFS5aUbnhddd4d+EvjDxVtOneH7x42GRNMnkxkeoZ8A/hX2X4N+Dvh
LwN5b6bpELXaYP2y5HmzZHcM33f+A4Fdp04HAr5XEcRa2oQ+b/yX+Z9PQ4f615/Jf5v/ACPkHS/2
SfF14qPeXumWCt1UyvI4/ALj9a6e3/Y1bOZvFgxn7sdh1/EycflX0xRXjzzzHS2kl6Jfrc9aGS4O
O8b/ADf6WPm2T9jWFlxH4qkjbPVrEOPy8wVl6h+xzqcSk2XiS1uT2E9s0X8mavqaipjnWOj9u/yX
+RUsnwT+x+L/AMz4m1z9mXx5o+8xafb6pGoyXsbhTx7B9rH6AZrzjVtD1HQbn7Pqdhc6fP18u6ia
Nj74Ir9IKqalpVlrFq9tf2kF7bPw0NxGHRvqCK9KjxFWjpWgn6af5nn1sgpS1pTa9df8j83KK+vf
HP7Kfh7XEluNAmk0O9PIi5kt2PPG08rnjocD0NfN/jr4W+I/h1cbNYsGW3Ztsd5Cd8En0bseDwwB
46V9RhMzw2M0hKz7Pc+ZxWXYjCazjdd1sclRRRXqnmBX0D8Df2i5tDaHQfFVw0+mnCW+oSHc9v6K
57p79R9Onz9RXHisLSxlN06q/wCB6HXhsVVwtT2lJ/8ABP0qgnjuoUmhdZYpFDK6HIYHoQakr5G/
Z6+OR8J3UXh3Xrg/2NM2Le5kPFq57E9kP6H2yR9cBgwBByD0NfmOOwVTA1fZz26PufpOCxkMbT54
b9V2FooorzjvCiiigAooooAKKKKACiiigAooooAKKKKACq2pala6PYzXt7cR2trCpeSaVtqqB3Jq
LWtasvDul3Oo6jcJa2VuheSV+gA/mfbvXxZ8ZPjZqHxO1BraDzLLQIWzDa5w0mOjyY6n26D9a9bL
8vqY+dlpFbv+up5ePx9PAwu9ZPZf10Or+Mf7Sl34m8/R/DDyWOk52yXoyk1wPRe6KfzPtyD4RSUV
+lYbC0sJD2dJWX5+p+dYjE1cVP2lV3f5BRRRXWcoUV1fg34X+JvHsijR9KmmgJwbqQeXCvr854OP
QZPtXtvhb9j0bVk8R64c97fTFxj/ALaOOf8AvmvOxGYYbC6VJ69t2ehh8BicTrThp32R8z0V9y6H
+zv4D0NVxoiX0o6yX0jS7v8AgJO38hXW2Xgbw5pqlbXQNMtlPVYrONR+grw6nEVBfBBv7l/mezDh
+s/jml+P+R+dtFfpG2k2LQ+SbK3MONvlmJduPTGKzL7wH4a1IYu/D+l3PGB5tnG2Ppke9ZR4kh1p
P7/+Aavh6fSp+H/BPzvor7j1z9nXwHrYkP8AYosZW6SWUrRbfooO39K8x8U/sesN0nhzXMj+G31J
f/aiD/2WvQo57g6rtJuPqv8AK5wVskxdPWKUvT/gnzVRXUeMfhn4l8ByEazpU1vDnAulG+FvTDjj
J9Dg+1cvXvQqQqR5oO68jxJwlTlyzVmFL05FJRWhme6/B/8AaUvvC7waV4nkl1HSM7UvDl57ce/d
1H5jtngV9W6Tq1nrunwX+n3Md5ZzLujmhYMrD61+btei/B/4yaj8LdU2/NeaJcNm5ss9O3mJ6MB+
B6HsR8pmWTRrJ1cOrS7dH/kz6fLs4lRapYh3j36r/gH3TRWZ4b8Saf4s0W21XS7hbqyuF3I6/qCO
xB4IPTFadfAyi4txkrNH3UZKSUou6YUUUVJQUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFF
FABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFYXjLx34b+Hej/wBq+Kde03w7ppkW
FbvVLpLeNpGBKxqzkAucHCjk44FAHlEMX/CP/tG+ObDG2DXNJ03XY/8AbnTzrOf8o4LL/voV3NeU
at8RtF+I3xz8C6t4Pj1XVrW20/VNM1LUV0e7hsUhmEE0bfaZIlikPmWoUBGYjzT0Br1evNrfGcs/
iPO9H8T2Pw2+OXjS41KYW+m6v4Ys9VXP8U1pPLBOR6krc2S49h6187/EXx7f/EbxRc6vekorHbBb
7srDGPuqP5k9ySa99+M3wKtfjFfeH7x/EGp+HLvSRcRLc6WkDSSQz+WZI/30bqPmhiYEqeU6V8fR
6DpMfjvUtR8PazrWqeHbVDp9ncalqBmXUGDZlugihYgpYbIyqDKqzgkSDH2/Ddalz8ii3Pv0S/4J
83nKqSpJuSUF06tm7RRRX6MfFBXV/D34a618StWNnpMH7qPBnupOIoVPcnuT2A5P0BI0vhH8JtQ+
KOuCFN9tpMDA3d7j7o/uLnqx/TqfQ/bPhTwnpfgvRYdL0m1W1tY+y/edu7MepJ9TXzuZ5tHBr2dP
Wf5ev+R9BluVyxb9pU0h+ZzPwz+DOgfDO1RrWEXmqlcS6jOoMhPcL/cX2Htkmu+oor87q1qlebnU
d2z76lShRioU1ZIKKKKyNQooooAKKKKACiiigAqvqGn2uq2ctpe28V3ayjbJDMgZGHoQetWKKabT
uhPXRny/8X/2YXslm1fwdG0sKgvLpRJZ19TETyf908+meBXznJG0UjI6lHU4ZWGCCOxr9LK8P+On
7P8AB4wgn1zQIlt9dQF5YFAVLv29n9D36H1H2WWZ001RxT06P/P/ADPkcyydNOthlr1X+X+R8g0U
+aGS3meKVGiljYq6OCGUg4IIPQ0yvtz4wK+pf2Y/jENQt4vCGsTE3cK/8S+dznzEAyYj7qOntx25
+Wqms7yfT7yC6tpWguIXWSORDhkYHII9wa4cbg4Y2i6Uvk+zO3B4ueDqqpH5ruj9KKK4r4R/EOH4
k+DbXUgVW9j/AHN5Cv8ABKAM/geGHsa7WvyipTlRm6c1Zo/UadSNWCqQd0wooorI0CiiigAooooA
KKKKACiiigApk0yW8TySOscaAszMcAAdSafXzp+1F8Wm0+FvB2lTFZ5kDahKhwVjPIi+rDk+2Bzm
uzB4WeMrKlDr+COPF4mGEpOrP/h2eb/Hr40S/EXVm03TZGj8PWj/ALvsblx/y0Yen90fieTgeSUU
V+r4ehTw1NUqaskfmFevPEVHUqO7YUUV2nwv+FuqfFDXBaWY+z2URBur11ykS+nux7CrqVIUYOpU
dkiKdOdaahBXbMLwv4T1bxlqiafo9jJe3TclYxwg/vM3RR7mvqf4bfsu6J4bWG98RFdc1IYbyCP9
GjPH8P8AH3+9wf7or03wN4B0b4eaMmnaPbeUmAZZn5kmb+87dz+g6DAro6/P8fnVXENwoe7H8X/k
fd4HJ6WHSnW96X4IZDDHbxrHEixxqAqqowAB0AFPoor5k+jCiiigAooooAKKKKAI5oI7mF4po1li
cFWRxkEEYIIrxH4lfsuaN4iWa98Nsuiaifm+z/8ALrIeew+52+7wMdK9yorqw+KrYWXPRlY5cRhq
WKjy1Y3Pzo8UeE9W8G6o+n6xYyWV0vIWQcOP7yt0Ye4rIr9DvGvgXR/H+iyabrFqs8TDMco4khbs
yN2P8+hyK+Lviv8ACLVPhbqipPm70ucn7NfIuFb/AGWH8Le3ft3x+g5dm1PG/u5+7P8AP0/yPg8w
yueD9+GsPy9f8zgqKKK+gPCPSfgr8YLv4X635cxafQrph9qt+uw9PMT/AGh39Rx2GPt3T7+31Sxt
7y0lWe2uEWSKVDkMpGQRX5s19Cfsw/Fw6TfR+ENVl/0O6f8A0CV24ikPWPnsx6f7Xru4+SzrLVVi
8TSXvLfzX+aPqcnzB0pLD1X7r28n/wAE+qqKKK+BPugooooAKKKKACiiigAooooAKKKKACiiigAo
oooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKyPFXhLRvHGiT6Pr+mW2rabP
gvb3UYZdwOVYf3WUgEMMEEAggiteigDxDUPDni/4S5exF94/8HJz5DN5utacn+ySf9NjA7HE4A6z
s3G/4Z8U6T4y0iLU9Fv4dQsZCyeZEfuupwyOp5R1OQyMAykEEAivUK+Ifj54su7D42ajrPgm9Xw/
qtoqWt3NDGHt9SkTqLuHgS4/1YbIkULhXXNaUMtqY6TjQ3SuedjMRSwkVOppd2Oj/ai+Jsttax/D
7Rbl4dT1aDzdVuoG2vZaeSVIBHKyTENGpHIVZWBBVc+E28EdrBHDDGsUMahEjQAKqgYAAHQAVHAL
26vNQ1TVrpb/AFzVLhru/u1UqryEABUUklURQqIuThUUZJyTPX6Vk+XLL8Oov43q/wDL5HwWYYx4
urp8K2/z+YV0nw+8C3/xE8T22j2A2l/nmnIysMYI3Ofz4HckCucALEADJr7g+AvwvX4c+EUe6jA1
nUAs123dBj5Y/wDgIPPuTW2Z45YGjzL4nt/n8h5bgnja3K/hW/8Al8zs/CHhHTvA+gWukaXD5VtA
uCxxukbu7HuTW1RRX5bKUpycpO7Z+lxioRUYqyQUUUVJQUUUUAFFFFABRRRQAUUUUAFFFFABRRRQ
B87/ALS3wZTULObxdosGLyEbr+CMf61AP9YP9pR19Rz25+Wa/S1lDKQRkHg18QfH74Y/8K78YO9p
Ht0bUS01rjpGc/PH+BPHsR6Gvu8jzB1F9VqvVbf5fI+JzrAKD+s01o9/8zzGiiivsD5I9T/Z1+IB
8EePoLe4l2aZqmLWfJ+VXJ/dv+BOMnoGJr7ar806+7vgb42fx38OdOvbiTzb+3za3Tc5MiY+Y+7K
Vb/gVfEcQYSzjio9dH+n9eh9nkOKupYaXTVfqd/RRRXxZ9gFFFFABRRRQAUUUUAFFFFAHOfELxpa
+APCOoa1dYbyExFFnBlkPCKPqcfQZPavgDWNWute1W71G9lM13dStLLIe7E5P0Ht2r3T9rTx4dS1
+z8L20h8jTwJ7kDoZmHyg/7qHP8AwP2r5/r9HyPBqhh/ayXvT/Lp/mfn2dYr21f2UX7sfz6/5BRR
U1pazX91DbW8TTXEzrHHGgyzsTgAD1JNfR7Hz250fw3+H+ofEjxNBpNiPLT79xckZWGMdWPqewHc
+nJH3X4Q8IaZ4H0O30nSbcQW0Q5PVpG7sx7k1znwb+GcHwy8IxWjBH1S4xNezqPvPj7oP91eg/E9
672vzTNsxeMqckH7i28/P/I/Rsry9YSnzzXvvfy8v8wooorwD3AooooAKKKKACiiigAooooAKKKK
ACs3xF4d0/xVo9zpeqWyXdlcLteN/wBCD2IPII5BFaVFVGTi1KLs0KUVJWa0Pgj4s/DC++F/iR7O
UPNp0xL2d0RxInoT/eGQD+B71xFfoL8SPANl8R/Ct1pF58jt+8t5wMmGUD5WH8j6gkV8Fa/od54Z
1q80rUIjDeWshikT3HceoIwQe4Ir9LynMPrtLln8cd/PzPzjNMB9Tqc0Pge3l5GfT4pXglSSN2jk
RgyupwVI5BB9aZRXunin3d8E/iQnxI8F291K6/2pa4gvYxj74HDgejDn65HavQK+JP2dfiB/whHj
6CC4k2abqu21nyeFbP7t/wAGOOegYmvtuvy7NsH9TxLUV7r1X+XyP0vK8X9bw6cn7y0f+fzCiiiv
GPXCiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooo
oAKKKKACiiigDD8ceJovB/hHVdZlwRaW7SKrHG58YVfxbA/GvzyurqW9upridzLNM5kd26sxOST+
NfW37W3iT+zfAdlpKPtk1K6G5f70cfzH/wAeMdcj+y/8JbTWLW98R69psF7ZyD7PZwXkKyRvz88m
1hg4wFB/3vSvtcqnDAYKeLqfaennb+mfHZnCeOxkcLT6L7r/ANI+cqK/Qj/hWPg7/oU9D/8ABbD/
APE18U/GKxttL+J3iK1s7eK0tYrorHDAgREGBwFHAFe1gM1hj5uEYtWVzx8dlk8DBTlJO7sdR+zZ
4AXxp48S8uovM07SQtzICMq0mf3an8QW/wCAY719qV5X+zb4RXwx8MbG4ePZd6oTeykjna3EY+mw
KfqTXqlfFZvinicVK20dF+v4n2OVYZYfDRvvLV/16BRRRXinsBRRRQAUUUUAFFFFABRRRQAUUUUA
FFFFABRRRQAVwfxq8Aj4heAr2xiQNqEA+02Z7+YoPy/8CGV/HPapvGXxe0D4f6lDZ699ssfOUtFc
C3aSJwOuGXPI9MZGR2NZcP7Rnw8uOF8QBTjJWS1mXH4lMV6NChiqco16UG7appNnBXrYWcZUKs0r
6NNo+HGBUkEYI4INJXX/ABaTSP8AhYGrz6FeRX2mXUv2mOSHopcbmXoMYYn8MVyFfqtOftIRna10
fl9SHs5uF72Cvev2SfFx03xbf6BK/wC41KHzYgT0lj5wB7oWz/uCvBa6L4eeIj4T8caJq28xx2t0
jSsOvlk7XH/fJaubHUPrGGnS7r8eh04Ot9XxEKnZ/h1P0MopAdwBpa/Ij9WCiiigAooooAKKKKAC
sLUtYvLq+k0zRhCbuIA3N1cAtFbAjIBUEF3I5CAjjkkZXde13VotB0W/1KYForSB5mUdW2qTge5x
j8areFNJl0fRIY7kh7+Ym4vJB/HO53OfoCcD0UAdq2ilGPO/l/XkZSblLkXz/rzPNdQ/Zf8ADOua
hc6jqmo6td6hdSNNPMssaKzE5OF2HA9BniuD8efskmx0+W88LajNdyRLu+w3oUu4A/hdQAT6AgfW
vWvGXx58J+BfEUWjajcTyXZI85raMOlvnp5hyD0OcAE+1d/a3UN7bRXFvKs0EyCSOSM5V1IyCD3B
FevHH5hhlGpJvle11o0eTLA4DEuVOKXMt7bo/Nh0aN2RgVZTgg9jXuv7Kvw9GveJLjxJeRb7PSzs
g3DIa4I6/wDAVOfqyntXO/tLeF4vDXxSu3gQRw6lEt8FUcBmJV/zZWP419T/AAh8HL4G+H+kaaY/
LufKE1zkc+a/zMD9CcfQCvpczzBfUYyho6n5df8AI+dy3AP67KM9VT/Pp/mdlRRRX56fenKfFL4p
eGPgv4E1Pxl4y1P+xvDem+V9rvfs8s/l+ZKkSfJErOcvIg4U4zk8AmvNvhB+2/8ABT49eMk8K+BP
Gn9u6+8Elytp/ZV7b5jTG5t80KLxkcZzXulfnZ4P8Qap4V/YX/aj1fRNSvNH1az8aeJJba+0+d4J
4XE8eGSRCGU+4NAH6J0V+a/7RmrX/wAEfhJ8L9P134t/FWebxhPcazdeJU8QS2EcVw1rbEWhubax
uZYotwYxW8cLAmSQlgBkYXw9+IHxM+MXw3/ZV0PUPib4s8P6j4i1vxJo+r6xpd60V9cQQLIEEhdc
PIqLtV5ELKcPw4zQB+oteTfGT9pTw38FfFngvwxqOleINf1/xXPJHY2Hh3TzdyRxR7fOuJRuXbFG
HDMRkgAnBAOPgnUvid400X4G+ItE1f4y6pbnwX8U9b8PxXWsaxeWF94g0+zjiK276pBG7xTbpSRn
Af7vRcVtN4Tu/iZ+1j+zB4hTxD8QtIn1PwdNqaWmpazi7ia1j3iGSTyxlZ8KJjtHmK38OaAP01rN
8ReJdI8H6Ld6zr2q2WiaRaLvuNQ1G4S3t4VJAy8jkKoyQMk9xX5X/ssfG74keKP2jvBtp4m+LOoa
d4+vtZuYfEfgTxDqOpPbvbr5pMFvYDTBb2zqihlb7W2dozgkrS6l8OfF/wAWf+CeHj/4h618T/iF
4k1NZLxI9Bk1cy2HkW2psMPGVLyYXexLOeFQDCxgUAfq9FMk8SSxOskbgMrqchgeQQe4rz7xF8ct
A8M/Gvwl8L7q21B/EPiaxutQs54YkNrHHbjLiRi4YMRnGFI45IryPwR4omtf2ALzXPhJ4n8SePb+
Hw5qU2ia1r/mXeqXF0rT8ESRqzmOUMkalMFY4wAwxn4p/Z98XN4h/aR+E+v+EfHfjP4qeIV8H63J
cN4yEzpa6yLEvJZW8skaZjEjRgqrOF3L83zcgH67UV+TP7Jfxw8c678WtKXVfjdqkfiKbTdUm8We
F/El5qd/LC0dtK4e1sDpUUFq8LKHMaXEm4DaP7p+iP8Agnd8QtT8SeIPG+iap4t1r4g3en21tLN4
o/t+51LR7p3eT/UxXESPaT4+/CpKgBcAY5APt6iiigAr5x/ay+HKzWdv4vsosSwlbe+2jqhOEc/Q
nb/wJfSvo6qGvaLbeItFvtLvE32t3C0Mi98MMceh967sFipYSvGqum/p1OLGYZYqhKk+u3qfnBRW
h4g0Wfw5rmoaXc/8fFnO8DkdCVYjI9jjI+tZ9frcZKSTWzPytpxdmKCVII4Nff3wl8YDx18P9I1V
n3XLReVcdM+anyscdskZHsRXwBX0z+x54kzHr2gSP90pewp9fkkP6R/nXzufYf2uF9ot4v8AB6M+
gyOv7PE+ze0vzWx9K0UUV+cH6CFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFF
FFABRRRQAUUUUAFFFFABRRRQAUUUUAFMklSGNpJHWONRuZmOAAOpJp9cXo+jweKtQ1a61gyaitrq
EkFvazNm3jVNuD5Q+VmzzuYEg9CK1hFSTcnojOcnFpJas4jxx8Pf+F4eOdJuxcH/AIRLTYCGuUyP
tUjNlliPdcKuXHHpkivZbOzg06zhtbWJILaFBHHFGMKigYAA9MVL04FAYNkAgkHB9q1rYidWMaf2
Y7L+uplSoRpSlU+1Ldi18MfFLSpNd+Omr6bF/rbzU0t1+rlVH86+56+T9L01NS/a4nSRN8cV9LMc
9isJKn/voLXtZLU9jKtU7Rb+48fOKftY0qfeSR9U2VpFp9nBawRrFDCixoi9FUDAAqeiivnN9WfQ
baHw38Kf+Ckuu+PJvh7q2ufBa68N+AvHOvp4a0jxLB4lt71mvXlMSq9r5SSKu5W3MeABxu4z9dyf
FTwVF4zXwg/jDQU8WMNy6C2pwC/IxnIg3b+nPTpX51/s/fsB+N/gX4c+DfxG03wRB/wtjRfEE0fi
jR7jUbadbnSpZXTzo3eVoY5ootpUxsrHcc5IwUs/2JviVpvx8lfXfh/feKdGuvHi+I18e6L4g0Oy
mt4XuxIJJBPYvfuY1JZ4UnCsRhRnDUhn6H6p8VvClrrWo+HbfxRoc/i60tJLo6CNQiN6FVC24wBv
MC8dcdK8y/ZL/ah0v49/Cnwbf65rvhm1+IWsWMl5deG9NvEWZFWWRN62zyPKE2oDk57814B8Jf2Z
PH/gP4y+I4dX+D3hbXYrnxHquvQfFqfVI/7RaG4ilEdusP8ArRJmQKQSIhljgkBzlfB79h3xF8Pf
DP7Muo2fgSy8O+OfD+rXs3jDVrSe1+1RQSJOqmSVZD54w0YCqXwDjAGaAPufTfip4K1rxZdeFtP8
X6Df+J7XJn0W21OCS9hx13wqxdce4qDT/jJ4B1a4uoLHxx4bvJrW3lvLiO31e3kaGCKTypZXAf5U
ST5GY8BvlJB4r89f2a/2KviR8NfjF4Di8X/Dy+nh8N6zcX7fEHR/EOiRRXBPmsHmiFiNRnR9wQxy
XB+8SNoGB1P/AAwj4kvP2VfiDpkHgzRdP+KmreJrrUN11JB5uraaNQjuEs5LqJiVjkWJCELqAyru
28kAH0T8Zv2rtN8IL8J9S8G654X8ReGfFXi+HQNS1hLxbm2t7cxSPI8c0UoRXXavLFgBnI7j12w+
LHgjVPB8/iyy8ZeH7zwrAWEuuW+qQPYxkYzunD7BjIzk96+JtT/ZZ8U/EzQfh1b6j8AfDHw60SL4
i2msa34S0nUrW4gGnx2nkyTz7WWJyzYHlxKSVxuDEknnviZ+w18Qrjwz8StK8GeGLPTvDy/Eiz8U
6R4Vgu7OC21WwjtTHJHGkiywRHewwk8ez5OUICigD9DfCfjLQPHmjR6v4Z1zTfEWkyMVS+0m7juo
GI6gSRkqSPrXgn7Xn7XFj8B/Bdw3hTWfC+seObbU7G1uPD97eLLcQQTSqjyPbxyrIvysME4GSOvQ
5v7BvwZ1v4S+HPG1zr/gfVPh9qGuaqlw2j3ms6Xf27BIVXzoE021t4IA2SpQJk+WDXyp8TP2KPi1
qVz4/wBEsvg74d16+1Dx0/iqz+JLazapfz2kt0j/AGRY5AJFKqzM291X5X27jt3AH6T618VPBXhv
xRZeGtW8YaDpfiK+x9l0i91OCG7uMnA8uFmDtnB6A0+T4oeDYvGieD38W6Gni108xNBbUoRfsuC2
4QbvMIwCc7egr86/j5+xX8SfEfx0+I2oS/D28+IvhzxfqsGoW+vaPr+h6be6dCqoBF5l9YzXKGPY
APIlRWVQDnJFe0aP8CfH+g/tiDxX4e8FSaX4VvdXa713Vdc1HTtRtbxFtzFHdWi7PtltcsMBgCE5
YZI6gH2lRRRQAUUUUAYfjLwbpfjvQZ9J1aATW8gyrDh427Op7Ef/AFulfEPxR+FuqfC/XDaXgNxZ
Skm1vVXCSr6ezDuK+9bi6is4WlnkWGJerucAfjWZ4r8KaZ420O40rVbdbi0mH/AkPZlPYj1r28tz
KeBlZ6we6/VHjZhl8MbG60mtn+jPzporu/ix8JtS+F2s+TPuudMmJ+y3oXAf/Zb0YenfqPbhK/S6
VWFaCqU3dM/OqtKdGbp1FZoKKKK1Mjobb4h+KrNAlv4m1iBFAULHfyqAB0GA3SvRvhLrXxN+IWvr
Z6b4l1CG0iYPdXkzeYkK/wDAgck9l7/TJriPhl8MtU+J2vLY2K+Vax4a6vGXKQJ/Vj2Xv9ASPuHw
X4M0vwHoEGk6TB5VvHyzty8r93Y9yf8A6w4r5bNsZh8LH2cIJzfktPNn02V4SviZe0lJqC83qa1n
bta2sULzyXLooVppcbnIH3jgAZPsAKnoor8+31PvdgooopAFFFFAGT4q0STxFodxYRXC2skjRsJH
j8xfldXwy7lyp24IyOCea4DxZ8cE+GesWumeK7FXa4i81LrSXLjbnGWjcKV79GbpXqtfGv7VmoG8
+KfldrWxihH4ln/9m/SvbyrDxxlb2FVe7Zv8jxszrywlL21N+9ojy/xRrD+IfEmqam5Ja8uZJzu6
/MxP9a+3/gYLkfCXwz9q3GX7LxuznZubZ/47tr5u+BnwNt/idBLql9qD21jaXIikt44stNwDgNn5
evXBr7AzZaBpPJistPs4cckKkUaL+gAH6V62e4mlJRwlPVxevlpseXkmHqRcsVU2kv13PAvjNoae
Kv2hPA+lGNZA1vHLKp6NGssjsD+CN+dfRA44HSvmz4T+JE+Jn7RWta+ATaW9nILPOeFDJGpx2JUs
x9ya+lK8fMlKn7KhL7MV971PWy9xqe1rx+1J/ctAooorxj1wooooAKKKKACiiigAooooAKKKKACi
iigAooooAKKKKAPjv9q7wz/ZHxEi1ONCsOqWyyM3YyJ8jY/4Ds/OvFa+sv2v9IW48G6PqQGZLW98
r6I6Ek/mi18m1+pZPW9tgoN7rT7v+AfmmbUvZYyaXXX7/wDghXpv7OOtnRfi5o4Mnlw3gktZPcMh
Kj/vtUrzKtjwbqR0fxdol+P+Xa9hl+oVwSK9DE0/a0J0+6ZwYep7KtCfZo/RaikVtygjoRmlr8dP
1oKKhvLyDT7aS4up47a3jUs8srBVUDqST0FeD/ET9q3TNHaSz8LW66vdLwbybK26n2HDP39B6E12
YbCVsXLloxv+X3nJiMVRwsearK35nvcsyQRtJI6xooyWY4AHrmvOPFX7Q3gjwruRtVGqXC/8sdNX
zj/31kJn2LV8g+MPiT4k8eTFtZ1Wa5izlbdTshX0wg4z7nn3rma+tw/DsVriJ38l/mfLYjP5PShC
3m/8j6V179sViXTRvD2Bn5Zr6fn8UUf+zVxeqftU+OdQGIJNP033tbbJ/wDIhavHqK9ynlWCp7U0
/XX8zxKmaYypvUa9NPyPSJP2iviHMQW8RuMf3bWBf5JTP+GhPiF/0Mkv/gPD/wDEV51RXT9Swv8A
z6j9yOf65if+fkvvZ6xp/wC094+smBl1C2v/AGuLRAD/AN8Ba7DRP2xNUh+XV/D9rdZP37OVocf8
Bbdn8xXzvRWFTK8HU3pL5afkb08yxdPao/nr+Z9peGf2nvBWvssd1cXGiztwFvo/kJ/31yAPc4r1
HTdWstatVutPvIL62b7s1vIJEP0IOK/NytXw74q1jwneC60fUbjTp8jJgcgNjoGHRh7EEV4uI4ep
S1oSs/PVf1957FDP6kdK8bry0f8AX3H6M0V8w/D39rSeFo7TxdaCaPhf7Qs0ww93j6H6rj6V9FeH
fE2leLNNS/0i+hv7VuPMhbODjOCOoPPQ818lisDiMG7VY6d+h9VhcdQxavSlr26mpRRRXnncFFFF
ABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABXI+FtQtdLtfEdzeXEVpbR6tcF5pnCIv3epPFddWFb+
CNEt9Wm1IWCS3skpn82dml8tzjLIGJCE4/hAranKKjJS6mM4ybTj0PF/i1+1BDpP2jSfCkbTXwyk
moXEZVIj/sIwyx9yMcdDW7+yne3GpfD7VLq6mkubmbV5nkmlYszsYoskk9TXzZ8ZYzF8UvEykbT9
tc4+vNfRv7Iv/JM77/sKy/8AoqKvr8dhaOGyxOktZcrb6nymDxVbEZi1Ueiukuh7dXzh8P4RL+1Z
4rY9Y4p3HHfMY/rX0fXzl8PLgQ/tVeLUPWaGdB+cTf8AsteHl9/Z4i38j/NHtY7+JQv/ADL8mfRt
FFFeMeuct8MPih4Z+M3gbTfGPg7UxrPhvUvN+y3wgkhEnlyvE/ySKrDDxuOQOmRxg0/UPiT4c0vx
/pHgm41HHijVrSe/tdPjgkkY28JUSSuyqVjUFlUFyu4nC5PFfld+xP8AHrxr8OfBH7PGi6D8UvD/
AIh0nXPEsvh6/wDhbBp0J1HTraa8uHkv5Zwxm+XcZBkIu1kGGwxHZ/AH9qj4q/E/9obw/wCJxf8A
hlLjXdcOgat4QvY9Asbyw0tJ5BiOdr3+0p5Isl/JaAKSXK5yMgH6iVzPib4keHPB/iTwxoGraj9n
1nxLcSW2k2SQSSyXLxx+ZIcIp2oi8s7YUZGSCRn4AX9oz9oCz0/UPiPJ8QdMufB+jfFKXwdJ4VfQ
bcS3lmb0RgvdABlKK4RdgBIG5mY8HA1b9qr4qeJf2oNb1DSNR8M6fqHhvxZL4UsfCWsxaBZzXOni
4jSTF5d3kd+HlwrBIYWjZggBJGAAfeOs/tSfCfw78SNT8B6t460nS/FGl2X9oX9teyNDFaQfId0t
wwEKHEiHazhsMDjBr1GORJo1kjZXRgGVlOQQehBr8lNeh8eeDW/be8SXXjWx19NJu7KC50/VPDNl
cw307yxi3mZJldAIYfMiEZVlbfuOCor3PxJ+0144uv2jPEHhr/hbnhf4UaF4Qi0X7L4d1vSY5pfF
X2qGN5djnEigF9qi3DEZXKjk0Afc2heKtF8Uf2h/Y2r2Gr/2deSade/YblJ/st1HjzIJNpOyRcjK
NhhkZFGteKdF8Nz6bDq2r2GlzancrZWMd7cpC13cMCVhiDEb3IViFXJIB44r88Lz9orxB4L+HXxZ
+weNtO+Hes3Hxy1vQbPU7Lw3phMlvHCrbX857a2MpOwtc3Uu4gYZ2OMUPhf+0544+LHg/wCEF14m
1HSvEWo2fxr/AOEWfWJ9H0+R7u1S1EizLsEsMMp84jzbV+g+WRgSzAH6ZUV+edr+0V8c9F+Dvx1+
L83i+z17SPB+r6v4f0nwr/YUKsHS+ijivJbhNrMsEcjfIBhlQliTzWd8JP2k/jv4g8JfEpLf4h+E
fFb2/h6G+0fxBrV94ds3sNSkuYoltZILG+nQI6yMI5J9uZAqsBnBAP0dor57/Yq+LOpfFb4d6+2u
+JNU8R6/o2tzabfHV9OsrSa0kWKJjDus2ME6gszLKmMhwCMrk/QlABRRRQAUyaZLeJ5ZHWONAWZm
OAAOpNPr5q/ag+LzxM/g7SJ9u5QdSmj64PIhB9xy3sQPUV24PCzxlZUofPyRx4vFQwdJ1Z/LzZw/
x6+N0vxC1B9I0qRovDts/UcG7cH77f7P90fiecAdt+z/APtAZ+zeGfE1zk8R2WoSnr2Ebn19G79D
z1+aKK/SJ5Zh54ZYa1ktn1v3Pz2GZYiGIeIvdvddLdj9GvEnhvTvF2i3Gl6pbJdWVwu1kb9CD2I6
gjpXxP8AF74P6j8LdXwd93o1wx+y3u3/AMcfHRh+RHI7geq/s/8A7QGfs3hnxNc5PEdlqEp69hG5
9fRu/Q89fobXtB0/xRo9zpmp2yXljcptkjfofQg9iOoI5Br4+jWxGSYj2dTWD/HzXmfV1aNDOaCq
U3aS/DyfkfnFXXfDX4a6r8TtfXT9PXyrdMNdXjrlIE9T6k84Xv8AQEj0DXv2W9etvHkOl6a3n6Hc
kyJqcg4gjBGVkA6uMjAH3uvHOPp/wN4G0r4e6BDpWlQ7Il+aSVuXmfu7HuT+nQcCvoMdnVKjRTw7
vKW3l6/5HhYLJ6tWq1XVox38/T/Md4J8E6X4A8PwaTpMPlwR/M8jcvM56u57k4/DgDgVv0UV+ezn
KpJyk7tn30YxhFRirJBRRRUFBRRRQAUUUUAFfD/7Schb4ya6h6RrbqPxgjb+tfcFfEH7Ske34ya4
2Mb1gP1xCg/pX0/D3+9y/wAL/NHzeff7rH/EvyZ63+ynrulaP4Dvlv8AUrOxmn1R0jS5uFjaTEUf
Cgnn73avddc0Ow8TaTc6Zqdsl5YXK7ZYXJwwyCORyOQDkelfnDmvs39l3xVdeI/hyba8laaXTbg2
0bscnytoKAn2yR9AK6c5y+VFvGwlu/u7WOfKMeqyWDnHZfeM+F/wxt/hf8UdctrZ2ewv7BZ7LzDl
gqyYkQnuVLJ+DCvY65nxX/o+u+FLteGGoPbsf9iS3lyP++ljP4V01fN4mrOu41Zu7a/LT9D6HDUo
0VKnBWSf56hRRRXGdZT1himkXzBLlyIJCFs8eeflPEeeN/p74r8s/Bvwj+KWh/CH4yeHvhx4K8S2
95daTbPD4s1XSbrQNf1Qm9V7qykWWV455vIMmLmMc5KgksMfqxRQB+W/w/8Ag7qfk/Gy7+Fvwk+I
nwz+H198LNW0u78P+LUuPtOsa5JE/lPb28kkjyOV+UMvXOABuwbvw8/YQ0vUvH3wYsdc8NeNIdA8
TfD1bnx0Zb7UIo59TWKJkt7t9w8oqzsFhJXHlAbchs/p3RQB+V/wp/Z58Y/FTwv+yB4T+JnhHxeu
h6efGFn4iS4hvbOS2tSFe0iupV2vFHI0aIoZl3qAq1Q8Jfsq+J/APhH4T+M9I8L+N28d6L8WotKV
bg30psfDaTzceQflS1IWMtJtCkOcthq/V+igD8mLf4M/ERf2sH1LxZ4e+IFj42m8drcWfjvQvCt5
qdmNNe6Aije8Gpx28Np5Z+dTas0aA5J5Wvc/2c/Aer+F/wBs3xDqlt4H8R6hperXGq3l/wCLPFmh
3OnXumMz/u7dLrzmgv4HxhAq5QBTx0r70ooA+IP2h/2Z4Pj/APtq3kfivw9r1/4ET4VFVurJ7m3s
ptTj1KUxQPLEQryKspkERJ6KxUgV4hqnw98car8JP2eT8X/hp8RviN8O9O8P3lprXhLw/FcLqcOo
i4YW0l1bq8UrqIVQLkjbgknnDfqdRQB+X3hH9mfxt4w0H9nfwz448MeLYPCZ8UeI5ZNPknuDdaNo
k1uBbWt3cRHdCHAZCGYErIV4ztH1H+wL4C1r4W+B/iZ4S1DTdX0rQtH+IWsWnhm31eOVT/ZC+T9n
aFpBmSJiZCrjIYliCa+nqKACiiigAooooA8s/aatRcfB3WJD1gkt5B/3+Rf/AGaviSvuL9pE/wDF
l/EP/bv/AOlMVfDtfofD3+6S/wAT/JHwOff71H/CvzYUqsVYEHBHINJRX1B80fpPZTi6s4JgMCSN
XA+ozXJfEz4raL8MdLM+oSedeyL/AKPYxEeZKfX2X1Y/qcCuW+KHxrs/hj4VsLW18u78QXFqhhty
crENo/eSY7eg6n8yPj7Xte1DxNqtxqWqXUl5eztueWQ8n2HYAdgOBX51luTyxT9rV0h+L/4B9/mG
bLCr2VLWf5f8E6j4kfF7X/iZeE38/wBn05W3RafASIk9Cf7ze59TjGcVw9FFfoFOlCjBQpqyR8LU
qzrSc6ju2FFFbHhrwfrXjC8+y6LplxqMuQG8lPlTPTcx4Ue5Iq5SjBc0nZERjKb5Yq7MeivffC/7
IuuahGsut6rbaSCAfIhQzye4JyFB+havS9H/AGUfBWn7TeG/1Rv4vPuNik/RApA/GvErZ1g6Ltzc
z8v6sezSyfGVVflt6/1c+N6K+7bX4BeAbT7nhu3YYxiV5H/9CY1JcfAnwFcIFbw1aKM5zGWU/mDX
D/rFhr/BL8P8zs/sDEW+Nfj/AJHwdRX2nqn7LvgLUIytvZXemt/etrt2P/kTcK898SfseTxq8mg6
8kpz8sGoR7ePd1z/AOg110s8wdTRtx9V/lc5auS4umrpKXo/87HzdRXV+MPhb4o8BsW1jSZoLfPF
1HiSE+nzrkDPocGuUr3KdSFWPNB3XkeNOnOnLlmrPzCt7wf431rwHqi3+i3r2s3R06xyj+669CP5
dsVg0U5RjUi4zV0xRlKElKLs0fa/wh+P2l/EdU0+9CaXrwXm3Lfu58dTGT+e08j3xmvV6/NSGZ7e
VJYnaORGDK6HBUjkEHsa+pvgL+0MutfZvDnii426jxHaahIeJ+wRz/f9D/F069fhczyX2KdbDfD1
Xb08j7bLc49q1RxHxdH39fM+haKKK+RPqgooooAKKKKACiiigAooooAKKKKACiiigAooooA+GP2i
LIWPxg8QBRhJHilHvuiQn9c17z+yL/yTO+/7Csv/AKKiry/9rbSWs/iJZXwTEV5Yp83q6MwP6FPz
r1D9kX/kmd9/2FZf/RUVfc46ftMopy/w/hofF4KHs82qR/xfjqe3V8q6FqQ039ri73NtS4u5oGP1
iOB/30Fr6qr4f+IutHw3+0BqWqgZ+x6qk5UdwpUkfiARXk5LT9s61PvBo9TN6nslSqPpJM+4KKZF
Is0SSIQysAwIOQQafXzh9AcX4f8Agp8PPCesWeraH4C8M6NqtnB9ltr7T9Ht4J4Ief3aOiBlTk/K
Djk0rfBX4et4yXxcfAfhk+K1l89ddOj2/wBuEmMbxPs37uTznPNdnRQBy3/Cq/BX9lzaZ/wh+g/2
bNqH9ry2f9mQeS97uD/amTbgzbgG8wjdkA5qprnwV+HnifxRD4l1jwH4Z1bxHA8ckWsX2j2813G6
EFGWZkLgqQCCDxgYrtKKAOWvPhX4L1K38QW934Q0G6g8QukmsxTaZA66myY2NcgriYrgYL5xgUur
fC3wZr3iDS9d1PwjoOo65pQVdP1K70yGW5swDkCGVlLRgHptIrqKKAOO1H4M/D/WNH1PSL/wN4bv
dK1PUX1e/sbjSLeSC7vnxvupUKbXmOBmRgWOOtOsPg74C0uO1jsvBHhyzjtdR/te3S30m3QQ3wQI
LpAE+WbYqr5g+bAAzgV19FAGLpPgnw74f07UNP0vQdM02w1Gea5vbW0s44orqWX/AFskiqoDs/8A
EzZLd81zelfs/fC7QrPVbTTfht4R0+11aMQ6jBa6FaxJeRhtwSZVjAkUNzhsjPNd9RQBjeE/Bfh/
wFo6aT4Z0LTfDmlIxdbHSbOO1gVj1ISMBQTgdq2aKKACiiigDivi98QY/hv4Ju9TyrXr/uLONv4p
WBx+AGWPsK+DLy8n1C8nurmVp7iZ2kklc5Z2JyST6k16n+0l8QG8Y+PZrGCTdpukFraIA8NJn943
5jb9F968mr9MyfB/VcOpSXvS1f6I/Oc3xn1mu4xfux0/zYUUUV754RY0/T7nVr6Czs4HubqdxHHF
GMszHoBX338MNB1jw34K02w12/OoajEnzyHnYOyZ/iwOMnrivMf2aPg+vh3S4/FOqwg6peJm0jcc
28R/i9mYfkOOMkV7zX55neYRxE/YU9o9fPy8j77JsDLDw9vU3l08gooor5c+lCiiigAooooAKKKK
ACiiigDA8aapfaRo8U9hJBDI93b27zXERlWNJJFjLbQy5ILDvgcmuP1L9n7w94m16TWfEc93rd/K
qq4ZlgiIAwMLGARx/tE13/iDR08QaHfadI5jFzE0YkXqjEcMPcHBH0qHwvrD61olvPOgivVHlXcI
/wCWU68SL9NwOPUEHvXbTrVKNPmpOz6tb67a79GcdSjTrT5aquuie2nkfn94u0RvDfirV9KZSv2O
6khG4dlYgH8sV9Q/sh6ZJa+BdUvHRlW6viEz/EFRRke2SR+BrqfiL+z/AOHfiNrUeq3UlzYXmAs7
2hUeco4BbIPzAADPoOhrvfD+g2PhfR7XS9NgW2srZNkca/qT6knJJ7k172YZtTxWDjSivedr/I8P
A5XUwuLlVl8Kvb5mN4wmRtd8H2pYBpdUaTae6paztn/vrZ+ddTXzh8XPilFY/HbwlbQzKttokwW5
l7K0+Fk/KMj8civo7ryK8TE4edGlRlL7Sv8Ai/0sezh68a1SrGP2Xb8F+txaKKK887wryjx5+1R8
LPhj8QrDwN4n8Ww6V4sv2tFtdMe1uHeb7TK0UO0pGVILqQTn5eC20EE+r14lp/wO1a3/AGwtZ+LE
8umS6DdeEINAt4Nzm8juEujKz7Sm0IVIGQ+c9u9AHHWP7WXhHxh+1tZeBdI+LWhRadp9lPZy+Gra
2ke41PVS5BRrl4PKVIkU7Vhm3u7MGGEwdfxb+2d8M9Wg+InhTwV48sL34iaBompXcdnDC7BJreCR
jsd08mUoy5KqzfdORgGvB/hH+wB4/wDhh8QvCdhf3PhHxf8ADTw34iOu2FxqWua+mqW8glaSOVLN
Lj7CJlYgFimGG7dnJz0vwt/Y/wDi98N/CGufDX/hIfAt98NoLbWxol21hN/bc819DPGgupWQrGFM
+Wkj3OQu3JX5QAdV4J/bw+HXw/8Agv8ACi6+MPj2DTfGfiXw1ZatNnTpnafzFKmZltoSkas6P2Uf
KcdK9E+Jn7aXwV+Dt5ZWvi7x5Z6VNfaVBrdoq2txcC5s5ndIpojFGwcMUbhSSAMkAEGvmXx5+w38
dda8AeFPB2j+NvC6aDb+BrfwvqdlcahqlokNxGjh5Yfsnli6Ri33boMgBP7o9/SPBf7HPifRfHHh
nWNUu/D93aaX8Erf4buqySyONTRxvmQNEB5BQuu7Ic7iCmCaAPV/h/8AtlfBf4qePrbwV4S8f6dr
viW5tzcwWdqkuJUCGRgshQRs4QElA25dpyBg1w/w4/a08IfFb9qbU/C+g/FrQb/RrTS/sth4XsLa
Qy6hfBme4uGuZIFRhGihUjglcMDIzdABxHhz9hnxPpVv+zLbyajoVmnw50/WbLxFLp80qSXRvbdY
g1sfJG853kmTZ97PPSuW+Bv7AfxC+HvjDwlpXiu68H+JfAPho3q2Gqxa3r66xbedBKqywWb3BsYX
LugYKmNoJ5bBoA+l/AP7ZXwX+KHxGm8CeFvH+nax4pjMiizijmVJigJYQzMgjmIAJ/ds3AJ6A1t/
C39pP4cfGrWr7S/BXiMa7dWcbTO8dlcxQSRrJ5bPDNJGscyh8LujZhyOa+Vv2ef2FviT8I/iH4Gj
8Qz+CvFHgrwfPdTaXqT6z4g/tOB3ikEckVk1wbGImRkDqqYKBurYNen/ALKv7NvxA+CvxE1vU9Wv
fD3h/wAFXWmm3g8F+FNQvrrThemcSNexx3QH2XK7l8mIsvz5zwKAJfjL+1t4O+DX7S3hvQte+LWl
aJpL2D22teFNRsJiYZZAJLW8juYrdgjHIR0llSPy2DjDL831CrBlBByDyCK+Ev2t/wBjP43/AB68
YeOYtE8a+G/+EG8QQWptdP1S/wBTtJLGSFFyhgtSLecO6BjJcJKy8BVXbz9w6LZvpuj2FpKVaS3g
jiYr0JVQDj24oAu0UUUAFFFFAHj37VOofY/hTLDnH2u8hh+uCXx/45+lfGVfTf7YuugW/h3RkkyW
eS7kj9MAKh/HL/lXzJX6XkdPkwSb6tv9P0PzrOqnPjGuyS/X9QqW1t2u7qGBfvSOqD6k4qKup+Fu
jtr3xG8OWQXeHvomdfVFYM3/AI6pr3Kk1ThKb6K54tOPtJqC6s9//aB+AsniDzvFPhyJpNQ2Bryx
ByZlCgb0/wBoADK98cc8H5YYFSQRgjgg1+lteAfHT9nVvFFxJr3haCNNVkbNzY7ljS4J/jUkgK3r
ng9evX4rKc35LYfEvTo+3k/LzPsc0ylzvXw616rv5o+UKs6bpt3rF9DZ2NtLd3Ux2xwwoWZj7AV6
Pa/s0/EO4uYo5NDS2jdgrTSXsBVAT94hXJwPYE+1fUPws+D+j/C/TyLZftmqSqBcX8ijc3+yo/hX
Pb8ya9vGZxh8NC9OSnJ7JO/3ni4TKa+InapFxiurX5Hlnwy/ZThhSHUPGMnnS43DS4Hwi+0jjqfZ
eOOpFfQul6TZaLZpaafaQ2VrH92G3jCIPoBVuivgMVja+MlzVZX8ui+R93hsHRwkeWlH59Qooorh
O0KKKKACiiigBskaTIyOqujDBVhkEV4x8R/2YdA8VLNeaHt0HUyCQka/6NIfQp/D9V+uDXtNFdOH
xNbCy56MrM5q+HpYmPJVjdH52+LvBes+BdVbT9ZspLSccox5SRf7yN0I/l3waw6/RHxj4L0jx5os
umaxarcQNyrdHibsyN2I/wDrdDXxb8WvhDqfwt1YLLuu9JnP+jXyrgH/AGG9GH6jkdwP0LLc2hjP
3dTSf4P0/wAj4PMMrng/3kNYfl6/5nAUvTkUlFfQHgn1v+zn8bH8W26eG9cn36xAmbe4kPNzGB0J
7uB+JAz2Ne71+bWn6hc6TfW97ZzNb3Vu4kilTqrA5Br7r+DvxKh+JnhGG+OyPUof3N5Ap+7IP4gP
7rDkflnivz3OstWHl9YpL3Xv5P8AyZ97k+YOvH2FV+8tvNf5o7qiiivlj6YKKKKACiiigAooooAK
KKKACiiigAooooA8B/a/0H7X4S0bVlUs9ldNC2BwEkXkn/gSKPxrQ/ZF/wCSZ33/AGFZf/RUVej/
ABM8L/8ACZeA9b0gLvluLdvJGcfvV+ZP/HgtfLPwj/aBPwp8M3GjnQP7TMl29z532zycZVF27fLb
+51z3r6rDRqY3LHhqSvKMvwevX5nzGIlTweYrEVXaMl+K06fI+za+Cvjh/yVnxP/ANfZ/kK9e/4b
N/6k/wD8qf8A9prwXxx4m/4TLxZqmt/Zvsf22Yy+R5m/ZwBjdgZ6egr0clwGJwlaU60bJruu/kzg
zjHYfFUYxoyu0+z/AFR9m/APxYPF3wv0iZmDXNmn2Kf2aPABPuV2t/wKvRK+Q/2VfHn9g+LpvD9z
Jts9VXMWTws6gkfTcuR7kKK+vK+bzTDPC4qUej1XzPocsxH1nDRl1Wj+QUUUV5B6oUUUUAFFFFAB
RRRQAUUUUAFFFFABXG/F7xl/wgvw+1bVEcLdCPybbkZ81/lUgd8Z3fQGuyr5g/bB8UNJfaJ4djch
I0a+mXsWJKR/iAJP++q9LLcP9axUKb23fojzswxH1bDTqLfZerPnFmLMWYksTkk9TSUUV+sn5aFe
o/s+/DX/AIWB40SW7i36PpuJ7ncPlkbPyR/iRk+yn1ry6vuz4E+BR4D+HlhbyIUv7wfbLrcMEOwG
FP8AurhfqCe9eHnGMeEwz5X70tF+rPaynCfWsQuZe7HV/oj0EAKAAMAUtFFfmB+khRRRQAUUUUAF
FFFABRRRQAUUUUAFcX48vLjwLpuo+K9MtvtZiQSX9hu2rcIoA8wHna6qPvYOVGCDhSvaVW1LT4dW
0+6srlBJb3ETQyIejKwII/I1rSmoTTkrrqu6MqkXODUXZ9H2Z5DY/tYeCrmENOmpWkmBlHtw3PfB
Vj/SuU8dftcW0mmvb+FdPuEupFKm8v1VRFx1VATuPPcgAjoa+dvEug3HhfxBqGk3QxPZztC3GM4P
DD2IwfxrMr9FpZLgk1USbXrofAVM4xjTptpP01Jbq6mvbmW4uJXnnlYvJJISWZickk9yTX3p8G/G
K+OPh3pGoGTzLpIhb3W45bzUG1ifrw30YV8DV7r+yr8Ql8P+Jrjw7eSbbTVcNAWPypOo6dcDcvH1
VR3ozrC/WMLzRWsNfl1/ryDJ8V7DE8snpLT59P68z65ooor81P0QKKKKACiivm79uXxdrng/wb8N
Z9C1i/0We7+IWh2VxJp9y8DTW8kzCSFypG5GAAZTwR1FAH0jRXzteftweEdJ+L9l4B1Xwh470YX+
ut4bsvFGo6CYdFu7/wAxo1hiuC+X3OpCkJg9enNN/a6+MHjbwXffDjwD8N5bDTfGfxA1aTT7bWtS
iE0OmwQxiSeYRHiRwpGFPHXvigD6Lor4X/aK8TftD/s//Cvwhpdz8X9P1jxD4l8f6X4ftPF1v4Zt
YZ4rS5huPMWW0YNCSskaMCpBIBBIrUs/jv8AFb9mP4keIvB/xa8R2HxT0qPwXqPjDSvEFnpsWlXb
GyDNLaywx5jGVHysM/w8nJwAfalFfJ37MY/aJ+Idn4K+KXir4keH5/CfiaAalP4Fg0FI0s7KaJng
MN4p81pRuiJV8jlhk4r6xoAKKKKACiiigDxn4/fELU/hprXhHVrA+Zb7riK6tWOEnQ+WcH0YbThu
2T1BIPpPgzxlpfjzQLfV9Kn823lGGRuHibujjsR/9ccGvHf2wrXd4R0K5xzHfGPP+9Gx/wDZa+e/
APxL1v4cXV1NpM4VLqJo5YZBlGJBCvj+8pOR+XQ19dQyyOOwEJ09Jq/z16nytfMpYLHThU1g7fLT
obf7QHixfF3xQ1WaJ/MtbMixhPtHndj23lyPY15zSsxZizElicknqaSvtqNJUKcaUdkrHxlaq61S
VSW7dwr2f9lPw+2qfEs6gQfK0y1eXcBxvcbAPxDP+VeMV9e/sm+FzpPgS71eWPbLqlwSjesUeVX/
AMe8z8xXmZxW9jg595aff/wLnpZTR9ti4dlr93/BPcaKKK/Lj9LCiiub+JPjzTvhf8PvEni/VyRp
uh6fPqM4U/MyxIXKj3OMD3IoAn0fx54a8Ra9q2h6V4i0nU9a0cqupabZ3sU1zZFs7RNGrFoycHG4
DODW7X5Kfsu/E28+Gvx6+EPi3W/Avjbwxf8AjxtQ0Xxf4g8RaG9jpmqXuoXbXljJbTFj5xDnYCwU
7BkZGcep/CH9sb4heJtH8TeP9U+KPha81BbLxDPD8Fv7KVNR05rG3uJYMzR5mJJgXd5g2FXIVt+F
AB+jFFfm/wDs4/tWfEvxR8ePgH4c1T40+HviLpnjrT7/AFfXNH0nSbOC40aRdOkmjsZniLMCkijk
hHJRg25cVD8Jf26PF3jLwN+zBYy/ELTdR8e+JPF0+m+MtOihs/tZtBdSpEssCoDADH5WGVUJ65PN
AH6JeH/FGjeLrGS90LV7HWrOOaS2e40+5SeNZY2KyRlkJAZWBBXqCMGiPxTos3iSbw8mr2D6/DbL
eyaUtyhukt2YqszRZ3BCwKhiMEgjNfnTp/x0+JWgfs/2WreGdd0nw7AnjLxI2tLolho9rqj2NvMc
SWdrOscE7KzKZTtMjb1OSWzS/FL4ha/8WIfilHoPiW18u9+AFvrg1/8A4Rm0ivr9fMZ7mNvl82Nb
iJZYxH5jJEZi6AsoJAP0V1PxToui6rpWmahq9hYalqzvFp9ndXKRzXjou91hRiDIVX5iFBwOTWpX
5ufA3x1q+l+Hv2NbNfGmj/EaG8e+gZodFsDPpMcWjQsmmJKFd45YfuNIrJI+cPxxWN4B/bW+KPiH
Uvhr4zb4s+F9YuPF3i6LQr34L2ekwi80q1kuHjMhmB+07kVFO51CZcHLDggH6eUV+bS/tGftAWen
6h8R5PiDplz4P0b4pS+DpPCr6DbiW8szeiMF7oAMpRXCLsAJA3MzHg/pLQAVmeJPDdh4s0S60rU4
FuLO5TY6t1HoQexB5B7YrToqoycWpRdmiZRUk4yWjPgL4pfDa++GPiaTTbrMtrJmS0uscTR5/Rh0
I/oRXHV98fFz4b23xL8I3FgyomoRAy2Vw3WOQDgZ/unofrnqBXwbeWc+n3k9rcxNBcwO0UsTjDIw
OCCPUEV+nZVj/r1H3vjjv/mfm+Z4H6nV934Xt/kQ16B8EviNJ8OfG1rcSSldKuyLe9Qn5dhPD/VS
c/TI715/RXq1qUa9OVOa0Z5lKrKjUVSG6P0sRxIqsp3KwyCO4p1eRfsz+Oj4t+H6WNxJvv8AR2Fs
+epixmJvyBX/AIAa9dr8ixFGWGqypS3TP1XD1o4ilGrHZhRRRXOdAUUUUAFFFFABRRRQAUUUUAFF
FFACV8NftAeCf+EJ+JF+sSbbG/8A9Nt8dAGJ3L7Ybdx6EV9zV5J+0l8O28beCGvrWMvqek7riJR1
ePA8xPyAI9SoHevcyfFfVcSlJ+7LR/oeLm2F+s4ZuK96Oq/U+LKKKK/Tz82JrO7msLqG5t5GhuIX
WSORDhkYHII9wRX3r8JfiFB8SPBtnqasq3qjyryFf+WcoHP4H7w9iK+BK7v4O/E64+GHiqO8+eXS
7jEV7bofvp2YD+8uSR+I4zmvDzbAfXaN4fHHb/I9rK8d9TrWn8Mt/wDM+86Kp6Tq1prum22oWE63
NncIJIpUPDKauV+YtOLsz9ITTV0FFFFIYUUUUAFFFFABRRRQAUUUUAFfBfxw15vEPxU8RXBOUiuT
aoM5AEXycfipP4192ahdpp+n3NzIcRwxNIx9gCa/N+6upL26muJm3SzO0jt6sTkn86+x4cp3qVKv
ZJff/wAMfJcQVLQp0+7b+7/hyGitfRfCOueJFdtJ0e/1JEO12tLZ5FUn1IHH41f1L4Z+LdJhea88
NapBBGu95mtH2KPUtjA/GvtHWpxlyuSv6nxypVGuZRdvQvfBvwqvjL4kaJp0qb7bzvPnBGQY0G4g
+xwF/wCBV989OBXy3+x3oYk1zxBqzgg28EdqnHXexZvy8tfzr6lr8/z6s6mK9n0ivz1/yPvMjo+z
wvtOsn+WgUUUV80fRBRRXxt+3lcL4r+KnwA+F3iDXLrQfhx4y1bUF8QyW9ybYXht4YmtbR5QQQss
jlNuRkkEcqMAH2TRXxr4u1LSv2LdN8PfDT4EWWn3ev8AjbxE1lY6b4p1uefStDlFsrvvJZpVDAIw
i3bmLkr2U8pqn7c/xZ8M+Fdf0nUfC3g+++JPhzx5pXhK9XTbi4OkXyXiOw8l2bzIpAU2kvuCk5KE
5UAH3rRXxZpH7Vnxyt/Dvxy8Pal4C8Pa98VvhzcaTttfC63U9jcW9+nmLIsTN50rRRqzsilS3AAG
DXmnxL/aG+NnxBuPgJqXgXxd4Ja61PxReaVOluurabaT30cZxbX9s581Y1UndExY79pBINAH6PUV
8HfHb9uX4l/CP4lagLCw8E+IPAuj6vY6RqUVlaatPfrJKsfmA3iR/YoHDOdscj78AfKSa6H4A+Mv
jLq37e3x+0DWtb0G88EaTcab5umSXV472dvLaSvYfYImPlo7psa6yADJymRigD7MuLiK1gknnkSG
GNS7ySMFVVAySSegA71R8O+JdI8YaLaazoOq2Wt6Rdrvt9Q064S4t5lBIykiEqwyCMg9jXyl+1B8
fviUPiprvwo+HOj+E5Lex8FzeI9dvvFN1PE0ls7yQmK18r7sgAB3OGUlsEDGW+d/gj+1f47+GfwE
+Bnwy+GugaZqPiO98L3Wv3N3rOlarqUItxqFxEsUcGmxSTbyyOS7DYvy5I3CgD9R6K8/+AfxA134
p/CHw14o8T+Fb7wT4gv4HN9oOowSQzWsqSPGcpIAwVtm9dwztdTXoFAHyp+1v4HNjrlh4nt48Q3y
/ZrllHAlUfIT7leP+AV8+V+h3j3whbeOvCeo6LdABbiMiOQjPlyDlHH0OK/P3WNJudC1S7069j8q
7tZWhlT0ZTg/Ue9fo2R4z2+H9jL4ofl0/wAj8+zrC+xr+1jtL8+v+ZTqW2uZbO4iuIJGinicSRyI
cFWByCD6g1FRX0h88fePwZ+JkPxM8IQ3bFU1S3xDewg9Hx94D+63UfiO1d7X5+/DP4iX/wANPE0O
qWf72E/Jc2pOFmj7j2I6g9j7ZB+7PC3ijTvGWiW2q6XcLcWk65BHVT3Vh2I6EV+Z5tl7wdXngvcl
t5eX+R+jZXj1i6fJN++t/Pz/AMzWooorwT3Aryz9oT4Hf8L40Lwppv8AbX9h/wBheJtP8Reb9k+0
ef8AZXLeTjem3dnG7Jx/dNep0UAfEU//AATYurr42af49uvikb+307xjb+LbW0vfDFrJf5juBM1r
JqW8TyRkDaqk7E4PlkgV7x+0t+zda/tDaP4ee38R3/gzxZ4a1AanofiPTUWSWzmxhgUJAdGAGVyM
7RzjIPstFAHyP8Qv2KfH/wAU/hrpuj+KPj1qGr+MdN8UWfiez8ST+HLdYLV7aKZIoorFJFjUZmLl
ix3FRkEV0fw7/YzNt4m8SeKviv491D4veLNc0Obw1JeXljFp1rb6dLnzYYbaIlUL5OWz64Ayc/St
FAHzH8C/2SfHPwT1rQbBfjtr+ufDXQHdtN8IT6XbxOFKsqRTXgJkljTdkJhV+VcAAYr6coooAKKK
KACiiigDxD9riHzfhrYsB/q9Tjf/AMhyD+tfIFfaf7UVr5/wjvZMcw3ED/m4X/2aviyv0fIJXwdu
zf6H57niti790gooor6Q+eNHw7odz4m12w0qzXdc3kywpxkDJxk+wHJ9hX6HaFo9v4e0Wx0y0Xbb
WcKQRjvtUAD8a+cf2S/h4ZLi68X3kXyRhrax3Dq3SRx9B8oPu1fTtfnmfYv21ZUI7R/P/gH32R4X
2VF1pby/L/ghRRRXy59KFZviLw3pHjDRbvRte0qy1vSLtdlxp+o26XFvMoIOHjcFWGQDgjsKtahq
FrpOn3N9e3EVpZWsTTT3EzhEijUEszMeAAASSfSvjGH9uvQ/ix+178GfB/ws8d22seDNRXW4/Etr
HYGMvJBZNLbnfPErqoZCwaMhWwclgKAPr3xB4L8PeLNNtdP1zQtM1mwtZo7i3tdQs454oZY/9XIi
upCsvZgMjtVLTvhh4O0fxRqHiWw8JaHZeI9QVkvNYt9Nhju7lT1EkwXe4OBncT0r5z8GfttfD7xb
8bvHksXxj0O68GeHdBee38P6dZTvJL9nR576+eZrYGUoiFUjtpJFKKzkZIA8h/Zn/bc8YfEbw/Z+
KNV+JHhm6fxF8QtM8Nr4Z1bw9dQf2PbXD3eLa2ntkbzrieOOJkeY+XHscSP8woA+k9Q/Y98K2/x/
+GvxL8LwaT4Nh8IDVDPouj6LFAmpyXluYfMeSMptZclslHLdMjrXpVr8Ffh7Y6u+q23gPwzb6o18
uqNfRaPbrObxdwW4LhN3mje+JM7hvbnk151b/t0fAq68eWfguP4hWX/CT3WoyaRHp72tyjC7SUwt
E7GIKhMg2qWIDcFSQc15r8Wv2/NM+BEnjWXxJcaHr66b4tt/D9jp2kpf21xbQtEkk7XckkDI8kal
nAhyrLhQd2aAPonUvgT8NdY0uDTL/wCHvhW+02C5kvYrO50S2khjuJDmSZUKEB3IBZgMkjk1tweA
vDNrqsmpw+HNJi1KSwXS3vI7GJZms1OVti4XJiB6R52j0rwrVf2zfCOi+PY7688XaHH8MZPAUHjB
XXStUfV9s1+ltHc4WExi2IdVKEecrEsVCAkepa18fvh94c8TXug6n4ntbPUrHQD4ouhIknkw6b5n
l/aHm2+WoLcBS249QpHNAGjovwc8A+Gl0kaR4H8N6UNJnlutOFlpNvD9imlULLJDtQeW7qAGZcFg
MHNP0/4R+BdJ8XTeK7HwX4ds/FExZpdbt9KgjvZC33i04Tec98nmuY+Cn7Unwt/aKk1OL4eeL7bx
FPpuDdQLBNbyxqTgNsmRGK543AEZ715P+2d+2z4M+CHg3xp4V0jx3Z6R8XbfSWuNNsPsrXDRTMoa
PeTG0KuVO4JIckFTg5GQD6D/AOFV+Cv7Lm0z/hD9B/s2bUP7Xls/7Mg8l73cH+1Mm3Bm3AN5hG7I
BzXU186Tftq/DD4U+BPhx/wtLx3Z6R4o8RaBY6i8JtZZZHMsKlpXSCNhEjPvwWCrwcdDjtNe/ao+
Fnh3xZovhq78WQyavrENtcWkdjaXF3GYrhgtvJJNDG0cSyFhtaRlDZ4oA9XooooAK+Tf2sPAH9j+
IbbxPax7bXUv3NztHCzqOD/wJR/44fWvrKuO+LnhBfG/w91jTBH5lyYTNbYAz5qfMgHpkjH0Jr1M
txTwmJjPo9H6P+rnm5jhlisNKHVar1X9WPgKtTwz4dvPFuv2Oj6eoa7vJREm7O1c9WbAJAAyScdA
ay6+k/2R/AfmTah4suo+I82lmW/vHmRh9BhQf9pvSv0jHYlYTDyq9Vt69D88wWGeKrxpdOvoXvht
8IfGvwV1DUdeM2i6lZrZyfaLNb2aMuq/MCD5JG4YOMjua+hrG6F9ZW9wF2iaNZAp7ZGcVm+NP+RP
13/rwn/9FtS+Db5NT8I6Jdx/6ueyhkX6FAa/NcVXni17eoveva69D9Fw1CGFfsab0tc2KKKK809A
KKKKACiiigAooooAKKKKACiiigApDzwelLRQB8RfH74Xv8PfFzz2sWNF1FmmtivSNv4o/bBOR7Ee
hry6v0I+I3gWz+IvhS70a8whkG+Cfbkwyj7rj+vqCR3r4L8S+G7/AMJa5d6TqUJgvLZ9jr2PowPc
Ecg+9fpeT4/63S9nN+/H8V3/AMz86zbA/VavPBe5L8H2/wAjLooor6A8E9f+BPxym+HN4ulaqzz+
Hbh8nGWa1Y9XUd19V/Ec5B+ybO8g1C1hurWZLi2mQSRyxsGV1IyCCOoIr8169N+EPxx1T4ZXaW02
/UNAdv3tmW+aPJ5aInoe+Oh9s5r5XNco+s3r0Pj6rv8A8H8z6fLM2+r2o1/h6Pt/wD7horB8H+ON
G8eaWt/o17HdxdHQcPEf7rr1B+tb1fAyjKnJxmrNH3UZRnFSi7phRRRUFBRRRQAUUUUAFFFFAHK/
Fa6Nl8NPFEw4YabOFPoShAP5mvj34H/Db/hZXjSK1uVb+yrVfPvGUkZUcBAfVjgfTJ7V9X/HaQx/
CXxIR3tsfmwrgv2QdGS18F6vqe0iW7vfJye6RoCP1kb8q+pwNd4XLa1WG7dkfNY2isTmFKnLZK7P
ctP0+10mzitLK3jtbWIbUhhQKqj2AqxXDfGL4kL8MfB8uppEtxfTOLe1ib7pkIJ3N/sgAn34HGc1
5t8Cv2hNS8a+JjoPiBIDPcqz2lxAmz5lBYow6Y2g4PtjnPHj08DiK1CWJirxX3+Z6s8bQo1o4aT9
5/0j1W+sbfwXrA1eygjt7HUJ0h1KONQAHY7Y5/Y7iFb1Dbj93nrazPE2lrrfh3U9PbOLm2kiBXqC
VIBHuDzSeF9UbXPDOkai+N95Zw3B29Mugb+tcsm5wU3utP8AL9Tpj7k3FbPX/M1KKKKwNwri/ix8
GfBXx08LHw5478O2niPR/MEywXO5WjkAIDo6EOjYJGVIOCR3rf8AE3irRfBei3GseIdYsNB0m3AM
1/qd0ltBHk4G6RyFHPqaxNQ+MngHSfCNn4rvfHHhuz8L3pxa63cavbpZTnJGEnL7G5BHB7GgDzuP
9h34GR/C1/h2Ph3p58Itef2ibNp5zL9p27PNFwZPOD7RtyH6cdK0tC/ZB+EHhjwPpfhDSvBVtYeH
9N1iDxBb20F1cK/2+E/up5JfM8yVl4GHZhgAEECu4vfiv4J03SNM1W78Y6Ba6Xqiu9hfTapAkF2q
IXcxOX2yBUVmO0nAUk8CqNj8dfhtqUmjR2fxC8K3UmtMU0tINatnN+wbaRAA/wC9IPGFzzxQBjeJ
P2Y/hr4u1PxlqOqeHWmv/F8thPrVzFqN1DJcSWUZjtXVo5VMJjUkAxbM5ycnmsTXP2L/AIMeJfhv
Z+AtT8D2934XtL9tUitWvboS/amBDzNOJRM7sCdxZzu75rudQ+NXw80nWRpF9488M2erG8/s8WNx
rFvHP9qAUmDyy+7zMOh2Y3YZeORV3w78TvB3i9dWbQfFmh62uksU1E6dqUNwLJgCSJtjHyyAD97H
Q0AeUeLP2DfgN448YXvinWfh7a3WvXhjaa8jvbqEs0ZUq4WOVVV8ouWABYZBJBOe4b9nr4et8aF+
LP8AwjcK/EJbb7J/bSzzKzR+X5eGjD+Wx2fLuKlsADPArX8P/F/wH4s0nUtV0Pxt4d1nS9Myb690
/VYJ4bTAyfNdHKpgD+IitHwd478NfETR/wC1vCniHSvE2leY0P27R72K7g3rjcm+Niu4ZGRnIyKA
OE+Lf7Kvwn+O3iXR/EHjzwVY+ItY0lRHa3U7yodgbcI5AjqJUDEkJIGUbm4+Y5wPFH7DPwM8ZeB/
DPhDWPAFreaF4bjeHSovtt0k1tG7l2QTrKJWUsScM5GTXomn/Gr4eatrVlo9j488M3mrXzyR2thb
6xbvPcNG5SRY4w+5irKykAHBUg8ip9W+Lfgbw/4rtvC+qeM/D2m+JboqINGu9VgivJS33QkLOHbP
bA5oAu+AfAehfDDwbpPhXwzY/wBm6BpMAtrO086SXyoxnC75GZm69WJNb9cZrPxq+Hnh3VJNN1bx
54Z0vUY7pbF7O81i3hmW4ZQ6wlGcESFWVguMkMDjBrs6ACvnX9qX4U/brX/hMNMhzcQKE1CNB9+M
cCT6r0Ptj+7X0VUc8Ed1C8MyLLFIpV0cZDA9QRXbg8VPB1lVh0/FHJisNDF0nSn1/Bn5q0V6t8ev
g+/w3137bYRu3h+9cmBuvkP1MRP5kZ7euM15TX6tQrwxNNVab0Z+XV6M8PUdKotUFfRv7Jei+Jkv
rzUo5jbeF3BWSOZSRcSjgGP0K92/Dk8r598Ffg3d/E/V/OuA9voFq4+03HQyHr5ae5HU9h+FfbGl
6Xa6Lp9vY2MCW1pAgjjijGAqjoK+azvMIQg8LDWT38v+D+R9Hk2AnOaxM9EtvP8A4H5lqkryT44f
HS2+HNq2maaUuvEMycLnK2ykcO/v6L+P18Z+DP7Q2oeFdYez8SXU2oaPeSl3nkJeS2kY5Lj1Unqv
4juD81RynE16DrxXour9P61Poq2aYejXVCT9X0Xr/Wh9hUVFa3UN9axXFvKk8Eqh45I2DKykZBB7
gipa8Y9cKKKKACiiigAooooAKKKKACiiigDzb9oyHz/g34hUdcQt+U0Z/kK+Gq/Qb4m+HLjxd4C1
rSLMKbu6gKRB22ruyCMnt0r5jh/ZL8ayBN1xpEW7qHuX+X64jP6V9tkeMoYfDyhVmk7/AKI+NzrC
V69eMqUG9P1Z4rRXusX7IPizJ83VNHUdvLklb+cYq5D+x3rjRgy6/YRv3VY3YfnxXvvNcEv+Xi/E
8JZXjH/y7ZzPwK+Ns/w41FdN1J3m8O3D/OvJa2Y/xqPT1X8Rzwfs2zvINQtYbq1mS4tpkEkcsbBl
dSMggjqCK+aY/wBjSYt8/iyNV9V08k/+jBXrnwl+Gup/DHT5tNm8RHWtNY7oYZLXyjAT12ne3B9P
Xn1z8jm0sDiH7bDz9/qrPX8Nz6vK443Dr2NeHu9HdafjsegUUUV8wfSHLfFTwOnxO+GHi/wdJdtY
R+IdHvNJa6VN5hE8DxFwuRkjfnGecV8YeB/2HvjBe+MPhNN4/wDEPgdPDvgHQdT8LW6+Fo7uO9ls
rjTZLSOZnkXa0251YgbFGGILE4r74ooA+Fv2aP2I/iL8I/iV4Gn8Xv4L8S+FvBkd1HpGqw63r76p
B5kToGjs5rhrKHduAdUTGBxyAas+A/2HfHPhX9nf4EeArnV/D0ur+A/iPaeMNTniuJ/s81nFcXMj
JCTCGaUrMmFZVXIPzdCfuCigD4puP2H/ABVN8H/EPhgXfhoa3qXxRPjaO88yXYLP7UkgRn8nd5wj
DLtAK8434Oal+JH7FvjrxXonxnGk614ftNW8UeM9O8V6C11JO0KfZRH+7usR5Ukofub+3NfaNFAH
yxqX7LPiz4mfGa78X/EO68OzafrfwnfwLrNto7T8ahLem4kkgSRP9QFPysz78gZHevNvA3/BPvxp
qXwC+KfhX4j+L9LuvG3izT9L0Wx1nSWmnhtbHTY4vsiN5iI2XeMmUAfNnOSeB94UUAfKH7Jv7NPj
74W/EjV/FvxGtfB91qraKmiWOsaFr2valetbiVZDFKNSnkRI8orARgYOcYBOeL+Of7GPxa8WeNPj
SfA/iHwTD4R+KVpbnUf+Ehtbk6haT29v5cccLRAoI3YAmRslQxwhK/N9x0UAfAfxK/YL+Jk3iCw1
vwbrHhbUmvvCGneGNe0jxFrGt6fav9mgWJjG+nSxNNE4HMcw29TjLcdXrP7HvxAh8Z/D7UPBjeEv
AMfh+w0rT7jWtD1XVUvfstuqefZNA+6K8hJDqjTsHCkZyRz9o0UAFFFFABSdeDS0UAfBHxE8GXFh
8WtW8PWcOZptQ220KekpDRqPwdRX254L8L2/gvwrpmi22DHZwhC4GN79Xb8WJP41w1r8P7bUvj9q
PiY7ZItPsoUx6XTKRg+uItp/4GtVP2gvHzeH4dB0C0mMd9ql7C0pRsMkCSKT0ORubA9wGFfUYuvP
MXQwsOyb9bfovzPmsLQhl6rYmfdpel/1f5Ho3jT/AJE7Xf8Arwn/APRbVxP7N2sf2t8I9HDSGSW1
Mls+e21ztH/fJWu28af8idrv/XhP/wCi2rx39j++8zwVrNoTkxah5gGezRqP/ZTXnUoc2AqS7Sj+
qPRqT5cdTj3jL9Ge90UUV5B6gUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAV5X8dvg7H8TNFW6sUjj
1+zU+RIePOTqYmP6gnofqa9UorehXnh6iq03ZowrUYYim6dRXTPzYvrG40y8mtLuF7e5hcpJFIuG
Vh1BFQV9p/Gz4E2vxItzqOneXZeIIlwJCMJcKOivjv6NXx1rWiX/AIc1S407UrWSzvbdtskMowQf
6g9iOCK/T8BmFPHQvHSS3X9dD82x2AqYKdpaxez/AK6lGiiivVPMNXw34o1Xwjqaaho99LYXa8b4
jww9GB4YexBFfSHw9/azsrqOK08W2ps5+n2+0QtE3uyfeX8M/hXy1RXnYrAYfGL97HXv1PQwuOr4
N/upaduh+j2i6/pviOxS80u+t7+1bpLbyBxn046HnpWhX5v6Trmo6DdC502+udPuOnmW0rRtj0yD
0r1Lw/8AtSeNtGVY7uW01iMYGbuHa+PZkK8+5Br5Kvw9Wi70ZJrz0Z9TQz+lLStFp+WqPs6ivnPS
v2xrGTaNS8OXEHq1rcLJ+OGC/wA66O3/AGsvBUzLvi1S3B6mS3U4+u1j+leRPKsbDem/lr+R60c0
wc9qi/L8z2mis3w74gtPFOh2erWBdrO7j8yIyLtbHuO1aVeXKLi3F7o9OMlJKS2YUUUVIzhvjhbm
4+E/iZQCStoz8exB/pXzN8M/2itT+HGgw6NFpFneWUbtJuLOkpLHJyckfpX1j8Q7NtR8BeI7VV3N
Np1xGo9zGwFfnlX2uR0aWKw1SlVV1e/4Hx2dVquGxEKtJ2drfieo/Gb42H4tWukRDSm0oWLSs6/a
PNEhYKAfurjG0/8AfVV/2d9Pm1D4u6F5QbbC0k0jKOFVUY8/U4H415tX1/8Asy/CxvCWgv4h1GIp
qupxgRI3WK3yCPxYgH6BfevXx0qOXYGVOCsndJep5WCjWzDGxqTd7Wbfoe03lytnZz3DfdijaQ/Q
DNYvw9tms/APhuBvvR6bbK31ES5qP4gSNL4dk02JiLnVpF0+ML1xJxIR/uxiRv8AgNdFHGsUaoih
UUYVR0AHavzr4aXq/wAv+HP0Der6L8/+GHUUUVgbHhX7ZHwzu/it8KbLSbDwnqfi68t9Ytr+GHR9
WtdPu7OSIOyXMbXSmGUq21TFJgEOT1UA/Lmsfs2/GeOx+EHizxP8JvCXxfuvD+nanp+peALi5sdO
t4pbi6aWO8AKfZGmZCPMKqQWBIBJ3D9GKKAPzu8J/sO+MP8AhCfgtoPirwjpWoaRaePdQ8S694di
uoprHR7GdD5dqA7DzkVguVQMMseCMk89rH/BP/xDp/w2+JMnh74Z6TaeOJPiy+seGLmCWzSWHw+k
0TQeTIZMQxgGU+SSrcDKnC1+hngn4keHPiLJrq+HNR/tNdD1KXSL+RIJEjju4seZErsoWQqWAJQs
AcjOQQGeNfid4Z+Hd94as/EOpjTrnxJqcej6Uhgkk+0XbqzLHlFIXIRvmbC8deRQB8GfHj9hnxN8
RPDP7T2qW/w90/VfHXiTxDp914P1Ce4tPtD2iSW5nMUryfuMoJgQxQsOOeK1vil+wt4on8ZfHDR/
hhoGm+B/BninwPp+m6ZLZSw29vcX0FzFJJC8aHzFMkSSI0jLhvNJJJJr9BqKAPzS+F/7H/iv/hHf
ib/wlHwP1zS59W8NW+hLpNl4v8P21tqqi7ikZ40sLC3SKePyzIsk+7cMox5yPqz9i/wP4/8AAXw7
1yw8f6Xb6TcTazLPpsJSy+3NaeVEkbXr2SiCSb5Nu9ckqi5PAA+ga5n4f/Enw58UtHutV8L6j/au
m299PpzXawSRxvNC5SURs6qJFDgrvTKEg4JwaAPgrSP2GfEmmfD/AMM6rD8PrG2+Jtr8W4/ENzq0
dzai8TSBeO+/zxJygTY3lBt2edm6sD4pfsX/ABT8Q6n8VPCUfwk8L+KLjxp4qk1mw+MN/q0CXuj2
sk0ciw+SwNxmNUKbYiF+YjDCv06ooA/Pj4o/sPa146m/aj1a/wDAdj4h8S+IY9OXwXqt7NatcStF
aokrxO8mbdi6jJcoW9xX3b4Jsb3TfBmg2eo7v7Qt9Pt4rnc+8+asah8tk5OQec81tUUAFFFFAGfr
+g2HijSLnTNTtku7K4XZJE/6EHsQeQRyCK+XH/ZT1T/hYQ05bg/8Iwf339o5HmCPP+r2/wDPTtnG
Mc/7NfWdFejhcfXwakqT0f8AV/U8/FYGjjHF1Vqv6t6GfoOg2HhnSLbTNMtktLK3TZHEnb3J7k9S
TyTXlnx0+O0Hw+t30jSHS48RSpyeCtopHDN6t6L+J4wDB8dvj3D4Fhk0XQ5I7jxBIuHkGGWzBHU+
r+i9up7A/IF1dTXlxLcXErzzysXkkkYszsTkkk9STXu5XlLxD+s4n4d0u/m/L8zxczzRYdfV8Pv1
fbyXn+Qt5eT6hdzXV1M9xcTOXklkYszsTkknuahoor7zbRHw++rPZ/gR8d5vAVzHo2syPP4elbCu
cs1oxP3h6p6j8R3B+w7e4ivLeOeCRZoZFDpJGcqynkEHuK/NWva/gP8AHiXwPcRaHrcrTaBK2I5W
5a0YnqP9j1HbqK+TzbKfbXxGHXvdV3/4P5n1OVZp7K1Cu/d6Pt/wPyPsOio4J47qGOaF1likUMjo
chgehBqSvgT7kKKKKACiiigAooooAKKKKACiiigAorzL9pKPzPgzr/GSpt2HH/TxH/Svh6vosuyj
6/SdX2nLZ22v2813PAx+a/Uaqp8l7q+9u/kz9LqK/NGvQPgHcC1+L3hpydoM7Jk/7Ubr/Wu6tw/7
KnKp7W9k3t2+ZxUc+9rUjT9la7S37/I+7qKKK+PPrAr8/r74qa/pP7c9/pdp4z1nx1JeX88GneG9
J1m7tItGMVo/7m+014fJlty4yLlHDElTk9D+gNFAH5P/AAP+NHjPxF8TvhO2l/FP4leJPjHqXiiO
Dx/4B1m2mj0fStLLv9pdYDEI4SiBCpVyeScKflLtW1D4p33h278eWPxu8d6Zff8AC5bjwTaabHqH
m2FtYzXLKWaFwfNZS42byVVQFCjgj9XqKAPyv8cePPiP8K/Bf7TXgWw+J/jHUpfBnibwqujeI9X1
N59RhW9lDSoZQF3J8oGz7pBI24JzP8RvBvxJ8I+IP2jvD9r8f/idNp3w68PWfijTnl1cfaLm6lt3
kZJZQoYQAo48lNq/MM/d5/UmigD8kP2gv2hviLqGqeBb3xR8R9c+GGh6j8P9G1fRNSstWv8ATbO9
1Oe2WS4knNnpt2bkrI2GhbygFUYYb+fSPG3xf8U6T8X/AISXOt/E3UPFtzeaVoENx4X8G6re6TM9
1N5byX0ds1sIr63lDBnWQKUUsuEI4/SeigD5X/bs1LxOt18EdD8M+MNZ8FSeIvHNvpF5qGiXHlTG
3lgmDrg/K3qAwIDBWxkCvmTxJ8SPid8Lfh58SfBo+IfjTUvCfhv4mWejat43Zmv9d0zQ5bcSTOJc
bsqwQeYBldxwPmAH6h0UAfk7qnxn8ZaT+zH+0lq/w/8Aih488V/DvRZvD7eEvG/iOeePUjcSX0Av
Y47hljkdPm2kFQNpxjDHd9R/s92Pi34V/ti+N/hpqfxF8UfEHQZfCNp4iE3im6FxLb3b3LROIcAL
FGcMRGoAHA5xk/X9FABRRRQAVS1rVodD0m71CfJit4zIVXlmI6KB3JOAB3JFXa5nxF/xMvFXh/SJ
P+PYrNqcg/vm3aEIp9g8yP8AWMVrTipSs9v8tTOpJxjdb/56Fvwvpz6HoIe/dFvZi93fS5+XzX+Z
+f7q/dH+yor4w8ZeOH+IHxgj1XcTa/boYbVTn5YVcBeD0J+8fdjX1b8bIfEN94BvNO8NWL3t9fsL
aTY6qY4SCXb5jzkDb/wKvmLw/wDAPx5a69ps0ugSJFHcxO7GaPAAcEn71fV5P7GEamIrTSk9Ero+
Xzb2spU8PSg3FavRn2D40/5E7Xf+vCf/ANFtXg37G0jG28Upn5Ve3IHuRJn+Qr3/AMUWc2oeGtWt
bdPMnntJoo1yBlmQgDJ9zXif7M/hXWPAGqazpevafLYXWoQpc2+4qyskTbX5BODmVPzNeXhpR/s+
vC+rcdPRnpYiMvr1CdtFfX5Hv9FFFeGe0FFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABXD/E3
4R6J8ULAJfRm31CNSIL+EDzI/QH+8uex98YPNdxRWtKrOjNVKbs0ZVKcK0XCorpnwH8RvhTrvwz1
AxalB5tm7Yhv4QTFJ6DP8LYB+U+hxkc1xtfpLqGnWurWctpe20V3ayjbJDMgdGHoQeDXz58SP2T7
e8Ml94QuFtJep066YmM/7j8lfocjnqBX3OBz6nUtDE+6+/T/AIH5HxeNySdO88Nqu3X/AIJ8u0Vs
+JvB2teDb37LrWmz6fNkhfNX5Xx/dYfKw+hNY1fVRlGa5ou6Pl5RlB8slZhRRRVkhRRRQB96/A//
AJJN4Y/69B/M13NcN8D/APkk3hj/AK9B/M13Nfj2K/3ip6v8z9awv8Cn6L8gooorlOkbIu9GUgEE
Y56V+cfiLSm0LxBqemv96zuZLc/8Acr/AEr9Hq+O/jZ8ObvUPjx/ZenRDfrnl3EQA+VcgrIx9gUd
j7V9Xw/XjTq1ISdk1f7v+HPmM+oSqU4SirtO33/8MR/s4/CMeONdOtanCH0PT3H7txkXEwwQnuo4
J/Ad6+x+g9BWT4T8M2Xg3w7Y6Pp6bLa1jCA93PVmPuTkn614n+0x8ZDotvL4R0eXF7cJ/p86n/VR
sP8AVj3YHn0Bx34461SrnOM5YbdPJd/69DqowpZRhOae/Xzfb+vU1vDvxgsvGnx6GlwOsmmWtnNB
ZSA5EtxlWeQe21WAPoD/AHjXttfnT4R8RS+E/FGl6zDlns7hJioOC6g/MufcZH41+h2n38GqWFte
W0glt7iNZY5F6MrDII/A1pnOCjhJU/Z/Da3zX+ZGUYx4qNTn+K9/kyxRRRXzh9AFfm3pP7TXx48P
fsh+JfjZqfjex8QCS8k0LTtLbQLaIac/9qeR9vmlUoJCE3RhCET/AFRYk7yf0krB0vwD4Y0Tw1L4
d07w5pNh4fl8zzNJtbGKO0fzGLSZiVQp3MSTxySSaAPza8F/tSfFP4S/s/fE2fTdb8KeINJ0ebTF
0vxFZwaHH/Zcl9dMtxJdWOj3dzGiBi7qzYLtuJDcqOo8SeMtW8VX3wHg1f4ueH/jTNp3xd0+FPEm
gWMdooVrJpPJkWEmIupY8oTwRuw2QPubw38Efh14M03V9O8P+AfC+hafrEaxalaabo1tbxXqKGCr
MiIBIAHfAYEDe3qam0z4O+AtF07StP07wR4csLDSbz+0dPtbXSbeOKzusY8+FVQCOTBxvXDe9AH5
/wDwp/bW8eeJP2nvAun2nxQt/G/gvxXrl5p0miSaJpliLKFfMEbR+VcvfAgqMNcwxBgMjcGGKi/t
CftK3Oh+E/F1l8TtF/s/xD8TJfh3aaLeeG4GVPNnnSK6mmQKxMewKEQLkKpYsS2f0Esfgj8OdL18
67Z+APC9prf2r7d/aUGjWyXP2jDDzvMCbvMw7fPnPzHnk1dj+FXgmGwsrGPwfoCWVlqY1q1tl0yA
RwX4YsLtF24WcMzHzRhsknPNAH5+eKv2vvjJ8Kvhv8WPDWs+JrTxX4p8N+OdP8Lp4ybRrS1S2s7u
ORzcPbl0twV8raBI4QGVdzkDNZGkftV/Ff4R/sza/Fp2o+G9R06z8SaV4e0LxXo8egBdPtblJWne
ay0+9ksoDE0aKgklRG89SxABx+j8vw08ITJr6SeFdEkTxAyvrCtp0JGpMowpuPl/fEDgF84qhofw
V+Hvhnw9qWgaP4D8M6ToWpkG+0ux0e3htrsgYBliVAr9B94HpQB8PeE/2hvj5rXwU8XtaeOfDGua
lY6/p1ppPij+0fDsd/f2skcsl3AkFveXFnHdIIw0ayP86FjgkHH0x8D/AImH4ufslnxK+veJfEtx
Pp2pQz6jZabDYa08kbzIUhhhJiFym0IrRnazqGGM4HeW/wCz38LLPw5deH4Php4Pg0G6nW5uNLj0
G1W1mmUELI8Qj2swBIDEZANdloehab4Z0m20vR9OtdJ0y1Ty4LKxgWGGJeu1EUBVHPQCgD4a/ZN/
5LZpP/J23+ouP+Ss/wDIA/1Tf67/AG/7n+1tr7zoooAKKKKACvDPjv8AH+PwfHNoXh+VJtbYFZrg
YZbQH+b+3bqfQ+3zwrcQvE+4I6lTsYqcH0IOR9RXDw/AvwLDI8h8O200jNuZp2eQk+p3E5/rXoYO
phqVTnxCcrbJfqcGMhiKkOTDtK/X/I+EZ55LqaSaaRpZpGLvJIxZmYnJJJ6kmo6+1Pi14f8AB3w/
+Hmr6lB4Z0WK78ow2zfYYt3mv8qkZXtndj0Br4rr9IwGNWOg5xjZLQ/Pcdg3gpqEpXb1CiiivTPN
NLQfDup+KL8WWk2M2oXRXf5UCbiFBAyfQZI5967G1/Z9+IN4oKeG5lB/56zxR/8AoTivU/2O/DmW
1/XnTpsson/8fcf+i6+mK+PzDOquFryo0op273/zPrMBk9PE0FWqyav2t/keI/AXQ/iH4JUaP4g0
5W0PaWiZrqN5LZv7owTlT6du1e3UUV8dicQ8TUdWUUm+x9dh6Cw9NU4ybS7hRRRXKdIUUUUAFFFF
ABRRRQAUUUUAcT8atN/tb4U+J4cZ2WTz/wDfv5//AGWvgev0i1jTYtY0m9sJsmG6heF8dcMpB/nX
5x3lrJY3c1tMuyaF2jdfRgcEfmK+74cqXp1KfZp/f/wx8TxBTtUp1O6a+7/hyGt/4f6kmj+OvD17
I2yKDUIHkb/YEi7v0zWBS19bOKnFxfU+VhJwkpLofpYDkZHSlrn/AAB4iXxZ4L0XVgwdrq1R5Mdp
MYcfgwI/Cugr8anF05OEt0frsJKcVJbMK8l+P37Svhv9nWPwydf0nX9Zm8RXclhp9r4dsBeTyTrE
ZFj8veGJfARdoPzMM4GSPWq8t+LvwQ/4Wp45+F/iL+2v7L/4QnWn1f7N9l877buhaPy929fL+9nd
humMVBZ89/tCftkeGLm68NaUh+JuhWWjvpviXxiPDWgSGfSrSWHz4bLUp0mVrPJZGlVRISqMnGSa
9R8TftxfD/w/8SofBtlpvijxVMsVlPqOr+HNIa80/SIrtVa3ku5QwMaurqwIVuG+teefHT/gngvx
O+MGv/EHwz4z0jw1f+IEg/tO08QeB9N8SxNJFGI1eD7WMwZVRuC/eIyewHU337GuuaT8Xb/xd4E+
LGp/D/RdeTT08SeHdL0mBo7/AOyRrFH9nlJBswUUKfLU8E4OMAAHDfBP9pnUvh/4f+Nmp+JNO8df
EqeH4xa9oOlaX4ds5NXvLe2jSJ0hjjLgRwIA2ACFG7gc131z/wAFBPhva/C3w346OleK5LLXNcl8
NppUWlB9RtdQRHY280AkzvJQKAhf5nX3I5Hxh/wT2vfEXh/xNY2HxNbTJ9Y+IOp+Ogtz4dhv7HF4
iIbS4s55GjufLCErI+Blidgq58O/+CfyfD/wr4F0SPx0LuPwv4/fxwsg0RIBcApsFpsjlCR4/vqN
vYRgUAR2v/BUD4XzLG1z4U+IWmLDqS6Tq733h0xpoVwzhEW9fzCsZY5wql2+U5UHiq37RX7XHhHR
fi9omiz6p4+svC/gfWIp/F2reFdGlfS47h4wLa2vr9JkMcStIGkiEcgkO1TjawOx8Qv2DV8efDD4
x+Dz43axHxE8WL4o+2f2V5n9n4eFjBs84eb/AKnG/Kfe+7xzz/xM/wCCccfiz4weIfG/hzxloejW
/iG9XUdS0rxF4B0zxFumwBJ5M90N8KPgkqvdifQAA734jft9/Dn4a+ONV0C80nxZq2naJPDba54q
0fRmudG0eWUKUS5uQw2nDr91W5OOoIHW2P7VHhzWvjbqPwz0bw/4l1zUdLlgh1LWNPso5NOsXmjE
kfmuZRJtKlfnWMoCwy1eKfEj/gm/B4m+Lmv+M/DHjDQtDs9fvEv9R0fxB4B0vxCPNAAcQTXQ3wo2
CSq92J9APQfE37IV34s/aI0H4mX3jGzgttD1BL6ystP8OQWuobEj2C0l1BJA0ttyf3bxk843YFAE
n7Z3xFm8DaF4TTTLb4jzeIP7SXVbNvh7pEup/JavGZ476BZokkt5El2lHccncOUr1r4OfFrw/wDH
T4Z6F468LSzTaFrETS25uI/LlUq7Rujrk4ZXR1OCRleCRzXlH7Vn7Jd7+0pq3hS+tPHP/CMLooni
m0+/0G21uwu45duWNtc/u1lXb8spViueADzXb/swfA1P2bPgb4b+HMest4gj0U3W3UWtvs5lE11N
OAY974K+bt+9ztzxnAAPU6KKKACuZ1D/AJKVoP8A2CNR/wDR1lXTVzfiLR9Vm17TdW0qSzElra3N
q8d4HwVleFsjb3Hk/wDj1bUbc2rto/yZjWvy6LqvzR0lFfLd5+1/qtveTxRaHp9xFHIyrMsrgOAc
BgPfrU2j/tc6tqGrWNpJ4fs1SedImZZnyAzAHHHvXrf2LjbX5fxR5f8AbGDvbm/Bn09XM3n/ACUn
Sf8AsE3n/o61rY1zUDpGi6hfKglNrbyThCcbtqlsZ/CuN+Hd1rXjJtI8XapDZ2MU2nSxw2tuXZ9s
skbBmJ46RDp/erzaUGoyqvbVfNpno1ZpyVNb7/JNHoFFFFcp0hRRRQAUUUUAFFFFABRRRQAUUUUA
FFFFABRRRQAUUUUAFFFFAFTVNJstcs5LTULSG9tZPvQ3EYdD+Brx/wAWfspeFda3yaTNcaFcHoIz
5sOfUoxz+AYCva6K6qGKr4Z3oza/rsctbC0cQrVYp/13PjXxF+yr400lmawFnrUWTt+zzCOTHqVf
AH0BNeb614H8Q+HWZdT0S/ssZ+aa3YKcdcNjB/A1+iVIVDdRmvoKPEOIjpUipfh/X3HhVchoS1py
cfx/r7z80qK/RnVPCui62c6jpFjfnv8AabZJM/mKyJvhL4Km3bvCukDcMHZZxr+WBxXox4jp296m
/vPPlw/U+zUX3FL4H/8AJJvDH/XoP5mu5qppWlWmh6fBYWECWtnAuyKGP7qj0FW6+KrTVSrKa6ts
+xowdOnGD6JIKKKKxNgrko7G31j4mS3zQo76NYrbxy7RkSzHc4z6hET8JTXW1zPgP/SLHVb48tea
pdvu/vKkphQ/98RL+GK3ptxjKS9Pv/4FzCp70oxfr93/AAbHSnkHBx714LqX7Jen6vqFzfXfibUJ
7q4kaWWVoUyzMckn8a97orTD4qthW3Rla5FfC0cSkq0b2Pnv/hjrRv8AoYb7/vylbH7Mvjgapod9
4WuZvMvNFkZIC5+Z7fcQO/8ACePYFa9sr8//AA34zu/APxE/tq0yxgupBLFnAljLEOh+o/I4Pavo
cL7fN6FWnVldqzj66/meDivY5VWpVKUbJ3T9NPyP0AorO8P69ZeKNFs9V0+YT2d1GJI3Hv2PoQeC
OxFaNfKSi4txe6Pp4yUkmtgrl/iV8TvC3wf8H3vinxlrVvoGgWe0TXlzkgFjhVVVBZmJPCqCT6V1
FeH/ALXfwG1n4/fDfR9P8N6pYaV4l8P6/ZeI9LbVomlsZ7i3LbYrlQCTEwdsjB5A4NIYXX7bXwQs
fhXZfEaf4g6fH4QvLp7K3vPInMsk6DLxi38vztyggkbOAQTwRT3/AG1PgnH8PdI8ct8QNPXwpqt8
+m22pGGcJ9qWIytDIvl7oX2LnEgXqvdlz494s/Zk+OviLVPAfxMTXvhwvxf8NalqN2dObTbhPD8k
N3BDCV3AfaDIogDeafnO/buCoorM8O/sJ+M7eHwjqeu6z4Z1LxE3xQHxC8Sw20UsNgqmIo0FohjY
uQcEeZtzk5ORkgHZ/FD/AIKRfCbwb8ItK+IHhnVovGemX+tx6Ksca3Fo0bDa07uGgLqY4mEm1kG8
YCnmu91b9tr4KaHdeGLa/wDHMNpceJtOs9V0iKSwuw15bXUrQwOo8rI3OjAqcMoGWCjmvHPiF+xN
418ReH/jPFoer+HdP1TxR41sPFugidpvs6fZvLJS62xZUsysfkD9ueTj0zwj8C/HE37Umi/F3xjc
eGp3j+G6eF7+30kz/LqZvzcSSQJInFvsZlDM+/nBXBJoA1/DX7bXwR8YfEi68BaR49tLvxXbvNG9
j9kuUDPCGaRUlaMRuwCtwrEnacZrI/ZP/bX8G/tZTeKbTQl+w6pol7Mi2eZpPPsA+2C83vDGq+by
fKyWTHNeH+C/2KfjlD8bPAXinxp428NeI9H8J+IJ9SjmTUNUFzcW8okzi0cmzt3G5BsgjQED5nYj
5vcv2Xfgj8QPgb4o+Jmn61qfh3UvAmt+IbzxBozWKzjUklupA0iXG4CMKqqoGzcSSxJxgAA3vHn7
ZXwX+GXxIh8BeJ/H+naT4rkaNGsZI5nWFnAKCaVUMcJIKnEjLwwPQiqPj79uT4G/C/xffeFvFPxA
s9H1+xu0sbmxmtLlmikeNZFLFYiAm11PmZ2DOC2QRXz18W/2CfiJrnxT8f6h4eu/CHibwL441OPV
NU0fxZrev2LRuNu6MRafcJDMAV3I0qkr8oGAOe58Z/sYeIfEWn/tOQW03h0S/EuOwi0GS4klJtVt
7dYyLhvJJT51DDZv6Z4NAH2BHIk0ayRsrowDKynIIPQg06sfwbo03h3whoek3DpJPYWMFrI8eSrM
kaqSMgHGRWxQAUUUUAFFFcR8XviRb/DPwhcagSkmoS/ubO3Y/fkI6kf3V6n6Y6kVrSpzrTVOCu2Z
1KkaMHUm7JHgP7V3j9da8SWvhu0m32mm/vLjaeDOw4H/AAFT+bsO1eDVNeXk2oXc11cytNcTO0kk
jnJZickn3JNQ1+t4TDxwtGNGPT8+p+V4rESxVaVWXUKKK7z4J+CP+E8+Imm2Mib7KA/arvIyPLQg
7T7MxVf+BVrVqRo05VJ7JXMaVOVapGnHd6H1v8EfCP8Awhvw10eydNl1LH9quOMN5knzYPuAQv8A
wGu7pANoAHSlr8fq1JVqkqkt27n6zSpqjTjTjslYKKKKyNQooooAKKKKACiiigAooooAKKKKACvh
T4+eGj4Y+KmtxBSIbuT7bET3EnzN+G/ePwr7rr51/a88Gm60vS/E0CZe1b7JckAn92xyhPoA2R9X
FfQ5HiPY4tRe0tPn0PBzqh7bCuS3jr/mfLdFFFfpR+dH1d+yP4y/tDw3qHhyaT99p8nnwKT1ic8g
D2fJP++K+gK/P74WeOJfh74307V1Zvsyt5V0i5+eFuGGO+OGA9VFfflrdRX1rFcW8izQTIHjkQgq
ykZBBHUYr83zzCuhifaLaevz6/5n6HkuK9th/ZveOny6f5EtFFFfOH0AUUUUAfPnxT/a4tfhd4++
I3hu68PrPH4P8CN40+2vqAiF44keNLML5Z2FmVQJMty+NvHPP+KP289M8F6/4b8K3/wq+IuueONT
8MWfie90HwjpCao+mxzfK0Up8yNyY5PkZtgXLLyCcBy/DW48Qft8eLNT1zwrJqXg+58AWFst5qGn
GXT5bqLUfOWMO6mNpEKpIFzuUqrcYBr58/bD8F+IIf23T4pfQ/jgvhibwTBYprXwVtX+2Nc/a2by
JZsbPK2qWZM7twiOMc0Afdfhf4zeGfFPi6DwlFNd2Hi99Dt/EU2g6hZyw3NraTNtXzTt8tXD5Vow
5YEHjHNdzX59XnwfstL/AG/PDnxKf4P+MtdtPEXhe01DTtU2TqNN1tQVLai/mBLdvIRY2VsrvIwh
JLDxb9l/4K+Jpv2nPA81z8IPGPgfw3q9prej+Nft+m6nDb3SSWMwRZr2a9m+0KXC4mWO2XeQFDHB
AB+ovw1+J/hn4v8AhWPxJ4R1P+19FknmtkuhBLDmSKRo5BtkVW4dWGcYOMjI5rqa+JP+CYfwnh+D
/hnx9od98N/EfgvxdDqQh1PWNXhmSz1mFZ7r7J9kZ3KusUbEMyKoPmISXzkfbdABRRRQAUUUUAFe
f/HTxkvgv4a6rcq+y7uk+x22CQfMcEZHuF3N/wABr0Cvjn9qD4hL4q8ZLo1pJusNH3RsR0ec/fP/
AAHAX6hvWvXyvCvFYqMXstX8v8zyszxP1XDSkt3ojxetPwv/AMjLpP8A19w/+hisyiv1KS5k0fmc
XytM/RXxnz4P10f9OE//AKLan+ErOPT/AAro1rEMRQ2cMaj2CACvkP8AZp8Bw+MvHb3N/aRXml6b
CZJoriMSRu7Aqisp4P8AE3/AK+0FVY1CqAqqMBQMACvy3MMPHAy+rKfM93pb9WfpmBxEsZH6w48q
2Wt/0Q6iiivIPVCiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKK
KACiiigAooooAK5S2+HsFjD5NrrOs20AZmWKO8wq5JJxx6k11dFaRqSh8LIlCM/iR89/tAp4u+Hu
n2OsaD4l1U6czeRcxyyhzG55Vs46HkfXHrXh3/C8PHn/AEM99/30P8K+5PEWgWfijQ73StQiE1nd
xmORT157j0IPIPYgV8B+PPBl74B8U3ui3oJeBsxy4wJYz91x9R+RyO1fb5LVoYmm6NWCc15LVf8A
APjM4pVsPNVaUmovzej/AOCbH/C8PHn/AEM99/30P8K4mWV5pHkdtzuSzMe5PU0yivqoUqdL+HFL
0Vj5edWpU+OTfqz2f9nn4znwHqY0TVpf+JBeSZEjn/j1kPG7P909/Trxzn7FjkWWNXRg6MMhlOQR
X5p17t8Bvj/J4Te38P8AiGYyaKTst7pzlrX0Unun/oP06fL5xlTrXxFBe91Xfz9fzPpspzRUbYeu
/d6Pt5en5H1xXAfHj406H+zz8KNd+IPiW3v7vRdHEJnh0yNJLh/NnjhQIruin55Vzlhxmu8hmjuI
UlidZI3AZXU5BB6EGvx3/bg8dan4kvP2hfD/AIw8f+ObLxXZ6nbx+Hfh/awTf2JeaJHNbyfa5UET
RjaEaTzS6ncgHIYgfBH3B+pvjn4z6L4EbwVbz2eo6pqXi/UItO0rTdNiSS4cshkeVgzqFiijUvI+
flA7kgHvq/I/9pb44/EDwv8AHDxJZa18VdW+Ew0uDT/+EPjk1PUbXSriH7PE0kslta6ZdLegtu3b
5I9rEryBge4eNvidr/hz9uTw/pepePNX8Ti/1LR9M/4Q7wxq93YtokhgQ3E01k0Pk3tnI5Mjylty
KxAIK0AfYnwZ+M2ifHPwrea/oFvfW1la6nd6U6ahGiSGW3lMbsArsNpIyDnODyB0qXxZ8WtJ8J/E
Lwf4Ke01DU9f8TG4e3g0+JHW1t4FBlubgs6+XECyJnklnUAHnH5o/DOw8X/Dfwb4U+JegfEfxPZp
dfGWTw/L4SjuQujy2k9/Is3mQAAvIxB+dicA4ABANN8WfHH4mr+1Vruna18Vr/4feMIPGy2GheG9
V1PUo9IutM89EgX7BBpk0MwlQ4Ez3KHLZKgAEgH6z0V+fXh6b4n6veftSeO9A8eeMtV1zwVr+t6f
4b8JJemfTtzWqkH7Oys0jR5VoogdisnCku2fFfgN8bPGGreGfi62mfG3VdeurT4Y61quqaJq2uap
e6lp+oRQfLc2sk2m2sdp5ckir5cc0hBOQzbQVAP1vor80/h7rvxa+G/iD4R6rpXxH8W/EPWviP8A
C/UtdfQ/EV39ptI9Ri06O4tVtogAEzI8aEnLN8xJO7jj/BPxu8Zf8M4+Pda+HfxQ+Jfj74pR+HIL
jxNpWvWUklt4fvTdwJcfZC0Y8t0ia42xx7wVQyHaUCUAfq5RXwZ/wTf+I2qeNPGfji0tfi1P8RPC
1tYWsp0/WNX1HVtRsLtncF/tF3ptkPKdVceWobaUHrk/edABRRWV4m8UaZ4P0ebU9WuktLOIcs3U
nsqjqSfQVUYuTUYq7ZMpKKcpOyF8TeJLDwjod3q2pzCCztk3Ox6n0UepJ4A7k18K/FD4lah8TvEk
mo3ZMVrHlLS0B+WGPP6seMnv9AANf4xfGbUPinqSxhWs9Et3JtrPPJPTzH9Wx+AzgdyfOK/Rcpyv
6nH2tVe+/wAP+D3Pz/Ncy+ty9lS+BfiFFFFfSHzwV9mfsz/Dv/hEfBY1W6jKanq4WVgw5jhGfLX8
Qdx+oHavA/gD8L2+Ini5JruLdomnlZbknpI38MXvk8n2B6ZFfbqqFUKBgAYAr4vP8dosLB+b/Rfr
9x9hkeDd3ipryX6v9BaKKK+IPswooooAKKKKACiiigAooooAKKKKACiiigArG8YeGbbxj4Y1LRrr
/U3kLR7sZKN/Cw9wcEfStmiqjJwkpR3RMoqcXGWzPzf1vR7rw/rF5pl6nl3VpK0Mi9tynHHqPQ+l
Ua+k/wBq74ZlZYvGVjHlW2wagqjoeiSfyU/8B96+bK/WsFio4yhGqvn69T8sxmGlhK0qT+XoFfUv
7LfxWW+sV8HalL/pVuC1hI7f6yPqY/qvJH+z/u18tVY0/ULjS76C8tJmt7qBxJFLGcMrA5BFLHYS
ONoulLfo+zHgsVLB1lVjt180fpNRXmnwV+MVn8TtFWKZ0g1+1Qfarbpv7eYnqp7+hOPQn0uvyutR
nh6jp1FZo/TqNaFeCqU3dMKKKKwNgooooAKKKKACiiigAooooAKKK5vx9480z4d+HZ9V1OTCr8sU
K/fmkxwij1P6ck8VcISqSUIK7ZE5xpxc5uyRzHx2+KUfw38JyLbSL/bd8DFaR4B2f3pCPRQfxJAr
4ekkeaRndmd2O5mY5JJ6kmt7x1421H4geJLrWNSfMsp2xxA5WGMfdRfYfqST3rn6/UcswKwNHlfx
Pf8Ay+R+a5jjnja3MvhW3+fzCiivUf2fPhs3j7xtFPcw79H00rcXJYfK7Z+SP3yRkj0U+or0K9aO
HpSqz2RwUaMsRUjShuz6R/Z78Bt4H+HtqLmExalqB+13AYfMuQNin0woHHqTXplJ04FLX5FXrSxF
WVWe7Z+rUaUaFONKOyCiiisDYKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKK
KACiiigAooooAKKKKACiiigAooooAK8x+Onwki+Jfh0y2karr1kpa1kyB5g7xMfQ9vQ47Zz6dRW9
CtPD1FVpuzRjWowxFN06iumfmtc201ncS29xE8M8TFJI5FKsjA4IIPQg1FX1v+0L8Cz4sik8R6DA
P7YiX/SbdBj7UoHUf7YH5gY7CvkqSNopGR1KOpwysMEEdjX6ngcbTx1Lnhv1XY/Msbg6mCqcktuj
7jaKKK9E889X+EXx+1X4cNHp94H1TQN3/HuW/eQepjJ7f7J4+nNfXHg/x1onjzTFvtGvo7uPA3xg
4kiJ7OvVTwevWvzwrQ0LxBqXhnUo7/Sr2awvI/uywtg/Q+o9jwa+ex+T0sW3Up+7P8H6/wCZ7+Bz
erhbQn70fxXofo9RXzD4E/a4mhWO28V6f54Ax9usQA31aMnH1KkfSvePCvxK8M+NI1Oj6za3UhGf
I37Jh9UbDD8q+GxOX4nCv95DTutUfaYfH4fFL93LXs9zpqKKK849AKKKKACiikJC8k4FAC0VwXjD
44eDvBayLd6tFd3aZH2SxImlyOxwcKf94ivn/wAf/tUa94hWS10CEaFZNlTNkPcMOe/ROPTJHrXr
YXK8VitYxsu70R5eJzLDYX4pXfZan0D8SvjL4f8Ahpaut3OLvVCuYtOgYGRj2Lf3F9z74z0r48+J
HxQ1n4m6t9r1OUR28fFvZxE+VCPYd2PdjyfYYFcpcXEt3PJPPK800jF3kkYszMepJPU1HX3eAyuj
gfe+Kff/ACPiMdmdbGe7tHt/mFFFFe0eOFbXg/wjqPjjxDa6PpkXmXM7csfuxr/E7HsB/wDWHJFV
ND0O/wDEurW2m6bbPd3tw2yOKMck+vsB1JPAFfbnwb+Edn8LdB2MUudZuQGu7oDjPZE/2R+vX2Hj
ZlmEMDT01m9l+r8j18uwEsbU10gt3+nqdD4B8E2Hw+8M2mjaeo2RDMs2MNNIfvO3uf0GB0FdFRRX
5hOcqknObu2fpMIRpxUIqyQUUUVBYUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAVNW0u11zTb
rT76Fbi0uY2iljboykYIr4P+K/w3u/hl4qm06UPJYyZks7lv+Wsee5/vDofz6EV991yPxM+G+nfE
zw3Lpt6PKuFy9rdqMtDJjg+49R3Hvg17eV5g8DVtL4Hv/meNmeAWNpXj8a2/yPz/AKK1/FXhbUfB
muXOk6pAYLuBsH+669mU91PY1kV+nRkppSi7pn5vKLi3GSs0X9D1y/8ADWrW2pabcvaXtu2+OWM8
g+nuD0IPBFfY/wAHfj1pvxGgjsL8x6b4gVfmty2EnwOWjJ/Pb1HPUDNfFNOjkeGRXRmR1O5WU4II
6EGvMx2X0sdG0tJLZ/10PRwOPq4KV46xe6P0sor5N+GX7U2o6GsOn+KY31WyUBVvo8faEHbcOjjp
zwevU19K+FfHGheNrP7VompwX8Y+8qNh0z03IfmXp3FfneLy/EYN/vI6d1sff4XH0MYv3b17Pc3a
KKK809EKKKKACiiigAoqjrGt6f4fsnu9SvYLC1T70txIEUfia+f/AIk/tYW8Mctl4PhM8xyp1K5T
CL7oh5J92wOOhruwuCr4yXLSjfz6fecWJxlDCxvVlby6nrnxJ+KmifDPS2n1CYS3rr/o9jGR5sp+
nZfVjx+OBXxX8QPiJq/xI1ttQ1Wb5VysFsh/dwL6KPXpk9Tj2AGJrGtX3iDUZr/UruW9vJjl5pmL
Mfb6DsOgqlX6Fl+V08CuZ6z7/wCR8Fj8yqY18q0h2/zCiipbW2mvLiK3t4nnnlYJHHGpZnYnAAA6
kmvaPHLegaDfeJ9YtNL02Brm9unCRxr+pPoAMknsAa+9Phr4DtPhz4StNHtcPIo8y4nxgyykDc39
B6AAVxnwD+C6/DnSzqWpor+ILxAHAwRbIcHywe5z94jjIA7ZPrtfnWcZl9an7Gk/cX4v/I/QMoy/
6rD2tRe+/wAEFFFFfNH0QUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFF
FFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABXiHxu/Z5g8a+fregBLXXcbpIDhY7rH/oL+/Q9/Ue
30V1YbE1cLUVSk7M5sRh6eKg6dVXR+bOoafc6TezWd5BJa3ULbJIZVKsp9CKr194/E74N6F8TrMm
7j+x6oi4h1CFRvX0DD+Nc9j74IzXyD8QvhL4i+G10RqdoZLJm2xX8GWhf0BP8J9jjocZ61+jYDNa
ONXL8M+3+R+fY7LK2DfNvHv/AJnGUUUV7Z4wUqsVIIOCOQRSUUAdloPxi8aeG9osfEd8I1GFjuH8
9APQK4IA+ldrp37WHjWzULPHpl8O7TW7K3/jrgfp3rxiiuGpgcNV1nTT+R208ZiaWkKjXzPoCD9s
LXVTEug6fI2fvLI6j8smmXX7YXiGRR9n0TTYWx/y0Mjj9CK8Corm/snBXv7NfidH9qYy1vaP8D1/
Vf2pvHeo/wConsdM/wCvW1B/9GF64LxB8RPE3ireNV12+vI3+9C0xEX/AHwML+lc7RXXTweHo606
aXyOWpiq9bSpNv5hRRRXYcgUUUUAFbng/wAGat471qLS9HtjcXD8sx4SJe7uewH/ANYZPFd58Lv2
ede8fSQXl8j6PojYY3Ey4llXr+7Q+vHzHjnIz0r638G+B9G8BaSmn6NZpbRD/WSdZJW/vO3Un+XQ
cV85mGcUsKnCl70/wXr/AJH0GAymrimp1fdh+L9P8znfhL8HdL+FumsYyLzV51AuL5lwSP7iD+Ff
59+2PQaKK/Pa1adebqVHds++pUoUYKnTVkgooorE1CiiigAooooAKKKKACiiigAooooAKKKKACii
igAooooAKKKKAOH+Knwo0v4oaKbe5VbbUYgTa3yrl4m9D6qe4/kcGvifxp4I1fwDrcul6xbGGZeU
kXJjlXsyN3H8u+DX6IVz/jTwLo3j/R307WbRbiLrHIOJIm/vI3Y/z75FfQZbm08E/Zz1h+Xp/keF
mOVwxi54aT/P1/zPzxor1b4pfs9678P5JryyR9Y0QEsLmFcyRL1/eKOmP7w445x0rymv0OhiKWIh
z0pXR8BWoVMPPkqqzCrFhqF1pd0lzZXM1ncxnKTW8hR1+hHIqvRW7SaszFNrVHrfhj9p7xr4fjSG
5nt9ZgXAAvY/nA9nUg59zmvStI/bG02TA1Tw7dW3TLWc6zfXhgn86+WqK8mtlODrO8qdn5afkepS
zTF0dFO689T7Jtf2rvBE6kyf2lb9MLJbAn/x1jUkn7VPgVIyyy38jDootSCfzNfGVFcX9gYPz+//
AIB2/wBu4vy+7/gn1fqv7YWgQxn+ztD1G7kHa5aOFT+ILn9K8+8S/tZeK9WVo9KtrPRIz0dV86Uf
8Cb5f/Ha8RorrpZPgqTuoXfnr/wDlqZtjKqs529NP+CaeveJtW8UXhutX1G41GfnDXEhbbnso6Ae
w4rMoor14xUVaKsjyZScneTuwoorsvh78JvEPxKugul2myzVsS38+VhT1Gf4j7DJ5GcDmoqVIUYu
dR2SKp051ZKFNXbOW03TbrWL6CysbeS6u5m2RwxLuZj7CvsH4HfAO3+H8UesawEuvETr8oHKWgI5
VfViOrfgOMk9R8MPg7ofwwsv9Ej+16nIoWfUJlG9u5C/3Vz2HoMk4zXeV8DmecSxKdGhpDv1f/AP
ustyhYdqrX1l26L/AIIUUUV8ufShRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFAB
RRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAUUUUAFFFFABRRRQAVDeWcGoW0lvdQx3FvIpV4pV
DKwPBBB6ipqKNg3PBPiB+yjpGs+Zd+Gbj+x7s8/ZZcvbsfb+JPwyPQV88eMPhX4o8Csx1fSZordT
/wAfUQ8yE88fOvAz6HB9q/QKmsiyKVZQynggjINfRYXPMTh/dn7689/v/wA7ngYrJcPX96Huvy2+
7/Kx+adFfdPir9n/AME+K9zyaQmn3Df8t9OPkt9do+Un3INeUeIP2O5l3voniFH5+WG/hK/m6k/+
g19PRz3CVfjbi/P/AIB81WyTFU/gSkvL/gnzbRXquq/sy+PtNdhFpkGoKP47W6TH5OVP6Vyl18Kv
GVmzCTwvqx25yY7N3Ax7qCK9eGMw9T4KifzR5c8LiKfxU2vkzlaK1pfCWuQSFJNG1CN16q1rICPw
xUlt4L8Q3jEW+g6nORjIjs5G69Oi1v7SFr8yMPZz25WYtFdjYfB7xtqUgSLwvqaMf+fi3MP6viut
0f8AZb8dakwFzbWelr3N1cq3/ovdXNPG4an8dRL5o6IYPEVPhpt/I8hpa+ofD/7HllEyPrevzXPG
TDYxCMA+m5t2R+Ar1zwp8I/CPgtkk0vRLeO4U5FzMDLKDjqHbJH4YFePXz7C09Kd5P7l+P8AketR
yPE1Nalor73+H+Z8jeCfgJ4w8bNHLFpzabYt/wAveoZiXGM5Vcbm46EDHvX0h8Pf2b/DHglorq7Q
67qicie6UeWh9Uj6Dt1yQRwa9Ypa+VxecYnFe6nyx7L/ADPp8LlOGw3vNc0u7/yEpaKK8M9oKKKK
ACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooATrweRXk/xD/Zv8M+
NpJLu0U6Fqb8ma1QGNz6vHwD35GCc8mvWaK6KOIq4eXPSlZmFahSxEeSrG6Phnxp+z/4x8GyO505
tVsl5F1p4Mox7pjcOOvGPevOGUqxVgQwOCD1FfpbXM+Jvhr4X8Y7m1fRLS7lYAGfZslwO29cN+tf
VYfiKS0xEL+a/wAj5jEZBF60J28n/mfnvRX1zr37I3hm+Z5NM1C+0tieI2KzRr9ARu/Nq4jVP2O9
bhbGna/Y3a+t1E8H8t9e7TzrBVPt29U/+GPEqZPjKf2L+jR8+0V7Rdfsm+NrcEpNpVzz0iuXGf8A
vpBSQ/sn+N5Y9zPpcJz917lif0Qiun+0sHa/tV95zf2di9vZs8Yor3vT/wBj/wARysBe6zplsvcw
eZKR07FV5612Oi/se6Lb86rr19et6WsaQL+Od5/WsKmcYKn9u/omb08oxk/sW9Wj5Trr/Bvwm8Ve
O2RtK0mZrVv+XyceXCBnGdx+99Fya+xvDPwT8F+E9j2ehW8s64Inux575HcF87T9MV3CqFAAGB6C
vExHES2w8Pm/8l/mezQ4fe9efyX+f/APBfh/+yjpGjeXd+Jrj+2bsc/ZYspbqff+J/xwPUV7pZWN
vptrFbWkEdtbRLtjhhQKigdAAOAKnor5TEYuvipc1aV/y+4+nw+Fo4WPLSjYKKKK5DrCiiigAooo
oAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiig
AooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKAC
iiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKKKKACiiigAooooAKK
KKACiiigAooooAKKKKACiiigAooooAKKKKACiiigD//Z" transform="matrix(0.75 0 0 0.75 12 0)">
</image>
<rect id="zone1" x="62" y="142" class="st0" width="42" height="66.5" data-toggle="modal" data-target="#Modal1"/>
<rect id="zone2" x="179.5" y="208.5" class="st0" width="42" height="66.5" data-toggle="modal" data-target="#Modal2"/>
<rect id="zone3" x="285" y="135.5" class="st0" width="42" height="66.5" data-toggle="modal" data-target="#Modal3"/>
<rect id="zone4" x="554" y="202" class="st0" width="42" height="66.5" data-toggle="modal" data-target="#Modal4"/>

<text data-toggle="modal" data-target="#Modal1" transform="matrix(1 0 0 1 112 200)" class="st1 st2 st3" style="text-decoration: underline; font-weight: 600;">En savoir +</text>
<text data-toggle="modal" data-target="#Modal2" transform="matrix(1 0 0 1 240 300)" class="st4 st2 st3" style="text-decoration: underline; font-weight: 600;">En savoir +</text>
<text data-toggle="modal" data-target="#Modal3" transform="matrix(1 0 0 1 350 222)" class="st1 st2 st3" style="text-decoration: underline; font-weight: 600;">En savoir + </text>
<text data-toggle="modal" data-target="#Modal4" transform="matrix(1 0 0 1 480 277)" class="st1 st2 st3" style="text-decoration: underline; font-weight: 600;">En savoir + </text>
</svg>

    <div id="Modal1" class="modal modal-actu fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ETAPE 1 : Recherche des bénéficiaires</h4>
                </div>
                <div class="modal-body">
                    <div class="backVert" style="margin-top: 0;">
                        <p>
                            <b>A noter :</b> A compter de la connaissance du décès de l’assuré, et tant que les capitaux n’ont pas été versés, l’organisme assureur  est tenu de rechercher <b><u>activement</u></b> le(s) bénéficiaire(s) des prestations.
                        </p>
                    </div>
                    <p>Il doit alors consulter la clause bénéficiaire du contrat de l’assuré décédé (clause contractuelle ou clause spécifique) afin d’identifier les bénéficiaires, chercher leur coordonnées - si la clause bénéficiaire ne les mentionne pas ou n’est pas suffisamment précise - et tout mettre en œuvre pour verser les sommes qui leur sont dues.
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>

    <div id="Modal2" class="modal modal-actu fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ETAPE 2 : La constatation de sommes non réclamées</h4>
                </div>
                <div class="modal-body">
                    <p>Suite à la recherche des bénéficiaires d’un assuré décédé, il peut arriver que <b>les sommes dues ne puissent pas être versées par l’organisme assureur</b> pour plusieurs raisons et  notamment :
                    </p>

                    <ul class="liste_dbl_chevrons">
                        <li><i class="fa fa-angle-double-right"></i> <span> L’assureur ne peut pas identifier les bénéficiaires (clause imprécise, coordonnées introuvables…) </span>
                        </li>
                        <li><i class="fa fa-angle-double-right"></i> <span> Les bénéficiaires ne donnent pas suite au courrier de l’assureur leur demandant des pièces pour régler les sommes</span>
                        </li>
                    </ul>

                    <p>Les sommes sont alors <b>identifiées comme non réclamées à l’expiration d’un délai de 10 ans à compter du jour où l’organisme assureur a eu connaissance du décès de l’assuré.</b></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>

    <div id="Modal3" style="position: relative; top: -60vh; overflow: hidden;" class="modal modal-actu fade" role="dialog">
        <div class="modal-dialog" style="max-width: 800px;">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ETAPE 3 : Le dépôt des sommes à la CDC</h4>
                </div>
                <div class="modal-body">
                    <p>Les sommes non réclamées ne peuvent pas être conservées par les organismes assureurs et <b>doivent à ce titre être transférées à la CDC.</b><br><br>

                        Ce dépôt doit intervenir <b>dans le mois qui suit l’expiration d’un délai de 10 ans à compter du jour où l’organisme assureur a eu connaissance du décès de l’assuré.</b>
                    </p>

                    <div class="backVert">
                        <p><b>A noter :</b> La Loi Eckert impose aux organismes assureurs d’effectuer les 1ers dépôts à la CDC au cours du 2nd trimestre 2016 (pour les contrats « non réglés » depuis plus de 10 ans). </p>
                    </div>

                    <p>Les modalités du dépôt en trois points</p>

                    <ul class="liste_dbl_chevrons">
                        <li><i class="fa fa-angle-double-right"></i> <span><b>L’assureur informe du transfert des sommes à la CDC les bénéficiaires :</b><br>
                        6 mois avant l’expiration des 10 ans, les assureurs doivent informer le souscripteur ou les bénéficiaires du contrat par tout moyen à leur disposition, du transfert des capitaux à la CDC et de l’acquisition à l’état des fonds non réclamés passés un délai de 20 ans à compter de la date de dépôt.
                        Pour les contrats d’assurance temporaire en cas de décès ne faisant pas l’objet d’un dépôt à la CDC, (décès survenus avant le 1er janvier 2015), l’organisme assureur est tenu d’informer le souscripteur ou les bénéficiaires du transfert des sommes à l’Etat 6 mois avant l’expiration du délai de 30 ans.
                        </span></li>
                        <li><i class="fa fa-angle-double-right"></i> <span> <b>L’assureur fournit à la CDC certaines informations essentielles lors du dépôt :</b><br>
                        A l’occasion du dépôt des sommes, les organismes assureurs doivent fournir par voie dématérialisée à la CDC  des informations concernant la nature des contrats déposés ainsi que sur l’identification des souscripteurs et des bénéficiaires.
                        </span></li>
                        <li><i class="fa fa-angle-double-right"></i> <span><b>3.	La CDC atteste le dépôt des sommes par l’assureur :</b><br>Dans les 5 jours ouvrés suivant le dépôt, la CDC adresse à l’organisme assureur un justificatif de dépôt mentionnant la date de dépôt, le(s) montant(s) déposé(s).</span></li>
                    </ul>

                    <p>A la suite du dépôt, la CDC <b>organise la publicité appropriée de l'identité des souscripteurs des contrats non réclamés ayant fait l’objet d’un dépôt pour permettre aux bénéficiaires des contrats de percevoir les sommes qui leur sont dues. Cette publication sera faite sur
                        <a href="http://consignations.caissedesdepots.fr/" target="_blank">le site internet de la Caisse des Dépôts et Consignation</a> à compter du 1er janvier 2017, date à partir de laquelle les demandes de versement pourront être effectuées.</b><br><br>

                        Pour réclamer les sommes, les bénéficiaires devront alors faire une demande de versement à la CDC, accompagnée des informations permettant de vérifier leur identité et de déterminer le montant des sommes qui leur sont dues.<br><br>

                        Les sommes qui seraient réclamées par les bénéficiaires après leur dépôt à la CDC ne pourront être versées qu’en numéraire au notaire chargé de la succession.<br>
                        Le notaire chargé d'établir l'actif successoral obtient, sur demande auprès de la CDC, le versement des sommes déposées lorsque celles-ci entrent dans l'actif successoral, en joignant à sa demande le mandat l'autorisant à agir au nom des ayants droit.<br>
                        Le notaire restitue ensuite les sommes directement aux bénéficiaires.
                    </p>

                    <div class="backVert">
                        <p><b>Le dépôt des sommes à la CDC libère l’assureur et le souscripteur de leurs obligations (revalorisation des capitaux, délai de constitution et de règlement et de recherche du bénéficiaire).</b></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>

    <div id="Modal4" class="modal modal-actu fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">ETAPE 4 : L’acquisition définitive des sommes à l’Etat</h4>
                </div>
                <div class="modal-body">
                    <p>Les sommes ainsi déposées restent à la CDC pendant 20 ans à compter de la date de dépôt figurant sur le justificatif de dépôt fourni par la CDC, délai à l’issue duquel les sommes sont acquises définitivement par l’Etat si elles n’ont pas été réclamées par les bénéficiaires.<br><br>

                        <b>Les sommes non réclamées seront donc transférées directement à l’Etat au-delà d’un délai de 30 ans.
                            Plus aucune demande de versement ne sera possible passé ce délai.</b>

                    </p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button>
                </div>
            </div>

        </div>
    </div>


    <p class="mboc_titre mt50">EN SYNTHESE : LA PROCEDURE DE TRANSFERT A LA CDC</p>
    <p class="ligne"></p>

    <img width="100%" src="/media/cache/list_thumb/upload/Actualite/19/synthese_procedure_cdc.png" alt="LA PROCEDURE DE TRANSFERT A LA CDC "><br><br>


    <center>
        <button style="font-size: 22px;" onclick="window.open('https://www.legifrance.gouv.fr/affichCodeArticle.do?cidTexte=LEGITEXT000006073984&idArticle=LEGIARTI000029096777')" class="boutonVert">
            Plus d'informations
            <i class="fa fa-angle-double-right"></i>
        </button>
    </center><br>
</div>

