<div class="col-md-12 nopadding">
    <div class="col-md-6 nopaddingleft sc_pack1"><p class="mboc_titre" style="margin-top: 0;">WELLAWAY : LA SANTÉ OPTIMALE AUX ÉTATS-UNIS</p>
        <p class="ligne"></p>

        <p>Selon le Ministère des Affaires Etrangères, le nombre d’expatriés français ne cesse d’augmenter. On compte aujourd’hui 2 millions de Français à l’étranger, qui préfèrent majoritairement s’expatrier en Europe et aux Etats-Unis.<br><br>

        L'expatriation n'est pas chose facile. Une préparation de nombreux mois à l’avance est indispensable.
        </p>
    </div>

    <div class="col-md-6 nopaddingright" align="right">
        <img alt=""Wellaway src="/media/cache/list_thumb/upload/Actualite/21/wellaway.jpg" style="width: 375px;"><br>
    </div>
</div>


<div class="col-md-12 sc_pack1">
    <p><b>L’une des principales choses à laquelle il faut penser est la protection sociale.</b> En tant qu’expatrié, vous quittez le cadre administratif français. Votre régime de protection sociale change et vous bénéficierez du régime de votre pays d’accueil. Si vous le souhaitez, vous pouvez continuer à bénéficier d'un système de protection "à la Française" en adhérant à l'assurance volontaire auprès de la Caisse des Français à l'étranger (CFE) ou auprès d'un régime privé d'assurance.<br><br>

        Pays choisi par plus de 140 000 expatriés Français, les États-Unis offre ses spécificités. Les ressortissants étrangers et les expatriés résidant ou déménageant aux Etats-Unis, pour un séjour de 11 mois ou plus, sont soumis aux clauses et mandats de l'Affordable Care Act (ACA). Celui-ci impose la souscription à une assurance santé conforme à l'ACA ou le paiement d'une pénalité, depuis début 2014.<br><br>

        Pour répondre à ces obligations, CIPRÉS Assurances propose <b>un ensemble d’offres conçu par Wellaway, spécialiste de l’assurance santé des expatriés.</b></p>

    <div class="backVert">
        <p><b style="color: #1c476e;">Deux offres « Special USA » sont proposées aux expatriés pour s’adapter à leurs besoins :</b><br><br>
            - <b>La vie à l’Etranger :</b> en complément de la CFE<br>
            - <b>New American :</b> remboursement dès le 1er dollar engagé
        </p>
        <p><b>La Vie à l’Etranger</b> est un contrat unique sur le marché car il est le seul à être à la fois conforme à l’OBAMACARE et en complément de la CFE. <br>
            <b>Un combiné gagnant pour tous les expatriés aux USA !</b></p>
    </div>

    <p class="mboc_titre mt50">QU’EST-CE QUE L’OBAMACARE ?</p>
    <p class="ligne"></p>

    <p>L’Obamacare (ou l’ACA : Affordable Care Act) permet de fournir aux résidents fiscaux des Etats-Unis des garanties santé minimum. L’ACA est une loi qui rend l’assurance santé minimum obligatoire pour tous les américains, sous peine de pénalités à la fin de l’année : 3% du revenu du foyer en 2017.<br><br>

        La loi a défini des garanties santé minimums tels que :
    </p>

    <ul class="liste_dbl_chevrons">
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> les services ambulatoires,</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> les services d’urgence,</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> l’hospitalisation,</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> l’accouchement et prise en charge du nouveau-né,</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> la santé mentale (soins psychiatriques et traitement des addictions),</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> les prescriptions médicales,</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> les services de rééducation,</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> les analyses en laboratoire,</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> la prévention et la prise en charge des maladies chroniques,</span></li>
        <li style="margin-bottom: 10px;"><i class="fa  fa-angle-double-right"></i> <span> les services pédiatriques (soins ophtalmologiques et auditifs compris).</span></li>
    </ul><br>

    <p>Pour l’ensemble de ces garanties, aucun plafond de remboursement ne peut être fixé.<br><br>

        <b>La Vie à L’Etranger</b> est conforme à l’ACA et répond en tous points à ce qu’attend un expatrié aux Etats-Unis :
    </p>

    <ul class="liste_dbl_chevrons">
        <li><i class="fa  fa-angle-double-right"></i> <span> Des garanties complètes : hospitalisation, visites et analyses médicales, maternité, services d’urgence, services pédiatriques,…</span></li>
        <li><i class="fa  fa-angle-double-right"></i> <span> Postes dentaire et optique en option</span></li>
        <li><i class="fa  fa-angle-double-right"></i> <span> Une offre complémentaire aux remboursements de la CFE : le reste à charge est faible </span></li>
        <li><i class="fa  fa-angle-double-right"></i> <span> 3 niveaux de garanties pour l’expatrié et sa famille</span></li>
        <li><i class="fa  fa-angle-double-right"></i> <span> Pas de limite de remboursements </span></li>
        <li><i class="fa  fa-angle-double-right"></i> <span> Pas de délai d’attente</span></li>
        <li><i class="fa  fa-angle-double-right"></i> <span> Consultations en ligne et seconds avis médicaux dans les 48h</span></li>
    </ul><br>

    <p>La Vie à l’Étranger permet ainsi à l’assuré de <b>toujours bénéficier de ses droits à la Sécurité sociale.</b> La CFE couvre aussi le conjoint et les enfants jusqu’à leur vingtième anniversaire.<br><br>

        Cette offre concerne les salariés et les TNS, résidents fiscaux depuis au moins 11 mois (hors travailleurs détachés).<br><br>

        Si vous ne souhaitez pas opter pour la CFE, <b>New American</b> vous offre les mêmes garanties que la <b>Vie à l’Étranger</b>. Seuls les remboursements diffèrent : ils ont lieu dès le 1er dollar engagé et la CFE n’intervient pas en complément.<br><br>

        <b>Une offre dédiée aux étudiants est également disponible.</b><br><br>

        CIPRÉS propose aux étudiants titulaires des VISA F1, J1 / J2, M et Q une offre complète de protection avec 2 niveaux de garanties : hospitalisation, visites et analyses médicales, maternité, services d’urgence, pharmacie, interruption de séjour étudiant,… Les remboursements sont limités à 200 000 $ ou 300 000 $ par an selon le niveau de garanties choisi.<br><br>

        Pour ces deux offres, Well Away inclut le tiers-payant et propose un réseau de soins étendu Aetna avec 41 000 médecins francophones parmi les 1,1 millions de professionnels de santé proposés.<br><br>

        <b>Une bonne protection sociale à l’étranger est indispensable. Afin de vous proposer une couverture vraiment complète, CIPRÉS vous fait bénéficier de garanties d’assistance haut-de-gamme :</b>
    </p>

    <ul class="liste_dbl_chevrons">
        <li><i class="fa  fa-check"></i> <span> <b>Services d’assistance</b> avec des conseillers francophones disponibles 7j/7, 24h/24</span></li>
        <li><i class="fa  fa-check"></i> <span> Ressources cliniques, coordination et intervention tout en vivant et travaillant à l’étranger</span></li>
        <li><i class="fa  fa-check"></i> <span> Service clientèle sécurisé</span></li>
        <li><i class="fa  fa-check"></i> <span> <b>Allocation de Voyage « retour à la maison »</b> fournie si besoin de services médicaux en France</span></li>
    </ul><br>

    <p>CIPRÉS met tout en œuvre pour répondre aux besoins de chacun en France ou à l’international.<br><br>

        Pour les expatriés souhaitant partir moins de 11 mois aux États-Unis ou partout ailleurs à l’étranger, CIPRÉS a créé une offre dédiée <b>One World</b>. <br>
        Pour plus d’infos, <a href="/contact">contactez le courtier le plus proche de chez vous.</a><br><br>
    </p>
</div>

