<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHE(E) AU RESPONSABLE DU CENTRE D’APPELS, AU SEIN DU POLE SERVICE AUX ASSURÉS & COURTIERS,</span> vous serez en charge d’accueillir et d’informer par téléphone (gestion d’appels entrants) nos clients (courtiers, entreprises, particuliers, professionnels de la santé…) en apportant des réponses adaptées sur l’ensemble de nos métiers en Santé et Prévoyance. Vos missions concernent essentiellement des appels entrants.</p>

<p><span>VOS PRINCIPALES MISSIONS</span> en tant que chargé(e) de relation clients :</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Qualifier le besoin du client, répondre à ses demandes dans le cadre des attributions confiées ou orienter les demandes vers l’interlocuteur adapté,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Faire un reporting des motifs d’appels d’assurés en fonction de leur degré d’importance (répétition, volume, gravité, VIP),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Résoudre une forte proportion des cas particuliers pouvant se présenter, afin d’y apporter la solution adéquate et les explications nécessaires,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Participer à l’amélioration des processus de gestion de la relation client,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Assurer le suivi des dossiers et apporter une réponse au client par téléphone.</span></li>
</ul><br>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION BAC+2</span> idéalement en Assurances, vous disposez d’une expérience professionnelle dans un service client, si possible dans le secteur des Assurances de Personnes.</p><br>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<p><span>Compétences métiers :</span></p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Connaissance des assurances de personnes,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Droit des assurances</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Techniques des conduits d’entretiens téléphoniques</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Utilisation des outils informatiques (Pack Office et logiciels de gestion),</span></li>
</ul><br>

<p><span>Compétences relationnelles :</span></p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Aisance dans la communication orale,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Sens de l’écoute,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Sens de la relation client, sourire et pédagogie,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Travail en équipe.</span></li>
</ul><br>

<p><span>Compétences savoir-être:</span></p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Polyvalence et réactivité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Capacité d’autonomie,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Sens de l’organisation,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Esprit d’équipe.</span></li>
</ul><br>



