<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>Une entreprise à taille humaine, jeune et dynamique, qui place <b>son capital Humain comme premier capital de l’entreprise !</b></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 700 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHE(E) AU RESPONSABLE DU POLE SERVICE AUX ASSURES ET AUX COURTIERS, AU SEIN DE NOTRE DIRECTION SERVICE AUX CLIENTS,</span> vous aurez pour objectifs principaux :<br><br>

    - De piloter une équipe de 9 collaborateurs chargés d’apporter une réponse téléphonique à notre réseau partenaire de courtiers, sur des sujets de gestion (contrat, prestations, cotisations, etc.) ;<br><br>

    - et de contribuer au développement de la satisfaction des clients par la fourniture d'un service de qualité conforme à nos engagements contractuels et à nos valeurs.

<p><span>VOS PRINCIPALES MISSIONS</span> en tant que Responsable du Pôle Service aux Courtiers :</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Organiser, optimiser et superviser l’activité du service,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Veiller à l’alimentation des tableaux de bord nécessaires au pilotage de l’activité et assurer un reporting quotidien des données de production au Responsable du Pôle,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Fixer les objectifs, assurer la planification et la gestion de l’activité et des ressources mises à disposition,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Optimiser l’organisation des équipes en poste (suivi planning, congés, recrutement de personnel en lien avec les responsables, etc.) et des procédures,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Assurer un relai d’informations régulier auprès des équipes,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Veiller à la motivation et au développement des compétences des collaborateurs (au travers notamment du plan de formation) en étant un interlocuteur proche des équipes,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Participer au traitement des dossiers complexes relatifs à l’activité du service,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Veiller au respect des procédures de qualité et contrôler la réalisation des traitements,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Être force de proposition sur toute évolution des organisations ou des outils que vous jugeriez nécessaire dans l’exercice de votre mission.</span></li>
</ul>


<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION DE TYPE BTS, DEUG, DUT, LICENCE, MAITRISE UNIVERSITAIRES</span> et/ou expérience professionnelle équivalente avec un minimum de 2 ans sur un poste similaire.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Compétences managériales avérées (animation, motivation, organisation / planification des activités d’équipes importantes),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Connaissance en assurance de personne et plus précisément en complémentaire santé,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Très bonne connaissance de la relation client par téléphone,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Maîtriser les techniques de double écoute et de coaching d’entretiens téléphoniques,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Maîtrise des outils de bureautique (notamment Excel),</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Sens de l’écoute et disponibilité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Sens du client conduisant à développer la notion de qualité de service,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Sens pédagogique pour accompagner un groupe ou un individu,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Aisance dans la communication orale,</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Polyvalence et agilité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Réactivité – gestion des priorités,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Capacité d’autonomie,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Sens de l’organisation,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Positivité et dynamisme.</span></li>
</ul>


