<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>Une entreprise à taille humaine, jeune et dynamique, qui place <b>son capital Humain comme premier capital de l’entreprise !</b></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>AU SEIN DE LA DIRECTION GÉNÉRALE,</span> et directement rattaché(e) au Président et à la Directrice Générale, et en binôme avec une autre assistante, vous aurez pour missions principales de :<br><br>

<ul class="liste_dbl_chevrons">

    <li><i class="fa fa-angle-double-right"></i> <span>Assurer un assistanat classique pour le Président et la Directrice Générale : gestion des agendas, des déplacements, des déjeuners, organisations de réunions et d’évènements,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Rédiger des comptes rendus, courriers, mails, rapports, notes, présentations,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Gérer activement le courrier et messagerie électronique (analyse, orientation, réponse),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Gérer les notes de frais et les autres demandes administratives,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Traiter et transmettre les décisions et les notes de service,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Gérer les appels téléphoniques, les filtrer, accueillir les invités,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Centraliser et constituer des dossiers pour les réunions,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Tenir le classement des dossiers et leur archivage.</span></li>
</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION SUPERIEUR BAC +2 « ASSISTANT MANAGER », « GEA » OU LICENCE PRO « ASSISTANT DE GESTION ADMINISTRATIVE »,</span> vous avez une très bonne connaissance du métier de l’assistanat.<br><br>

    Vous justifiez d’une expérience de plusieurs années dans un poste d’assistanat de Direction Générale.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<p style="font-weight: bold;">Vos savoir-faire et compétences techniques :</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Maîtrise des outils informatiques du pack Office (Outlook, Word, Excel, Powerpoint)</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>L'anticipation et le sens de l'organisation sont des pré-requis pour ce poste à pourvoir immédiatement.</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Votre expérience vous permet de justifier d’une autonomie et d’une capacité de prise d’initiative.</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Vous avez le souci du résultat, de la satisfaction clients.</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>La maîtrise de l’anglais professionnel écrit et oral est nécessaire..</span></li>
</ul>


<p style="font-weight: bold;">Votre savoir-être :</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Vous faites preuve d’un grand sens de la confidentialité et de discrétion.</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Vous avez la capacité à travailler en toute fluidité avec un binôme pour assurer une bonne répartition homogène des missions confiées.</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Votre êtes réactif(ve), dynamique, et présentez de très bonnes qualités relationnelles et rédactionnelles.</span></li>

</ul>


