<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>Une entreprise qui place <b>son capital Humain comme premier capital de l’entreprise !</b> <br>
    Une <b>équipe jeune, dynamique</b>, qui a pleins de projets !<br>
    Une entreprise qui vous donnera <b>l’opportunité de vous exprimer, d’impulser vos idées</b>, de créer pour la satisfaction des collaborateurs !</p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>AU SEIN DE LA DIRECTION ORGANISATION ET PROCESS,</span> vous aurez pour missions principales de :</p>

<ul class="liste_dbl_chevrons">

    <li><i class="fa fa-angle-double-right"></i> <span> Contribuer à la gestion générale des projets d’entreprise,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Créer et suivre les partenariats commerciaux,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Contribuer à la mise en place et au développement de la culture projet,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Participation à la refonte des processus (formats, règles de description, rôles et responsabilités…)</span></li>

</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>VOUS PREPAREZ UNE FORMATION BAC + 3/4</span> en Gestion de Projets ou Management de Projet.
    Vous souhaitez découvrir la gestion de projets dans une entreprise à taille humaine, dans le secteur des Assurances.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Connaissances en gestion de projets,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Maîtrise du Pack Office (notamment Excel)</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Connaissance en Assurances,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Capacité d’adaptation et force de proposition,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Qualité rédactionnelle et sens du relationnel,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Rigueur et autonomie.</span></li>
</ul>


