<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHÉ(E) AU RESPONSABLE MARKETING DIGITAL,</span> vous serez en charge d’optimiser les sites web de l’entreprise, et de participer activement à la mise en oeuvre de la stratégie Marketing Digital de l’entreprise.</p>

<p><span>VOS PRINCIPALES MISSIONS</span> en tant que Webmaster sont :</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Administrer et animer les sites internet de l’entreprise,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Proposer de nouvelles fonctionnalités ou modules afin d’améliorer les parcours clients : capacité à rédiger des expressions de besoins et cahiers des charges complets,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Participer/Proposer des améliorations techniques, esthétiques ou ergonomiques des sites,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Concevoir et suivre les campagnes webmarketing en identifiant les améliorations nécessaires à l’atteinte des objectifs de ces campagnes,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Concevoir et router les campagnes d’emailings/newsletters,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Participer à la création ou refonte des sites,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Réaliser des bilans d’audience des sites et être force de proposition afin d’optimiser la création de trafic.</span></li>
</ul><br>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION SUPERIEURE EN ECOLE MULTIMEDIA,</span> vous justifiez d’une expérience significative (au minimum 2 ans) en tant que webmaster ou chef de projet marketing digital.</p><br>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Maitrise des langages Web : HTML, CSS, PHP, JAVASCRIP/JQUERY,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Maitrise de Photoshop,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Bonne connaissance du SEO,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Bonne connaissance de l’UX,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Connaissance du Framework Symfony,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Expérience en intégration et routage d’email via des plateformes de gestion de campagne,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Bonne connaissance des techniques de création de trafic et des méthodes d’optimisations des campagnes webmarketing,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise de Google Analytics et Google Webmaster Tools,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Être à l’affut des nouvelles tendances web (design & techniques de codage, concurrence).</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Dynamique et motivation,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Curiosité et créativité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Réactivité et flexibilité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Rigueur et polyvalence,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Esprit d’équipe.</span></li>
</ul>


