<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHE(E) A LA DIRECTION DES SYSTEMES D’INFORMATION,</span> vous serez en charge du pilotage de l’infogérance technique système et réseau ainsi que du Helpdesk/Service Desk.</p>

<p><span>VOS PRINCIPALES MISSIONS</span> en tant que responsable Helpdesk sont :</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Dans le contexte global de la refonte de notre Système informatique, piloter l’infogérance technique Système et réseaux,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Accompagner le DSI dans la refonte de son architecture technique, participer à son amélioration continue, traiter les incidents, etc,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Manager les équipes Helpdesk/ Service Desk de chargés de support et d’experts applicatifs en veillant au respect des coûts, des délais et de la qualité du service.</span></li>
</ul><br>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION SUPERIEURE BAC+4/5, INGENIEUR SYSTEME,</span> vous justifiez d’une véritable expérience professionnelle sur un poste similaire avec une compétence managériale justifiée par des expériences d’encadrement dans vos missions précédentes. </p><br>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise des logiciels informatiques : Jira, Windows Server, SQL server, AD, Gestion de la Maîtrise de la gestion de sécurité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Forte compétence technique informatique,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise des environnements Helpdesk,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Compétences managériales avérées qui se traduisent par des capacités d'encadrement,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Anglais technique.</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Sens du résultat,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Rigoureux(se) et motivé(e),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Esprit d’équipe,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Capacité d’écoute, </span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Très bonne communication écrite et orale,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Aisance relationnelle.</span></li>
</ul>


