<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHÉ(E) AU RESPONSABLE MARKETING DIGITAL,</span> vous serez en charge de l’émission des appels de cotisation et de prélèvements, de leur suivi, de l’encaissement et les relances.</p>

<p><span>VOS PRINCIPALES MISSIONS</span> en tant que gestionnaire cotisation sont :</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Gérer les encaissements de cotisations (affectation aux dossiers et remises en banque),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Contrôler et corriger les anomalies détectées dans les systèmes de gestion,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Participer aux missions des gestionnaires seniors (émissions de prélèvements, appels de cotisations, résiliations,…).</span></li>
</ul><br>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION SUPERIEURE BAC+2 EN COMPTABILITE-GESTION,</span> vous avez une première expérience significative dans la gestion d’encaissements et recouvrement, idéalement dans les assurances.</p><br>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Bonne connaissance comptable,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise des outils et processus de gestion,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise des outils du Pack Office, notamment Excel.</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Dynamisme et motivation,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Capacité à développer un relationnel,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Rigueur et polyvalence,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Esprit d’équipe.</span></li>
</ul>


