<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>Une entreprise à taille humaine, jeune et dynamique, qui place <b>son capital Humain comme premier capital de l’entreprise !</b></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHE(E) AU SERVICE MARKETING PRODUITS ET SOUS LA RESPONSABILITE DE VOTRE MAITRE D’APPRENTISSAGE,</span>, vous intégrerez une équipe jeune et dynamique.<br><br>
<span>VOS PRINCIPALES MISSIONS :</span></p>

<ul class="liste_dbl_chevrons">

    <li><i class="fa fa-angle-double-right"></i> <span> Participation à la conception et à la mise en marché de nouvelles offres commerciales,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Élaboration de veille des offres concurrentes,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Réalisation de benchmarks produits et services,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Conception et mise à jour des supports commerciaux et des outils d’aide à la vente,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Gestion de projet et de maîtrise d’ouvrage.</span></li>

</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>VOUS PREPAREZ UN MASTER EN « BANQUE, FINANCE, ASSURANCES »</span> et souhaitez intégrer une structure vous permettant de découvrir des compétences variées liées au Marketing Produits et au marché de l’Assurance de Personnes.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Bonnes qualités rédactionnelles et relationnelles,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise du Pack Office,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Capacité à travailler en équipe</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Rigueur et organisation,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Adaptabilité.</span></li>
</ul>


