<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>Une entreprise à taille humaine, jeune et dynamique, qui place <b>son capital Humain comme premier capital de l’entreprise !</b></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHÉ(E) AU RESPONSABLE DU SERVICE COTISATIONS,</span> dans un contexte de changement d’outils informatique et de remise à plat des process de gestion, vous intégrerez une équipe jeune et dynamique de 4 personnes.<br><br>

    LE SERVICE COTISATIONS, rattaché à la Direction Contrôle de Gestion, gère les appels de cotisations d’assurance et leur collecte auprès de nos clients (TNS, entreprises et salariés).<br><br>

<span>VOS PRINCIPALES MISSIONS :</span></p>

<ul class="liste_dbl_chevrons">

    <li><i class="fa fa-angle-double-right"></i> <span> Participer à la gestion en masse des flux d’information (appels mensuels ou trimestriels auprès de 60 000 entreprises pour 190 M€ de collecte),</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Développer des outils d’analyse et des tableaux de bord (en lien avec le contrôle de gestion et le contrôle interne),</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Décrire et améliorer les processus opérationnels et fonctionnels,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Rédiger les cahiers des charges dans le cadre d’un projet de refonte des systèmes d’information.</span></li>
</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>VOUS PREPAREZ UNE FORMATION DE TYPE BAC+4/5 EN GESTION ET FINANCE</span> (école de commerce, Master en Gestion…), vous souhaitez intégrer une structure vous permettant de découvrir des compétences variées liées aux cotisations et tous ses attributs, dans le secteur des Assurances de Personnes.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Bonne connaissance des processus de gestion complexes d’entreprise,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise d’Excel et bonne connaissance du Pack Office,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Esprit d’analyse et de synthèse,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Rigueur et organisation,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Adaptabilité,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Esprit d’équipe,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Bonnes qualités relationnelles et rédactionnelles.</span></li>
</ul>


