<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHE(E) AU DIRECTEUR COMMERCIAL,</span> vous serez amené(e) en tant qu’Inspecteur Commercial à :</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Développer et animer un réseau de courtiers de proximité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Assurer le suivi commercial et le soutien technique aux correspondants courtiers du secteur,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Négocier les objectifs à atteindre, les moyens et le budget nécessaires pour y parvenir,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Concevoir et mettre en place des actions commerciales,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Assurer un suivi régulier, quantitativement et qualitativement, des résultats commerciaux,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Participer au recrutement de nouveaux courtiers et à la formation du réseau.</span></li>
</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION BAC + 2 A BAC + 5</span>à orientation commerciale et/ou d’un BTS Assurances, vous disposez d’une expérience de 5 ans minimum dans le domaine des assurances de personnes.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Connaissance du courtage local</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Expérience avec les réseaux commerciaux des compagnies d’Assurances</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Connaissances étendues en Assurances de Personnes, notamment en Assurances collectives Prévoyance et Santé</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Sens de la communication et force de négociation</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Goût pour la relation client et la vente</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Bon relationnel</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Autonomie, rigueur et sens de l’organisation</span></li>
</ul>


