<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHE(E) A LA DIRECTION DU PÔLE SUR MESURE,</span> vous aurez pour principale mission de développer, en lien avec le réseau de correspondants CIPRÉS Assurances, un portefeuille d’entreprises nécessitant des programmes d’assurances sur-mesure (hors produits standards).</p>

<p><span>VOS PRINCIPALES MISSIONS</span> en tant que technico-commercial(e) confirmé(e) sont :</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Être un support technique et commercial auprès de nos entreprises adhérentes,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Participer à la mise à jour des documents de communication,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Créer et mettre à jour les extranets à destination des DRH et des salariés,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Assurer la mise en place, le suivi et la mise à jour des dossiers clients en interaction avec les services de gestion et de paramétrage,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Participer à la rédaction des pièces contractuelles (conditions générales et particulières, etc.),</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Accompagner les inspecteurs commerciaux dans leurs missions de conseil auprès des courtiers,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Préparer les plannings de sortie des comptes de résultats, en assurer le suivi et la vérification,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Préparer les indexations contractuelles de frais de santé,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Mettre à jour les tableaux de réalisation des affaires nouvelles et des résiliations (Santé/Prévoyance),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Vérifier et envoyer les contrats et avenants.</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Participer à la mise en page des présentations des appels d‘offres (réalisation des tableaux de garanties).</span></li>
</ul><br>

<p>Les dossiers traités par le (la) technico-commercial(e) confirmé(e) requièrent un degré de technicité permettant de gérer des informations variées et d’apporter une solution adéquate à une forte proportion de cas particuliers pouvant se présenter.</p><br>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION SUPERIEURE,</span> vous justifiez d’une expérience professionnelle de <span>5 ANS MINIMUM</span> sur un poste similaire dans le secteur des Assurances de Personnes.</p><br>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Connaissance des Assurances de personnes (régimes complémentaires en Protection sociale, risques
couverts, garanties, types de contrats, etc.),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Capacité d’adaptabilité aux systèmes de gestion,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Excellent sens relationnel et commercial,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise des outils du Pack Office (Word, Excel),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Maîtrise des techniques de gestion d’informations,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Être force de propositions et solutions.</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span> Sens du Service Client,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Dynamisme et motivation,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Capacité à développer un relationnel,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Qualités rédactionnelles et orales,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Rigueur et polyvalence,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span> Esprit d’analyse et de synthèse.</span></li>
</ul>


