<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>Une entreprise qui place <b>son capital Humain comme premier capital de l’entreprise !</b> <br>
    Une <b>équipe jeune, dynamique</b>, qui a pleins de projets !<br>
    Une entreprise qui vous donnera <b>l’opportunité de vous exprimer, d’impulser vos idées</b>, de créer pour la satisfaction des collaborateurs !</p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>AU SEIN D’UNE EQUIPE JEUNE ET DYNAMIQUE DE 2 COLLABORATEURS</span>, et directement rattaché(e) à la Responsable Juridique Métiers, vous aurez en charge des missions variées, comme :</p>

<ul class="liste_dbl_chevrons">

    <li><i class="fa fa-angle-double-right"></i> <span> Contribuer à l’alimentation d’une bibliothèque juridique,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Participer à la rédaction de documents contractuels,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Apporter un conseil juridique aux différentes équipes,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span> Maintenir une veille juridique.</span></li>

</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>VOUS PREPAREZ UNE FORMATION SUPERIEURE DE TYPE Bac+5</span> en droit des Assurances, avec une spécialisation en Protection Sociale ou en Assurance de Personnes, et vous souhaitez effectuer un contrat d’apprentissage dans une entreprise à taille humaine qui vous permette de découvrir l’ensemble du périmètre de la fonction juridique métier dans le monde de l’assurance.<br><br>

Vous justifiez d’un premier stage ou d’une alternance réussis dans un service juridique.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Vous maîtrisez les outils informatiques du pack Office (Word, Excel, Powerpoint).</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Vous avez une expérience avérée sur les moteurs de recherche juridique (ex : Lamy)</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Votre êtes réactif(ve), dynamique, organisé(e) et présentez de bonnes qualités relationnelles et rédactionnelles.</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Vous avez le souhait d’intervenir sur tous les champs de la fonction juridique et faites preuve à ce titre d’adaptabilité et d’agilité. Vous avez le souci du résultat, de la satisfaction clients et de la confidentialité des données.</span></li>
</ul>


