<p class="mboc_titre">4EME COURTIER GROSSISTE FRANÇAIS EN PROTECTION SOCIALE COMPLEMENTAIRE, CIPRÉS ASSURANCES</p>

<p class="ligne"></p>

<p>(170 collaborateurs pour 46,7 M€ en 2014) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. Premier acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut, CIPRÉS ASSURANCES se veut un modèle d’innovation au service de son réseau. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS ASSURANCES un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>AU SEIN DE NOTRE ORGANISATION JURIDIQUE, EN COLLABORATION AVEC LE SERVICE JURIDIQUE METIER ASSURANCES ET LA DIRECTION TECHNIQUE ET ACTUARIAT,</span> vous aurez pour missions principales&nbsp;de&nbsp;:</p>

<ul class="liste_dbl_chevrons">

    <li><i class="fa fa-angle-double-right"></i> <span>Recenser les protocoles, les avenants assureurs, les contrats cadre et les accords pris au sein desdits protocoles,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Classer les dossiers numériques de ces protocoles,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Participer à toute autre mission relative à ce sujet.</span></li>

</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>VOUS PREPAREZ UNE FORMATION SUPERIEURE DE TYPE BAC +4/5</span>en Droit, idéalement avec une spécialisation « Assurance » ou une expérience sur un poste similaire.<br><br>

    Vous justifiez d’un premier stage ou d’une alternance réussi(e) dans un service Communication.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<p>Votre êtes rigoureux, force de proposition, appréciez le travail en équipe et présentez de bonnes qualités relationnelles et rédactionnelles. Vous avez le souci de la confidentialité.</p>

<p class="mboc_titre"> REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p>Vous souhaitez vous immerger dans une fonction juridique en lien avec le monde de l’assurance.<br><br>

    Vous recherchez à intégrer une équipe <span>jeune, dynamique et ambitieuse</span>.<br><br>

    Vous recherchez une entreprise qui vous donnera <span>l’opportunité de vous exprimer, d’impulser vos idées</span>, de créer pour la satisfaction des collaborateurs !</p>