<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>Une entreprise à taille humaine, jeune et dynamique, qui place <b>son capital Humain comme premier capital de l’entreprise !</b></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 700 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHÉ(E) AU DIRECTEUR DE L’ORGANISATION ET PROCESS,</span> vous serez amené(e) en tant que responsable risque
    conformite/compliance à prendre en charge les 4 missions principales suivantes :<br><br>

<p><span>1/ GESTION DES RISQUES ET CONTROLE INTERNE : CONTROLE PERMANENT / CARTOGRAPHIE DES RISQUES</span></p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Établir et mettre en oeuvre un plan de contrôle interne permanent (niveau 2) et veiller à la bonne exécution des contrôles de premier niveau,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Formuler des recommandations fondées sur les résultats des contrôles, s'assurer de la mise en oeuvre de ces recommandations,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Piloter la mise à jour de la cartographie des risques opérationnels.</span></li>
</ul>

<p><span>2/ CONFORMITE</span></p>
<p>Veille réglementaire</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Assurer une mission de veille règlementaire et analyser les risques réglementaires de non-conformité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Étudier l'impact des évolutions et faire des recommandations au regard des procédures et des pratiques,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Piloter le dispositif LCB-FT et Fraude Interne / Externe,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Mettre à jour des procédures LCB-FT,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Mettre en oeuvre des contrôles de second niveau sur la lutte contre le blanchiment,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Prendre en charge les actions de formation des collaborateurs (LCB-FT, Réclamation</span></li>
</ul>

<p>Pilote du dispositif réclamations</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Mettre à jour la procédure réclamations et contribuer à la mise en place du dispositif de traitement,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Effectuer un reporting et un suivi des traitements des réclamations en collaboration avec les entités en charge du traitement niveau 1.</span></li>
</ul>

<p>Projet Règlementaire</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Contribuer et piloter des projets règlementaires (DSN, Eckert,…),</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Contribuer à la revue et l’actualisation des processus.</span></li>
</ul>

<p><span>3/ QUALITE :</span></p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Mettre en place et piloter le dispositif Qualité de l’entreprise,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Organiser des revues qualités avec les référents qualité métier de l’entreprise.</span></li>
</ul>

<p><span>4/ REPORTING :</span></p>
<p>Relations avec les porteurs de risques (assureurs)</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Organiser les audits assureurs,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Participer à la rédaction des réponses au rapport d’audit,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Répondre à toutes demandes ou questionnaires solvabilité 2 des porteurs de risques,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Construire et piloter les plans d’actions.</span></li>
</ul>

<p>Reporting à la Direction Générale</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Établir des rapports portant sur le contrôle périodique, le dispositif LCB-FT et le dispositif de conformité à l'organe de Direction,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Organiser et piloter la revue de risques avec la Direction Générale.</span></li>
</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION SUPERIEUR BAC +5,</span> vous disposez d’une expérience équivalente minimum de 3 ans acquise dans un
    poste similaire où votre polyvalence a été sollicitée.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<p style="font-weight: bold;">Vos savoir-faire et compétences techniques :</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Formalisation de procédures et de processus</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Pilotage de réunions et d’audits</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Mise en place et pilotage de plans d’actions</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Bonne utilisation des outils de bureautique et Internet, qualité rédactionnelle, bonne expression</span></li>
</ul>


<p style="font-weight: bold;">Votre savoir-être :</p>
<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Rigueur et Organisation</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Respect de la confidentialité</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Dynamique</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Esprit d’analyse</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Esprit d’initiative</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Sens de l’autonomie</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Aisance relationnelle</span></li>
</ul>


