<p class="mboc_titre">REJOIGNEZ CIPRÉS ASSURANCES !</p>

<p class="ligne"></p>

<p>CIPRÉS Assurances (180 collaborateurs) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. <b>3ème Courtier Grossiste français en Protection Sociale complémentaire</b>, CIPRÉS Assurances est le 1er acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS Assurances un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>RATTACHE(E) A LA DIRECTION DES SYSTEMES D’INFORMATION,</span> vous serez en charge en tant que MOE de projets de la DSI réalisés en interne ou en sous-traitance.</p>

<p><span>VOS PRINCIPALES MISSIONS</span> en tant que Responsable de Projets MOE sont :</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Piloter l’activité du pôle avec encadrement d’une équipe de chefs de projets ou de développeurs,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Diriger l’évolution de l’ESB, des CRM, et la GED,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Encadrer les différents intervenants (sous-traitante, prestataires, équipes internes) sur les projets, </span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Suivre ses équipes projets et détecter les alertes RH, réaliser les évaluations, faire part de besoins de formation,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Être force de proposition sur toute évolution des organisations ou des outils que vous jugeriez nécessaire dans l’exercice de votre mission.</span></li>
</ul><br>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION SUPERIEURE BAC+4/5, SPECIALISEE EN INFORMATIQUE,</span> vous justifiez d’une véritable expérience professionnelle sur un poste similaire avec une compétence managériale justifiée par des expériences d’encadrement dans vos missions précédentes. </p><br>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Maîtrise des logiciels informatiques : Jira, CRM, GED</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Pilotage d’un projet : Gestion du budget, conduite de réunions, rédaction des CR, reporting,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Forte compétence technique informatique,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Compétences managériales,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Anglais technique.</span></li>
</ul><br>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Compétences managériales avérées qui se traduisent par des capacités d'encadrement,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Dynamisme, esprit d’équipe et sens du résultat,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Aisance relationnelle,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Réactivité et disponibilité,</span></li>
    <li><i class="fa fa-angle-double-right"></i> <span>Très bonne communication écrite et orale.</span></li>
</ul>


