<p class="mboc_titre">4EME COURTIER GROSSISTE FRANÇAIS EN PROTECTION SOCIALE COMPLEMENTAIRE, CIPRÉS ASSURANCES</p>

<p class="ligne"></p>

<p>(170 collaborateurs pour 46,7 M€ en 2014) conçoit, souscrit et gère des programmes d'assurance collective dédiés aux dirigeants et aux salariés de TPE et PME. Premier acteur du marché à avoir conçu une offre packagée destinée aux dirigeants de TPE quel que soit leur statut, CIPRÉS ASSURANCES se veut un modèle d’innovation au service de son réseau. Son positionnement historique, son expertise, sa capacité régulière d’innovation, la qualité de ses partenaires assureurs et son réseau de 3 000 courtiers correspondants font de CIPRÉS ASSURANCES un des acteurs majeurs de l’équipement des TNS et TPE/PME en Protection Sociale complémentaire.</p>

<p class="mboc_titre">MISSIONS &amp; ACTIVITÉS PRINCIPALES</p>

<p><span>AU SEIN DE NOTRE ORGANISATION JURIDIQUE, EN COLLABORATION AVEC LE SERVICE JURIDIQUE METIER ASSURANCES ET LE SERVICE CONFORMITE/COMPLIANCE,</span> vous aurez en charge la rédaction des protocoles et des conventions.</p>

<p><span>VOS PRINCIPALES MISSIONS</span> en tant que juriste sont : </p>

<ul class="liste_dbl_chevrons">

    <li><i class="fa fa-angle-double-right"></i> <span>Rédaction des protocoles/conventions/partenariats (courtiers, assureurs, partenaires),</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Relecture et validation des contrats d’engagement (partenariats, prestataires, etc.),</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Accompagnement des renégociations commerciales,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Missions transverses au sein des différentes directions.</span></li>

</ul>

<p class="mboc_titre">PROFIL</p>

<p><span>DE FORMATION SUPERIEURE EN DROIT,</span>vous disposez d’une <span>expérience professionnelle</span> significative d'au moins <span>3 ans</span> dans une compagnie d’assurances et/ou chez un courtier en assurances.</p>

<p class="mboc_titre">APTITUDES &amp; COMPÉTENCES</p>

<ul class="liste_dbl_chevrons">
    <li><i class="fa fa-angle-double-right"></i> <span>Véritable expérience dans la rédaction de protocoles dans le secteur des Assurances,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Compétences avérées en droit des contrats et en droit des assurances,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Maîtrise des outils du Pack Office (Word, Excel),</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Compréhension des process,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Compétence de pédagogue et bonne capacité d’écoute,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Sens de l’organisation et de la planification,</span></li>

    <li><i class="fa fa-angle-double-right"></i> <span>Calme et réactif.</span></li>

</ul>


