{% extends 'base.html.twig' %}

{% block title %}
	Solutions d'assurances professionnelles | CIPRES ASSURANCES
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="CIPRÉS Assurances se positionne en spécialiste de l'assurance santé et de la prévoyance à destination des indépendants. Découvrez nos solutions !" />
{% endblock %}

{% block body %}
	<div class="main">
		{#<div class="actu_filtre">#}
			{#<div class="content">#}
				{#{% if search == 1 and solution1 == 0 and solution2 == 0 and solution3 == 0 and solution4 == 0 and solution5 == 0 and solution6 == 0 %}#}
					{#<p class="noresult">Votre recherche n’a généré aucun résultat, voici un panel global de nos solutions :</p>#}
				{#{% endif %}#}
				{#<ul class="nav navbar-nav nav_filtre">#}
					{#<li class="af_filtre">FILTREZ LES OFFRES :</li>#}
					{#<li class="licat0 active"><a onclick="displaySolution(0)">Tout afficher</a></li>#}
					{#{% if nb1 > 0 %}<li class="licat1"><a onclick="displaySolution(1)">TNS</a></li>{% endif %}#}
					{#{% if nb2 > 0 %}<li class="licat2"><a onclick="displaySolution(2)">Entreprises</a></li>{% endif %}#}
					{#{% if nb3 > 0 %}<li class="licat3"><a onclick="displaySolution(3)">Salariés</a></li>{% endif %}#}
					{#{% if nb4 > 0 %}<li class="licat4"><a onclick="displaySolution(4)">Services assurés</a></li>{% endif %}#}
				{#</ul>			#}
			{#</div>#}
		{#</div>#}
		<div class="actu_filtre">
			<div class="content">
				{% if search == 1 and solution1 == 0 and solution2 == 0 and solution3 == 0 and solution4 == 0 and solution5 == 0 and solution6 == 0 %}
					<p class="noresult">Votre recherche n’a généré aucun résultat, voici un panel global de nos solutions :</p>
				{% endif %}
				<ul class="nav navbar-nav nav_filtre">
					<li class="af_filtre">FILTRER LES OFFRES :</li>
					<li class="licat0 active filter" data-filter="all">Tout afficher</li>
					{% if nb1  > 0 %}<li class="licat1 filter" data-filter=".cat1">TNS</li>{% endif %}
					{% if nb2 > 0 %}<li class="licat2 filter" data-filter=".cat2">Entreprises</li>{% endif %}
					{% if nb3 > 0 %}<li class="licat3 filter" data-filter=".cat3">Salariés</li>{% endif %}
					{% if nb4 > 0 %}<li class="licat4 filter" data-filter=".cat4">Services assurés</li>{% endif %}
					{% if nb6 > 0 %}<li class="licat6 filter" data-filter=".cat6">Mandataires sociaux</li>{% endif %}
				</ul>
			</div>
		</div>
		<div class="actu_list">
			<div class="content" id="Container">
				{% for solution in solutions %}
					<div class="col-md-4 mix cat{{ solution.categorie }} sol{{ solution.id }}" onclick="window.open('{% if solution.url %}{{ solution.url }}{% else %}{{ path('solution_show', {'slug': solution.slug} ) }}{% endif %}', '_self');" style="cursor:pointer;">
						<div class="box_solution">
							<div class="bs_top">
								<img src="{{ asset(('upload/Solution/'~ solution.id ~'/'~ solution.image) | imagine_filter('list_thumb')) }}" />
							</div>
							<div class="bs_content">
								<h3>{{ solution.titre }}<br/>
								<span>{{ solution.sstitre }}</span></h3>
								<div class="ligne"></div>
								<p>{{ solution.resume }}</p>
							</div>
							<div class="bs_footer waves-effect waves-light">
								<a>En savoir</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<script src="http://cdn.jsdelivr.net/jquery.mixitup/latest/jquery.mixitup.min.js"></script>
	<script>
		$('#Container').mixItUp();
	</script>

	<script>
		function displaySolution(id)
		{
			if(id == 0)
			{
				$('.cat1').fadeIn( "slow");
				$('.cat2').fadeIn( "slow");
				$('.cat3').fadeIn( "slow");
				$('.cat4').fadeIn( "slow");

				$(".nav_filtre li").removeClass('active');
				$(".licat0").addClass('active');
			}
			else
			{
				$('.cat1').hide();
				$('.cat2').hide();
				$('.cat3').hide();
				$('.cat4').hide();
				$('.cat'+id).fadeIn( "slow");

				$(".nav_filtre li").removeClass('active');
				$(".licat"+id).addClass('active');
			}
		}

		{% if search == 1 %}
		$( document ).ready(function() {
			$('.cat1').hide();
			$('.cat2').hide();
			$('.cat3').hide();
			$('.cat4').hide();
			$('.cat5').hide();

			{% if solution1 == 0 and solution2 == 0 and solution3 == 0 and solution4 == 0 and solution5 == 0 and solution6 == 0 %}
			$('.cat1').fadeIn( "slow");
			$('.cat2').fadeIn( "slow");
			$('.cat3').fadeIn( "slow");
			$('.cat4').fadeIn( "slow");
			$('.cat5').fadeIn( "slow");

			$(".nav_filtre li").removeClass('active');
			$(".licat0").addClass('active')
			{% else %}
			{% if solution1 == 1 %}
			$('.sol9').fadeIn( "slow");
			$('.sol5').fadeIn( "slow");
			{% endif %}
			{% if solution2 == 1 %}
			$('.sol4').fadeIn( "slow");
			{% endif %}
			{% if solution3 == 1 %}
			$('.sol2').fadeIn( "slow");
			{% endif %}
			{% if solution4 == 1 %}
			$('.sol3').fadeIn( "slow");
			{% endif %}
			{% if solution5 == 1 %}
			$('.sol8').fadeIn( "slow");
			{% endif %}
			{% if solution6 == 1 %}
			$('.sol6').fadeIn( "slow");
			{% endif %}
			{% endif %}
		});
		{% endif %}
	</script>
{% endblock %}