{% extends 'base.html.twig' %}

{% block title %}
	{{ entity.title }}
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="{{ entity.descr }}" />
{% endblock %}

{% block body %}
	<div class="main">
		<div class="solution_content">		
			<div class="content">
				<p class="psc_retour"><a href="{{ path('solution_index') }}" class="sc_retour"><i class="fa fa-angle-double-left"></i> VOIR TOUTES LES SOLUTIONS</a></p>
				<div class="col-md-12 nopadding">
					<div class="col-md-9 nopadding">
						{{ entity.contenu|raw }}
					</div>
					<div class="col-md-3 nopadding" id="blocs_dte">
                        <div id="wrapper" data-spy="affix" data-offset-top="225" data-offset-bottom="560">
                            <div class="solution_bloc_droit">
                                <h2 class="scr_h2">Vous êtes TNS ou Chef d'entreprise?</h2>
                                <img src="{{ asset('bundles/cipres/img/solution_img_droite_2.jpg') }}" />
                                <p><b>Vous recherchez des solutions pour vous ou vos salariés ?</b></p>
                                <p>Un courtier partenaire, peut vous accompagner dans vos démarches.</p>
                                <div class="sbd_1" onclick="window.open('{{ path('contact_index', {'raison' : 'rappel'}) }}', '_self');">Etre rappelé par un courtier</div>
                            </div>
                            <div class="solution_bloc_droit" id="solution_bloc_droit">
                                <h2 class="scr_h2">Vous êtes courtier ?</h2>
                                <img src="{{ asset('bundles/cipres/img/solution_img_droite.jpg') }}" />
                                <p><b>Nos solutions vous intéressent</b> et vous souhaitez les proposer à vos clients TNS, TPE et PME ?</p>
                                <div class="sbd_2" onclick="window.open('{{ path('contact_index', {'raison':'partenaire'}) }}', '_self');">Devenir courtier partenaire</div>
                            </div>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <script>
        $('#blocs_dte').parent('.col-md-12').css("overflow", "visible");
    </script>


{% endblock %}