@import "materialize/sass/components/waves";
@import "materialize/sass/components/color";
@import "materialize/sass/components/variables";
//@import "materialize/sass/components/forms/forms";
@import "partials/variables";
@import "partials/responsive";

//===============================
// ====    Header et Menus   ====
//===============================
header {
  box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);
  min-height: 170px;
  
  .logo_mobile, .bloc_titre {
    display: none;
  }
  
  .espace_assure {
    background: #1174B2;
  }

  .espace_assure:hover {
    background-color: #1174B2;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);

    i {
      background-color: #055e93 ;
    }
  }

  .espace_perso:hover {
    background-color: $vert_clair;
    box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);

    i {
      background-color: $vert_fonce ;
    }
  }

  .content {
    width: 85%;

    .hc_top {
      .ht_titre {
        font-size: 28px;
      }

      .ht_sstitre {
        font-size: 22px;
      }
    }

    ul {
      li {
        a{
          font-size: 16px;
          margin-left: 15px;
          margin-right: 15px;
        }
      }
    }

    .dropdown {
      cursor: pointer;
    }

    .dropdown-menu {
      left: -310px;
      display: block;

      @media only screen and (max-width: 1280px) {
        left: -190px;
      }

      border-top: 1px solid #e7e7e7;
      background: $gris;

      -webkit-transition: all 0.35s ease;
      -moz-transition: all 0.35s ease;
      -o-transition: all 0.35s ease;
      transition: all 0.35s ease;

      transform: scaleY(0);
      transform-origin: top;
    }

    .open > .dropdown-menu {

      transform: scaleY(1);
    }
  }

  .ssmenu3 {
    padding-left: 749px;
  }

  .ssmenu4 {
    padding-left: 749px;
  }

  &.affix {
    min-height: 64px !important;
    .nav {
      li {
        a {
          padding-top: 20px;
          padding-bottom: 22px;
        }

        &.active {
          a {
            padding-top: 15px !important;
            padding-bottom: 22px;
          }
        }

        &:hover {
          a {
            padding-top: 15px !important;
            padding-bottom: 22px;
          }
        }
      }
    }

    .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
      padding-top: 15px;
    }

    .ssmenu1 {
      @media only screen and (max-width: 1920px) {
        padding-left: 655px;
      }
      @media only screen and (max-width: 1280px) {
        padding-left: 235px;
      }
    }

    .ssmenu3 {
      @media only screen and (max-width: 1920px) {
        padding-left: 1200px;
      }
      @media only screen and (max-width: 1280px) {
        padding-left: 780px;
      }
    }

    .ssmenu4 {
      @media only screen and (max-width: 1920px) {
        padding-left: 1200px;
      }
      @media only screen and (max-width: 1280px) {
        padding-left: 780px;
      }
    }

    .dropdown-menu {
      margin-top: -1px;
    }
  }
}


//=========== COOKIES ===========
.cc_container .cc_btn, .cc_container .cc_btn:visited {
  background-color: $bleu_clair !important;
  color: #ffffff !important;
}

.cc_container {
  padding: 10px 30px !important;
}

.cc_container .cc_btn {
  max-width: 100px !important;
  width: 28% !important;
}

.cc_container .cc_message {
  font-size: 15px !important;
}

//===============================
// ====        HOME         ====
//===============================
.solution_accueil, .box {
  background-color: $gris;
}

.sar_cta {
  cursor: pointer;

  i {
    font-size: 28px;
    padding-left: 10px;
  }
}

.submit_with_chevrons {
  background-color: $vert_clair;
  border: medium none;
  box-shadow: 3px 3px 10px -6px #000000;
  color: white;
  font-family: "AntonioBold", sans-serif;
  font-size: 22px;
  height: 38px;
  line-height: 28px;
  margin-top: 323px;
  position: absolute;
  right: 150px;
  text-align: left;
  width: 150px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  padding-left: 20px;

  &:hover {
    background-color: $vert_fonce;
  }

  i {
    padding-left: 10px;
    font-size: 28px;
  }
}

.modal-dialog {
  width: auto;

  .modal-header {
    border: 0;
  }
}


.content_parallax {
  .p1_3 span::after {
    background-image: none;
  }

  i {
    font-size: 28px;
    padding-left: 10px;
  }
}


//===============================
// ====        DIVERS       ====
//===============================
table {
  width:100%;
  display: table;

  &.bordered > thead > tr,
  &.bordered > tbody > tr {
    border-bottom: 1px solid $table-border-color;
  }

  &.striped > tbody {
    > tr:nth-child(odd) {
      background-color: $table-striped-color;
    }

    > tr > td {
      border-radius: 0;
    }
  }

  &.highlight > tbody > tr {
    transition: background-color .25s ease;
    &:hover {
      background-color: $table-striped-color;
    }
  }

  &.centered {
    thead tr th, tbody tr td {
      text-align: center;
    }
  }

  &.tableau_classique {
    background-color: #ffffff;
    box-shadow: 0 5px 8px -7px gray;

    td {
      padding: 15px !important;
    }

    th {
      padding: 8px 15px !important;
      color: $bleu_clair;
    }
  }

}

thead {
  border-bottom: 1px solid $table-border-color;
  background-color: $bleu_clair;
  color: #ffffff;

  th {
    padding-left: 15px;
  }
}

td, th{
  padding: 15px 5px 15px 15px;
  display: table-cell;
  text-align: left;
  vertical-align: middle;
  border-radius: 2px;
}

b, strong {
  font-weight: 600;
}

.sa_left {
  display: none;
}

.next {
  a {
    box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.4);
  }
}

.scrollToTop {
  background: $bleu_clair none;
  color: #FFFFFF;
  font-size: 32px;
  line-height: 50px;
  box-shadow: 0 3px 4px -2px rgba(0, 0, 0, 0.4);
  z-index: 999;
  
  &:focus {
    color: #ffffff;
  }
}

.cc_content {
  line-height: 24px;
}

.navigation {
  height: auto;
}

//===========================================================
// ==== BLOCS Accueil, Actus, Solutions et Offres emploi ====
//===========================================================

// Blocs Accueil
.box_solution {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
  border:0;

  .bs_top {
    border:0;

    .bt_type {
      right:15px;
    }

    img {
      width:100%;
    }
  }

  .bs_content {
    h3 {
      span {
        font-size: 18px !important;
      }
    }
  }

  .bs_footer {
    box-shadow: none;
    line-height: 40px;

    a::after{
      width:auto;
      content:"\f055";
      font-family: FontAwesome, sans-serif;
      background: none;
      font-size: 26px;
      margin-left: 12px;
    }
  }
}

// Blocs Actus
.box_actu {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
  border:0;

  .ba_top {
    border:0;

    img {
      width:100%;
      min-height:234px;

      @media screen and(max-width: 1040px) {
        min-height: unset !important;
      }
    }
  }
  
  .ba_content {
    background-color: $gris !important;
  }

  .ba_footer {
    box-shadow: none;
    line-height: 40px;

    a::after, p::after{
      width:auto;
      content:"\f101";
      font-family: FontAwesome, sans-serif;
      background: none;
      font-size: 26px;
      margin-left: 12px;
    }
  }
}

// Blocs offres emploi
.box_offre {
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
  border: 0;
  cursor: pointer;

  .bs_footer {
    box-shadow: none;
    line-height: 40px;

    a{
      display: block;
    }

    a::after, p::after {
      width: auto;
      content: "\f101";
      font-family: FontAwesome, sans-serif;
      background: none;
      font-size: 26px;
      margin-left: 12px;
    }
  }
}


//===============================
// ====        Boutons      ====
//===============================
// Boutons page metier
.next.waves-effect.waves-light {
  height: 38px;

  a {
    background-image: none;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.4);
    padding: 3px 10px;
    line-height: 30px;

    &::after{
      font-family: FontAwesome, sans-serif;
      content: "\f101";
      font-size: 22px;
      padding-left: 15px;
    }

    &:hover {
      background-image: none !important;
    }

    &:focus, &:active {
      text-decoration: none;
    }
  }

  &:hover a {
    background-image: none !important;
  }
}

// Boutons connexion
.btn-1f {
  overflow: hidden;
}

.btn-1f:after {
  width: 101%;
  height: 0;
  top: 50%;
  left: 50%;
  background: $bleu_clair;
  opacity: 0;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover,
.btn-1f:active {
  color: #ffffff;
}

.btn-1f:hover:after {
  height: 75%;
  opacity: 1;
}

.btn-1f:active:after {
  height: 130%;
  opacity: 1;
}

//===============================
// ==== Blocs de droite sticky===
//===============================
#wrapper {
  @media (max-height: 700px) {
    img {
      display: none;
    }
  }

  &.affix {
    width:262px;
    top: 80px;

    img {
      display: block;
    }

    @media (max-height: 700px) {
      img {
        display: none;
      }
    }

    @media (max-width: 767px) {
      img {
        display: block;
      }
    }
  }

  &.affix-top {
    width:262px;
    top: 80px;
  }

  &.affix-bottom {
    position: relative;
  }

  .solution_bloc_droit {
    border: 1px solid $gris;
    box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.4);
    background: $gris;

    .scr_h2 {
      background-color: $bleu_fonce;
      color: #ffffff;
      font-family: "Antonio", sans-serif;
      font-size: 22px;
      line-height: 28px;
      margin: 0;
      padding-bottom: 14px;
      padding-left: 20px;
      padding-top: 12px;
    }

    .sbd_1, .sbd_2 {
      background: $vert_fonce;
      font-size:18px;
    }

    p {
      line-height: 22px;
    }
  }
}

//=====================================================
// ==== Filtres dynamiques pages solutions et actus ===
//=====================================================
#Container .mix {
  display: none;
  opacity: 1 !important;
}

.nav_filtre {
  li {
    padding: 10px 0;
    border-top: 5px solid #FFFFFF;
  }

  li.active {
     border-top: 5px solid $bleu_clair;
     color: $bleu_fonce;
     padding: 10px 0 !important;
   }

  li:hover {
    border-top: 5px solid $bleu_clair;
    color: $bleu_fonce;
    cursor: pointer;
  }
}

.filtre_mediatheque {
  li.active {
    border-top: 0;
    color: $bleu_fonce;
    padding: 10px 0 !important;
  }

  li:hover {
    border-top: 0;
    color: $bleu_fonce;
    cursor: pointer;
  }

  .nav_filtre li a {
    padding-top: 0;
  }
}

.af_filtre {
  border-top-color: #ffffff !important;
  color: $bleu_fonce;
  padding: 10px 0 !important;
}

// Blocs de contenu
.solution_content {
  .col-md-9 {
    background: $gris;
  }
}

//===============================
// ==== Page Qui sommes-nous ====
//===============================
.visuel_qsn_resume {
  overflow: hidden;

  img {
    min-height: 570px;
    width: auto !important;

    @media only screen and (max-width: 768px) {
      min-height: unset;
    }

  }
}



//===============================
// ==== Page gouvernance ====
//===============================
.mbo_header {

  .mh_content {
    h2 {
      padding: 10px 0 10px 20px;
    }

    p {
      margin-top: 20px;
      line-height: 30px;
      font-size: 14px;
    }
  }
}

.slider-container .item {
  cursor: default !important;
}

.gouvernance_footer {
  background: $gris;
}

//===============================
// ==== Page offres d'emploi ====
//===============================
.bo_content {
  background: $gris;
}

.mbo_content {
  background: $gris;
}

//===============================
// ====   Pages solutions   ====
//===============================
.cc_titre {
  line-height: 0.9;

  &.titre_cp {
    font-size: 30px;
    line-height: 40px !important;
  }

  span {
    font-size: 20px !important;
  }
}

.solution_bleu_droite {
  img {
    width:auto;
    height: auto !important;
  }

  h3 {
    font-size: 20px;
    margin-bottom: 0;

    i {
      font-size: 22px;
    }
  }

  p {
    padding: 15px 0 10px 15px;
  }
}

.sc_pack2 h3 {
  color: $vert_fonce;
  font-family: "Antonio", sans-serif;
  font-size: 18px;
}

.sc_pack5 h3 {
  font-family: "Antonio", sans-serif;
  font-size: 20px;
}

ul.liste_check {
  list-style-type: none;
  margin-top: 20px;
  padding-left:  15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;

  li {
    margin-bottom: 20px;
    text-align: left;

    .fa-check {
      float: left;
      display: inline-block;
      vertical-align: top;
      padding-top: 2px;
    }

    span {
      display: inline-block;
      max-width: 85%;
    }
  }
}

.cta_solutions {
  background-color: #ffffff;
  color: #666666;
  text-align: center;
  padding: 15px;
  display: table;
  width: 70%;
  margin: 0 auto 30px;
  line-height: 34px;
  box-shadow: 0 5px 6px -5px rgba(0, 0, 0, 0.4);
  font-weight: bold;

  a {
    height: 35px;
    line-height: 35px;
    display: block;
    font-size: 18px;
    max-width: 250px;
    text-align: center;
    background-color: $bleu_clair;
    color: #ffffff;
    font-family: "Antonio", sans-serif;
    font-weight: normal;

    &:hover {
      text-decoration: none;
    }

    &::before {
      font-family: FontAwesome, sans-serif;
      content: '\f016';
      padding-right: 15px;
      font-size: 16px;
    }
  }
}

.sc_retour {
  background: none;
  padding: 10px 20px 10px 15px;
  
  &:hover {
    background-image: none;
  }

  &:focus {
    text-decoration: none;
  }

  i {
    font-size: 20px;
    padding-right: 10px;
  }
}


//===============================
// ====   Pages actualités   ====
//===============================
blockquote {
  font-size: 14px !important;

  footer {
    font-size: 90%;
  }
}

ul.liste_dbl_chevrons {
  list-style-type: none;
  margin-top: 20px;

  li {
    margin-bottom: 20px;
    text-align: left;

    span {
      display: inline-block;
      max-width: 85%;
    }

    i {
      font-size: 18px;
      color: $vert_clair;
      float: left;
      vertical-align: top;
      padding-top: 2px;
      padding-right: 10px;
    }

    ul.ss_liste {
      list-style-type: none;
      margin-top: 20px;

      li {
        margin-bottom: 15px;
      }
    }

    .btn_bleu_clair, .btn_vert {
      height: 30px !important;
      line-height: 30px !important;
      min-width: unset !important;
      width: 200px !important;

      &:first-child {
        margin-right: 20px !important;
      }

      i {
        padding-top: 5px !important;

        &.fa-clock-o {
          font-size: 22px;
        }
      }
    }
  }
}

.ac_content {
  line-height: 24px;

  .mboc_titre {
    font-size: 20px !important;
    margin-top: 25px;
  }
  
  ul.liste_check {
    i {
      color: $vert_clair;
    }
  }
}

.backVert {
  background-color: #ffffff !important;
  color: #000000 !important;
  -webkit-box-shadow: 0 5px 8px -7px gray;
  -moz-box-shadow: 0 5px 8px -7px gray;
  box-shadow: 0 5px 8px -7px gray;
  border-left: 2px solid #91BB14;
  padding-left: 20px;
}

.bac_titre {
  h3 {
    font-size: 18px !important;
    line-height: 1 !important;
  }
}



//=======================================
// ====   Pages Communiqués Presse   ====
//=======================================
.cms_content .content {
  background: $gris none;
}

.presse {
  h1 {
    font-size: 20px;
  }
}

//===============================
// ==== Pages recrutement     ===
//===============================
.fond_bleu_clair {
  background-color: $bleu_clair;

  .cc_titre {
    color: #ffffff;
    padding: 15px 12px 15px 15px !important;

    span {
      font-size: 22px !important;
    }
  }
  .boutonBleu {
    background-color: #ffffff;
    color: $bleu_fonce;
    box-shadow: 3px 3px 10px -6px #000000;
    
    &:hover {
      color: #ffffff;
    }
  }

  center {
    padding-top: 20px;
    max-height: 160px;
  }
}

.bloc_bleu {
  min-height: 790px;

  @media screen and (max-width: 768px) {
    min-height: unset;
  }
}

.boutonVert {
  i {
    padding-left: 10px;
    font-size: 28px;
  }
}

.boutonBleu {
  i {
    padding-left: 10px;
    font-size: 28px;
  }

  &:hover {
    background-color: $bleu_fonce;
  }
}

.modal-body {
  .btn {
    position: relative;
    margin-top: 20px;
    padding-top: 0;
    right: 0;
    height: 30px;
    line-height: 30px;
  }

  .mbo_footer2 p a::after {
    background-image: none;
  }

  .fa-download {
    padding-left: 15px;
  }
}

//=======================================
// ====         Page Contact          ===
//=======================================
.fc_etape6_1, .fc_etape6_2, .fc_etape6_1_2, .fc_etape6_1_3 {
  display: none;
}

.fc_etape8_1, .fc_etape8_2, .fc_etape8_1_2, .fc_etape8_1_3 {
  display: none;
}

.fc_etape6_1_2, .fc_etape8_1_2 {
  .col-md-8 {
    margin-bottom:0;
    border-left: none;
  }
}

.champ_client {
  display: none;
}

#fc_etape6, #fc_etape7, #fc_etape8, #fc_etape9 {
  display: none;
}

#appbundle_contacttype_besoins_EC label {
  width: 93%;
}

.datepicker {
  &.dropdown-menu {
    width: auto;
    visibility: visible;
    opacity: 1;
    right: unset !important;
    background-color: #ffffff;
  }
}

//=======================================
// ====         Pages Newsletter      ===
//=======================================

//============== Pages archives ===========
.newsletter_wrapper {
  .bac_titre {
    h3 {
      margin-bottom: 5px !important;
      font-size: 24px !important;

      span {
        font-size: 18px !important;
      }
    }

    .titre_article {
      font-size: 20px !important;
    }
  }
}


//============== Pages articles ===========
.enews_container, .actualite_content {
  font-family: "Open Sans", sans-serif;

  .date_enews {
    text-align: right;
    font-size: 20px;
    font-weight: 600;

    .num_edition {
      font-size: 26px;
      text-transform: uppercase;
      color: $bleu_fonce;
    }

    .date_edition {
      color: #777777;
    }
  }


  // Styles du sommaire
  #sommaire_wrapper {
    @extend #wrapper;

    &.affix, &.affix-top, &.affix-bottom {
      width: 300px;
    }

    .sommaire_container {
      background-color: #f5f5f5;
      padding: 20px 10px 20px 20px;
      -webkit-box-shadow: 0 5px 8px -7px gray;
      -moz-box-shadow: 0 5px 8px -7px gray;
      box-shadow: 0 5px 8px -7px gray;
      margin-bottom: 30px;

      h3 {
        font-family: "AntonioLight", sans-serif;
        margin-top: 0;
        margin-bottom: 25px;
        padding-right: 15px;
        text-align: center;
        font-size: 26px;
        color: $bleu_clair;

        i{
          padding-right: 10px;
        }
      }

      .sommaire {
        list-style-type: none;
        min-height: 250px;
        padding-left: 0;

        li {
          text-decoration: none;
          min-height: 55px;
          font-size: 15px;
          padding-left: 10px;
          border-left: 2px solid $bleu_clair;
          margin-top: 25px;
          transition-duration: 1s;

          a {
            display: block;
            color: #333333;
            padding-top: 5px;

            &:hover {
              text-decoration: none;
              color: $bleu_clair;
            }

            &:focus {
              text-decoration: none;
            }
          }

          &:hover {
            //border-left-color: $bleu_fonce;
          }
        }
      }
    }
  }


  // Styles des articles
  .ac_content {
    padding: 0 !important;
  }

  .contenu_articles, .ac_content {
    -webkit-box-shadow: 0 5px 8px -7px gray;
    -moz-box-shadow: 0 5px 8px -7px gray;
    box-shadow: 0 5px 8px -7px gray;
    padding: 20px 25px;
    line-height: 24px;
    background-color: $gris;

    //images
    .visuel_article_enews img {
      min-width: 60%;
      max-width: 340px;
      -webkit-box-shadow: 0 5px 8px -7px gray;
      -moz-box-shadow: 0 5px 8px -7px gray;
      box-shadow: 0 5px 8px -7px gray;
      margin-bottom: 20px;
    }

    //Listes
    .liste_dbl_chevrons {
      margin-bottom: 30px;

      &.puces_bleues {
        @extend .liste_dbl_chevrons;

        li{
          i{
            color: $bleu_fonce !important;
          }
        }
      }
    }

    .puce_num_rond {
      margin-right: 15px;
      margin-bottom: 5px;
    }

    .small {
      font-size: 11px;
      margin-top: 10px;
    }

    // Titres
    .titre_actu {
      color: #034167;
      font-family: AntonioLight,sans-serif;
      font-size: 26px;
      line-height: 34px;
      margin-top: 0;
      margin-bottom: 10px;
    }

    .type_actu {
      font-family: AntonioLight, sans-serif;
      font-size: 22px;
      color: $bleu_clair;
      margin-bottom: 10px;
    }

    .titre_bleu_clair {
      font-size: 18px;
      color: $bleu_clair;
      font-weight: 600;
      margin: 25px 0 5px 0;
    }

    .titre_vert_fonce {
      @extend .titre_bleu_clair;
      color: $vert_fonce;
    }

    .titre_bleu_fonce {
      @extend .titre_bleu_clair;
      color: $bleu_fonce;
    }

    .titre_gris_fonce {
      @extend .titre_bleu_clair;
      color: #333333;
    }

    .full_ligne_vert_fonce {
      border-bottom: 1px solid $vert_fonce;
      margin-bottom: 10px;
    }

    .full_ligne_bleu_clair {
      border-bottom: 1px solid $bleu_clair;
      margin-bottom: 10px;
    }

    .full_ligne_bleu_fonce {
      border-bottom: 1px solid $bleu_fonce;
      margin-bottom: 10px;
    }

    //Boutons
    .btn_vert {
      display: inline-block;
      min-width: 250px;
      height: 40px;
      line-height: 40px;
      background-color: $vert_clair;
      color: #ffffff;
      text-align: center;
      font-weight: 600;
      font-size: 18px;

      -webkit-border-radius: 1px;
      -moz-border-radius: 1px;
      border-radius: 1px;

      -webkit-box-shadow: 0 5px 8px -7px gray;
      -moz-box-shadow: 0 5px 8px -7px gray;
      box-shadow: 0 5px 8px -7px gray;

      margin: 20px 0;
      padding: 0 20px;

      &.center {
        margin: 20px auto;
      }

      &:focus {
        text-decoration: none;
      }

      &:hover {
        text-decoration: none;
        background-color: $vert_fonce;
      }

      i {
        color: #ffffff;
      }

      .fa-eye {
        font-size: 22px;
        margin-right: -30px;
        padding-top: 10px;
        display: block;
        float: left;
        padding-left: 30px;
      }

      .fa-file-pdf-o {
        font-size: 20px;
        padding-right: 10px;
      }

      .fa-user {
        padding-right: 5px;
      }
    }

    .btn_bleu_clair {
      @extend .btn_vert;
      background-color: $bleu_clair;

      &.center {
        margin: 20px auto;
        display: block;
        width: 250px;

        &.large {
          width: 350px;
        }
      }

      &:hover {
        background-color: $bleu_fonce;
      }
    }

    .btn_bleu_fonce {
      @extend .btn_vert;
      background-color: $bleu_fonce;

      &.center {
        margin: 20px auto;
      }

      &:hover {
        background-color: $bleu_clair;
      }
    }

    .btn_plus {
      i {
        font-size: 21px;
        margin-left: 10px;
      }
    }


    // Blocs & encadrés
    .fond_gris_bd_vert_clair {
      padding: 15px;
      margin: 20px 0;
      border-left: 3px solid $vert_clair;
      background-color: #ffffff;
      -webkit-box-shadow: 0 5px 8px -7px gray;
      -moz-box-shadow: 0 5px 8px -7px gray;
      box-shadow: 0 5px 8px -7px gray;
    }

    .fond_gris_bd_vert_fonce {
      @extend .fond_gris_bd_vert_clair;
      border-left: 3px solid $vert_fonce;
    }

    .fond_gris_bd_bleu_clair {
      @extend .fond_gris_bd_vert_clair;
      border-left: 3px solid $bleu_clair;
    }

    .fond_gris_bd_bleu_fonce {
      @extend .fond_gris_bd_vert_clair;
      border-left: 3px solid $bleu_fonce;
    }

    .bordure_bleue {
      border: 2px solid $bleu_clair;
      padding: 10px 15px;
      min-height: 410px;
    }

    .bloc_titre_fond_bleu {
      background-color: $bleu_clair;
      color: #ffffff;
      padding: 10px 15px;
    }

    .cadre_bleu_clair {
      border: 1px solid $bleu_clair;
      padding: 15px;
      margin: 20px 0;
      background-color: #ffffff;

      b {
        font-size: 16px;
      }

      i{
        font-size: 22px;
        margin-right: 15px;
        padding-top: 2px;
        display: block;
        float: left;
        color: $bleu_clair;
      }
    }

    .cadre_vert_clair {
      @extend .cadre_bleu_clair;
      border: 1px solid $vert_clair;
      
      i{
        color: $vert_clair;
      }
    }

    .bloc_webconf {
      background-color: #ffffff;
      padding: 15px;
      -webkit-box-shadow: 0 5px 8px -7px gray;
      -moz-box-shadow: 0 5px 8px -7px gray;
      box-shadow: 0 5px 8px -7px gray;

      .titre_bloc {
        text-align: center;
        line-height: 40px;
        margin-bottom: 10px;

        i {
          font-size: 55px;
          color: $bleu_fonce;
          display: block;
        }

        b {
          font-size: 20px;
          text-transform: uppercase;
          color: $bleu_clair;
        }
      }
    }

    //Animations de blocs au scroll
    .notdisplayed{
      opacity:0;
    }
    .displayed{
      opacity:1;
    }

    // Formulaires & Sondages
    .checkbox {
      label {
        width: 95%;
        display: block;
      }

      input {
        margin-left: 20px;
      }
    }

    textarea {
      width: 50%;
      min-height: 140px;
      margin-bottom:  20px;
    }

    input[type="submit"] {
      display: block;
      position: relative;
      margin-top: 0;
      right: unset;
    }

  }

}

.erreur404 {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 24px;
  margin: 240px 0;
}


//=======================================
// ====     PAGES REUNIONS INFO      ====
//=======================================
.header-reunions {
  background-color: #ffffff;
  border-top: 4px solid $bleu_clair;
  height: 100px;
  position: relative;
  box-shadow: 0 5px 8px -4px rgba(0, 0, 0, 0.4);

  .logo_rond {
    position: absolute;
  }

  h2 {
    margin: 0;
    font-family: "Antonio", sans-serif;
    font-size: 26px;
    color: $bleu_fonce;
    padding-top: 30px;
    padding-left: 20px;
    
    span {
      color: #999999;
      padding-left: 20px;
      font-size: 20px;
    }
  }
}

#petits-dejs {
  background-color: $gris;

  .cms_slide {
    max-height: 400px;
  }
  
  .content{
    background-image: none !important;
  }
  
  .cms_content .content {
    background-color: #ffffff;
    box-shadow: 2px 5px 8px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
    border-left: 4px solid $bleu_clair;
    padding-left: 5px;
  }

  .bloc_contenu {
    padding: 10px 20px !important;
    background-color: #ffffff;

    .bloc_programme {
      padding: 15px 30px 20px 30px;
      border-top: 4px solid #f5f5f5;
      background-color: #f9f9f9;
      margin: 100px -60px 0 -25px;
      position: absolute;
      width: 110%;

      h4 {
        margin-top: 10px;
        color: #777777;
      }
    }

    h4 {
      font-size: 22px;
      margin-top: 20px;
      color: $bleu_clair;
      text-transform: uppercase;
      font-family: "Open Sans", sans-serif;
      font-weight: 600;

      &.accroche {
        padding-top: 40px;
        padding-right: 50px;
        text-align: right;
        text-transform: uppercase;
        line-height: 40px;
        color: $vert_acide;
        font-family: "Antonio", sans-serif;
        font-size: 28px;
        font-weight: normal;
      }

      &.titre_infos {
        font-size: 24px;
      }
    }

    .fleche_verte {
      width: 75px;
      margin-right: 10px;
      margin-top: -5px;
      float: right;
    }

    p {
      font-size: 16px;
      line-height: 28px;
    }
    
    b {
      color: #666666;
    }

    ul {
      li {
        font-size: 16px;
      }
    }

    .liste_dbl_chevrons {
      margin-left: 20px;

      li i {
        color: $vert_acide;
      }

      .btn_bleu_clair {
        
      }

    }

    .flash-success-inscription {
      color: $bleu_clair;
      margin-top: 10px;
      margin-bottom: 25px;

      p {
        padding-top: 8px;
        font-weight: 500;
        text-transform: uppercase;
        font-size: 22px;
        text-align: center;
        margin-bottom: 30px;
      }

      //&:before {
      //  float: left;
      //  font-family: FontAwesome, sans-serif;
      //  content: '\f05d';
      //  font-size: 30px;
      //}
    }

    .msg_success {
      font-size: 14px;

      .bloc_programme {
        margin-top: 55px;
      }
    }

    .btn_itineraire {
      margin-top: 50px;
    }

    .btn_itineraire a, .btn_ics a {
      color: $vert_acide;
      font-weight: bold;
      font-size: 16px;
    }

    .btn_ics i, .btn_itineraire i {
      background-color: $vert_acide;
      border-radius: 40px;
      color: #ffffff;
      font-size: 18px;
      height: 40px;
      line-height: 40px;
      margin: 10px 10px 10px 0;
      text-align: center;
      width: 40px;
    }
  }
  
  .bloc_contenu_infos {
    display: none;
  }

  .bloc_map {
    background: url('../img/map_bg.png');
    min-height: 840px;

    h3 {
      font-size: 23px;
      background-color: $vert_acide;
      border-bottom: 3px solid $vert_acide_fonce;
      padding: 4px 10px;
      color: #ffffff;
      text-align: center;
      margin: auto auto auto 90px;

      &:nth-child(1) {
        width: 75%;
        margin-top: 40px;
        margin-bottom: 10px;
        margin-left: 110px;
      }

      &:nth-child(2) {
        width: 80%;
      }
    }

    svg {
      margin-left: 10px;
      margin-top: 50px;
      margin-bottom: 40px;
      width: 590px;
      height: 565px;

      @media screen and (max-width: 768px) {
        width: 100% !important;
        height: 100% !important;
      }
    }

    g {
      cursor: pointer;
      display: block !important;
      stroke-width: 10px;
      stroke: transparent;

      &:hover, &.selected, &:focus {
        cursor: pointer;

        path, rect .st5 {
          fill: #EFAD4D !important;
        }
      }
    }
  }

  .bloc_contenu_infos_update, .msg_success {

    .infos {
      font-family: "Open Sans", sans-serif;
      margin-bottom: 40px;

      .row {
        padding-left: 15px !important;
      }

      p {
        font-size: 15px;
        margin-bottom: 15px;
        color: #555555;
        font-weight: 600;

        &.ville {
          margin-top: 20px;
        }
      }
      
      strong {
        color: $bleu_fonce;
        font-weight: 700;
        display: block;
        float: left;
        min-height: 60px;
        padding-right: 7px;
      }

      .voir_lieu {
        display: block;
        float: right;
        height: 30px;
        font-weight: bold;
        font-size: 12px;
        position: relative;
        top: -10px;

        a {
          color: $bleu_clair;
        }
      }
    }

    #formulaire_inscription_reunion {
      font-family: "Open Sans", sans-serif;

      label {
        font-size: 14px;
        font-weight: normal;
        color: #666666;
      }

      button[type="submit"]{
        margin: 0 auto;
        display: block;
        font-size: 20px;
        width: 180px;
        text-align: center;
        font-family: "Open Sans Semibold",sans-serif;
        background-color: $vert_acide;
        border: medium none;
        box-shadow: 3px 3px 10px -6px #000000;
        color: white;
        height: 38px;

        &:hover {
          background-color: $vert_acide_clair;
          background-image: none !important;
        }

        i {
          margin-right: 5px;
        }
      }

      .input-field {
        margin: 3rem 0;

        input {
          max-width: 95%;
          font-size: 14px;
          padding-left: 7px;

          &:after {
            color: #000 !important;
          }
        }
        
        &.code_courtier, &.nb_accompagnants {
          display: none;
        }
      }

      .radio-field {
        label {
          font-size: 14px;
          color: #666666;
          font-weight: normal;
        }
      }
    }
  }

  @-webkit-keyframes pulseAccroche {
    0% { -webkit-transform: translateX(-50px); }
    50% { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(-50px); }
  }
  @-moz-keyframes pulseAccroche {
    0% { -moz-transform: translateX(-50px); }
    50% { -moz-transform: translateX(0px); }
    100% { -moz-transform: translateX(-50px); }
  }
  @-o-keyframes pulseAccroche {
    0% { -webkit-transform: translateX(-50px); }
    50% { -webkit-transform: translateX(0px); }
    100% { -webkit-transform: translateX(-50px); }
  }
  @keyframes pulseAccroche {
    0% { transform: translateX(0px); }
    20% { transform: translateX(-5px); }
    50%, 60%, 70% { transform: translateX(0px); }
    80% { transform: translateX(-5px); }
    100% { transform: translateX(0px); }
  }


  &.version_inspecteurs {
    .bloc_map {
      min-height: 940px;
    }

    .bloc_contenu h4 {
      margin-top: 0 !important;
    }

    .infos {
      margin-bottom: 0!important;
    }
  }



  //.accroche, .fleche_verte {
  //  animation: 2s pulseAccroche infinite;
  //  animation-delay: 3s;
  //}

  
  .footer_top {
    display: none !important;
  }
}



//=======================================
// ====    MODULE REINTERMEDIATION   ====
//=======================================
#reintermediation {
  font-family: "Open Sans", sans-serif;
  margin-bottom: 50px;

  .row {
    margin: 0;
  }

  .presentation {
    .fond_bleu_clair {
      min-height: 349px;
      height: 300px;

      h4 {
        font-family: "Open Sans", sans-serif;
        font-size: 20px;
        font-weight: bold;
        color: #ffffff;
        padding: 15px 12px 0 15px !important;
      }

      p{
        padding: 15px 12px 30px 15px !important;
        font-family: "Open Sans", sans-serif;
        color: #ffffff;
        font-size: 16px;
        line-height: 28px;
      }

      .btn_arrondi_blanc {
        width: 260px;
        height: 40px;
        display: block;
        line-height: 35px;
        color: #ffffff;
        border: 2px solid #ffffff;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 18px;
        text-align: center;
        margin: 0 auto;
        -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);

        &:hover {
          text-decoration: none;
          background-color: #ffffff;
          color: $bleu_clair;
        }
      }
    }
    
    .bloc_etapes {
      display: table;
      margin: 0 auto;
      background: #ffffff;
      border-left: 3px solid $bleu_clair;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);

      .etape {
        text-align: center;
        font-size: 16px;
        padding: 15px 0 30px 0;

        span {
          color: $bleu_clair;
          font-size: 36px;
          display: block;
          font-weight: 600;
        }

        b {
          color: $bleu_fonce;
          font-size: 18px;
        }
      }
    }
    
    .ligne-accroche {
      color: #666666;
      text-align: center;
      padding: 60px 0 40px 0;

      h3 {
        text-transform: uppercase;
        font-size: 22px;
        font-weight: bold;
      }
      
      p {
        font-size: 20px;
      }
    }

    .choix_reintermediation {
      //display: table;
      background: #ffffff;
      padding: 0 25px 25px;
      margin-bottom: 40px;
      -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
      -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
      box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);

      .titre_localisation {
        padding-top: 15px;

        h3 {
          text-transform: uppercase;
          color: $vert_acide_clair;
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 20px;
          margin-left: -25px;
        }

        .picto {
          max-width: 50px;
          width: 25px;
          padding-top: 10px;
        }

      }
      
      p {
        font-size: 16px;
        color: #666666;
        padding-left: 20px;
        margin-bottom: 30px;
      }

      .btn_arrondi_vert {
        width: 260px;
        height: 40px;
        display: block;
        line-height: 35px;
        color: #ffffff;
        border: 2px solid $vert_fonce;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 18px;
        text-align: center;
        margin: 0 auto;
        background-color: $vert_fonce;
        -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);

        &:hover {
          text-decoration: none;
          background-color: #ffffff;
          color: $vert_fonce;
        }
      }

      .btn_arrondi_bleu {
        width: 260px;
        height: 40px;
        display: block;
        line-height: 35px;
        color: #ffffff;
        border: 2px solid $bleu_clair;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        border-radius: 20px;
        font-family: "Open Sans Semibold", sans-serif;
        font-size: 18px;
        text-align: center;
        margin: 0 auto;background-color: $bleu_clair;
        -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        -moz-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);
        box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.08), 0 2px 10px 0 rgba(0, 0, 0, 0.08);

        &:hover {
          text-decoration: none;
          background-color: #ffffff;
          color: $bleu_clair;
        }
      }

      #formulaire_geoloc {
        font-family: "Open Sans", sans-serif;

        label {
          font-size: 14px;
          font-weight: normal;
          color: #666666;
        }

        button[type="submit"]{
          margin: 0 auto;
          display: block;
          font-size: 20px;
          width: 180px;
          text-align: center;
          font-family: "Open Sans Semibold",sans-serif;
          background-color: $vert_acide;
          border: medium none;
          box-shadow: 3px 3px 10px -6px #000000;
          color: white;
          height: 38px;

          &:hover {
            background-color: $vert_acide_clair;
            background-image: none !important;
          }

          i {
            margin-right: 5px;
          }
        }

        .input-field {
          margin: 3rem 0;

          input {
            max-width: 95%;
            font-size: 14px;
            padding-left: 7px;

            &:after {
              color: #000 !important;
            }
          }

          &.telephone {
            display: none;
          }
        }

        .radio-field {
          label {
            font-size: 14px;
            color: #666666;
            font-weight: normal;
          }
        }
      }
    }

    .choix_devis {
      @extend .choix_reintermediation;
      
      h3 {
        color: $bleu_clair;
      }
    }
  }

  //======== MAP ========
  .choix_reintermediation {

    .bh-sl-loc-list {
      display: none;
    }
  }

  .bh-sl-map-open {
      min-height: 600px;
  }

  .bh-sl-map-container {
    .gm-style-iw {
      div {
        div {
          overflow: hidden !important;
        }
      }
    }

    .new_research {
      float: right;
      color: $bleu_clair;
      font-weight: 600;
      font-size: 16px;
      margin-top: 15px;

      &:hover {
        text-decoration: none;
        color: $bleu_fonce;
      }
    }
  }

  // Infowindow
  .locations {
    font-size: 14px;

    .loc-name {
      color: $bleu_clair;
      border-bottom: 2px solid $bleu_clair;
      font-family: "Open Sans", sans-serif;
      font-size: 18px;
      font-weight: 600;
      margin-bottom: 20px;
      padding-bottom: 3px;
    }

    .ligne_adresse, .ligne_phone, .ligne_email, .ligne_website {
      margin-top: 12px;
      font-family: "Open Sans", sans-serif;
      font-weight: 400;
      color: #555555;
      
      i {
        width: 35px;
        text-align: center;
        color: #666666;
        padding: 0 5px;
      }
    }

    .ligne_adresse i, .ligne_website i {
      font-size: 18px;
    }

    .ligne_phone i {
      font-size: 24px;
    }

    .btn_website {
      padding: 0;
      min-width: 160px;
      margin-top: 25px;

      a {
        display: block;
        height: 32px;
        line-height: 29px;
        color: $bleu_clair;
        border: 1px solid $bleu_clair;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        font-weight: 600;
        text-align: center;
        text-decoration: none;
        
        &:hover {
          background-color: $bleu_clair;
          color: #ffffff;
        }
      }
    }

    .btn_email {
      @extend .btn_website;
      float: right;
      margin-left: 15px;

      a {
        border: none;
        
        &:hover {
          color: $bleu_fonce;
          background-color: #ffffff;
        }
      }
    }
  }
}

// Gestion tablettes
@media only screen and (min-width: 768px) and (max-width: 980px){
  #reintermediation {
    .visuel img {
      max-width: unset !important;
    }

    .presentation {
      .fond_bleu_clair {
        p {
          padding: 15px 12px 10px 15px !important;
        }
      }

      .choix_reintermediation {
        .titre_localisation {
          h3 {
            margin-left: 0 !important;
          }
        }
      }
    }
  }
}

// Gestion mobiles
@media only screen and (max-width: 360px){
  #reintermediation {
    margin-bottom: 0 !important;

    .bh-sl-map-open {
      min-height: 300px !important;
    }

    .presentation {
      padding: 0;

      .choix_reintermediation {
        padding: 0 5px !important;

        .bh-sl-loc-list {
          display: block !important;

          .list-details {
            padding: 10px;
            line-height: 38px;

            .loc-name {
              font-size: 18px;
              font-weight: 600;
              color: $bleu_clair;
            }

            i {
              width: 35px;
              text-align: center;
              color: #666666;
              padding: 0 5px;
            }

            .ligne_adresse i, .ligne_website i {
              font-size: 18px;
            }

            .ligne_phone i {
              font-size: 24px;
            }

            .btn_website, .btn_email {
              padding: 0;
              min-width: 160px;
              margin-top: 25px;

              a {
                display: block;
                height: 32px;
                line-height: 29px;
                color: $bleu_clair;
                border: 1px solid $bleu_clair;
                -webkit-border-radius: 2px;
                -moz-border-radius: 2px;
                border-radius: 2px;
                font-weight: 600;
                text-align: center;
                text-decoration: none;

                &:hover {
                  background-color: $bleu_clair;
                  color: #ffffff;
                }
              }
            }

            .btn_email {
              a {
                border: none;

                &:hover {
                  color: $bleu_fonce;
                  background-color: #ffffff;
                }
              }
            }
          }
        }

        .titre_localisation h3 {
          margin-top: 10px !important;
          margin-left: 10px !important;
        }

        button[type="submit"] {
          margin-top: 20px !important;
        }
      }

      .main .cms_titre .content h1 {
        font-size: 30px !important;
      }

      .fond_bleu_clair{
        height: 340px !important;

        p {
          padding: 15px 12px 10px 15px !important;
        }

        h4 {
          margin-top: 0 !important;
        }
      }
    }

    .new_research {
      margin-bottom: 15px;
      margin-top: 0 !important;
    }
  }
}

//=======================================
// ====           FOOTER            ====
//=======================================
.espace_assure_footer:hover {
  background-color: #1174B2;
  box-shadow: 0 5px 8px -4px rgba(255, 255, 255, 0.2);

  i {
    background-color: #055e93 ;
  }
}

.espace_perso_footer:hover {
  background-color: $vert_clair;
  box-shadow: 0 5px 8px -4px rgba(255, 255, 255, 0.2);

  i {
    background-color: $vert_fonce ;
  }
}



//=======================================
// ====           MODALS            ====
//=======================================
.modal.modal-actu {

  .modal-title {
    color: #1c476e !important;
    font-family: "AntonioLight", sans-serif !important;
    font-size: 24px !important;
    margin: 0 !important;
  }

  .modal-header {
    background-color: #ffffff;
  }
  
  .close {
    background: transparent;
  }

  .modal-content {
    background-color:  $gris;
  }
}
//
//.modal-body {
//  max-height: calc(100vh - 210px);
//  overflow-y: auto;
//}
