{% extends 'base_admin_presse.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Presse</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="#">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li class="active">
                    Presse
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
            
<div id="container-messages" class="container-messages">
    <div class="page-alert alert alert-info">
        <button class="close" data-dismiss="alert">×</button>
        <strong>Hello {{ user.username }}!</strong> Bienvenue sur le panel Presse. Vous pouvez ajouter, éditez ou supprimer vos parutions Presse.
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<p>
                <a href="{{ path('admin_presse_new') }}">Ajouter une parution Presse</a>
            </p>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Table <strong>Presse</strong>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table id="datatables-example" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Titre</th>
                                    <th>Catégorie</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                            	{% for entity in entities %}
                            		<tr>
                            			<td>{{ entity.id }}</td>
                            			<td>{{ entity.titre }}</td>
                            			<td>
                        					{% if entity.categorie == 1 %}
                        						Dossier
                        					{% else%}
                        						Communiqué
        									{% endif %}
                        				</td>
                            			<td><a href="{{ path('admin_presse_edit', {'id': entity.id}) }}">Editer</a> - <a href="{{ path('admin_presse_delete', {'id': entity.id}) }}" onclick="return confirm('Etes-vous sur de vouloir supprimer cette parution Presse ?')">Supprimer</a></td>
                            		</tr>
                            	{% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
             </div>
        </div>
	</div>
</div>
{% endblock %}
