	<div>
		<p>Unique solution sur le marché à couvrir cette cible, le Pack Pro Entreprise Mandataires Sociaux propose tout comme le PPE TNS des prestations élevées en <b>Prévoyance et un large choix de formules Santé</b> qui permettent aux Mandataires Sociaux de se couvrir pleinement en cas de coup dur.</p>
		
		<div class="titre_vert_fonce">PARCE QUE LE STATUT DE MANDATAIRE SOCIAL NE PROTÈGE PAS L’ENTREPRENEUR…</div>
		<div class="full_ligne_vert_fonce"></div>

		<p>De plus en plus d’entrepreneurs choisissent le statut de Mandataire social non TNS sous le conseil de leur expert-comptable : on comptait 252 000 SAS/SASU créées en 2015, soit près de 90 000 entreprises de plus par rapport à 2013, car être président de SA, SAS ou SASU, c’est pouvoir bénéficier de dividendes, non assujettis aux cotisations sociales, contrairement à un Gérant Majoritaire de SARL.<br>
		C’est pourquoi dans certains cas, ces dirigeants ne cotisent pas aux organismes de protection sociale, et ils ne bénéficient donc d’aucune protection sociale !
		</p>

		<div class="titre_vert_fonce">…CIPRÉS COUVRE LES MANDATAIRES SOCIAUX EN PRÉVOYANCE ET SANTÉ</div>
		<div class="full_ligne_vert_fonce"></div>

		<p><b>Des garanties Prévoyance* complètes pour faire face aux coups durs</b></p>

		<div>
			<p>En cas de décès ou de ptia, la famille peut maintenir son rythme de vie</p>
			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Capital décès à 300% du revenu assuré</li>
				<li><i class="fa fa-angle-double-right"></i> Majoration du capital décès de 100% du revenu assuré par enfant à charge sans surcoût</li>
				<li><i class="fa fa-angle-double-right"></i> Rente conjoint viagère de 15% du revenu assuré</li>
				<li><i class="fa fa-angle-double-right"></i> 2 niveaux de rente éducation (8%/12% ou 15%/20%/25% du revenu assuré)</li>
				<li><i class="fa fa-angle-double-right"></i> Jusqu’à près de 58 000€ de revenus assurés</li>
			</ul>

			<p>En cas d’incapacité et d’invalidité, les revenus du mandataire social sont maintenus</p>

			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Indemnisation 100% forfaitaire à 100% en cas d’incapacité ou d’invalidité</li>
				<li><i class="fa fa-angle-double-right"></i> 2 choix de franchise en cas d’arrêt de travail : 30 ou 90 jours</li>
				<li><i class="fa fa-angle-double-right"></i> Jusqu’à 365 jours d’indemnisation en cas de reprise partielle d’activité </li>
				<li><i class="fa fa-angle-double-right"></i> Rachat de franchise à 3 jours pour être indemnisé au plus tôt</li>
			</ul>

			<div class="cadre_vert_clair">
				<b>
					Le <i style="display: inline; float: none; margin-right: 0;" class="fa fa-plus"></i> CIPRÉS :
				</b><br>
				CIPRÉS Assurances fait bénéficier aux Présidents de SA/SAS/SASU, gérants minoritaires et égalitaires de SARL de <b>formalités d’adhésion simplissimes</b> : pour souscrire, il suffit d’un RIB, d’un mandat de prélèvement SEPA et d’un extrait du KBIS datant de moins de 3 mois
			</div>
		</div>

		<p><b>La Santé* 2 en 1 ou 100% responsable pour couvrir tous leurs besoins</b><br>
		Les Mandataires Sociaux peuvent bénéficier de la même protection que les TNS en Santé : 
		</p>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-angle-double-right"></i> une offre santé globale 2 en 1 responsable/non responsable : 4 formules qui couvrent tous les besoins de santé, en remboursant les frais de santé au-delà des plafonds imposés par les exigences légales des contrats responsables, même chez les médecins hors CAS</li>
			<li><i class="fa fa-angle-double-right"></i> ou une offre 100% responsable : 4 formules 100% responsables limitées aux exigences légales des contrats responsables</li>
			<li><i class="fa fa-angle-double-right"></i> Réseau de soins Carte Blanche avec tarifs plafonnés et tiers-payant étendu</li>
		</ul>

		<p style="font-size: 11px;">* Non déductible au titre de la loi Madelin ou de l’article 83 du CGI.</p>

		<div><a href="http://adhesion.cipres.fr/PDF/MANDATAIRES/FP_PPE_MS.pdf" target="_blank" class="btn_bleu_clair center waves-effect waves-light">En savoir&nbsp; <i class="fa  fa-plus"></i></a></div>

		<div class="row"></div>
</div>