	<div>
		<p>Après un focus expert CIPRÉS relatif aux impacts de la loi de sécurisation de l’emploi,  CIPRÉS revient cette année avec un guide complet sur la protection sociale complémentaire des salariés.<br>
		La règlementation applicable en la matière ayant beaucoup évolué, vos clients employeurs sont confrontés à de nombreuses problématiques lors de la mise en place d’un régime collectif et obligatoire au profit de leurs salariés.<br><br>

		Les contributions versées par les employeurs pour financer un régime santé et/ou prévoyance couvrant leurs salariés bénéficiant d’un régime social et fiscal de faveur, il est important, afin d’éviter tout risque URSSAF, de bien appréhender la réglementation applicable.<br><br>

		Le présent guide a pour objectif de fournir :
		</p>

		<div>
			<ul class="liste_dbl_chevrons">
				<li><i class="fa fa-angle-double-right"></i> Les principales notions sur les conditions cumulatives pour bénéficier des avantages sociaux et fiscaux (caractère objectif, caractère collectifs, mis en place selon le formalisme prévu à l’article L.911-1 du code de la Sécurité sociale…)</li>
				<li><i class="fa fa-angle-double-right"></i> Un récapitulatif détaillé sur le régime social et fiscal de ces régimes collectifs d’entreprises</li>
				<li><i class="fa fa-angle-double-right"></i> Des focus exclusifs sur la nouvelle réglementation 2016 : versement santé, nouveauté sur les cas de dispenses de droit en santé …</li>
			</ul>
		</div>

		<p>Ce guide focus expert constituera ainsi une référence pour accompagner et conseiller vos entreprises clientes tout au long de la mise en place d’un régime santé ou prévoyance complémentaire collectif et obligatoire.
		</p>

		<div><a href="http://www.cipres.fr/upload/CipresNews/134/Guide_pratique_protection_sociale.pdf" target="_blank" class="btn_bleu_clair center waves-effect waves-light"><i class="fa fa-arrow-circle-down"></i>&nbsp; Téléchargez le guide</a></div>

		<div class="row"></div>
</div>