	<div>
		<p>Un nouveau réseau de soins est proposé <b>depuis début novembre</b> à nos assurés avec notre partenaire <b>Carte Blanche</b>. Vos clients bénéficient ainsi de tarifs négociés en optique et accèdent à des services privilégiés. 
		</p>

		<div class="cadre_vert_clair">
			<b>
				<i class="fa fa-exclamation-circle"></i>A noter
			</b><br><br>
			Le réseau <b>optique</b> est d'ores et déjà activé <b>depuis le mois de novembre</b> <br><br>

			Les <b>réseaux dentaire et audioprothèse</b> seront disponibles <b>en avril 2017.</b>
		</div>

		<div class="titre_bleu_fonce">Les avantages de ce nouveau réseau de soins « Carte Blanche »</div>
		<div class="full_ligne_bleu_fonce"></div>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-check"></i> <b>Avec le tiers payant, vos clients n’avancent</b> pas les frais de santé.</li>
			<li><i class="fa fa-check"></i> <b>Des tarifs plafonnés</b> sur les verres optiques, les prothèses dentaires et les prothèses auditives.</li>
			<li><i class="fa fa-check"></i> <b>Un outil de géolocalisation des professionnels</b> via un site internet.</li>
			<li><i class="fa fa-check"></i> <b>L’offre « Carte Blanche- Prysme »</b> propose une monture équipée de verres simples ou progressifs pour un prix compris entre 100 et 550 euros. Le tout sans reste à charge pour le bénéficiaire.</li>
			<li><i class="fa fa-check"></i> <b>« Carte Blanche » rassemble plus de 7 750 opticiens</b>, aussi bien des enseignes que des indépendants : Afflelou, Krys, Atol, Optic 2000, Optical Center, Générale d’Optique, Lissac... avec un large choix de verres et des tarifs de 35 à 40 % inférieurs aux prix de marché.</li>
			<li><i class="fa fa-check"></i> <b>Plus une garantie casse pour les verres et montures</b> (franchise limitée à 40 %) de deux ans et une garantie de six mois permettant de changer les verres ou trois mois pour les lentilles en cas d’inadaptation.</li>
		</ul>

		<div><a href="http://www.cipres.fr/upload/CipresNews/32/2016-08-kit-optique-CBP.pdf" target="_blank" class="btn_bleu_clair center waves-effect waves-light">En savoir&nbsp; <i class="fa  fa-plus"></i></a></div>

		<ul class="liste_dbl_chevrons">
			<li><i class="fa fa-check"></i> <b>« Carte Blanche » donne accès à un réseau dentaire de plus de 5 450 chirurgiens-dentistes</b> qui proposeront des tarifs sur les prothèses dentaires 12 à 15 % inférieurs aux prix de marché. </li>
			<li><i class="fa fa-check"></i> <b>Le réseau de soins « Carte Blanche » comprend également un réseau de 3 370 audioprothésistes.</b></li>
		</ul>

		<div class="row"></div>
</div>