	<div>
		<p>Vous rencontrez un litige avec le prestataire de service en charge de vous fournir des contacts commerciaux (leads). Après avoir analysé avec vous le contrat, votre expert juridique CFDP dédié vous indique que le prestataire a l’obligation d’exécuter de bonne foi ses engagements contractuels dans les délais prévus. A défaut, celui-ci engage sa responsabilité.<br><br>

		Il vous accompagne dans le cadre de votre réclamation auprès de la société litigieuse et vous permet ainsi d’obtenir le remboursement des sommes versées au prorata des leads non fournis. 
		</p>

		<div class="cadre_vert_clair">
			<p><b>
				<i class="fa fa-plus-circle"></i> Votre avantage
			</b><br><br>
			
			Ligne téléphonique dédiée : <b>04 68 57 42 84</b>, un juriste spécialisé à votre écoute.<br><br>

			Après avoir pris connaissance de votre problématique, ces experts ne se contentent pas de vous apporter des renseignements juridiques, ils vous les explicitent et vous proposent des solutions concrètes.<br><br> 

			Et vous pouvez appeler autant de fois que vous le souhaitez, il n’y a pas de limitations : ni en nombre, ni en durée d’appel !</p>
		</div>

		<div><a href="http://www.cipres.fr/upload/CipresNews/134/Notice_d_informations_CFDP.pdf" target="_blank" class="btn_bleu_clair center waves-effect waves-light large"><i class="fa fa-arrow-circle-down"></i>&nbsp; Téléchargez la notice explicative</a></div>

	
		<div class="row"></div>
</div>

