
	<div>
		<p><b>La Décision Unilatérale de l’Employeur</b> permet à l'entreprise d'expliquer aux salariés concernés les raisons pour lesquelles le chef d’entreprise a choisi de mettre en place un régime de protection sociale. Cet acte juridique permet aussi à l’entreprise de bénéficier d’avantages sociaux et fiscaux.<br>
		<b>La DUE (Décision Unilatérale de l’Employeur), c’est un incontournable dans la vie d’une entreprise !</b><br><br>

		CIPRÉS vie lance son <b>nouveau Pack DUE en ligne, accessible sur l’Extranet, vous permettant d’accompagner vos clients dans la rédaction de leur DUE</b>. Plus qu’un <b>outil de formalisation juridique</b> d’un régime collectif santé, c’est un véritable service de protection de votre devoir de conseil grâce à <b>l’extension RC professionnelle dont CIPRÉS vous permet de bénéficier gratuitement</b>.</p>

		<div class="col-xs-12 col-sm-6"><a href="http://www.courtier.cipres.fr/Connexion-a-lExtranet" target="_blank" class="btn_bleu_clair center waves-effect waves-light" style="width: 330px; font-size: 16px;"><i class="fa  fa-eye"></i> Je découvre le service</a></div>

		<div class="col-xs-12 col-sm-6"><a href="http://www.cipres.fr/upload/CipresNews/27/guide_utilisateur_DUE.pdf" target="_blank" class="btn_bleu_clair center waves-effect waves-light" style="width: 330px; font-size: 16px;"><i class="fa   fa-file-pdf-o"></i> Je télécharge le guide d’utilisation</a></div>

		<div class="row"></div>

		<div class="titre_vert_fonce">Inscrivez-vous à la Web Conf’ CIPRÉS DUE en ligne !</div>
		<div class="full_ligne_vert_fonce"></div>

		<p><b>Inscrivez-vous vite à la Web Conf’</b> organisée par CIPRÉS pour tout savoir sur cet outil incontournable :</p>
		<p><i class="fa fa-info-circle" style="font-size: 24px; display: block; float: left; padding-right: 15px; color: #177FC1;"></i>
			<p><b>La session du jeudi 9 juin à 11h30 </b> ayant remporté un vif succès, <b>les inscriptions sont clôturées.</b> </p><br>
		</div>

		<div class="bloc_webconf post">
			<div class="titre_bloc">
				<i class="fa fa-calendar-check-o"></i>
				<b>EN PLUS DE LA SESSION DU 9 JUIN, NOUS VOUS PROPOSONS UNE NOUVELLE SESSION  :
					LE MARDI 14 JUIN A 11H30
				</b>
			</div>
			
			<div class="row"></div>

			<div>
				<p><b>Au programme de cette Web Conf' :</b></p>
				<ul class="liste_dbl_chevrons">
					<li><i class="fa fa-angle-double-right"></i> Quels éléments doit-elle contenir pour être réglementaire ? </li>
					<li><i class="fa fa-angle-double-right"></i> Ses avantages différenciants sur le marché dont la RC Pro incluse </li>
					<li><i class="fa fa-angle-double-right"></i> Son utilisation simple et intuitive</li>
				</ul>
			</div>

			<p>Avec Laure MELAN, responsable Juridique Métier CIPRÉS et Charlotte LAMIDON, associée HYALIN Assurances, partenaire sur la responsabilité civile professionnelle incluse dans le Pack DUE en ligne CIPRÉS.<p>
		</div>

		<div><a href="https://fr.surveymonkey.com/r/DUE_en_ligne_1406" target="_blank" class="btn_bleu_clair button center large waves-effect waves-light"><i class="fa  fa-check"></i> Je m'inscris pour le 14 juin</a></div>
	</div>