		<p>Le pack ACCESS PRO couvre tous les TNS aux revenus modérés, offrant  des garanties prévoyance et santé complètes et performantes à des tarifs particulièrement compétitifs.
		</p>


		<div>
			<div class="titre_vert_fonce">A QUI S’ADRESSE CE PRODUIT ?</div>
			<div class="full_ligne_vert_fonce"></div>
		</div>

		<div>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-angle-double-right"></i> Les TNS : artisans, commerçants (indépendants et gérants majoritaires), libéraux, médicaux, paramédicaux et agricoles </li>
		        <li><i class="fa fa-angle-double-right"></i> Affiliés, en prévoyance, à l’un des régimes obligatoire suivants : RSI, CIPAV, CAVEC, CNBF, CAVAMAC, CAVOM, CRN, CARMF, CARCDSF, CARPV, CAVP, CARPIMKO, MSA</li>
		    </ul>
		</div>

		<div>
			<div class="titre_vert_fonce">LES POINTS FORTS A RETENIR</div>
			<div class="full_ligne_vert_fonce"></div>
		</div>

		<div>
			<div class="titre_gris_fonce"><i class="fa fa-angle-right"></i> En prévoyance</div>
		</div>

		<p>Une offre qui propose le versement d’un capital en cas de décès ou de perte totale et irréversible d’autonomie accompagné de garanties prenant en charge l’incapacité et l’invalidité du TNS.</p>

		<div>
			<b>Se prémunir face à tous les imprévus </b>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-plus-circle"></i> <b>Versement d’un capital décès ou de PTIA*</b> égal à 150% du revenu assuré</li>
		        <li><i class="fa fa-plus-circle"></i> <b>Majoration du capital de 50% par enfant</b> à charge sans surcoût </li>
		        <li><i class="fa fa-plus-circle"></i> <b>Franchise de 30 jours</b> en cas d’incapacité, réduite à 3 jours en cas d’accident ou d’hospitalisation</li>
		        <li><i class="fa fa-plus-circle"></i> Indemnisation forfaitaire dès le 1er euro sans tenir compte des prestations versées par le Régime Obligatoire<br>
		        <span class="small">*Perte Totale et Irréversible d’Autonomie</span></li>
		    </ul>
		</div>

		<div>
			<b>Un contrat accessible à tous</b>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-angle-double-right"></i> <b>Formalités médicales ultra simplifiées</b> </li>
		        <li><i class="fa fa-angle-double-right"></i> <b>Barème professionnel spécifique pour les médicaux et para-médicaux</b></li>
		        <li><i class="fa fa-angle-double-right"></i> <b>Cotisations </b>payables mensuellement et entièrement déductibles Madelin (hors part de la cotisation correspondant à la garantie décès (versement en capital) )</li>
		    </ul>
		
		</div>

		<div class="cadre_vert_clair bloc">
			<b><i class="fa fa-plus-circle"></i> Le plus CIPRÉS :</b><br>
			Réalisez 20 affaires nouvelles prévoyance ACCESS PRO et faites bénéficier à vos clients dès la 21ème affaire d’une souscription encore plus facile et rapide ! <br>
			La déclaration de santé est remplacée par une simple déclaration d’absence.
		</div>

		<div>
			<div class="titre_gris_fonce"><i class="fa fa-angle-right"></i> En santé</div>
		</div>

		<div>
			<p><b>Deux solutions sont proposées combinant besoins avec fiscalité avantageuse :</b></p>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-plus-circle"></i> <b>une offre 100% responsable :</b> 5 formules limitées (panier de soins, essentiel responsable, sécurité responsable, confort responsable, excellence responsable) pour répondre aux exigences du contrat responsable avec une cotisation entièrement déductible Madelin.</li>
		        <li><i class="fa fa-plus-circle"></i> <b>une offre santé complète et mixte responsable/non responsable :</b> 4 formules complètes (essentiel, sécurité, confort, excellence) couvrant pleinement les besoins du TNS et de sa famille avec une cotisation majoritairement déductible Madelin.</li>
		    </ul>
		</div>

		<div>
			<p><b>Une protection efficace et simple</b></p>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-angle-double-right"></i> Des remboursements pouvant atteindre 470% BR en dentaire, 450% BR pour l’orthodontie, jusqu’à 16.5% PMSS en optique (soit 530.97€)</li>
		        <li><i class="fa fa-angle-double-right"></i> Prise en charge de certains actes non remboursés par le Régime Obligatoire (médecine douce, implants dentaires, chirurgie réfractive de l’oeil, vaccin,</li>
		        <li><i class="fa fa-angle-double-right"></i> Prestations accordées sans aucun délai d’attente</li>
		        <li><i class="fa fa-angle-double-right"></i> Réseau de soins et tiers payant étendus, y compris en optique</li>
		    </ul>
		</div>

		<div>
			<div class="titre_vert_fonce">3 BONNES RAISONS DE PROPOSER CE PACK</div>
			<div class="full_ligne_vert_fonce"></div>
		</div>

		<div>
			<ul class="liste_dbl_chevrons">
		        <li><i class="fa fa-angle-double-right"></i> <b>Un contrat complet</b> pour faire face à toutes les situations</li>
		        <li><i class="fa fa-angle-double-right"></i> <b>Un avantage fiscal</b></li>
		        <li><i class="fa fa-angle-double-right"></i> <b>Des démarches simplifiées</b></li>
		    </ul>
		</div>





		<div><a href="https://courtier.cipres.fr/Connexion-a-lExtranet" target="_blank" class="btn_bleu_clair btn_plus button center large waves-effect waves-light"><i class="fa fa-user"></i> Se connecter sur mon extranet</a></div>

