{% extends 'base_admin_slide.html.twig' %}

{% block body %}
<!-- Include the container-header -->
<div id="container-header" class="container-header">
    <component>container-header</component>
	<div class="row">
	    <div class="col-md-12">
            <h2>Slide</h2>
        </div>
	</div>
</div>
            
<!-- Include the container-breadcrumb -->
<div id="container-breadcrumb" class="container-breadcrumb">
    <component>container-breadcrumb</component>
    <div class="row">
        <div class="col-lg-10">
            <ol class="breadcrumb">
                <li>
                    <a href="{{ path('admin') }}">
                        <i class="fa fa-home"></i> Home
                    </a>
                </li>
                <li>
                	<a href="{{ path('admin_slide') }}">
                    	Slide
                	</a>
                </li>
                <li class="active">
                    Modification
                </li>
                <li class="v-hidden">
                    @@sub-section
                </li>
            </ol>
        </div>
    </div>
</div>
<div id="container-content" class="container-content">
	<div class="container-fluid">
	    <div class="row">
	    	<div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-title">
                            Formulaire <strong>ajout slide</strong>
                        </div>
                    </div>
                    <div class="panel-body">
			            <form action="{{ path('admin_slide_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }} class="form-horizontal">
			            	<div class="form-group">
			            		{{ form_label(edit_form.image, 'Image', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.image) }} 
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.code, 'Code', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.code) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.categorie, 'Catégorie de la solution', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.categorie, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							<div class="form-group">
			            		{{ form_label(edit_form.enabled, 'Actif', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								<div class="col-sm-7">
									{{ form_widget(edit_form.enabled, { "attr" : { "class" : "form-control" }}) }}
								</div>
							</div>
							{{ form_widget(edit_form) }}
							<div class="errors">
								{{ form_errors(edit_form) }}
							</div>
							<div class="form-group">
								<div class="col-sm-offset-3 col-sm-7">
									<button type="submit" class="btn btn-theme">Enregistrer</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
        </div>
	</div>
</div>
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
	    $(document).ready(function() {
			$('#appbundle_slidetype_code').summernote(); 
	    });
    </script>
{% endblock %}
