<!DOCTYPE html>
<html>
<head>
    <title>Cipres</title>
    <meta charset="UTF-8">
    <style type="text/css">
        @media screen and (max-width: 800px) {
            table[class=dates], table[class=content] {
                width: 681px;
            }
        }

        @media screen and (max-width: 400px) {
            td[class=hide-320] {
                width: 0;
            }
            td[class=hide-320] img {
                display: none;
            }
        }

        @media screen and (max-width: 380px) {
            div[class=terms] {
                float: initial !important;
            }
            div[class=terms] table {
                float: initial !important;
                margin: 0 auto;
            }
        }
    </style>
</head>
<body bgcolor="ffffff" border="0" style="PADDING: 0px; MARGIN: auto;">
    <table width="681" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<p style="font-family:Arial;font-weight:normal;font-size:14px;color:black">Bonjour, <br/>
				Un courtier vient de remplir un formulaire de demande d’informations supplémentaires via cipres.fr, en voici son contenu :<br/><br/>
				Code courtier : {{ entity.code }} - {{ entity.code1 }}<br/>
				Nom du cabinet : {{ entity.nomCabinet }}<br/>
				Nom : {{ entity.nom }}<br/>
				Prénom : {{ entity.prenom }}<br/>
				Souhaite être contacté par : 
					{% if entity.contactPar1 == 1 %}
						Email
					{% elseif entity.contactPar1 == 2 %}
						Téléphone
					{% endif %}<br/>
				Email : {{ entity.email }}<br/>
				Téléphone : {{ entity.telephone }}<br/><br/>
				
				Message :<br/>
				{{ entity.message }}
				</p>
			</td>
		</tr>
	</table>
</body>
</html>