<!DOCTYPE html>
<html>
<head>
    <title>Cipres</title>
    <meta charset="UTF-8">
    <style type="text/css">
        @media screen and (max-width: 800px) {
            table[class=dates], table[class=content] {
                width: 681px;
            }
        }

        @media screen and (max-width: 400px) {
            td[class=hide-320] {
                width: 0;
            }
            td[class=hide-320] img {
                display: none;
            }
        }

        @media screen and (max-width: 380px) {
            div[class=terms] {
                float: initial !important;
            }
            div[class=terms] table {
                float: initial !important;
                margin: 0 auto;
            }
        }
    </style>
</head>
<body bgcolor="ffffff" border="0" style="PADDING: 0px; MARGIN: auto;">
    <table width="681" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<p style="font-family:Arial;font-weight:normal;font-size:14px;color:black">Bonjour,<br/> 
				Un courtier vient de remplir un formulaire de demande de rendez-vous via cipres.fr, en voici son contenu :<br/><br/>
				Nom du cabinet : {{ entity.nomCabinet }}<br/>
				Nom : {{ entity.nom }}<br/>
				Prénom : {{ entity.prenom }}<br/>
				Adresse : {{ entity.adresse }} {{ entity.codePostal }} - {{ entity.ville }}<br/>
				Email : {{ entity.email }}<br/>
				Téléphone : {{ entity.telephone }}<br/>
				Souhaite prendre contact avec un inspecteur CIPRES : 
					{% if entity.contactPar2 == 1 %}
						A mon cabinet
					{% elseif entity.contactPar2 == 2 %}
						Par téléphone
					{% elseif entity.contactPar2 == 3 %}
						Par email
					{% endif %}<br/>
				De préférence :  
					{% if entity.preference == 1 %}
						Le matin
					{% elseif entity.preference == 2 %}
						L'après-midi
					{% endif %}<br/>
				Est intéressé par l'offre :
					{% for offre in entity.offre %}
						{% if offre == 1 %} 
							Prévoyance
						{% elseif offre == 2 %}
							Santé
						{% elseif offre == 3 %}
							Assurances collectives
						{% elseif offre == 4 %}
							Homme clé
						{% elseif offre == 5 %}
							Frais généraux permanent
						{% endif %}
					{% endfor %}
					<br/><br/>
				Message :<br/>
				{{ entity.message }}
				</p>
			</td>
		</tr>
	</table>
</body>
</html>