<!DOCTYPE html>
<html>
<head>
    <title>Cipres</title>
    <meta charset="UTF-8">
    <style type="text/css">
        @media screen and (max-width: 800px) {
            table[class=dates], table[class=content] {
                width: 681px;
            }
        }

        @media screen and (max-width: 400px) {
            td[class=hide-320] {
                width: 0;
            }
            td[class=hide-320] img {
                display: none;
            }
        }

        @media screen and (max-width: 380px) {
            div[class=terms] {
                float: initial !important;
            }
            div[class=terms] table {
                float: initial !important;
                margin: 0 auto;
            }
        }
    </style>
</head>
<body bgcolor="ffffff" border="0" style="PADDING: 0px; MARGIN: auto;">
    <table width="681" border="0" cellspacing="0" cellpadding="0">
		<tr>
			<td>
				<p style="font-family:Arial;font-weight:normal;font-size:14px;color:black">Bonjour,<br/>
				Une candidature spontanée vient d'être envoyée via la rubrique "Recrutement" de cipres.fr.<br/><br/>
				Nom : {{ entity.nom }}<br/>
				Prénom : {{ entity.prenom }}<br/>
				Email : {{ entity.email }}<br/>
				Téléphone : {{ entity.telephone }}<br/>
				Domaine d'activité : 
					{% if entity.source == 1 %}
						Actuariat
					{% elseif entity.source == 2 %}
						Commerce
					{% elseif entity.source == 3 %}
						Finance
					{% elseif entity.source == 4 %}
						Gestion
					{% elseif entity.source == 5 %}
						Marketing / Communication
					{% elseif entity.source == 6 %}
						RH
					{% elseif entity.source == 7 %}
						Autre
					{% endif %}<br/>
				Message :<br/>
				{{ entity.message }}
				</p>
			</td>
		</tr>
	</table>
</body>
</html>