<!DOCTYPE html>
<html>
<head>
    <title>Cipres</title>
    <meta charset="UTF-8">
    <style type="text/css">
        @media screen and (max-width: 800px) {
            table[class=dates], table[class=content] {
                width: 681px;
            }
        }

        @media screen and (max-width: 400px) {
            td[class=hide-320] {
                width: 0;
            }
            td[class=hide-320] img {
                display: none;
            }
        }

        @media screen and (max-width: 380px) {
            div[class=terms] {
                float: initial !important;
            }
            div[class=terms] table {
                float: initial !important;
                margin: 0 auto;
            }
        }
    </style>
</head>
<body bgcolor="ffffff" border="0" style="PADDING: 0px; MARGIN: auto;">
<table width="681" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <p style="font-family:Arial;font-weight:normal;font-size:14px;color:black">Bonjour, <br/>
                Un client salarié vient d’effectuer une demande de réclamation via www.cipres.fr.<br/><br>

                Civilité : {{ entity.civilite }}<br/>
                Nom : {{ entity.nom }}<br/>
                Prénom : {{ entity.prenom }}<br/>
                Adresse : {{ entity.adresse }}<br/>
                Code Postal : {{ entity.codePostal }}<br/>
                Email : {{ entity.email }}<br/>
                Date de naissance : {{ entity.DateNaissance|date }}<br>
                N° de contrat : {{ entity.numContrat }}<br>
                N° téléphone : {{ entity.telephone }}<br/>
                Objet de la réclamation : {{ entity.ObjetReclam }}<br/><br/>

                Message :<br/>
                {{ entity.MotifReclam }}
            </p>
        </td>
    </tr>
</table>
</body>
</html>