{% extends 'base.html.twig' %}

{% block title %}
	Nous contacter | CIPRES ASSURANCES
{% endblock %}

{% block meta_desc %}
	<meta name="description" content="Vous pouvez contacter CIPRÉS Assurances pour devenir courtier partenaire, avoir des informations complémentaires ou prendre rendez-vous" />
{% endblock %}

{% block body %}
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/css/bootstrap-datepicker3.min.css">
	<div class="main">
		<div class="cms_slide">
			<div class="map_container">
				<div id="map"></div>
			</div>
		</div>
		<div class="contact_content">
			<div class="content">
				<div class="col-md-4">
					<p class="contact_titre">Vous êtes courtier ?</p>
					<p class="contact_p">Tél : 0 969 329 319<br/>
						Fax : 0 177 686 686<br>E-mail : <a href="mailto:commercial@cipres.fr">commercial@cipres.fr</a></p>

					<p class="contact_titre mt60">Vous êtes assuré ?</p>
					<p class="contact_p">Tél : 0 177 680 190<br/>
						<b>Contrat Santé</b><br>
						E-mail : <a href="mailto:sante@cipres.fr">sante@cipres.fr</a><br>
						<b>Contrat Prévoyance</b><br>
						E-mail : <a href="mailto:prevoyance@cipres.fr">prevoyance@cipres.fr</a>
					</p>


					<p class="contact_titre mt60">NOS COORDONNÉES</p>
					<p class="contact_p">37, rue Anatole France<br/>
						92532 Levallois-Perret Cedex<br/>
						Métro Louise Michel<br/>
						<a href="https://www.google.fr/maps/place/37+Rue+Anatole+France,+92300+Levallois-Perret/@48.8897311,2.2846706,17z/data=!3m1!4b1!4m2!3m1!1s0x47e66f85b61519bd:0x8cb97d318cf1cf58" target="_blank">Plan d'accès</a><br/>
					</p>
				</div>
				<div class="col-md-8">
					<h1 class="contact_form_titre">Nous contacter</h1>
					<p class="ligne"></p>
					{% for flashMessage in app.session.flashbag.get('success') %}
						<div class="flash-success">
							{{ flashMessage }}
						</div>
					{% endfor %}
					<form action="{{ path('contact_create') }}" id="formulaire_contact" method="post" {{ form_enctype(form) }} class="form-horizontal nomarginbottom" onsubmit="return checkContactForm()">
						<div class="col-md-12 nopadding input-field">
							{{ form_label(form.source, 'Vous êtes :', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
							{{ form_widget(form.source) }}
						</div>
						<div class="fc_etape2" id="fc_etape2">
							<div class="col-md-12 nopadding input-field">
								{{ form_label(form.souhait, 'Vous souhaitez :', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								{{ form_widget(form.souhait) }}
							</div>
						</div>
						<div class="fc_etape3" id="fc_etape3">
							<div class="col-md-12 nopadding">
								<label class="col-sm-3 to-right required mb10"><b>Votre cabinet</b></label>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.nomCabinet, 'Nom du cabinet *') }}
									{{ form_widget(form.nomCabinet) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.adresse, 'Adresse *') }}
									{{ form_widget(form.adresse) }}
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.codePostal, 'Code Postal*') }}
									{{ form_widget(form.codePostal) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.ville, 'Ville *') }}
									{{ form_widget(form.ville) }}
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.emailCabinet, 'Email du cabinet *') }}
									{{ form_widget(form.emailCabinet) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.telephoneCabinet, 'N° téléphone du cabinet *') }}
									{{ form_widget(form.telephoneCabinet) }}
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<label class="to-right required mb10"><b>Forme juridique</b></label>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.siret, 'N° SIRET *') }}
									{{ form_widget(form.siret) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.orias, 'N° ORIAS *') }}
									{{ form_widget(form.orias) }}
								</div>
							</div>
							<div class="col-md-12 nopadding">
								{{ form_label(form.catOrias, 'Catégorie ORIAS *', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								{{ form_widget(form.catOrias) }}
							</div>
							<div class="col-md-12 nopadding">
								{{ form_label(form.statut, 'Statut *', {'label_attr': {'class': 'col-sm-3 to-right'}}) }}
								{{ form_widget(form.statut) }}
							</div>
							<div class="col-md-12 nopadding">
								<label class="to-right required mb10 mt10"><b>Représentant légal du cabinet</b></label>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.nom, 'Nom *') }}
									{{ form_widget(form.nom) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.prenom, 'Prénom *') }}
									{{ form_widget(form.prenom) }}
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.email, 'Email *') }}
									{{ form_widget(form.email) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.telephone, 'N° mobile *') }}
									{{ form_widget(form.telephone) }}
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft mb10">
									<button id="addInterlocuteur">Ajouter un interlocuteur</button>
								</div>
								<div class="col-md-6 nopaddingright">
								</div>
							</div>
							<div class="col-md-12 nopadding fc_etape3_2" id="fc_etape3_2">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.nomInterlocuteur, 'Nom') }}
									{{ form_widget(form.nomInterlocuteur) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.prenomInterlocuteur, 'Prénom') }}
									{{ form_widget(form.prenomInterlocuteur) }}
								</div>
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.telephoneInterlocuteur, 'Téléphone') }}
									{{ form_widget(form.telephoneInterlocuteur) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.emailInterlocuteur, 'Email') }}
									{{ form_widget(form.emailInterlocuteur) }}
								</div>
							</div>
							<div class="col-md-12 nopadding">
								{{ form_label(form.message, 'Commentaire') }}
								{{ form_widget(form.message) }}
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.fichier, 'Joindre le KBIS (-3 mois) *', {'label_attr': {'class': 'to-right'}}) }}
									{{ form_widget(form.fichier) }}
								</div>
								<div class="col-md-6 nopaddingright">
									{{ form_label(form.fichier2, 'Joindre l\'attestation ORIAS *', {'label_attr': {'class': 'to-right'}}) }}
									{{ form_widget(form.fichier2) }}
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.fichier3, 'Joindre un RIB *', {'label_attr': {'class': 'to-right'}}) }}
									{{ form_widget(form.fichier3) }}
								</div>
								<div class="col-md-6 nopaddingright">
								</div>
							</div>
						</div>

						<div class="fc_etape4" id="fc_etape4">
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.code, 'Code courtier') }}
									{{ form_widget(form.code) }}
								</div>
								<div class="col-md-6 nopaddingright">

								</div>
							</div>
							<div class="col-md-12 nopadding">
								<label for="form_c_nomCabinet1">Nom du cabinet *</label>
								<input id="form_c_nomCabinet1" type="text" name="form_c[nomCabinet1]">
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<label for="form_c_nom1">Nom *</label>
									<input id="form_c_nom1" type="text" name="form_c[nom1]">
								</div>
								<div class="col-md-6 nopaddingright">
									<label for="form_c_prenom">Prénom</label>
									<input id="form_c_prenom" type="text" name="form_c[prenom1]">
								</div>
							</div>
							<div class="col-md-12 nopadding mb10">
								{{ form_label(form.contactPar1, 'Je souhaite être contacté par', {'label_attr': {'class': 'col-md-5 to-right'}}) }}
								{{ form_widget(form.contactPar1) }}
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft" id="fc4email">
									<label for="form_c_email1">Email</label>
									<input id="form_c_email1" type="email" name="form_c[email1]">
								</div>
								<div class="col-md-6 nopaddingleft" id="fc4tel">
									<label for="form_c_telephone1">Téléphone</label>
									<input id="form_c_telephone1" type="text" name="form_c[telephone1]">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<label for="form_c_message1">Message *</label>
								<textarea id="form_c_message1" name="form_c[message1]"></textarea>
							</div>
						</div>

						<div class="fc_etape5" id="fc_etape5">
							<div class="col-md-12 nopadding">
								<label for="form_c2_nomCabinet">Nom du cabinet *</label>
								<input id="form_c2_nomCabinet" type="text" name="form_c2[nomCabinet]">
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<label for="form_c2_nom">Nom *</label>
									<input id="form_c2_nom" type="text" name="form_c2[nom]">
								</div>
								<div class="col-md-6 nopaddingright">
									<label for="form_c2_prenom">Prénom *</label>
									<input id="form_c2_prenom" type="text" name="form_c2[prenom]">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<label for="form_c2_adresse">Adresse</label>
								<input id="form_c2_adresse" type="text" name="form_c2[adresse]">
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<label for="form_c2_cp">Code postal *</label>
									<input id="form_c2_cp" type="text" name="form_c2[cp]">
								</div>
								<div class="col-md-6 nopaddingright">
									<label for="form_c2_ville">Ville</label>
									<input id="form_c2_ville" type="text" name="form_c2[ville]">
								</div>
							</div>
							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									<label for="form_c2_email">Email *</label>
									<input id="form_c2_email" type="email" name="form_c2[email]">
								</div>
								<div class="col-md-6 nopaddingright">
									<label for="form_c2_telephone">Téléphone *</label>
									<input id="form_c2_telephone" type="text" name="form_c2[telephone]">
								</div>
							</div>
							<div class="col-md-12 nopadding mb10">
								{{ form_label(form.contactPar2, 'Je souhaite prendre contact avec un inspecteur CIPRES *', {'label_attr': {'class': 'to-right'}}) }}
								{{ form_widget(form.contactPar2) }}
							</div>
							<div class="col-md-12 nopadding mb10">
								{{ form_label(form.preference, 'De préférence *', {'label_attr': {'class': 'to-right'}}) }}
								{{ form_widget(form.preference) }}
							</div>
							<div class="col-md-12 nopadding mb10">
								{{ form_label(form.offre, 'Je suis intéressé par l\'offre', {'label_attr': {'class': 'to-right'}}) }}
								{{ form_widget(form.offre) }}
							</div>
							<div class="col-md-12 nopadding">
								<label for="form_c2_message">Message</label>
								<textarea id="form_c2_message" name="form_c2[message]"></textarea>
							</div>
						</div>

						<div class="fc_etape6" id="fc_etape6">
							<div class="col-md-12 nopadding mb10">
								<label class="col-md-5 to-right">Déjà client chez CIPRES ?</label>
								<div id="form_c6_client">
									{{ form_widget(form.client) }}
								</div>
							</div>
							<div class="fc_etape6_1">
								<div class="col-md-12 nopadding mb10">
									<label class="col-md-5 to-right">Votre demande concerne :</label>
									<div id="form_c6_demande">
										<input id="form_c6_demande_0" class="with-gap" type="radio" value="Reclamation" name="form_c6[demande]">
										<label for="form_c6_demande_0">Une réclamation</label>
										<input id="form_c6_demande_1" class="with-gap" type="radio" value="Autre" name="form_c6[demande]">
										<label for="form_c6_demande_1">Autre</label>
									</div>
								</div>

								{#==================================================#}
								{#==== FORMULAIRE RECLAMATION ENTREPRISES OU TNS ===#}
								{#==================================================#}
								<div class="fc_etape6_1_2">
									<p>« Nous vous invitons à remplir le formulaire de réclamation ci-dessous.<br>
										Vous pouvez également nous envoyer votre demande par courrier à l'adresse postale suivante:
										CIPRÉS Assurances - Service de traitement des réclamations
										37 rue Anatole France - 92532 LEVALLOIS-PERRET CEDEX.<br><br>

										Nous nous engageons à accuser réception de votre réclamation dans un délai maximum de dix jours ouvrables à compter de sa réception et vous apporter une réponse (positive ou négative) dans un délai de deux mois à compter de la réception de la totalité des éléments de votre réclamation.<br><br>

										Pour plus d’information, merci de consulter la <a href="{{ asset('upload/PDF/Procedure_traitement_reclamations.pdf') }}">Procédure de traitement des réclamations</a>
									</p>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.raison, 'Raison sociale') }}
											{{ form_widget(form.raison) }}
										</div>
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.num_rcs, 'N° RCS') }}
											{{ form_widget(form.num_rcs) }}
										</div>
									</div>

									<div class="col-md-12 nopadding">
										{{ form_label(form.civilite, 'Civilite') }}
										{{ form_widget(form.civilite) }}
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.nom) }}
											<input id="form_c6_1_nom" type="text" name="form_c6_1[nomReclam]">
										</div>
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.prenom, 'Prénom') }}
											<input id="form_c6_1_prenom" type="text" name="form_c6_1[prenomReclam]">
										</div>
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											<label for="form_c6_1_email">Email *</label>
											<input id="form_c6_1_email" type="email" name="form_c6_1[email]">
										</div>
										<div class="col-md-6 nopaddingleft">
											<label for="form_c6_1_telephone" data-error="Numéro de téléphone invalide">Téléphone *</label>
											<input id="form_c6_1_telephone" data-error="Numéro de téléphone invalide" type="text" pattern="^0([1-7]|9)([-. ]?[0-9]{2}){4}$" name="form_c6_1[telephone]">
										</div>
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.num_contrat, 'Numéro de contrat') }}
											{{ form_widget(form.num_contrat) }}
										</div>
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.objet_reclam) }}
											{{ form_widget(form.objet_reclam) }}
										</div>
									</div>

									<div class="col-md-12 nopadding">
										{{ form_label(form.motif_reclam) }}
										{{ form_widget(form.motif_reclam) }}
									</div>
								</div>


								<div class="fc_etape6_1_3">
									<p>Afin de répondre au mieux à votre demande, veuillez-vous connecter à <a href="https://www.monsiteassure.fr/login" target="_blank">votre espace personnel</a> rubrique « Démarches en ligne ».</p>
								</div>
							</div>
							<div class="fc_etape6_2">
								<p>Veuillez nous renseigner les informations ci-dessous, nous les transmettrons à un courtier partenaire qui prendra contact avec vous pour répondre à toutes vos questions et vous accompagner.</p>
								<div class="col-md-12 nopadding">
									<div class="col-md-6 nopaddingleft">
										<label for="form_c6_nom">Nom *</label>
										<input id="form_c6_nom" type="text" name="form_c6[nom]">
									</div>
									<div class="col-md-6 nopaddingright">
										<label for="form_c6_prenom">Prénom *</label>
										<input id="form_c6_prenom" type="text" name="form_c6[prenom]">
									</div>
								</div>
								<div class="col-md-12 nopadding">
									<div class="col-md-6 nopaddingleft">
										<label for="form_c6_raison">Raison sociale</label>
										<input id="form_c6_raison" type="text" name="form_c6[raison]">
									</div>
									<div class="col-md-6 nopaddingright">
										<label for="form_c6_adresse">Adresse *</label>
										<input id="form_c6_adresse" type="text" name="form_c6[adresse]">
									</div>
								</div>
								<div class="col-md-12 nopadding">
									<div class="col-md-6 nopaddingleft">
										<label for="form_c6_codePostal">Code postal *</label>
										<input id="form_c6_codePostal" type="text" name="form_c6[codePostal]">
									</div>
									<div class="col-md-6 nopaddingright">
										<label for="form_c6_ville">Ville *</label>
										<input id="form_c6_ville" type="text" name="form_c6[ville]">
									</div>
								</div>
								<div class="col-md-12 nopadding">
									<div class="col-md-6 nopaddingleft">
										<label for="form_c6_telephone">Téléphone *</label>
										<input id="form_c6_telephone" type="text" name="form_c6[telephone]">
									</div>
									<div class="col-md-6 nopaddingright">
										<label for="form_c6_email">Email *</label>
										<input id="form_c6_email" type="email" name="form_c6[email]">
									</div>
								</div>
								<div class="col-md-12 nopadding">
									<label for="form_c6_message">Message *</label>
									<textarea id="form_c6_message" name="form_c6[message]"></textarea>
								</div>
							</div>
						</div>

						{#==================================================#}
						{#========= FORMULAIRE RECLAMATION SALARIE =========#}
						{#==================================================#}
						<div class="fc_etape8" id="fc_etape8">
							<div class="col-md-12 nopadding mb10">
								<label class="col-md-5 to-right">Déjà client chez CIPRES ?</label>
								<div id="form_c8_client">
									{{ form_widget(form.client_salarie) }}
								</div>
							</div>

							<div class="fc_etape8_1">
								<div class="col-md-12 nopadding mb10">
									<label class="col-md-5 to-right">Votre demande concerne :</label>
									<div id="form_c8_demande">
										<input id="form_c8_demande_0" type="radio" value="Reclamation" name="form_c8[demande]">
										<label for="form_c8_demande_0">Une réclamation</label>
										<input id="form_c8_demande_1" type="radio" value="Autre" name="form_c8[demande]">
										<label for="form_c8_demande_1">Autre</label>
									</div>
								</div>

								<div class="fc_etape8_1_2">
									<p>« Nous vous invitons à remplir le formulaire de réclamation ci-dessous.<br>
										Vous pouvez également nous envoyer votre demande par courrier à l'adresse postale suivante:
										CIPRÉS Assurances - Service de traitement des réclamations
										37 rue Anatole France - 92532 LEVALLOIS-PERRET CEDEX.<br><br>

										Nous nous engageons à accuser réception de votre réclamation dans un délai maximum de dix jours ouvrables à compter de sa réception et vous apporter une réponse (positive ou négative) dans un délai de deux mois à compter de la réception de la totalité des éléments de votre réclamation.<br><br>

										Pour plus d’information, merci de consulter la <a href="{{ asset('upload/PDF/Procedure_traitement_reclamations.pdf') }}">Procédure de traitement des réclamations</a>
									</p>

									<div class="col-md-12 nopadding">
										<input id="form_c8_1_Civilite_0" type="radio" value="M" name="form_c8_1[civilite]">
										<label for="form_c8_1_Civilite_0">M</label>
										<input id="form_c8_1_Civilite_1" type="radio" value="Mme" name="form_c8_1[civilite]">
										<label for="form_c8_1_Civilite_1">Mme</label>
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.nom) }}
											<input id="form_c8_1_nom" type="text" name="form_c8_1[nom]">
										</div>
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.prenom, 'Prénom') }}
											<input id="form_c8_1_prenom" type="text" name="form_c8_1[prenom]">
										</div>
									</div>

									<div class="col-md-12 nopadding">
										{{ form_label(form.date_naissance) }}
										{{ form_widget(form.date_naissance) }}
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-8 nopaddingleft">
											{{ form_label(form.adresse, 'Adresse') }}
											<input id="form_c8_1_adresse" type="text" name="form_c8_1[adresse]">
										</div>
										<div class="col-md-4 nopaddingleft">
											{{ form_label(form.codePostal) }}
											<input id="form_c8_1_codePostal" type="text" name="form_c8_1[codePostal]" pattern="\d{5}">
										</div>
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											<label for="form_c8_1_email">Email *</label>
											<input id="form_c8_1_email" type="email" name="form_c8_1[email]">
										</div>
										<div class="col-md-6 nopaddingleft">
											<label for="form_c8_1_telephone">Téléphone *</label>
											<input id="form_c8_1_telephone" type="text" name="form_c8_1[telephone]" pattern="^0([1-7]|9)([-. ]?[0-9]{2}){4}$">
										</div>
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.num_contrat, 'Numéro de contrat') }}
											<input id="form_c8_1_num_contrat" type="text" name="form_c8_1[num_contrat]">
										</div>
									</div>

									<div class="col-md-12 nopadding">
										<div class="col-md-6 nopaddingleft">
											{{ form_label(form.objet_reclam) }}
											<input id="form_c8_1_objet_reclam" type="text" name="form_c8_1[objet_reclam]">
										</div>
									</div>

									<div class="col-md-12 nopadding">
										{{ form_label(form.motif_reclam) }}
										<textarea name="form_c8_1[motif_reclam]" id="form_c8_1_motif_reclam" cols="30" rows="10"></textarea>
									</div>
								</div>

								<div class="fc_etape8_1_3">
									<p>Afin de répondre au mieux à votre demande, veuillez-vous connecter à <a href="https://www.monsiteassure.fr/login" target="_blank">votre espace personnel</a> rubrique « Démarches en ligne ».</p>
								</div>
							</div>

							<div class="fc_etape8_2">
								<p>Veuillez nous renseigner les informations ci-dessous, nous les transmettrons à un courtier partenaire qui prendra contact avec vous pour répondre à toutes vos questions et vous accompagner.</p>
								<div class="col-md-12 nopadding">
									<div class="col-md-6 nopaddingleft input-field">
										<label for="form_c8_nom">Nom *</label>
										<input id="form_c8_nom" type="text" name="form_c8[nom]">
									</div>
									<div class="col-md-6 nopaddingright input-field">
										<label for="form_c8_prenom">Prénom *</label>
										<input id="form_c8_prenom" type="text" name="form_c8[prenom]">
									</div>
								</div>
								<div class="col-md-12 nopadding input-field">
									<label for="form_c8_adresse">Adresse *</label>
									<input id="form_c8_adresse" type="text" name="form_c8[adresse]">
								</div>
								<div class="col-md-12 nopadding">
									<div class="col-md-6 nopaddingleft input-field">
										<label for="form_c8_codePostal">Code postal *</label>
										<input id="form_c8_codePostal" type="text" name="form_c8[codePostal]" pattern="\d{5}">
									</div>
									<div class="col-md-6 nopaddingright input-field">
										<label for="form_c8_ville">Ville *</label>
										<input id="form_c8_ville" type="text" name="form_c8[ville]">
									</div>
								</div>
								<div class="col-md-12 nopadding">
									<div class="col-md-6 nopaddingleft input-field">
										<label for="form_c8_telephone">Téléphone *</label>
										<input id="form_c8_telephone" type="text" name="form_c8[telephone]" pattern="^0([1-7]|9)([-. ]?[0-9]{2}){4}$">
									</div>
									<div class="col-md-6 nopaddingright input-field">
										<label for="form_c8_email">Email *</label>
										<input id="form_c8_email" type="email" name="form_c8[email]">
									</div>
								</div>
								<div class="col-md-12 nopadding input-field">
									<label for="form_c8_message">Message *</label>
									<textarea id="form_c8_message" name="form_c8[message]"></textarea>
								</div>
							</div>

						</div>


						{#==================================================#}
						{#========== FORMULAIRE EXPERT COMPTABLE ===========#}
						{#==================================================#}
						<div class="fc_etape9" id="fc_etape9">
							<div class="col-md-6 nopadding">
								{{ form_label(form.nom_ste) }}
								<input id="form_c9_nom" type="text" name="form_c9[nomSte]">
							</div>

							<div class="col-md-12 nopadding">
								<input id="form_c9_Civilite_0" type="radio" value="M" name="form_c9[civilite]">
								<label for="form_c9_Civilite_0">M</label>
								<input id="form_c9_Civilite_1" type="radio" value="Mme" name="form_c9[civilite]">
								<label for="form_c9_Civilite_1">Mme</label>
							</div>

							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.nom) }}
									<input id="form_c9_nom" type="text" name="form_c9[nom]">
								</div>
								<div class="col-md-6 nopaddingleft">
									{{ form_label(form.prenom, 'Prénom') }}
									<input id="form_c9_prenom" type="text" name="form_c9[prenom]">
								</div>
							</div>

							<div class="col-md-6 nopadding">
								{{ form_label(form.fonction_EC) }}
								<input id="form_c9_fonction_EC" type="text" name="form_c9[fonction_EC]">
							</div>

							<div class="col-md-12 nopadding">
								<label for="form_c9_adresse">Adresse *</label>
								<input id="form_c9_adresse" type="text" name="form_c9[adresse]">
							</div>

							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft input-field">
									<label for="form_c9_codePostal">Code postal *</label>
									<input id="form_c9_codePostal" type="text" name="form_c9[codePostal]" pattern="\d{5}">
								</div>
								<div class="col-md-6 nopaddingright input-field">
									<label for="form_c9_ville">Ville *</label>
									<input id="form_c9_ville" type="text" name="form_c9[ville]">
								</div>
							</div>

							<div class="col-md-12 nopadding">
								<div class="col-md-6 nopaddingleft input-field">
									<label for="form_c9_telephone">Téléphone *</label>
									<input id="form_c9_telephone" type="text" name="form_c9[telephone]" pattern="^0([1-7]|9)([-. ]?[0-9]{2}){4}$">
								</div>
								<div class="col-md-6 nopaddingright input-field">
									<label for="form_c9_email">Email *</label>
									<input id="form_c9_email" type="email" name="form_c9[email]">
								</div>
							</div>

							<div class="col-md-12 nopadding">
								{{ form_label(form.taille_entreprise) }}
								{{ form_widget(form.taille_entreprise) }}

							</div>

							<div class="col-md-12 nopadding">
								{{ form_label(form.besoins_EC) }}
								{{ form_widget(form.besoins_EC) }}
							</div>
						</div>




						{# ==== BOUTON VALIDER ====#}
						<div class="fc_etape_valider" id="fc_etape_valider">
							<div class="col-md-12 nopadding">
								<input type="submit" value="VALIDER">
							</div>
						</div>
						<div class="fc_etape_autre" id="fc_etape_autre">
							{{ form_widget(form) }}
							{{ form_errors(form) }}
						</div>
					</form>
				</div>
				<div class="adresseMobile">
					<p class="contact_titre">NOTRE SERVICE COMMERCIAL</p>
					<p class="contact_p">E-mail : commercial@cipres.fr<br/>
						Tél : 0.969.329.319<br/>
						Fax : 0.177.686.686</p>
					<p class="contact_titre mt60">NOS COORDONNÉES</p>
					<p class="contact_p">37, rue Anatole France<br/>
						92532 Levallois-Perret Cedex<br/>
						M. Louise Michel<br/>
						<a href="https://www.google.fr/maps/place/37+Rue+Anatole+France,+92300+Levallois-Perret/@48.8897311,2.2846706,17z/data=!3m1!4b1!4m2!3m1!1s0x47e66f85b61519bd:0x8cb97d318cf1cf58" target="_blank">Plan d'accès</a><br/>
						Tél : 0.177.685.685<br/>
						Fax : 0.177.686.686</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	{#<script src="{{ asset('bundles/cipres/sass/materialize/js/bin/materialize.min.js') }}"></script>#}
	{#<script src="{{ asset('bundles/cipres/sass/materialize/js/forms.js') }}"></script>#}
	{#<script>#}
	{#$(document).ready(function() {#}
	{#$('select').material_select();#}
	{#});#}
	{#</script>#}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/js/bootstrap-datepicker.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.1/locales/bootstrap-datepicker.fr.min.js"></script>

	<script>
		$('.datepicker').datepicker({
			autoclose: true,
			language: 'fr',
			startView: 'years',
			disableTouchKeyboard: true
		});
	</script>

	<script type='text/javascript' src='https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&ver=1'></script>
	<script>
		jQuery(document).ready(function(){
			initialize();
			var geocoder;
			var allMarkers;

			function initialize() {
				var map;
				var allMarkers = [];
				var ocean = new google.maps.LatLng('48.8897311','2.2846706');
				geocoder = new google.maps.Geocoder();

				var stylez = [
					{
						featureType: "all",
						elementType: "all",

					}
				];

				var mapOptions = {
					zoom: 15,
					center: ocean,
					mapTypeControlOptions: {
						mapTypeIds: [google.maps.MapTypeId.SATELLITE, 'tehgrayz']
					},
					scrollwheel: false
				};

				map = new google.maps.Map(document.getElementById("map"), mapOptions);

				var mapType = new google.maps.StyledMapType(stylez, { name:"Grayscale" });
				map.mapTypes.set('tehgrayz', mapType);
				map.setMapTypeId('tehgrayz');

				markers(map, allMarkers);
			}

			function markers(map, allMarkers)
			{
				var color;

				color = '#f36f23';


				marker = new google.maps.Marker({
					position: new google.maps.LatLng('48.8897311','2.2846706'),
					map: map,
				});
			}

			function displayMarkers(category, allMarkers) {

				var i;

				for (i = 0; i < allMarkers.length; i++) {
					if ( ((allMarkers[i].category).indexOf(category) != -1) || (category == "all") ) {
						allMarkers[i].setVisible(true);
					}
					else {
						allMarkers[i].setVisible(false);
					}
				}
			}

			$('#appbundle_contacttype_source').change(function() {
				if($('#appbundle_contacttype_source').val() == 1)
				{
					$('#fc_etape6').hide();
					$('#fc_etape2').show();
					$('#fc_etape7').hide();
					$('#fc_etape8').hide();
					$('#fc_etape9').hide();

					$("#form_c3_nom").removeAttr( "required" );
					$("#form_c3_prenom").removeAttr( "required" );
					$("#form_c3_email").removeAttr( "required" );
					$("#appbundle_contacttype_objet").removeAttr( "required" );
					$("#form_c3_message").removeAttr( "required" );
					$("#appbundle_contacttype_taille_entreprise").removeAttr("required");
					$("#appbundle_contacttype_date_naissance").removeAttr("required");
				}
				else if($('#appbundle_contacttype_source').val() == 2)
				{
					$('#fc_etape2').hide();
					$('#fc_etape4').hide();
					$('#fc_etape3').hide();
					$('#fc_etape5').hide();
					$('#fc_etape_valider').hide();
					$('#fc_etape6').show();
					$('#fc_etape7').hide();
					$('#fc_etape8').hide();
					$('#fc_etape9').hide();

					$("#form_c3_nom").removeAttr( "required" );
					$("#form_c3_prenom").removeAttr( "required" );
					$("#form_c3_email").removeAttr( "required" );
					$("#appbundle_contacttype_objet").removeAttr( "required" );
					$("#form_c3_message").removeAttr( "required" );
					$("#form_c_nomCabinet1").removeAttr( "required" );
					$("#form_c_nom1").removeAttr( "required" );
					$("#form_c_message1").removeAttr( "required" );
					$("#form_c_email1").removeAttr( "required" );
					$("#form_c_telephone1").removeAttr( "required" );
					$("#appbundle_contacttype_nomCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_adresse").removeAttr( "required" );
					$("#appbundle_contacttype_codePostal").removeAttr( "required" );
					$("#appbundle_contacttype_ville").removeAttr( "required" );
					$("#appbundle_contacttype_emailCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_telephoneCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_siret").removeAttr( "required" );
					$("#appbundle_contacttype_orias").removeAttr( "required" );
					$("#appbundle_contacttype_catOrias_0").removeAttr( "required" );
					$("#appbundle_contacttype_statut_0").removeAttr( "required" );
					$("#appbundle_contacttype_nom").removeAttr( "required" );
					$("#appbundle_contacttype_prenom").removeAttr( "required" );
					$("#appbundle_contacttype_email").removeAttr( "required" );
					$("#appbundle_contacttype_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_fichier").removeAttr( "required" );
					$("#appbundle_contacttype_fichier2").removeAttr( "required" );
					$("#appbundle_contacttype_fichier3").removeAttr( "required" );
					$("#form_c2_nomCabinet").removeAttr( "required" );
					$("#form_c2_nom").removeAttr( "required" );
					$("#form_c2_prenom").removeAttr( "required" );
					$("#form_c2_cp").removeAttr( "required" );
					$("#form_c2_email").removeAttr( "required" );
					$("#form_c2_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_contactPar2_0").removeAttr( "required" );
					$("#appbundle_contacttype_preference_0").removeAttr( "required" );
				}
				else if($('#appbundle_contacttype_source').val() == 3)
				{
					$('#fc_etape2').hide();
					$('#fc_etape4').hide();
					$('#fc_etape3').hide();
					$('#fc_etape5').hide();
					$('#fc_etape_valider').hide();
					$('#fc_etape6').hide();
					$('#fc_etape7').hide();
					$('#fc_etape8').show();
					$('#fc_etape9').hide();

					$("#form_c_nomCabinet1").removeAttr( "required" );
					$("#form_c_nom1").removeAttr( "required" );
					$("#form_c_message1").removeAttr( "required" );
					$("#form_c_email1").removeAttr( "required" );
					$("#form_c_telephone1").removeAttr( "required" );
					$("#appbundle_contacttype_nomCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_adresse").removeAttr( "required" );
					$("#appbundle_contacttype_codePostal").removeAttr( "required" );
					$("#appbundle_contacttype_ville").removeAttr( "required" );
					$("#appbundle_contacttype_emailCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_telephoneCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_siret").removeAttr( "required" );
					$("#appbundle_contacttype_orias").removeAttr( "required" );
					$("#appbundle_contacttype_catOrias_0").removeAttr( "required" );
					$("#appbundle_contacttype_statut_0").removeAttr( "required" );
					$("#appbundle_contacttype_nom").removeAttr( "required" );
					$("#appbundle_contacttype_prenom").removeAttr( "required" );
					$("#appbundle_contacttype_email").removeAttr( "required" );
					$("#appbundle_contacttype_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_fichier").removeAttr( "required" );
					$("#appbundle_contacttype_fichier2").removeAttr( "required" );
					$("#appbundle_contacttype_fichier3").removeAttr( "required" );
					$("#form_c2_nomCabinet").removeAttr( "required" );
					$("#form_c2_nom").removeAttr( "required" );
					$("#form_c2_prenom").removeAttr( "required" );
					$("#form_c2_cp").removeAttr( "required" );
					$("#form_c2_email").removeAttr( "required" );
					$("#form_c2_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_contactPar2_0").removeAttr( "required" );
					$("#appbundle_contacttype_preference_0").removeAttr( "required" );

					$("#form_c3_nom").attr( "required", "required" );
					$("#form_c3_prenom").attr( "required", "required" );
					$("#form_c3_email").attr( "required", "required" );
					$("#appbundle_contacttype_objet").attr( "required", "required" );
					$("#form_c3_message").attr( "required", "required" );
				}
				else if($('#appbundle_contacttype_source').val() == 4)
				{
					$('#fc_etape2').hide();
					$('#fc_etape4').hide();
					$('#fc_etape3').hide();
					$('#fc_etape5').hide();
					$('#fc_etape6').hide();
					$('#fc_etape7').hide();
					$('#fc_etape8').hide();
					$('#fc_etape9').show();
					$('#fc_etape_valider').show();

					$("#form_c_nomCabinet1").removeAttr( "required" );
					$("#form_c_nom1").removeAttr( "required" );
					$("#form_c_message1").removeAttr( "required" );
					$("#form_c_email1").removeAttr( "required" );
					$("#form_c_telephone1").removeAttr( "required" );
					$("#appbundle_contacttype_nomCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_adresse").removeAttr( "required" );
					$("#appbundle_contacttype_codePostal").removeAttr( "required" );
					$("#appbundle_contacttype_ville").removeAttr( "required" );
					$("#appbundle_contacttype_emailCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_telephoneCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_siret").removeAttr( "required" );
					$("#appbundle_contacttype_orias").removeAttr( "required" );
					$("#appbundle_contacttype_catOrias_0").removeAttr( "required" );
					$("#appbundle_contacttype_statut_0").removeAttr( "required" );
					$("#appbundle_contacttype_nom").removeAttr( "required" );
					$("#appbundle_contacttype_prenom").removeAttr( "required" );
					$("#appbundle_contacttype_email").removeAttr( "required" );
					$("#appbundle_contacttype_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_fichier").removeAttr( "required" );
					$("#appbundle_contacttype_fichier2").removeAttr( "required" );
					$("#appbundle_contacttype_fichier3").removeAttr( "required" );
					$("#form_c2_nomCabinet").removeAttr( "required" );
					$("#form_c2_nom").removeAttr( "required" );
					$("#form_c2_prenom").removeAttr( "required" );
					$("#form_c2_cp").removeAttr( "required" );
					$("#form_c2_email").removeAttr( "required" );
					$("#form_c2_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_contactPar2_0").removeAttr( "required" );
					$("#appbundle_contacttype_preference_0").removeAttr( "required" );
					$("#form_c8_1_nom").removeAttr("required");
					$("#form_c8_1_prenom").removeAttr("required");
					$("#form_c8_1_adresse").removeAttr("required");
					$("#form_c8_1_codePostal").removeAttr("required");
					$("#form_c8_1_ville").removeAttr("required");
					$("#form_c8_1_telephone").removeAttr("required");
					$("#form_c8_1_email").removeAttr("required");
					$("#appbundle_contacttype_date_naissance").removeAttr("required");

					$("#form_c9_nom").attr("required", "required");
					$("#form_c9_nom_ste").attr("required", "required");
					$("#form_c9_prenom").attr("required", "required");
					$("#form_c9_adresse").attr("required", "required");
					$("#form_c9_codePostal").attr("required", "required");
					$("#form_c9_ville").attr("required", "required");
					$("#form_c9_telephone").attr("required", "required");
					$("#form_c9_email").attr("required", "required");

				}
			});

			$('#appbundle_contacttype_souhait').change(function() {
				if($('#appbundle_contacttype_souhait').val() == 1)
				{
					$('#fc_etape4').hide();
					$('#fc_etape3').show();
					$('#fc_etape5').hide();
					$('#fc_etape_valider').show();

					$("#appbundle_contacttype_nomCabinet").attr( "required", "required" );
					$("#appbundle_contacttype_adresse").attr( "required", "required" );
					$("#appbundle_contacttype_codePostal").attr( "required", "required" );
					$("#appbundle_contacttype_ville").attr( "required", "required" );
					$("#appbundle_contacttype_emailCabinet").attr( "required", "required" );
					$("#appbundle_contacttype_telephoneCabinet").attr( "required", "required" );
					$("#appbundle_contacttype_siret").attr( "required", "required" );
					$("#appbundle_contacttype_orias").attr( "required", "required" );
					$("#appbundle_contacttype_catOrias_0").attr( "required", "required" );
					$("#appbundle_contacttype_statut_0").attr( "required", "required" );
					$("#appbundle_contacttype_nom").attr( "required", "required" );
					$("#appbundle_contacttype_prenom").attr( "required", "required" );
					$("#appbundle_contacttype_email").attr( "required", "required" );
					$("#appbundle_contacttype_telephone").attr( "required", "required" );
					$("#appbundle_contacttype_fichier").attr( "required", "required" );
					$("#appbundle_contacttype_fichier2").attr( "required", "required" );
					$("#appbundle_contacttype_fichier3").attr( "required", "required" );

					$("#form_c_nomCabinet1").removeAttr( "required" );
					$("#form_c_nom1").removeAttr( "required" );
					$("#form_c_message1").removeAttr( "required" );
					$("#form_c_email1").removeAttr( "required" );
					$("#form_c_telephone1").removeAttr( "required" );
					$("#form_c2_nomCabinet").removeAttr( "required" );
					$("#form_c2_nom").removeAttr( "required" );
					$("#form_c2_prenom").removeAttr( "required" );
					$("#form_c2_cp").removeAttr( "required" );
					$("#form_c2_email").removeAttr( "required" );
					$("#form_c2_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_contactPar2_0").removeAttr( "required" );
					$("#appbundle_contacttype_preference_0").removeAttr( "required" );
				}
				else if($('#appbundle_contacttype_souhait').val() == 2)
				{
					$('#fc_etape3').hide();
					$('#fc_etape4').show();
					$('#fc_etape5').hide();
					$('#fc_etape_valider').show();

					$('#fc4email').hide();
					$('#fc4tel').hide();

					$("#appbundle_contacttype_nomCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_adresse").removeAttr( "required" );
					$("#appbundle_contacttype_codePostal").removeAttr( "required" );
					$("#appbundle_contacttype_ville").removeAttr( "required" );
					$("#appbundle_contacttype_emailCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_telephoneCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_siret").removeAttr( "required" );
					$("#appbundle_contacttype_orias").removeAttr( "required" );
					$("#appbundle_contacttype_catOrias_0").removeAttr( "required" );
					$("#appbundle_contacttype_statut_0").removeAttr( "required" );
					$("#appbundle_contacttype_nom").removeAttr( "required" );
					$("#appbundle_contacttype_prenom").removeAttr( "required" );
					$("#appbundle_contacttype_email").removeAttr( "required" );
					$("#appbundle_contacttype_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_fichier").removeAttr( "required" );
					$("#appbundle_contacttype_fichier2").removeAttr( "required" );
					$("#appbundle_contacttype_fichier3").removeAttr( "required" );
					$("#form_c2_nomCabinet").removeAttr( "required" );
					$("#form_c2_nom").removeAttr( "required" );
					$("#form_c2_prenom").removeAttr( "required" );
					$("#form_c2_cp").removeAttr( "required" );
					$("#form_c2_email").removeAttr( "required" );
					$("#form_c2_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_contactPar2_0").removeAttr( "required" );
					$("#appbundle_contacttype_preference_0").removeAttr( "required" );

					$("#form_c_nomCabinet1").attr( "required", "required" );
					$("#form_c_nom1").attr( "required", "required" );
					$("#form_c_message1").attr( "required", "required" );
				}
				else if($('#appbundle_contacttype_souhait').val() == 3)
				{
					$('#fc_etape3').hide();
					$('#fc_etape4').hide();
					$('#fc_etape5').show();
					$('#fc_etape_valider').show();

					$("#form_c_nomCabinet1").removeAttr( "required" );
					$("#form_c_nom1").removeAttr( "required" );
					$("#form_c_message1").removeAttr( "required" );
					$("#form_c_email1").removeAttr( "required" );
					$("#form_c_telephone1").removeAttr( "required" );
					$("#appbundle_contacttype_nomCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_adresse").removeAttr( "required" );
					$("#appbundle_contacttype_codePostal").removeAttr( "required" );
					$("#appbundle_contacttype_ville").removeAttr( "required" );
					$("#appbundle_contacttype_emailCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_telephoneCabinet").removeAttr( "required" );
					$("#appbundle_contacttype_siret").removeAttr( "required" );
					$("#appbundle_contacttype_orias").removeAttr( "required" );
					$("#appbundle_contacttype_catOrias_0").removeAttr( "required" );
					$("#appbundle_contacttype_statut_0").removeAttr( "required" );
					$("#appbundle_contacttype_nom").removeAttr( "required" );
					$("#appbundle_contacttype_prenom").removeAttr( "required" );
					$("#appbundle_contacttype_email").removeAttr( "required" );
					$("#appbundle_contacttype_telephone").removeAttr( "required" );
					$("#appbundle_contacttype_fichier").removeAttr( "required" );
					$("#appbundle_contacttype_fichier2").removeAttr( "required" );
					$("#appbundle_contacttype_fichier3").removeAttr( "required" );

					$("#form_c2_nomCabinet").attr( "required", "required" );
					$("#form_c2_nom").attr( "required", "required" );
					$("#form_c2_prenom").attr( "required", "required" );
					$("#form_c2_cp").attr( "required", "required" );
					$("#form_c2_email").attr( "required", "required" );
					$("#form_c2_telephone").attr( "required", "required" );
					$("#appbundle_contacttype_contactPar2_0").attr( "required", "required" );
					$("#appbundle_contacttype_preference_0").attr( "required", "required" );
				}
			});

			$('#appbundle_contacttype_contactPar1').change(function() {
				if($('#appbundle_contacttype_contactPar1_0')[0].checked)
				{
					$("#form_c_email1").attr( "required", "required" );
					$("#form_c_telephone1").removeAttr( "required" );
					$('#fc4email').show();
					$('#fc4tel').hide();
				}
				else if($('#appbundle_contacttype_contactPar1_1')[0].checked)
				{
					$("#form_c_telephone1").attr( "required", "required" );
					$("#form_c_email1").removeAttr( "required" );
					$('#fc4email').hide();
					$('#fc4tel').show();
				}
				else
				{
					$("#form_c_email1").removeAttr( "required" );
					$("#form_c_telephone1").removeAttr( "required" );
				}
			});

			$('#addInterlocuteur').click(function() {
				$('#fc_etape3_2').show();
			});

			$('#form_c6_client').change(function() {
				if($('#appbundle_contacttype_client_0')[0].checked) {
					$(".fc_etape6_1").show();
					$(".fc_etape6_2").hide();
					$("#fc_etape_valider").hide();

					$("#form_c6_nom").removeAttr("required");
					$("#form_c6_prenom").removeAttr("required");
					$("#form_c6_adresse").removeAttr("required");
					$("#form_c6_codePostal").removeAttr("required");
					$("#form_c6_ville").removeAttr("required");
					$("#form_c6_telephone").removeAttr("required");
					$("#form_c6_email").removeAttr("required");
				}
				else if($('#appbundle_contacttype_client_1')[0].checked)
				{
					$(".fc_etape6_1").hide();
					$(".fc_etape6_2").show();
					$("#fc_etape_valider").show();
					$("#appbundle_contacttype_taille_entreprise").removeAttr("required");
					$("#appbundle_contacttype_date_naissance").removeAttr("required");

					$("#form_c6_nom").attr( "required", "required" );
					$("#form_c6_prenom").attr( "required", "required" );
					$("#form_c6_adresse").attr( "required", "required" );
					$("#form_c6_codePostal").attr( "required", "required" );
					$("#form_c6_ville").attr( "required", "required" );
					$("#form_c6_telephone").attr( "required", "required" );
					$("#form_c6_email").attr( "required", "required" );
				}
			});

			$('#form_c6_demande').change(function () {
				if ($('#form_c6_demande_0')[0].checked) {
					$('.fc_etape6_1_2').show();
					$('#fc_etape_valider').show();
					$('.fc_etape6_1_3').hide();

					$("#form_c6_nom").removeAttr("required");
					$("#form_c6_prenom").removeAttr("required");
					$("#form_c6_adresse").removeAttr("required");
					$("#form_c6_codePostal").removeAttr("required");
					$("#form_c6_ville").removeAttr("required");
					$("#form_c6_telephone").removeAttr("required");
					$("#form_c6_email").removeAttr("required");
					$("#appbundle_contacttype_taille_entreprise").removeAttr("required");
					$("#appbundle_contacttype_date_naissance").removeAttr("required");

					$("#appbundle_contacttype_raison").attr("required", "required");
					$("#appbundle_contacttype_num_rcs").attr("required", "required");
					$("#appbundle_contacttype_civilite").attr("required", "required");
					$("#form_c6_1_nom").attr("required", "required");
					$("#form_c6_1_prenom").attr("required", "required");
					$("#form_c6_1_telephone").attr("required", "required");
					$("#form_c6_1_email").attr("required", "required");
					$("#appbundle_contacttype_num_contrat").attr("required", "required");
					$("#appbundle_contacttype_objet_reclam").attr("required", "required");
					$("#appbundle_contacttype_motif_reclam").attr("required", "required");
				}
				else if ($('#form_c6_demande_1')[0].checked) {
					$('.fc_etape6_1_3').show();
					$('#fc_etape_valider').hide();
					$('.fc_etape6_1_2').hide();
				}
			});

			$('#form_c8_client').change(function() {
				if($('#appbundle_contacttype_client_salarie_0')[0].checked) {
					$(".fc_etape8_1").show();
					$(".fc_etape8_2").hide();
					$("#fc_etape_valider").hide();
					$("#appbundle_contacttype_objet").removeAttr("required");
					$("#appbundle_contacttype_taille_entreprise").removeAttr("required");

					$("#form_c6_nom").removeAttr("required");
					$("#form_c6_prenom").removeAttr("required");
					$("#form_c6_adresse").removeAttr("required");
					$("#form_c6_codePostal").removeAttr("required");
					$("#form_c6_ville").removeAttr("required");
					$("#form_c6_telephone").removeAttr("required");
					$("#form_c6_email").removeAttr("required");
				}
				else if($('#appbundle_contacttype_client_salarie_1')[0].checked)
				{
					$(".fc_etape8_1").hide();
					$(".fc_etape8_2").show();
					$("#fc_etape_valider").show();

					$("#appbundle_contacttype_objet").removeAttr("required");

					$("#form_c6_nom").removeAttr("required");
					$("#form_c6_prenom").removeAttr("required");
					$("#form_c6_adresse").removeAttr("required");
					$("#form_c6_codePostal").removeAttr("required");
					$("#form_c6_ville").removeAttr("required");
					$("#form_c6_telephone").removeAttr("required");
					$("#form_c6_email").removeAttr("required");

					$("#appbundle_contacttype_taille_entreprise").removeAttr("required");
					$("#appbundle_contacttype_date_naissance").removeAttr("required");

					$("#form_c8_nom").attr( "required", "required" );
					$("#form_c8_prenom").attr( "required", "required" );
					$("#form_c8_adresse").attr( "required", "required" );
					$("#form_c8_codePostal").attr( "required", "required" );
					$("#form_c8_ville").attr( "required", "required" );
					$("#form_c8_telephone").attr( "required", "required" );
					$("#form_c8_email").attr( "required", "required" );
				}
			});

			$('#form_c8_demande').change(function () {
				if ($('#form_c8_demande_0')[0].checked) {
					$('.fc_etape8_1_2').show();
					$('#fc_etape_valider').show();
					$('.fc_etape8_1_3').hide();
					$("#appbundle_contacttype_objet").removeAttr("required");

					$("#form_c6_nom").removeAttr("required");
					$("#form_c6_prenom").removeAttr("required");
					$("#form_c6_adresse").removeAttr("required");
					$("#form_c6_codePostal").removeAttr("required");
					$("#form_c6_ville").removeAttr("required");
					$("#form_c6_telephone").removeAttr("required");
					$("#form_c6_email").removeAttr("required");

					$("#appbundle_contacttype_raison").removeAttr("required");
					$("#appbundle_contacttype_num_rcs").removeAttr("required");
					$("#appbundle_contacttype_civilite").removeAttr("required");
					$("#form_c6_1_nom").removeAttr("required");
					$("#form_c6_1_prenom").removeAttr("required");
					$("#form_c6_1_telephone").removeAttr("required");
					$("#form_c6_1_email").removeAttr("required");
					$("#appbundle_contacttype_num_contrat").removeAttr("required");
					$("#appbundle_contacttype_objet_reclam").removeAttr("required");
					$("#appbundle_contacttype_motif_reclam").removeAttr("required");

					$("#form_c8_nom").removeAttr("required");
					$("#form_c8_prenom").removeAttr("required");
					$("#form_c8_adresse").removeAttr("required");
					$("#form_c8_codePostal").removeAttr("required");
					$("#form_c8_ville").removeAttr("required");
					$("#form_c8_telephone").removeAttr("required");
					$("#form_c8_email").removeAttr("required");

					$("#form_c8_1_nom").attr("required", "required");
					$("#form_c8_1_prenom").attr("required", "required");
					$("#form_c8_1_telephone").attr("required", "required");
					$("#form_c8_1_email").attr("required", "required");

				}
				else if ($('#form_c8_demande_1')[0].checked) {
					$('.fc_etape8_1_3').show();
					$('#fc_etape_valider').hide();
					$('.fc_etape8_1_2').hide();
				}
			});
		});
	</script>
	<script>
		function checkContactForm(){
			var error = '';
			if($('#appbundle_contacttype_source').val() == 1)
			{
				if($('#appbundle_contacttype_souhait').val() == 1)
				{
					if($('#appbundle_contacttype_codePostal').val().length != 5)
					{
						error = error+'Le code postal doit comporter 5 caractères\n';
					}
					if($('#appbundle_contacttype_telephoneCabinet').val().length != 10)
					{
						error = error+'Le téléphone doit comporter 10 caractères\n';
					}
					if($('#appbundle_contacttype_telephone').val().length != 10)
					{
						error = error+'Le téléphone doit comporter 10 caractères\n';
					}
				}
				else if($('#appbundle_contacttype_souhait').val() == 2)
				{
					if($('#appbundle_contacttype_code').val().length > 0)
					{
						if($('#appbundle_contacttype_code').val().length != 5)
						{
							error = error+'Le code courtier doit comporter 5 caractères\n';
						}
					}
					if($('#form_c_telephone1').val().length > 0)
					{
						if($('#form_c_telephone1').val().length != 10)
						{
							error = error+'Le téléphone doit comporter 10 caractères\n';
						}
					}
				}
				else if($('#appbundle_contacttype_souhait').val() == 3)
				{
					if($('#form_c2_cp').val().length != 5)
					{
						error = error+'Le code postal doit comporter 5 caractères\n';
					}
					if($('#form_c2_telephone').val().length != 10)
					{
						error = error+'Le téléphone doit comporter 10 caractères\n';
					}
				}
			}
			else if($('#appbundle_contacttype_source').val() == 2)
			{
				if($('.fc_etape6_2').is(":visible") == true) {
					if($('#form_c6_codePostal').val().length != 5)
					{
						error = error+'Le code postal doit comporter 5 caractères\n';
					}
					if($('#form_c6_telephone').val().length > 0)
					{
						if($('#form_c6_telephone').val().length != 10)
						{
							error = error+'Le téléphone doit comporter 10 caractères\n';
						}
					}
				}

			}
			else if($('#appbundle_contacttype_source').val() == 3)
			{
				if($('#form_c3_telephone').val().length > 0)
				{
					if($('#form_c3_telephone').val().length != 10)
					{
						error = error+'Le téléphone doit comporter 10 caractères\n';
					}
				}
			}

			if(error != '')
			{
				alert(error);
				return false;
			}

			return true;
		}

		//	Récupération des paramètres de l'url pour l'affichage des champs de formulaire correspondants
		function getParams(param) {
			var vars = {};
			window.location.href.replace( location.hash, '' ).replace(
					/[?&]+([^=&]+)=?([^&]*)?/gi, // regexp
					function( m, key, value ) { // callback
						vars[key] = value !== undefined ? value : '';
					}
			);

			if ( param ) {
				return vars[param] ? vars[param] : null;
			}
			return vars;
		}

		var getParams = getParams(),
				type_contact = getParams['raison'];

		if (type_contact == "rappel") {
			$('#appbundle_contacttype_source').val('2');
			$('#fc_etape6').show();
		}

		if (type_contact == "partenaire") {
			$('#appbundle_contacttype_source').val('1');
			$('#appbundle_contacttype_souhait').val('1')
			$('#fc_etape2, #fc_etape3').show();
			$('.fc_etape_valider').css("display", "block");
		}

		if (type_contact == "rdv") {
			$('#appbundle_contacttype_source').val('1');
			$('#appbundle_contacttype_souhait').val('3')
			$('#fc_etape2, #fc_etape5').show();
			$('.fc_etape_valider').css("display", "block");
		}
	</script>
{% endblock %}