{% extends 'base.html.twig' %}

{% block title %}
	{% if actif == 7 %}
		Revue de presse
	{% elseif actif == 8 %}
		Communiqué de Presse | CIPRES ASSURANCES
	{% endif %}
{% endblock %}

{% block meta_desc %}
	{% if actif == 7 %}
		<meta name="description" content="Revue de presse" />
	{% elseif actif == 8 %}
		<meta name="description" content="Retrouvez ici tous nos communiqués de presse que vous pouvez télécharger et partager. Mise à disposition d'un moteur de recherche interne" />
	{% endif %}
{% endblock %}

{% block body %}
	<div class="main">
		<div class="cms_slide">
			<img src="{{ asset('bundles/cipres/img/slide_agenda.png') }}" />
		</div>
		<!--<div class="actu_search">
			<div class="content">
				<div class="col-md-9">
					<form action="" method="POST">
						<input type="text" placeholder="Tapez ici votre recherche" />
						<input type="submit" value="Chercher" />
					</form>
				</div>
				<div class="col-md-3">
					
				</div>
			</div>
		</div>-->
		<div class="actu_content">
			<div class="content">
				{% for presse in presses %}
					<div class="col-md-4">
						<div class="box_actu">
							<div class="ba_content bac_titre presse_content">
								<h3>{{ presse.titre }}<br/>
								<span class="source">{{ presse.source }}</span><br/>
								<span class="date">{{ presse.date }}</span></h3>
								<div class="ligne"></div>
								<p>{{ presse.resume | truncate(150, true, '...') }}</p>
								<div class="col-md-12 partage_offre">
									<div class="col-md-6">
										<p>Partagez sur :</p>
									</div>
									<div class="col-md-6">
										<a href="http://www.viadeo.com/shareit/share/?url={{ app.request.schemeAndHttpHost }}{{ path('presse_show', { 'id': presse.id }) }}" rel="nofollow" target="_blank"><img src="{{ asset('bundles/cipres/img/viadeo_offre.png') }}" /></a>
										<a href="https://www.facebook.com/sharer/sharer.php?u={{ app.request.schemeAndHttpHost }}{{ path('presse_show', { 'id': presse.id }) }}" rel="nofollow" target="_blank"><img src="{{ asset('bundles/cipres/img/facebook_offre.png') }}" /></a>
										<a href="https://twitter.com/intent/tweet?url={{ app.request.schemeAndHttpHost }}{{ path('presse_show', { 'id': presse.id }) }}" rel="nofollow" target="_blank"><img src="{{ asset('bundles/cipres/img/twitter_offre.png') }}" /></a>
									</div>
								</div>
							</div>
							<div class="ba_footer waves-effect waves-light">
								<a href="
									{% if presse.url %}
										{{ presse.url }}
									{% elseif presse.contenu %}
										{{ path('presse_show', { 'id': presse.id }) }}
									{% endif %}">Lire la suite</a>
							</div>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}