{% extends 'base.html.twig' %}

{% block title %}
	{{ entity.title }}
{% endblock %}

{% block meta_desc %}
	{#<meta name="description" content="{{ entity.descr }}" />#}
{% endblock %}

{% block body %}
	<div class="main">
		<div class="solution_content actualite_content">
			<div class="content">
				<p class="psc_retour"><a href="{{ path('presse_communique_categorie') }}" class="sc_retour">VOIR TOUS LES communiqués</a></p>
				{{ entity.contenu|raw }}
			</div>
		</div>
	</div>
{% endblock %}