<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>Inscription réunion d'information CIPRÉS</title>

    <style type="text/css">
        * { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
        body { width:100%; margin:0px; padding:0px; color:#545454; }
        img { outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; display:block; border:0; }
        a {color: #383838; text-decoration: none;}
        a img { border:none; }
        .header { width:600px;}
        .header_320 {display:none;}

        @media only screen and (max-width: 479px) {

            .rsz_320 {
                width:320px !important;
                padding:0px !important;
                margin: 0 !important;
            }

            .margin {
                width: 10px !important;
            }

            .header {
                display:none !important;
            }

            .header_320 {
                display:block !important;
            }
        }
    </style>
</head>

<span style="font-size: 1px; display: none;">Un courtier s'est inscrit à une réunion d'information</span>

<body bgcolor="#E9E9E9" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; width:100% !important; background:#E9E9E9;-webkit-text-size-adjust:none;">
<!--======== CONTENEUR PRINCIPAL ========-->
<table class="rsz_320" style="mso-table-lspace:0pt; mso-table-rspace:0pt; border-collapse:collapse; font-family: Arial; font-size:12px; background-color: #FFFFFF;" width="640" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td bgcolor="#E9E9E9" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-left: 4px solid #1478ad;" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-left: 4px solid #1478ad;" class="margin" width="15">&nbsp;</td>
        <td width="600" style="font-size: 20px; color: #004f75;  font-weight: bold; ">
            <table>
                <tr>
                    <td><img src="http://file.splio3.fr/6cl/QC/R9cY/logo_assurances.png" alt="CIPRÉS Assurances" /></td>
                    <td width="20">&nbsp;</td>
                    <td style="border-collapse: collapse; font-family: Arial; font-size:18px; line-height: 18px; color: #004F75;">Nouvelle inscription à la réunion d'information de {{infos_participant.ChoixVille}}</td>
                </tr>
            </table>
        </td>
        <td class="margin" width="15">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-left: 4px solid #1478ad;" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-left: 4px solid #1478ad;" class="margin" width="15">&nbsp;</td>
        <td width="600">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; font-family: Arial; font-size:13px; line-height: 18px;">
                <tr>
                    <td><p>Un courtier vient de s'inscrire à une réunion d'information CIPRÉS :</p>
                        <p>&nbsp;</p>

                        <table width="90%" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; font-family: Arial, Sans-Serif; font-size: 13px;
                        line-height: 20px;">
                            <tr>
                                <td style="font-weight: bold;">Nom du cabinet :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">{{infos_participant.nomCabinet}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Code courtier :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">{{infos_participant.codeCourtier}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Nom :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">{{infos_participant.nom}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Prénom :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">{{infos_participant.prenom}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Email courtier :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">{{infos_participant.emailCourtier}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td width="35%" style="font-weight: bold;">Ville choisie :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">{{infos_participant.ChoixVille}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Sera accompagné :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">{{infos_participant.accompagnants}}</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                            <tr>
                                <td style="font-weight: bold;">Nombre d'accompagnants :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">{{infos_participant.nbAccompagnants}}</td>
                            </tr>
                        </table>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td class="margin" width="15">&nbsp;</td>
    </tr>

    <tr>
        <td style="border-left: 4px solid #1478ad;" colspan="3">&nbsp;</td>
    </tr>
</table>
</body>
</html>


