<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, target-densitydpi=device-dpi" />
    <meta name="format-detection" content="telephone=no" />
    <meta name="format-detection" content="email=no" />
    <title>Inscription réunion d'information CIPRÉS</title>

    <style type="text/css">
        * { -webkit-text-size-adjust:100%; -ms-text-size-adjust:100%; }
        body { width:100%; margin:0px; padding:0px; color:#545454; }
        img { outline:none; text-decoration:none; -ms-interpolation-mode:bicubic; display:block; border:0; }
        a {color: #383838; text-decoration: none;}
        a img { border:none; }
        .header { width:600px;}
        .header_320 {display:none;}

        @media only screen and (max-width: 479px) {

            .rsz_320 {
                width:320px !important;
                padding:0px !important;
                margin: 0 !important;
            }

            .margin {
                width: 10px !important;
            }

            .header {
                display:none !important;
            }

            .header_320 {
                display:block !important;
            }
        }
    </style>
</head>

<span style="font-size: 1px; display: none;">Votre inscription à la réunion d'information CIPRÉS</span>

<body bgcolor="#E9E9E9" topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" style="-webkit-font-smoothing:antialiased; width:100% !important; background:#E9E9E9;-webkit-text-size-adjust:none;">
<!--======== CONTENEUR PRINCIPAL ========-->
<table class="rsz_320" style="mso-table-lspace:0pt; mso-table-rspace:0pt; border-collapse:collapse; font-family: Arial; font-size:12px; background-color: #FFFFFF;" width="640" cellpadding="0" cellspacing="0" border="0" align="center">
    <tr>
        <td bgcolor="#E9E9E9" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-left: 4px solid #1478ad;" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-left: 4px solid #1478ad;" class="margin" width="15">&nbsp;</td>
        <td width="600" style="font-size: 20px; color: #004f75;  font-weight: bold; ">
            <table>
                <tr>
                    <td><img src="http://file.splio3.fr/6cl/QC/R9cY/logo_assurances.png" alt="CIPRÉS Assurances" /></td>
                    <td width="20">&nbsp;</td>
                    <td style="border-collapse: collapse; font-family: Arial; font-size:18px; line-height: 18px; color: #004F75;">Votre inscription à la réunion d'information de{% for infosDate in infos_ville %} {{ infosDate.adresseVille }} {% endfor %} <br>a bien été prise en compte.</td>
                </tr>
            </table>
        </td>
        <td class="margin" width="15">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-left: 4px solid #1478ad;" colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td style="border-left: 4px solid #1478ad;" class="margin" width="15">&nbsp;</td>
        <td width="600">
            <table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; font-family: Arial; font-size:13px; line-height: 18px;">
                <tr>
                    <td><p>Merci pour votre inscription à la réunion d'information CIPRÉS.<br>
                            Vous trouverez ci-dessous les informations pratiques pour vous rendre à cet événement :</p>
                        <p>&nbsp;</p>

                        <table width="90%" align="center" cellpadding="0" cellspacing="0" border="0" style="border-collapse: collapse; font-family: Arial, Sans-Serif; font-size: 13px;
                        line-height: 20px;">
                            {% for infosDate in infos_ville %}
                            <tr>
                                <td width="15%" style="font-weight: bold;">Date :</td>
                                <td width="40">&nbsp;</td>
                                <td style="font-size: 14px;">le {{ infosDate.date }}<br> de {{ infosDate.heureDebut }} à {{ infosDate.heureFin }}</td>
                            </tr>
                            <tr>
                                <td colspan="3">&nbsp;</td>
                            </tr>
                                <tr>
                                    <td width="15%" style="font-weight: bold;">Lieu :</td>
                                    <td width="40">&nbsp;</td>
                                    <td style="font-size: 14px;">{{ infosDate.hotel }}<br> {{ infosDate.adresse }}<br> {{ infosDate.adressePostal }} {{ infosDate.adresseVille }}</td>
                                </tr>
                                <tr>
                                    <td colspan="3">&nbsp;</td>
                                </tr>

                            {% set lyon = "Lyon" %}
                            {% if infosDate.ville != lyon %}
                                <tr>
                                    <td colspan="3">
                                        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-family: Arial; font-size:14px;" width="320">
                                            <tr>
                                                <td align="center" bgcolor="#427bc4" height="35" style="text-align: center;padding: 0; border-bottom: 4px solid #034167;">
                                                    <table cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-family: Arial; font-size:14px;" width="100%">
                                                        <tr>
                                                            <td align="center"><a style="font-family:Arial, Helvetica, sans-serif; display:block; color:#FFFFFF; background-color:#427bc4; text-decoration:none; font-size:18px; text-align: center;" href="{{ infosDate.UrlMap }}" target="_blank">Comment se rendre à la réunion ?</a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td colspan="3">
                                        <table cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-family: Arial; font-size:14px;" width="320">
                                            <tr>
                                                <td align="center" bgcolor="#427bc4" height="35" style="text-align: center;padding: 0; border-bottom: 4px solid #034167;">
                                                    <table cellspacing="0" cellpadding="0" style="border-collapse: collapse; font-family: Arial; font-size:14px;" width="100%">
                                                        <tr>
                                                            <td align="center"><a style="font-family:Arial, Helvetica, sans-serif; display:block; color:#FFFFFF; background-color:#427bc4; text-decoration:none; font-size:18px; text-align: center;" href="http://www.cipres.fr/bundles/reunions_information/ics/{{ infosDate.idVille }}.ics" target="_blank">Ajouter l'événement à mon calendrier</a></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            {% endif %}
                                <tr>
                                    <td colspan="3">&nbsp;</td>
                                </tr>
                            {% endfor %}
                        </table>
                        <p>&nbsp;</p>
                    </td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                </tr>
            </table>
        </td>
        <td class="margin" width="15">&nbsp;</td>
    </tr>

    <tr>
        <td style="border-left: 4px solid #1478ad;" colspan="3">&nbsp;</td>
    </tr>
</table>
</body>
</html>


